.wrapper{
	width:965px;
	padding:0 10px;
	margin:0 auto;
}

.head{
	padding:18px 2px 0 3px;
	height:56px;
	margin-bottom:14px;
}

.content{
	float:left;
	width:750px;
}

.sidebar{
	float:left;
	width:215px;
	padding:4px 0 0;
}