/* 
	Site:    ish onCourse
	Title:   High Contrast layout (default)
	Author:  Bruce Martin, design@brucemartin.net
	Date:    February 2007
*/

body {
	padding: 0 20px;
	color: #ccb;
	background: #191919 url(../img/hc-body-bg.png) repeat-x 0 0;
	font-size: small; voice-family: "\"}\""; voice-family: inherit; font-size: medium;
} html>body { font-size: medium }
	
/* Links
---------------------------------------- */

a:link {
	color: #99e;
	background: transparent url(../img/hc-alink.png) repeat-x 0 100%;
	}
a:visited {
	color: #89c;
	background: transparent url(../img/hc-alink.png) repeat-x 0 100%;
	}
a:focus, a:hover, a:active {
	color: #fff;
	background: transparent url(../img/hc-ahover.png) repeat-x 0 100%;
	}
	
/* Common
---------------------------------------- */

p {
	margin: 1em 0;
	padding: 0;
	}
h1, h2, h3, h4 {
	margin: 1em 0;
	line-height: normal;
	font-weight: normal;
	}
h1 {
	font-size: 220%;
	color: #ccb;
	}
h2 {
	font-size: 170%;
	/*font-weight: bold;*/
	color: #345;
	}
h2 span {
	margin: 0 0.2em;
	color: #789;
}
h2 a:link, h2 a:visited {
	color: #345;
	}
h3 {
	margin: 1em 0 0.5em;
	font-size: 150%;
	color: #444;
	}
h3 a:link, h3 a:visited {
	color: #346;
	}
h4, h5 {
	margin: 0.5em 0;
	/*font-weight: bold;*/
	font-size: 125%;
	}
dl, ol, ul {
	margin: 1em 0;
	padding: 0;
	list-style: none;
	}
dt {
	margin: 0;
	font-weight: bold;
	}
dd {
	margin: 0 0 0 2em;
	}
dd p {
	margin: 0 0 0.5em;
	}
ul {
	list-style: none;
	}
ul li {
	padding: 0 0 4px 16px;
	list-style: none;
	line-height: 1.4em;
	background: url(../img/bullet.png) no-repeat 0 0.4em;
	}
ol {
	padding:3px 5px 3px 3em;
	list-style-type: decimal;
	border: 1px solid #ccb;
	}
ol li {
	margin: 2px 0;
	padding: 0 5px;
	background: #f7f7f5;
	}
form, fieldset {
	margin: 0;
	padding: 0;
	border-width: 0;
	}
input, select, textarea {
	font-family: inherit;
	font-size: 100%;
	}
blockquote {
	margin-left: 20px;
	padding-left: 25px;
	color: #777;
	font-size: 110%;
	background: url(../img/quotemark.png) no-repeat 0 3px;
	}
blockquote p {
	margin: 0;
	}
blockquote cite {
	margin: 0 0 1em 25px;
	padding-top: 2px;
	font-style: italic;
	color: #333;
	text-align: right;
	border-top: 1px solid #ddd;
	}
abbr, acronym {
	padding: 0 0 2px;
	font-style: normal;
	background: url(../img/abbr.png) repeat-x 0 100%;
	border-width: 0;
	cursor: help;
	}
em {
	font-style: italic;
	}
strong {
	font-weight: bold;
	}
strike, del {
	text-decoration: line-through;
	}
table, tr {
	margin: 0;
	padding: 0;
	width: 100%;
	color: #333;
	border-collapse: collapse;
	}
th, td {
	margin: 0;
	padding: 0.2em 0.5em;
	}
form, fieldset {
	margin: 0;
	padding: 0;
	border: none;
	}
form label {
	cursor: pointer;
	}
input, select, textarea {
	font-family: inherit;
	font-size: 100%;
	}
hr {
	display: none;
	}
img {
	display: block;
	}
.hide {
	position: absolute;
	left: -5000px;
	width: 4000px;
	}

/* Layout
---------------------------------------- */

#wrap {
	margin: 0 auto;
	padding: 0;
	max-width: 980px;
	text-align: left;
	font-size: 95%;
	}
#sidebar {
	float: none;
	width: auto;
	}
#content {
	float: none;
	width: auto;
	padding: 0 0 20px;
	}
.main {
	float: left;
	width: 572px;
	}
.extra {
	float: right;
	width: 184px;
	}
.clear {
	clear: both;
	display: block;
	margin: 0;
	padding: 0;
	height: 0;
	line-height: 1px;
	font-size: 1px;
	}
	
/* Header
---------------------------------------- */

#header h1 a {
	color: #fff;
	background: none;
	}
	
/* Footer 
---------------------------------------- */
	
#footer {
	clear: both;
	margin: 10px 0 0;
	padding: 10px 0 0;
	text-align: left;
	border-top: 1px solid #ddd;
	}
#footer p {
	margin: 5px 0 10px;
	padding: 0 20px;
	font-size: 80%;
	color: #999;
	text-align: center;
	}
#footer a {
	color: #999;
	background: none;
	}
#footer a:hover {
	color: #666;
	}
#footer p img {
	display: inline;
	margin: 0 auto;
	}
	
/* Navigation
---------------------------------------- */

/* navigation */

#nav {
	margin: 1em 0;
	padding: 5px 0 0;
	background: none;
	}
#nav ul {
	margin: 0;
	padding: 0 12px;
	z-index: 100;
	background: none;
	}
#nav ul li {
	float: left;
	margin: 0;
	padding: 0 0 1px;
	line-height: normal;
	background: none;
	}
#nav ul li a {
	display: block;
	width: auto;
	margin: 0;
	padding: 6px 8px 7px;
	color: #555;
	background: none;
	border-width: 0;
	}
#nav ul li a:hover,
#nav ul li a.active {
	color: #fff;
	background: transparent url(../img/nav-bg.png) repeat 0 0;
	}

#nav ul li ul {
	position: absolute;
	left: -999em;
	height: auto;
	width: 14em;
	margin: 0;
	padding: 0;
	font-size: 100%;
	font-weight: normal;
	text-transform: none;
	background: transparent url(../img/nav-ul-ul.png) repeat 0 0;
	z-index: 120;
	}
#nav ul li ul li {
	position: relative;
	width: 14em;
	background: none;
	border-bottom: 1px solid #888;
	}
#nav ul li li.expanded {
	background: transparent url(../img/menu-li.png) no-repeat 95% 50%;
	}
#nav ul li ul li a {
	padding: 0.4em 10px;
	color: #fff;
	letter-spacing: 0;
	border-width: 0;
	}
#nav ul li ul li ul {
	position: absolute;
	top: 0;
	margin-left: 14em;
	font-size: 100%;
	border-width: 0;
	border-left: 1px solid #fff;
	}
#nav ul li:hover ul ul, 
#nav ul li:hover ul ul ul, 
#nav ul li.sfhover ul ul, 
#nav ul li.sfhover ul ul ul {
	left: -999em;
	}

#nav ul li:hover ul, 
#nav ul li li:hover ul, 
#nav ul li li li:hover ul, 
#nav ul li.sfhover ul, 
#nav ul li li.sfhover ul, 
#nav ul li li li.sfhover ul {
	left: auto;
	}
#nav ul li:hover, 
#nav ul li li:hover, 
#nav ul li li li:hover, 
#nav ul li.sfhover, 
#nav ul li li.sfhover, 
#nav ul li li li.sfhover {
	color: #fff;
	background: transparent url(../img/nav-bg.png) repeat 0 0;
	}
	
/* extra nav */

ul.menu li {
	position: relative;
	margin: 0 0 8px;
	padding: 0;
	background: none;
	border-width: 0;
	}
ul.menu li.addshortlist {
	padding-left: 18px;
	background: url(../img/b-add.png) no-repeat 0 2px;
	}
ul.menu li.enrolnow {
	margin-top: 14px;
	padding-left: 18px;
	background: url(../img/b-enrol.png) no-repeat 0 3px;
	/*border-top: 1px solid #D8DBCB;*/
	}
ul.menu li.shortlisted {
	padding-left: 18px;
	color: #330;
	background: url(../img/b-add.png) no-repeat 0 2px;
	}
ul.menu li.places {
	padding-left: 18px;
	background: url(../img/b-places.png) no-repeat 0 2px;
	}	
ul.menu li.noplaces {
	padding-left: 18px;
	background: url(../img/b-noplaces.png) no-repeat 0 2px;
	}
ul.menu li.onshortlist {
	margin-left: 18px;
	}
ul.menu li a.cutitem {
	position: absolute;
	top: 4px;
	left: -18px;
	width: 16px;
	height: 8px;
	background: url(../img/b-cut.png) no-repeat 0 0;
	}
ul.menu li a.cutitem:hover {
	background: url(../img/b-cut.png) no-repeat -200px 0;
	}


/* Content
---------------------------------------- */

/* category 

   2 column: 48% - 3%
   3 column: 31% - 3%
   4 column: 23% - 2%

.category-0, .category-1, .category-2,
.category-3, .category-4, .category-5 {
	float: left;
	width: 48%;
	margin-bottom: 1em;
	}
.category-0, .category-2,
.category-4 {
	margin-right: 3%;
	}
.category-0 h3, .category-1 h3, .category-2 h3,
.category-3 h3, .category-4 h3, .category-5 h3 {
	margin-top: 0;
	}
ul.category li {
	margin: 0;
	line-height: normal;
	}
ul.category li a {
	display: block;
	}
.content-list,
.content-detail {
	margin: 0 0 1.5em;
	}
.content-detail {
	border-top: 1px solid #ddd;
	}
*/

#taggroup li {
	float: left;
	width: 31%;
	margin: 0 3% 12px 0;
	padding: 0 0 4px;
	background: none;
	border-right: 1px solid #ccc;
}
#taggroup li#t56 {
	margin: 0;
	border-width: 0;
}
#taggroup li#t58 {
	clear: left;
}
#taggroup li li {
	float: none;
	width: auto;
	margin: 0;
	padding: 0 0 4px 16px;
	background: url(../img/bullet.png) no-repeat 0 0.4em;
	border-width: 0;
	}
#taggroup li h2 {
	margin: 0;
}
	
/* course */
	
.classwrap,
.enrolwrap {
	margin: 0 0 4px;
	padding: 0 0 4px;
	background: url(../img/panel-980-btm.png) no-repeat 0 100%;
	/*
	background: #f2f2f2;
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
	*/
	}	
.moreclasses .classwrap {
	margin: 0 0 4px;
	padding: 5px 0 4px;
	}
#courselist dl.details,
#enrolmentlist dl.details,
#courselist .course .content-main p,
#enrolmentlist .course .content-main p {
	margin: 0 0 0 26px;
	}
#courselist .classdetail dl.details,
#courselist .classdetail p {
	margin-left: 0;
	}
#courselist .course .content-extra ul.extra-nav,
#enrolmentlist .course .content-extra ul.extra-nav {
	margin-top: 3px;
	}
#courselist .course,
#enrolmentlist .course {
	margin: 0;
	}
	/*
#courselist h3,
#enrolmentlist h4 {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font-style: normal;
	line-height: normal;
	}
#courselist .classwrap h4,
#enrolmentlist .classwrap h4 {
	margin: 0 0 0 5px;
	}
	*/
#courselist h4.morelocs {
	margin: 0.5em 0;
	font-style: italic;
	}
.classhead {
	padding: 4px 0 0;
	background: url(../img/panel-980-top.png) no-repeat 0 0;
	}
.classhead h3 {
	float: left;
	width: 546px;
	margin: 1px 0 0;
	padding-left: 26px;
	font-size: 100%;
	font-weight: bold;
	line-height: normal;
	color: #660;
	background: url(../img/b-expand.png) no-repeat 6px 1px;
	}
.classhead h3:hover {
	color: #330;
	cursor: pointer;
	}
.classhead p {
	margin: 0;
	}
.classhead p {
	display: block;
	margin: 0;
	padding: 0 0 0 18px;
	width: 166px;
	background: url(../img/b-more.png) no-repeat 0 3px;
	border-width: 0;
	}
.classbody ul.menu {
	margin: 6px 0 0;
}
	
/* similar list */
/*
ul.similar {
	margin: 0.5em 0;
	padding: 0 5px;
	}
ul.similar li {
	padding: 0;
	background: none;
	}
ul.similar li a {
	padding: 0 0 4px 18px;
	color: #c63;
	background: url(../img/nav-similar.gif) no-repeat 0 42%;
	}
ul.similar li a:hover {
	color: #300;
	background-position: -400px 42%;
	}


#courseclasses {
	margin: 1em 0;
	background: #e5e5e5;
	border: 1px solid #ccc;
}
*/



#preferences {
	margin: 1em 0 0;
	padding: 0 0 10px;
	background: url(../img/box-980-btm1.png) no-repeat 0 100%;
}
#preferences h3 {
	margin: 0 0 0.5em;
	padding: 10px 20px 5px;
	background: url(../img/box-980-top1.png) no-repeat 0 0;
}
.col3wrap {
	margin: 0 10px;
	}
.col3 {
	float: left;
	display: inline;
	width: 300px;
	margin: 0 10px;
	}
.col3 h4 {	
	margin: 0 0 0.5em;
	padding: 0 0 4px;
	font-size: 90%;
	color: #234;
	text-transform: uppercase;
	letter-spacing: 2px;
	border-bottom: 1px solid #D8DBCB;
}

/* box */

.box {
	margin: 1em 0;
	padding: 0 0 10px;
	font-size: 90%;
	background: url(../img/box-184-btm1.png) no-repeat 0 100%;
}
.box h3 {
	margin: 0;
	padding: 10px 10px 14px;
	background: url(../img/box-184-top1.png) no-repeat 0 0;
	}
.box h3 span {
	padding: 0 0 4px;
	border-bottom: 1px solid #D8DBCB;
	}
.box p, .box ul, .box form {
	margin: 0 10px;
}

/* notes */

.message,
.help {
	margin: 1em 0;
	padding: 5px 10px;
	background: #F8FFEB;
	border: 1px solid #EBEB99;
	}
.help {
	background: #EBF4FF;
	border: 1px solid #99D9EB;
	}

.note {
	margin-bottom: 1.5em;
	padding: 0;
	font-size: 90%;
	line-height: 1.6em;
	color: #777;
	}
.note strong {
	color: #333;
	}
.note em {
	font-style: normal;
	color: #922;
	}
.alert {
	padding-left: 18px;
	background: url(../img/alert.png) no-repeat 0 0;
	}
.error {
	padding-left: 18px;
	background: url(../img/error.png) no-repeat 0 2px;
	}
	
.fade {
	display: block;
	padding: 2px 10px 3px;
	background: #FCF2EF;
	border-bottom: 1px solid #E3AFB6;
	}
.fade p {
	margin: 0.4em 0;
	}
.secure {
	margin: 2em 0;
	}
.secure img {
	display: block;
	border-width: 0;
	background: none;
	}
	
/* columns */

.column {
	margin: 0;
	padding: 0;
	width: 49.8%;
	}
.left { float: left; }
.right { float: right; }

/* details */

dl.details dt {
	float: left;
	width: 8em;
	margin: 0;
	padding: 0.5em 0 0;
	}
dl.details dd {
	margin: 0 0 0 9em;
	padding: 0.5em 0 0;
	}
	
/* batch */

.batch {
	margin: 1em 0;
	padding: 4px 0 0;
	background: url(../img/panel-980-top.png) no-repeat 0 0;
	}
.batch-records {
	float: left;
	width: 48%;
	margin: 0;
	}
.batch-records em {
	padding-left: 24px;
	font-style: normal;
	background: url(../img/star.png) no-repeat 6px 70%;
	}
.batch-records em.alert {
	background: url(../img/alert.png) no-repeat 6px 50%;
	}
.batch-pages {
	margin: 0;
	padding: 0 10px 4px 50%;
	text-align: right;
	background: url(../img/panel-980-btm.png) no-repeat 0 100%;
	}
.batch-pages span {
	padding: 2px 4px;
	color: #aaa;
	}
.batch-pages a {
	padding: 2px 4px;
	width: 2em;
	text-align: center;
	background: #f2f2f2;
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
	}
.batch-pages strong.batch-active {
	padding: 2px 4px;
	color: #000;
	width: 2em;
	text-align: center;
	border-bottom: 1px solid #fff;
	border-right: 1px solid #fff;
	}
	
/* payment */

dl.payment dt {
	float: left;
	width: 65%;
	text-align: right;
	border-top: 1px solid #fff;
	}
dl.payment dd {
	margin-left: 68%;
	text-align: right;
	border-top: 1px solid #ccc;
	}
dl.payment dd.total {
	border-bottom: 1px solid #ccc;
	}
.r-align {
	text-align: right;
	}
.price-crossed {
	color: #777;
	text-decoration: line-through;
	}
.price-discounted {
	margin-left: 4px;
	font-weight: bold;
	color: #921;
	}
	
/* form display */
	
dl.form-details dt {
	clear: left;
	float: left;
	width: 10.7em;
	margin: 0;
	padding: 0 0 1em 0;
	}
dl.form-details dt em {
	padding-left: 3px;
	color: #900;
	font-size: 90%;
	font-style: normal;
	}
dl.form-details dd {
	margin: 0 0 0 11em;
	padding: 0 0 1em 0;
	}
dl.form-details dd span {
	color: #900;
	}
dl.form-details span { /* for radio button labels */
	padding-right: 1em;
	}
dl.form-choices {
	border-top: 1px solid #ccc;
	}
dl.form-choices dt {
	float: left;
	width: 55%;
	}
dl.form-choices dd {
	padding-left: 58%;
	border-bottom: 1px solid #ccc;
	}
dl.form-choices dd span {
	font-size: 90%;
	color: #888;
	}
dl.form-questions {
	margin: 1em 0;
	padding: 0 0 1em;
	border-bottom: 1px solid #ddd;
	}
dl.form-questions dt {
	float: left;
	clear: left;
	margin: 0;
	padding: 0;
	width: 45%;
	}
dl.form-questions dd {
	margin: 0 0 0 52%;
	}
dl.form-questions span { /* for radio button labels */
	padding-right: 1em;
	}

/* form controls */

.form-controls {
	margin: 1em 0 1em 11em;
	padding: 0;
	}
input.b-add,
input.b-remove {
	margin: 0;
	padding: 0 0 0 18px;
	font-size: 1em;
	color: #00f;
	background: url(../img/btn-add.png) no-repeat 0 50%;
	border: none;
	cursor: pointer;
	}
input.b-remove {
	background: url(../img/btn-remove.png) no-repeat 0 50%;
	}
.checkbox {
	margin: 0 1em 0 0;
	}
#find { 
	display: inline; 
	vertical-align: middle;
	margin: -2px 0 0 3px;
	}
#find:hover {
	cursor: pointer;
	}

#s,
.input,
.input-fixed,
.input-fluid,
.input-small,
.textarea-fixed {
	margin: 0;
	padding: 2px;
	border: 1px solid #aaa;
	color: #111;
	}
#s {
	width: 140px;
	}
.swrap {
	background: #e8e8e8;
}
.input-fixed {
	display: block;
	width: 16em;
	}
.input-small {
	width: 5em;
	}
.input-fluid {
	display: block;
	width: 90%;
	}
.textarea-fixed {
	display: block;
	width: 300px;
	}
	
/* validation error */

.input-error span {
	display: block;
	margin: 0;
	padding: 0 18px 0 0;
	font-size: 90%;
	font-weight: bold;
	color: #900;
	}
.input-error .input,
.input-error .input-fixed,
.input-error .input-fluid,
.input-error .textarea-fixed  {
	color: #900;
	border: 1px solid #CCA3A3;
	background: #FBEEEE;
	}
	
/* Sidebar 
------------------------------------------- */

#sidebar h3 {
	font-size: 90%;
	color: #234;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 2px;
}
#search p {
	margin: 10px 0 0;
	text-align: center;
	}
#advanced {
	margin: 0 auto;
	}
#advanced:hover {
	cursor: pointer;
	}
#search label {
	display: block;
	margin: 0.25em 0;
}
#search select {
	width: 164px;
	color: #111;
	border: 1px solid #aaa;
}
	
/* Clearing 
------------------------------------------- */	

#wrap:after,
#header:after,
#preferences:after,
#content:after,
#nav ul:after,
.batch:after,
.classwrap:after,
.classhead:after,
.classbody:after,
.course:after,
.col3wrap:after {
    content: "."; 
    display: block; 
    height: 0;
    clear: both; 
    visibility: hidden;
	}