//
//
// header.scss
//
// Contains all the styles of header contents
//
// Copyright ish group (Australia) and part of ish onCourse.
// It is licensed to you under the Apache License, version 2.0
//


@include theme('c', 'header') {
  body {
    &.header-fixed {
      padding-top: 74px;
    }
    .content-images {
      display: none;
    }
    &.internal-page {
      #contentContainer {
        background: $contentContainerBackground;
        position: $contentContainerPosition;
        padding: $contentContainerPaddingSmall;
        @include responsive($media-tablet) {
          @if $sidebarLeft == on {
            padding: $contentContainerPaddingSidebarLeftTablet;
          } @else {
            padding: $contentContainerPaddingSidebarRightTablet;
          }
        }
      }
      #header {
        .header-container {
          .top-bar {
            #headerToolbar #search_box #advanced_search {
              background: $advanceSearchBG-Internal;
              color: $advanceSearchColor-Internal;
              .advanced-search-form {
                .search-title {
                  color: $advancedSearchTitleColor-InternalPage;
                }
                input[type="text"], select, input[type="checkbox"] {
                  background: $advanceSearchInputBG-Internal;
                }
                #adv_search_submit {
                  button, a {
                    background: $advanceSearchButtonBG-Internal;
                    &:hover {
                      background: darken($advanceSearchButtonBG-Internal, 10%);
                    }
                  }
                  a {
                    background: $advanceSearchButtonClearBackground-Internal;
                    &:hover {
                      background: darken($advanceSearchButtonClearBackground-Internal, 10%);
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  #header {
    &.affix.site-header {
      top: 0;
      left: 0;
      right: 0;
      z-index: 106;
    }
    >p {
      margin: 0px;
    }
    .header-container {
      background: $headerTopBarBG;
      padding-bottom: 16px;
      padding-top: 16px;
      .top-bar {
        a.nav-logo {
          float: left;
          margin: 12px 35px 12px 20px;
        }
        .nav-toggle {
          margin: 0px 10px 0px 0px;
          width: 40px;
          padding: 4px 10px;
          float: right;
          overflow: hidden;
        }
        #headerToolbar {
          margin-top: 6px;
          position: relative;
          .discount-block {
            display: $discountBlockDisplay;
            float: left;
            line-height: 1.38095;
            margin-top: 6px;
            margin-right: 16px;
            text-transform: uppercase;
            .title-block, .nyromodalreload.actionLink {
              display: none;
            }
          }
          #shortlist {
            text-transform: uppercase;
            @include responsive($media-tablet) {
              margin-right: 5px;
              margin-left: 30px;
            }
            &::before {
              background-image: $defaultSpriteImage;
              background-position: -33px -12px;
              background-repeat: no-repeat;
              content: '';
              display: block;
              position: absolute;
              top: 6px;
              left: -12px;
              width: 17px;
              height: 16px;
            }
            .shortlistInfo {
              span {
                width: 20px;
                height: 20px;
                padding: 7.5px 0;
                line-height: 0.5;
                border-radius: 100%;
                margin-top: 3px;
                text-align: center;
                overflow: hidden;
                font-weight: bold;
              }
              p {
                display: none;
              }
            }
          }

          #search_box {
            #advanced_search {
              max-width: 410px;
              min-width: 285px;
              z-index: 9999;
              .advanced-search-form {
                input[type="text"], select, input[type="checkbox"] {
                  background: $advanceSearchInputBG-Home;
                }
                .search-title {
                  font-size: 30px;
                  font-weight: bold;
                  color: $advanceSearchTitleColor;
                  margin-bottom: 25px;
                }
                >div {
                  label {
                    font-size: 17px;
                  }
                  &#adv_search_location, &#adv_search_time {
                    @include responsive($media-tablet) {
                      padding-right: 10px;
                    }
                  }
                  &#adv_search_price, &#adv_search_day {
                    @include responsive($media-tablet) {
                      padding-left: 10px;
                    }
                  }
                }

                #adv_search_time , #adv_search_day {
                  .checkbox>input {
                    width: 25px;
                    height: 25px;
                  }
                }
              }
            }

            #advanced_search_container {
              position: initial;
              #advanced_search {
                right: 0px;
                left: auto;
              }
            }
            .advanced-search-button.more-options {
              text-indent: -9999px;
              position: relative;
              &::before {
                content: "";
                border-right: 6px solid transparent;
                border-top: 7px solid #a0a0a0;
                border-left: 6px solid transparent;
                position: absolute;
                left: 0px;
                top: 10px;
              }
              &:hover {
                &::before {
                  border-top: 7px solid #656565;
                }
              }
              .show-advanced-search span {
                display: block;
                width: 100%;
                height: 100%;
              }
              >a {
                position: relative;
              }
            }
            #search {
              background: $searchBoxBackground;
              .quicksearch {
                font-size: 13px;
              }
            }
          }
        }
        .navbar {
          position: absolute;
          top: 15px;
          left: 0;
          right: 0;
          text-align: center;
          display: none;
          margin: 0 auto;
          background: $navbarBackgroundColor;
          z-index: 99;
          box-shadow: 1px 1px 3px 1px #cacaca;
          @include responsive($media-tablet) {
            background: none;
            display: block !important;
            box-shadow: none;
            top: -49px;
            width: 60%;
          }
          #nav {
            float: none;
            >ul {
              float: none;
              text-align: center;
              a {
                letter-spacing: 1px;
              }
              >li {
                @include responsive($media-tablet) {
                  float: none;
                  display: inline-block !important;
                  margin-right: 0;
                }
                >a, &:first-child>a, &:last-child>a {
                  padding: 10px 8px;
                  @include responsive($media-custom, $custom-screen) {
                    padding: $navAnchorPadding;
                  }
                }
              }
            }
          }
        }
      }
      .header-hgroup {
        padding: 3px 15px;
        #siteLogo {
          float: left;
          margin-bottom: 0;
          font-size: 20px;
          text-transform: uppercase;
          font-weight: bold;
          line-height: 35px;
          >a {
            color: #000;
            &:hover {
              span {
                background: lighten($theme-color, 10%);
                background: rgba($theme-color, 0.7);
                &:after {
                  background: darken($theme-color, 15%);
                }
              }
            }
          }
          img {
            width: 20px;
          }
          span {
            width: 20px;
            height: 20px;
            margin-top: -4px;
            margin-right: 3px;
            background: lighten($theme-color, 10%);
            background: rgba($theme-color, 0.5);
            position: relative;
            display: inline-block;
            vertical-align: middle;
            &::after {
              content: "";
              position: absolute;
              left: 0;
              bottom: 0;
              width: 10px;
              height: 10px;
              background: $theme-color;
            }
          }
        }
      }
      .navbar {
        .site-nav {
          .list-horizontal {
            li.hasChild {
              >ul {
                z-index: 9999;
                @include responsive($media-tablet) {
                  left: 50%;
                  margin-left: -100px;
                  //box-shadow: 1px 1px 5px #ddd;
                }
                li {
                  a {
                    white-space: nowrap;
                    overflow: hidden;
                    width: 100%;
                    text-overflow: ellipsis;
                  }
                }
                >li.hasChildren>ul {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }
  #Main.main-page {
    #header {
      .header-container {
        .top-bar {
          a.nav-logo {
            display: none;
          }
        }
        .header-hgroup {
          #siteLogo {
            display: block;
          }
        }
      }
    }
  }

  .internal-page {
    #header {
      .top-bar {
        .navbar {
          .site-nav {
            .list-horizontal {
              >li:first-child {
                display: none !important;
              }
            }
          }
        }
        .nav-logo {
          display: block;
        }
      }
    }
  }
}
.fixed-slider-wrapper {
  display: none;
}
