//
//
// layout.scss
//
// Contains all the styles of different contents
//
// Copyright ish group (Australia) and part of ish onCourse.
// It is licensed to you under the Apache License, version 2.0
//

@include theme('c') {
  ::selection {
    background-color: $theme-color;
    color: $white;
  }
  body {
    overflow: hidden;
    overflow-y: scroll;
  }
  .theme-color {
    color: $theme-color;
  }
  .theme-bgcolor {
    background: $theme-color;
  }
  #Main.main-page {
    #content {
      float: none;
      width: 100%;
    }
    #sidebarRight, #sidebarLeft {
      display: none;
    }
  }
  .content {
    h1 {
      font-weight: normal;
    }
  }
  #content, #z_content {
    >p {
      margin-bottom: 0;
    }
  }

  // App Button */
  .app-btn {
    display: $appBtnDisplay;
    padding: $appBtnPaddingSmall;
    border-radius: $appBtnBorderRadius;
    border: $appBtnBorder;
    letter-spacing: $appBtnLetterSpacing;
    font-size: $appBtnFontSizeSmall;
    line-height: $appBtnLineHeight;
    font-weight: $appBtnFontWeight;
    background: $appBtnBackgroundColor;
    &:hover {
      background: $appBtnBackgroundHoverColor;
    }
  }

  .square-btn {
    background: $squareBtnBackground;
    margin: $squareBtnMargin;
    display: $squareBtnDisplay;
    color: $squareBtnColor;
    padding: $squareBtnPadding;
    font-size: $squareBtnFontSize;
    border: $squareBtnBorder;
    width: $squareBtnWidth;
    font-weight: $squareBtnFontWeight;
    text-transform: $squareBtnTextTransform;
    border-radius: $squareBtnBorderRadius;
    letter-spacing: $squareBtnLetterSpacing;
    text-decoration: none;
    text-align: $squareBtnTextAlign;
    &:hover {
      color: $squareBtnColorHover;
      border-color: $squareBtnBorderColorHover;
      background: $squareBtnBackgroundHover;
    }
  }

  .bottom-line {
    position: relative;
    margin-bottom: 45px;
    line-height: 1.4;
    text-align: center;
    &::after {
      content: "";
      position: absolute;
      background: $theme-color;
      height: 2px;
      width: 100px;
      bottom: -30px;
      margin: 0 auto;
      left: 0;
      right: 0;
    }
  }
  .title-one {
    font-weight: $titleOneFontWeight;
    text-align: $titleOneTextAlign;
    font-size: $titleOneFontSize;
    color: $titleOneColor;
    text-transform: $titleOneTextTransform;
    display: $titleOneDisplay;
  }
  .title-two {
    font-weight: $titleTwoFontWeight;
    text-align: $titleTwoTextAlign;
    font-size: $titleTwoFontSize;
    color: $titleTwoColor;
    padding-bottom: $titleTwoPaddingBottom;
    margin-top: $titleTwoMarginTop;
    display: $titleTwoDisplay;
  }
  #container {
    .slider-wrapper {
      position: relative;
    }

    #content {
      .main-title {
        color: $contentMainTitle;
      }
      .sub-title {
        color: $contentSubTitle;
      }
    }
    %ff-featured {
      height: $featuredCoursesHeight;
      >p, .ff-tags, .ff-tags-content {
        display: $featuredCoursesTagsDisplay;
      }
      .nav-featured {
        margin: $featuredCoursesNavMargin;
        height: $featuredCoursesNavHeight;
        max-width: $featuredCoursesNavMaxWidth;
        >div {
          float: $featuredCoursesNavDivFloat;
          cursor: pointer;
        }
        .app-btn {
          margin-top: $featuredCoursesNavAppBtnMarginTop;
        }
        .prev-featured, .next-featured {
          margin-right: $featuredCoursesNavButtonMarginRight;
          margin-left: $featuredCoursesNavButtonMarginLeft;
          background-color: $featuredCoursesNavButtonBackgroundColor;
          &:hover {
            background-color: $featuredCoursesNavButtonBackgroundColorHover;
          }
        }
        .next-featured {
          float: $featuredCoursesNavNextFloat;
        }
      }
      .ih-overlay, .f-icon-mail {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        @include opacity(0);
        @include transition(all 0.2s ease-out);
      }
      .ih-overlay {
        background: $black;
        height: 100%;
        zoom: 1;
        z-index: 11;
      }
      .f-icon-mail {
        top: 20%;
        margin: 0 auto;
        z-index: 20;
      }
      .f-icon-plus, .f-icon-mail {
        &::after {
          left: 0;
          right: 0;
          margin: 0 auto;
        }
      }
      .ff-items {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 50%;
        >li {
          position: relative;
          float: left;
          width: auto;
          text-align: center;
          height: 376px;
          >.ff-block {
            margin: 0 15px;
            display: block;
            width: 398px;
            position: relative;
            background: $white;
            &:hover {
              .ff-title, .ff-data {
                background: $theme-color;
                color: $white;
              }
              .ff-top {
                .ff-desc {
                  @include opacity(1);
                  bottom: 75px;
                }
                .ih-overlay {
                  @include opacity(0.85);
                }
                .f-icon-plus, .f-icon-mail {
                  top: 85px;
                  @include opacity(1);
                }
              }
              .ff-t-info {
                color: $white;
                &::after {
                  background: $white;
                }
              }
            }
            .ff-top {
              height: 266px;
              position: relative;
              > span {
                left: 0;
                top: 0;
                height: 266px;
                width: 100%;
                @include responsive-image(true);
              }
              .ff-desc {
                color: $white;
                position: absolute;
                bottom: 0;
                left: 0;
                z-index: 20;
                width: 100%;
                text-transform: uppercase;
                zoom: 1;
                @include opacity(0);
                font-size: 15px;
                font-weight: 400;
                letter-spacing: 1px;
                @include transition(all 0.2s ease-out);
                >span {
                  display: block;
                  &.ff-category {
                    font-weight: 400;
                    color: #9a9a9a;
                    font-size: 13px;
                  }
                }
              }
            }
            .ff-title {
              font-weight: 400;
              text-align: center;
              font-size: 20px;
              color: #404141;
              background: #fff;
              line-height: 30px;
              padding: 40px 20px;
              letter-spacing: 1px;
              text-transform: uppercase;
              @include transition(all 0.2s ease-out);
              display: block;
              position: relative;
            }
            .ff-data {
              background: #fff;
              text-align: center;
              text-transform: uppercase;
              padding: 30px;
              >span {
                display: block;
              }
              p {
                text-align: left;
              }
            }
            .ff-name {
              color: #030303;
              font-size: 18px;
            }
            .ff-t-info {
              color: #7f7f7f;
              font-size: 14px;
              margin-top: 10px;
              margin-bottom: 40px;
              position: relative;
              @include transition(all 0.2s ease-out);
              &::after {
                @extend .bottom-line;
                width: 40px;
                bottom: -25px;
              }
            }
          }
        }
      }
    }

    section.block {
      padding: 50px 0px;
      >h3 {
        font-size: 37px;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 300;
        line-height: 1.4;
        position: relative;
        text-align: center;
        margin-bottom: 80px;
        &::after {
          @extend .bottom-line::after;
        }
      }
      >p {
        max-width: 680px;
        font-size: 17px;
        margin: 0 auto 15px;
        position: relative;
      }
      ul {
        margin: 0;
        padding: 0;
      }
      ul, li {
        list-style: none;
      }
      .ff-featured {
        @extend %ff-featured;
        height: 520px;
        .ff-items>li {
          height: 376px;
          >.ff-block {
            width: 398px;
            .ff-top {
              height: 266px;
              >span {
                height: 266px;
              }
            }
          }
        }
      }

      .profile-featured {
        @extend %ff-featured;
        height: auto;
        margin-top: 45px;
        .ff-items {
          position: static;
          max-width: 1180px;
          margin: 0 auto;
          >li {
            min-height: 405px;
            height: auto;
            margin-bottom: 20px;
            >.ff-block {
              width: 255px;
              .ff-top {
                height: 213px;
                >span {
                  height: 213px;
                  img {
                    max-width: 255px;
                  }
                }
              }
            }
          }
        }
      }

      &.browse-courses, &.featured-courses, &.coaches-profile {
        text-align: center;
        //padding-bottom: 735px;
      }
      &.light {
        background: $white;
        position: relative;
        .gg-light-overlay {
          &::before, &::after {
            content: " ";
            background: $white;
            position: absolute;
            left: -999%;
            right: 0;
            height: 100%;
            top: 0;
          }
          &::after {
            right: -999%;
            left: 0;
          }
        }
      }
      &.about-us-gallery {
        .col-sm-12 {
          padding: 80px 35px 80px 55px;
          @include responsive($media-tablet) {
            padding: 0px 35px 0px 55px;
          }
        }
        .gallery-wrapper {
          >p {
            display: none;
          }
        }
        .gg-right {
          max-width: 590px;
        }
        .gg-desc {
          color: #888888;
          font-size: 15px;
          line-height: 26px;
        }
      }
      &.newsletter-subscribe {
        text-align: center;
        position: relative;
        h3, p {
          color: $white;
        }
        >span {
          top: 0;
          height: 100%;
          left: 50%;
          @include transform(translateX(-50%));
          @include responsive-image(true);
          img {
            min-height: 100%;
            background: $theme-color;
          }
          p {
            height: 100%;
            width: 100%;
            margin-bottom: 0;
          }
        }
        .square-btn {
          color: $white;
        }
      }
      &.contact-us {
        text-align: left;
        .title-one, .title-two {
          text-align: left;
        }
        .contact-address {
          margin-bottom: 45px;
          @include responsive($media-tablet) {
            margin-bottom: 0;
          }
          >p {
            font-size: 13px;
            font-weight: 600;
            color: #a8a8a8;
            >span {
              width: 80px;
              float: left;
              font-size: 15px;
              color: #3f3f3f;
            }
          }
        }
        .contact-form {
          form {
            fieldset {
              border: 0 none;
              margin: 0;
              padding: 0;
            }
            p.form-cont-row {
              >br, >label {
                display: none;
              }
              input, textarea {
                width: 100% !important;
                border: none;
                outline: none;
                padding: 11px;
                font-weight: 300;
                font-size: 13px;
                color: #a8a8a8;
                text-transform: uppercase;
                background: #fbfbfb;
                height: auto;
                resize: none;
              }
            }
            .form-submit-button {
              width: 100%;
              font-size: 14px;
              line-height: 26px;
              font-weight: 600;
              color: $white;
              text-transform: uppercase;
              padding: 3px 30px;
              border-radius: 3px;
              background: $theme-color;
              border: none;
              letter-spacing: 1px;
              &:hover {
                color: $theme-color;
                background-color: #f7f7f7;
              }

            }
          }
        }
      }
    }
    .footer-social-links {
      @extend .clearfix;
    }
  }

  .courses {
    ul.courses-list {
      margin: 0;
      > li {
        display: none;
      }
    }
    ul.courses-list-sub {
      margin: 0;
      list-style: none;
      display: table;
      width: 100%;
      li {
        font-size: 16px;
        margin-bottom: 5px;
        a {
          text-decoration: none;
        }
      }
      > li {
        display: block;
        vertical-align: top;
        width: 100%;
        margin-bottom: 10px;
        border-bottom: 1px solid $secondaryColor;
        @include responsive($media-tablet) {
          border-bottom: 0px;
          display: table-cell;
          width: 14.28%;
          margin-bottom: 5px;
        }
        > a {
          font-weight: bold;
          text-transform: uppercase;
        }
        > ul {
          list-style: none;
          padding-top: 5px;
          @include responsive($media-tablet) {
            margin: 0;
          }
          >li>ul {
            display: none;
          }
        }
      }
    }

    + p {
      display: none;
    }
  }

  .phone-icon::after {
    left: -23px;
  }
  .courses-menu {
    li {
      padding-left: 20px;
    }
    >ul, ul.courses-list {
      >ul>li>a {
        border: 0px;
      }
    }
  }
}
.footer-gmap {
  height: 500px;
  margin-bottom: 60px;
  #gmap_contact {
    height: 500px;
    position: absolute !important;
    width: 100%;
    left: 0;
  }
}
