//
//
// sliders.scss
//
// Contains all the styles of slider contents
//
// Copyright ish group (Australia) and part of ish onCourse.
// It is licensed to you under the Apache License, version 2.0
//

@include theme('c') {
  .slider-fixed-top {
    .home-slider {
      .bx-wrapper {
        height: 100%;
        .bx-pager {
          display: none;
        }
      }
      .bx-viewport {
        >ul {
          height: 100%;
          li {
            height: 100%;
            >p>span {
              @include responsive-image(true);
              width: 100%;
              height: 100%;
              img {
                min-height: 100%;
                max-height: none;
              }
            }
            .container {
              position: $homeSliderContainerPosition;
              z-index: 2;
              color: $white;
              top: $homeSliderContainerPositionTop;
              text-align: center;
              @include transform(translateY(-50%));
              user-select: none;
              cursor: default;
              >.s-text {
                >span, >h1 {
                  @include transition(all 0.5s ease-in-out);
                }
                >span {
                  font-size: 20px;
                  font-style: italic;
                  @include responsive($media-tablet) {
                    font-size: 24px;
                  }
                  @include responsive($media-desktop) {
                    font-size: 35px;
                  }
                }
                >h1 {
                  font-size: 30px;
                  font-weight: bold;
                  @include responsive($media-tablet) {
                    font-size: 50px;
                    letter-spacing: 3px;
                  }
                  @include responsive($media-desktop) {
                    font-size: 100px;
                  }
                }
                >p {
                  font-size: 16px;
                  max-width: 680px;
                  margin: 0 auto;
                  font-weight: 400;
                }
                >p>a {
                  @extend .square-btn;
                }
              }
            }
          }
        }
      }
      .bx-wrapper .bx-controls-direction a {
        display: block;
      }
    }
  }
  .flexslider {
    &.home-slider {
      height: $home-slider-height-mobile-small;
      overflow: hidden;
      @include responsive($media-small) {
        height: $home-slider-height-mobile;
      }
      @include responsive($media-tablet) {
        height: $home-slider-height;
      }
    }
    >p {
      margin: 0px;
    }
    .bx-wrapper {
      margin: 0px;
      .overlay {
        background: transparent url($imagePath + 'bxslider/overlay.png') 0 0;
        top: 0;
        left: 0;
        opacity: 0.7;
        z-index: 1;
        width: 100%;
        height: 100%;
        position: absolute;
        @include user-select(none);
      }
      ul li {
        img {
          width: 100%;
        }
        .block {
          position: relative;
          height: $home-slider-height-mobile-small;
          @include responsive($media-small) {
            height: $home-slider-height-mobile;
          }
          @include responsive($media-tablet) {
            height: $home-slider-height;
          }
          img {
            position: absolute;
            z-index: 1;
            height: $home-slider-height-mobile-small;
            @include responsive($media-small) {
              height: $home-slider-height-mobile;
            }
            @include responsive($media-tablet) {
              height: $home-slider-height;
            }
          }
          .container {
            position: $homeSliderContainerPosition;
            top: $homeSliderContainerPositionTop;
            z-index: 2;
            @include responsive($media-tablet) {
              top: $homeSliderContainerPositionTopMediaTablet;
            }
            .text-content {
              background: $homeSliderContainerContentBackground;
              background: $homeSliderContainerContentBackgroundrgba;
              color: $homeSliderContainerContentColor;
              width: $homeSliderContainerContentWidth;
              padding: $homeSliderContainerContentPadding;
              @include responsive($media-small) {
                width: $homeSliderContainerContentWidthMediaSmall;
                padding: $homeSliderContainerContentPaddingMediaSmall;
              }
              @include responsive($media-desktop) {
                width: $homeSliderContainerContentWidthMediaDesktop;
              }
              h1 {
                font-size: $homeSliderContainerHeadLineFontSize;
                letter-spacing: $homeSliderContainerHeadLineLetterSpacing;
                font-weight: $homeSliderContainerHeadLineFontWeight;
                @include responsive($media-small) {
                  font-size: $homeSliderContainerHeadLineFontSizeMediaSmall;
                  letter-spacing: $homeSliderContainerHeadLineLetterSpacingMediaSmall;
                }
                @include responsive($media-tablet) {
                  font-size: $homeSliderContainerHeadLineFontSizeMediaTablet;
                  letter-spacing: $homeSliderContainerHeadLineLetterSpacingMediaTablet;
                }
                @include responsive($media-desktop) {
                  font-size: $homeSliderContainerHeadLineFontSizeMediaDesktop;
                }
              }
              p {
                font-size: $homeSliderContainerDescriptionFontSize;
                padding-top: $homeSliderContainerDescriptionPaddingTop;
                @include responsive($media-small) {
                  font-size: $homeSliderContainerDescriptionFontSizeMediaSmall;
                }
                @include responsive($media-tablet) {
                  font-size: $homeSliderContainerDescriptionFontSizeMediaTablet;
                }
                @include responsive($media-desktop) {
                  font-size: $homeSliderContainerDescriptionFontSizeMediaDesktop;
                }
              }
            }
          }
        }
      }
      .bx-pager {
        text-align: right;
        bottom: 25px;
        padding-right: 25px;
        @include responsive($media-small) {
          bottom: 95px;
        }
      }
      .bx-controls-direction a {
        display: none;
      }
    }
  }
  .gallery-wrapper {
    .courses-gallery-items ul {
      li {
        img {
          margin: 0 auto;
        }
      }
    }
    .bx-wrapper {
      &:hover {
        .bx-controls-direction a {
          @include opacity(1);
          &.bx-prev {
            left: 10px;
          }
          &.bx-next {
            right: 10px;
          }
        }
      }
      .bx-controls-direction a {
        @include transition(all 0.2s ease-out);
        @include opacity(0);
        z-index: 9;
        &.bx-prev {
          left: 0;
        }
        &.bx-next {
          right: 0;
        }
      }
      .bx-pager.bx-default-pager a {
        border: 2px solid #eaeaea;
        &:hover, &.active, &:focus {
          background: $theme-color;
          border-color: $theme-color;
        }
      }
    }
  }
}
