.sidebar-wrapper {
  background: $main-blue;
}

.sidebar {
  position: fixed;
  height: 100vh;
  
  ul {
    li {
      padding: 10px 0;
    }
  }
  
  a {
    color: $white;
    
    &.active {
      color: $main-green;
    }
  }
}