.sidebar-wrapper {
  background: $main-blue;
}

.sidebar {
  position: fixed;
  height: 100vh;
  
  a {
    color: $white;
    display: block;
    padding: 10px;
    
    &:hover:not(.active) {
      opacity: .7;
    }
    
    &.active {
      color: $main-green;
    }
  }
}