export class {{classname}} {{#parent}}extends {{{parent}}} {{/parent}}{
{{#vars}}
  {{#description}}

  /**
   * {{{description}}}
   */
  {{/description}}
  {{name}}{{^required}}?{{/required}}: {{#isEnum}}{{{datatypeWithEnum}}}{{/isEnum}}{{^isEnum}}{{{datatype}}}{{/isEnum}};
{{/vars}}
}

    {{#hasEnums}}
      {{#vars}}
        {{#isEnum}}
          export type {{{enumName}}} = {{#allowableValues}}{{#values}}"{{{.}}}"{{^-last}} | {{/-last}}{{/values}}{{/allowableValues}};
        {{/isEnum}}
      {{/vars}}
    {{/hasEnums}}