//
//
// layout.scss
//
// Contains site's mix styles
//
// This file is copyright ish group, Australia.
// It is licensed to you under the Apache License, version 2.0
// and is part of ish onCourse.
//
// Author: Chintan Kotadia
//

@include theme('a') {
	a {
		@include transition(all 0.5s);
	}
	ul {
		@include blocks("&.grid", table-cell, $media-tablet);
		@include blocks("&.column", "left", $media-tablet);
	}

	#Main.main-page {
		#content {
			float: none;
			width: 100%;
		}
		#sidebarRight {
			display: none;
		}
	}
	.container {
		padding: 0px;
		h1.courses-title {
			display: block !important;
		}
		.courses ul.courses-list-sub .courses-list-sub2 .courses-list-sub2 {
			margin: 0;
			list-style: none;
		}
		.courses ul.courses-list {
			>ul > li> a {
				color: $black;
				border-bottom: 1px dotted #dedee0;
				font-weight: bold;
			}
			ul.courses-list-sub>li {
				width: 2.28%;
			}
		}
	}
	.content {
		h1 {
			font-weight: normal;
		}
		ul li {
			margin-bottom: 0px;
		}
		.home-slider {
			ul {
				margin-left: 0px;
				li>img {
					width: 100%;
				}

			}
		}
	}
	.nyroModalLink #popup-content .tutors_details {
		ul.attachedImages, .tutor_pic {
			position: initial;
			width: 213px;
			float: right;
			margin-left: 20px;
			margin-bottom: 20px;
			right: 0px;
		}
		.tutors_classes {
			display: table;
			width: 100%;
		}
	}
	#footer {
		.footer-text {
			margin-bottom: 0px;
		}
	}
}