/*****************

Filename: ie-fixes.css (Default)
Purpose: IE specific CSS to fix problems. 
Notes:

This file will include both IE6/IE7 fixes. By default, most IE fixes will be for IE7. 
To serve fixes to IE6 or IE7 specifically, do the following:

	// Show only to IE7-
	*:first-child+html [selector] {
	background: red;
	}
	
	// Show only to IE6 
	* html [selector] {
	background: red;
	}

- Table of Contents -

****************/



div#advanced_search input[type="checkbox"] { background-color: transparent; }
div.quicksearch-wrap { display: none; }

div.taggroup {
	zoom: 1;
	height: auto;	
}

div.taggroup ul {
	position: relative;
	zoom: 1;
}

div.taggroup ul li {
	zoom: 1;
}



/* Fixes the li background bug */
ul, ol, dl {
	position: relative;  
}

/* Fixes the nasty menu bug in IE! */
div#nav ul li {  zoom: 1; display: inline;  }


/* fix for subterranean class list info bubble */
div.container, div#content_container, div#content, div#sub_content, 
div#sidebar, div#search_box, div#sidebar div#shortlist *, div#sidebar div#shortlist, div#sidebar div#tokens, div#sidebar div#login_box, div#sidebar div#tokens *, div#sidebar div#login_box * { z-index: 0; }

div#advanced_search_container { z-index: 9989; position: relative; }

div#content div.post-collapse, 
div#content div.post-collapse div.new_course_item, 
div#content div.post-collapse div.new_course_item div.class_details
{  z-index:0;}

div#content div.post-collapse div.new_course_item div.class_details div.bubbleInfo
	{ position:relative; z-index:8000; zoom:1;}

/* fix the MSIE bug where the info bubble slides under other page content */
div.bubbleInfo div.tooltip_popup
 { zoom:1; z-index:8000; right: -420px; top: -35px; }
  
html body div div.content_container div#content div.post-collapse div.new_course_item div.class_details,
html body div div.content_container div#content div.post-collapse div.new_course_item,
html body div div.content_container div#content div.post-collapse
 { z-index:0;}
 
div#tutor-classes-current dl.tutor_class_info dt, div#tutor-classes-current dl.tutor_class_info dd,
div#tutor-classes-previous dl.tutor_class_info dt, div#tutor-classes-previous dl.tutor_class_info dd {  *display: inline; zoom: 1; _height: auto;  }

.clearfix, .clearafter { zoom: 1; }
