/*****************

Filename: ie7-fixes.css
Purpose: IE7 specific CSS to fix problems
Notes:

- Table of Contents -

****************/

div#advanced_search input[type="checkbox"] { background-color: transparent; }
div.quicksearch-wrap { display: none; }

div.taggroup {
	zoom: 1;
	height: 750px;	
}

div.taggroup ul {
	position: relative;
	zoom: 1;
}

div.taggroup ul li {
	zoom: 1;
}



/* Fixes the li background bug */
ul, ol, dl {
	position: relative;  
}

/* Fixes the nasty menu bug in IE! */
div#nav-wrap ul li {  zoom: 1; display: inline;  }


/* fix for subterranean class list info bubble */
div#content {position:relative: zoom:1; z-index:1;}
div#content div.post-collapse, 
div#content div.post-collapse div.new_course_item, 
div#content div.post-collapse div.new_course_item div.class_details,
div#content div.post-collapse div.new_course_item div.class_details div.bubbleInfo
{ position:relative; z-index:5000; zoom:1;}

/* fix the MSIE bug where the info bubble slides under other page content */
html body div div#content_container div#content div.post-collapse div.new_course_item div.class_details div.bubbleInfo table.popup
 {zoom:1; z-index:900; right:-390px;}
html body div div#content_container div#content div.post-collapse div.new_course_item div.class_details div.bubbleInfo,
html body div div#content_container div#content div.post-collapse div.new_course_item div.class_details,
html body div div#content_container div#content div.post-collapse div.new_course_item,
html body div div#content_container div#content div.post-collapse,
html body div div#content_container div#content,
 {position:relative; zoom:1; z-index:900;}
