/**
 *  _common.scss
 *
 *  Common styles.
 *
 */


/* Common layout styles --------------------*/

html {
    height:100%;
}

body {
    /* Fit body to window */
    height:auto !important;
    height:100%;
    min-height:100%;

    font-size:12px;
    font-family: Arial, Helvetica, sans-serif;
    line-height:1;
}


.content {
    /* Content Paragraph */
    p {
        line-height:1.5;
        margin-bottom:18px;
    }

    /* Content header */
    h1, h2, h3, h4, h5, h6 {
      margin-bottom: 18px;
      line-height: 1.5;
      font-weight: normal;
    }


    @for $i from 1 through 6 {
      h#{$i} {
        font-size: 24px - (2px * ($i - 1));
      }
    }

    ul {
        list-style:outside disc;
        margin-left:20px;
    }

    ol {
        list-style:outside decimal;
        margin-left:20px;
    }
}



