/**
 *  _courses.scss
 *
 *  Styling for all course and class information.
 *
 *
 */

 
@mixin old_school_panel { background: #FDFDF8; border: 1px solid #EEEEEE; border-width: 1px 1px 1px 6px; margin-bottom: 10px; padding: 5px; min-height: 66px; position: relative;
@include clearfix;
	.classDescription { clear: both; }
	dt { display: none; }
	dd { float: left;  }
	.classItemName, .classItemName + dd { display: none;  } // This should use the HTML5 BP visually hidden class
	.classItemDate + dd { min-height: 56px; width: 33%; background: transparent url(/s/img/calendar.png) no-repeat; padding-left: 20px; }
	.classItemTutor + dd, .classItemLocation + dd, .classItemPrice + dd { width: 45%; background: transparent url(/s/img/person.png) 0 1px no-repeat; padding-left: 20px; }
	.classItemLocation + dd { background-image: url(/s/img/location.png);  background-position-y: 0px; }
	.classItemPrice + dd { background: none; padding-left: 0; }
	
	.classAction { position: absolute; right: 5px; text-align: right; 
		dl { @include clearfix; }
	}
	&:hover { border-color: #999; }
}



 
#gMapCanvas { outline: 1px solid red; width: 600px; height: 400px; }

.classItem { @include old_school_panel; }	

.courseItem { @include clearfix; }
.courseShortDescription { /* float: left; width: 50%;*/ }
.courseAvailability { float: right; width: 200px; outline: 0px dashed #444; 
	a { @include fancy-button(#444444); }
}


 