/**
 *  _functions.scss
 *
 *  Shared functions.
 *
 *
 */

@mixin clearfix {
    zoom:1\9;
    &:after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
    }
}


@mixin border-radius($radius) {
    -moz-border-radius: $radius;
    -webkit-border-radius: $radius;
    border-radius: $radius;
}



@mixin html5-boilerplate-styles {
  body, select, input, textarea { color: $font-color; }

  html { @include force-scrollbar; }

  a, a:active, a:visited { color: $link-color; }
  a:hover { color: $link-hover-color; }

  ul, ol { margin-left: $list-left-margin; }
  ol { list-style-type: decimal; }

  td, td img { vertical-align: top; }

  sub { @include sub; }

  sup { @include sup; }

  textarea { overflow: auto; } 

  @include accessible-focus;

  @include quoted-pre;

  @include align-input-labels;

  @include hand-cursor-inputs;

  @include webkit-reset-form-elements;

  @include selected-text;

  @include webkit-tap-highlight;

  @include ie-hacks;

  @include no-nav-margins;
  
  @include headings;
  
}

@mixin sub{
  vertical-align: sub; font-size: smaller;
}

@mixin sup{
  vertical-align: super; font-size: smaller;
}

// Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test
@mixin accessible-focus {
  a:hover, a:active { outline: none; }
}

// www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/
@mixin quoted-pre {
  pre {
    padding: 15px;
    white-space: pre; // CSS2
    white-space: pre-wrap; // CSS 2.1
    white-space: pre-line; // CSS 3 (and 2.1 as well, actually)
    word-wrap: break-word; // IE
  }
}

// align checkboxes, radios, text inputs with their label
// by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css
@mixin align-input-labels {
  input[type="radio"] { vertical-align: text-bottom; }
  input[type="checkbox"] { vertical-align: bottom; }
  .ie7 input[type="checkbox"] { vertical-align: baseline; }
  .ie6 input { vertical-align: text-bottom; }
}

// hand cursor on clickable input elements
@mixin hand-cursor-inputs {
  label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }
}

// webkit browsers add a 2px margin outside the chrome of form elements
@mixin webkit-reset-form-elements {
  button, input, select, textarea { margin: 0; }
}

// These selection declarations have to be separate.
// No text-shadow: twitter.com/miketaylr/status/12228805301
// Also: hot pink.
@mixin selected-text {
  ::-moz-selection{ background:$selected-background-color; color: $selected-font-color; text-shadow: none; }
  ::selection { background: $selected-background-color; color: $selected-font-color; text-shadow: none; }
}

// j.mp/webkit-tap-highlight-color
@mixin webkit-tap-highlight {
  a:link { -webkit-tap-highlight-color: $selected-background-color; }
}

// always force a scrollbar in non-IE
@mixin force-scrollbar {
  overflow-y: scroll;
}

@mixin ie-hacks {
  // make buttons play nice in IE:
  // www.viget.com/inspire/styling-the-button-element-in-internet-explorer/
  button { width: auto; overflow: visible; }

  // bicubic resizing for non-native sized IMG:
  // code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
  .ie7 img { -ms-interpolation-mode: bicubic; }

  .ie6 legend, .ie7 legend { margin-left: -7px; } // thnx ivannikolic!
}

@mixin no-nav-margins {
  // Remove margins for navigation lists
  nav ul, nav li { margin: 0; }
}

@mixin headings { 
	h1, h2, h3, h4, h5, h6 { margin: 0 0 1em 0; }
}

/* onCourse specific mixins */

@mixin new_school_panel { outline: 1px solid #444; background: #f7f7f7;
	dt { display: none; }
	.classItemName + dd { display: none; }
	.classItemDate + dd { font-size: 1.6em; }
	}
	
@mixin old_school_panel { background: #FDFDF8; border: 1px solid #EEEEEE; border-width: 1px 1px 1px 6px; margin-bottom: 10px; padding: 5px; min-height: 66px; position: relative;
@include clearfix;
	.classDescription { clear: both; }
	dt { display: none; }
	dd { float: left;  }
	.classItemName, .classItemName + dd { display: none;  } // This should use the HTML5 BP visually hidden class
	.classItemDate + dd { min-height: 56px; width: 33%; background: transparent url(/s/img/calendar.png) no-repeat; padding-left: 20px; }
	.classItemTutor + dd, .classItemLocation + dd, .classItemPrice + dd { width: 45%; background: transparent url(/s/img/person.png) 0 1px no-repeat; padding-left: 20px; }
	.classItemLocation + dd { background-image: url(/s/img/location.png);  background-position-y: 0px; }
	.classItemPrice + dd { background: none; padding-left: 0; }
	
	.classAction { position: absolute; right: 5px; text-align: right; 
		dl { @include clearfix; }
	}
	&:hover { border-color: #999; }
}

@mixin dialogBox {
	background: rgba(255, 255, 255, 0.94);
	width: 250px; 
	position: absolute; right: 100px; top: 100px;
	@include box-shadow(rgba(68, 68, 68, 0.5), 0px, 0px, 20px);
	@include border-radius(4px);
}


@mixin closeButton() { 
	border: 3px solid #fff; padding: 4; display: block; background: #444; color: #eee; text-align: center; font-weight: bold; content: "x"; font-size: 10px; line-height: 1; cursor: pointer; width: 10px; height: 10px; -webkit-background-clip: padding-box;
	@include border-radius(20px);
	@include box-shadow(rgba(68, 68, 68, 0.5), 0px, 0px, 10px);
	&:hover { color: #fff; background: #000; cursor: pointer; -webkit-background-clip: padding-box; }
}