/**
 *  _layout.scss
 *
 *  Layout styles.
 *
 */



/* Courses list
----------------------------------------*/



/* Search terms -------------------------*/

.search-terms {
    @include clearfix;
    color: black;
    padding: 4px 0px 8px 30px;
    margin:0 0 6px 0;
    border: 1px solid transparent;
    min-height: 16px;
    line-height:1.6;
    background: {
        image: url(""+$i+"/search2.png");
        repeat:no-repeat;
        position: 7px center;
    }

    &:hover {
        border: 1px solid gray;
        cursor: pointer;
    }

    span.search-value {
        margin: 0;
    }

    img {
        margin-bottom: -4px;
    }

    /* Label */
    #search_query {
        width: 85%;
        float: left;
        line-height:1.7;

        > div, > span {
            display:inline-block;
        }

        .highlighter {
            background-color: transparent;
            border: 1px solid transparent;
        }

        .search-highlight {
            background-color: rgb(252,244,178); /*border:1px solid rgb(228,185,46);*/
        }

        .no-highlight {
            border: 1px solid transparent;
    
            &:hover {
                border: 1px solid rgb(228,185,46);
            }
        }

    }

    .search-value {
        border: 1px solid transparent;
        padding: 2px 3px 2px 2px;

        img {
            display: inline;
            padding: 2px;
            border: 1px solid transparent;
            background-repeat: no-repeat;
            background-position: 2px 2px;
            margin-top: -6px;
        }

        .search-remove {
            margin-left: -8px;
            padding: 0;
            margin-right: -6px;
        }

        &:hover .search-remove {

            img {
                background: {
                    image: url(""+$i+"/x.png");
                    repeat:no-repeat;
                    position: left top;
                }
            }

           &:hover img {
                border: 1px solid red;
                background-color: white;
                border-radius: 3px;
                -moz-border-radius: 3px;
                -webkit-border-radius: 3px;
            }

        }
    }



    /* Show map */
    #toggle-results-map {
        float: right;
        margin:0 7px 0 0;

        a {
            border: 1px solid transparent;
            padding: 2px;

            &:hover {
                border: 1px dotted silver;
            }
        }

        .toggle_locations {
            background: {
                image: url(""+$i+"/icon/location.png");
                repeat:no-repeat;
                position: left 2px;
            }
            padding-left: 16px;
        }
    }
}







/* Course item ------------------------*/

.courseItem {
    margin:0 0 20px 0;

    h1 {
        font-size:20px;
    }


    h2 {
        color: #444 !important;
        font-weight:normal;
        font-size:16px;
        margin:0 0 2px 0;
        text-transform:none !important;
    }

    h3 {
        font-size:18px;
        font-weight:bold;
    }

    h4 {
        font-weight:bold;
        font-size:14px;       
    }

     h1, h2, h3, h4, h5 {
         a {
            text-decoration:none;
            color: #444;
            color: inherit;

            &:hover {
                color: #A90E1F;
                text-decoration: underline;
            }
        }
     }

     p {
        margin-bottom:18px;
     }

    ul, ol {
        list-style-position:outside;
        margin:0 0 18px 18px;

        li {
            margin-left:10px;
        }
    }


    .description {
        color: #444;
        margin:0 0 10px 0;
    }

    .courseDescription {
        padding:18px 0 0 0;
    }

    .more {
        font-weight:normal;

        a {
            font-weight:bold;
            color: #444;
            text-decoration:none;

            &:hover {
                color: #A90E1F;
                text-decoration: underline;
            }
        }
    }

    .waiting-list-title {
        a {
            color: #444;
            text-decoration:none;

            &:hover {
                color: #A90E1F;
                text-decoration: underline;
            }
        }
    }

    .classDescription {
        color: #444;
        margin:0 0 10px 0;
    }

    /* Date, tutor, location */
    .classItem {
        @include clearfix;
        position:relative;
        padding:5px;
        margin:0 0 5px 0;
        background-color: #fdfdf8;
        border:1px solid #eee;
        border-left:6px solid #eee;
        border-top:1px solid #eee;

        &:hover {
            border-color:gray;
        }

        p {
            margin-bottom:3px;
        }

    }

    .class-item-info {
        @include clearfix;
        width:70%;
        float:left;


        div {
            line-height:1.5;
            padding:2px 0 2px 19px;
        }

        .class-item-info-l {
            float:left;
            width:49%;
            line-height:1;
            padding:0;
        }

        .class-item-info-r {
            @extend .class-item-info-l;
            float:right;
        }


        .date {
            background: {
                image: url(""+$i+"/icon/calendar.png");
                position: left top;
                repeat: no-repeat;
            }
        }

        .tutor {
            background: {
                image: url(""+$i+"/icon/person.png");
                position: left top;
                repeat: no-repeat;
            }
        }

        .location {
            background: {
                image: url(""+$i+"/icon/location.png");
                position: left top;
                repeat: no-repeat;
            }
            min-height:23px;
        }

    }

    .classAction {
        float:right;
        width:29%;
        text-align:right;
        font-size:11px;
        line-height:1.5;

        > div {
            margin-bottom:3px;
        }
    }

    /* Enrol button*/
    .enrolAction {
        display:inline-block;
        border: 0;
        margin:0 0 3px 0;
    }


    .courseAddOrder {
        padding-right:15px;
        background: {
            image: url(""+$i+"/icon/add.png");
            position: right 4px;
            repeat: no-repeat;
        }
    }

    .courseEmail {
        padding-right:15px;
        background: {
            image: url(""+$i+"/icon/email.png");
            position: right 5px;
            repeat: no-repeat;
        }
    }




    /*todo: Dmitry. add calendar popup. */
    .classSessions {
        display:none;
    }
}


/* Show more courses -------------------------*/


.showMoreAction {
    background: {
        image: url(""+$i+"/icon/go-down.png");
        position: 5px center;
        repeat: no-repeat;
    }
    padding: 10px;
    padding-left: 50px;
    color: brown;
    font-weight: bold;
    font-size: 14px;
    line-height:1.5;
    margin:18px 0 28px 0;
    border: 1px solid silver;
    text-decoration:none !important;
    cursor:pointer;
    @include border-radius(10px);

    &:hover {
        background-color:#f0f0f0;
    }
}


