/**
 *  _widgets.scss
 *
 *  Popups, dialogs, tooltips...
 *
 */



/* Courses Popup */

.classItem:hover .bubbleInfo {
    display:block;
}

    .bubbleInfo {
        display:none;
        position: absolute;
        z-index: 10;
        border-collapse: collapse;
        left:-245px;
        top: -20px;
        width:224px;
        padding:0 23px 0 0;


            .arrow {
                position:absolute;
                right:-23px;
                top:16px;
                width:23px;
                height:27px;
                background: {
                    image: url(""+$i+"/popup-arrow.png");
                    position: right top;
                    repeat: no-repeat;
                }
            }


            .tooltip_popup {
                position:relative;
                padding:20px 15px;
                background-color:#fff;
                border:1px solid #a2a2a2;
                @include border-radius(15px);
                @include box-shadow(-2px 3px 8px #666);
            }

            .bubble_top {
                margin-bottom:15px;
            }


        /*.tooltip_popup .bubble_top {
            background: {
                image: url(""+$i+"/bubble2_top_left.png");
                position: left top;
                repeat: no-repeat;
            }
            padding-top:27px;
            padding-bottom:0;
            margin:0;
            height:34px;
            overflow:hidden;
            border-collapse:collapse;
        }

        .tooltip_popup .bubble_middle {
            background: {
                image: url(""+$i+"/bubble2_middle_left.png");
                repeat: repeat-y;
            }
        }

        .tooltip_popup .bubble_bottom {
            background: {
                image: url(""+$i+"/bubble2_bottom_left.png");
                position: left top;
                repeat: no-repeat;
            }
            height:24px;
        }

        .tooltip_popup .bubble_content {
            padding-left:25px;
            padding-right:50px;
        }
*/
        .class-link, .course-link {
            background-repeat: no-repeat;
            padding-left:19px;
            background-position:0 4px;
            padding-top:3px;
        }

        .class-link {
            background: {
                image: url(""+$i+"/printer.png");
                position: left top;
                repeat: no-repeat;
            }
            margin:0 0 2px 0;
        }

        .course-link {
            background: {
                image: url(""+$i+"/icon/documentinfo.png");
                position: left 5px;
                repeat: no-repeat;
            }
            line-height:1.4;
        }

        .waiting-list .waiting-list-title a {
            line-height: 1;
        }

        .waitinglist-block {
            width:100%;
            overflow:auto;
        }

        /* Timing display */
        .timing-display {
            display:inline-block;
            font-weight:bold;
            border: 1px solid silver;
            padding:2px;
            margin-right: 3px;
            background-color:white;
        }

        .timing-yes {
            color:rgb(68,68,68);
        }

        .timing-no {
            color:silver;
        }

        .timing-display img {
            display:inline;
            width:16px;
            margin:0;
            margin-bottom:-5px;
        }

        .timing-daytime {
            background: {
                image: url(""+$i+"/sun6-faded.png");
                position: -1px top;
                repeat: no-repeat;
            }
            padding:0;
        }

        .timing-evening {
            background: {
                image: url(""+$i+"/moon6-faded.png");
                position: -1px top;
                repeat: no-repeat;
            }
            padding:0;
        }

        .timing-daytime-yes {
            background: {
                image: url(""+$i+"/sun6.png");
                position: left top;
                repeat: no-repeat;
            }
        }

        .timing-daytime-match {
            background: {
                image: url(""+$i+"/sun-6green.png");
                position: left top;
                repeat: no-repeat;
            }
        }

        .timing-daytime-fail {
            background: {
                image: url(""+$i+"/sun6-red.png");
                position: left top;
                repeat: no-repeat;
            }
        }

        .timing-evening-yes {
            background: {
                image: url(""+$i+"/moon6.png");
                position: left top;
                repeat: no-repeat;
            }
        }

        .timing-evening-match {
            background: {
                image: url(""+$i+"/moon6-green.png");
                position: left top;
                repeat: no-repeat;
            }
        }

        .timing-evening-fail {
            background: {
                image: url(""+$i+"/moon6-red.png");
                position: left top;
                repeat: no-repeat;
            }
        }

        .time-evening, .time-daytime {
            background-repeat:no-repeat;
            padding-left: 16px;
            margin-left:-6px;
        }

        .time-evening {
            background: {
                image: url(""+$i+"/moon6-faded.png");
                position: left top;
                repeat: no-repeat;
            }
        }

        .time-daytime {
            background: {
                image: url(""+$i+"/sun6-faded.png");
                position: left top;
                repeat: no-repeat;
            }
        }

        .timing-match {
            color: #0f6e00;
        }

        .timing-fail {
            color: #c53628;
        }

    }






/**
 *
 *  Styling for nyryModal dialog boxes.
 *
 */

.nyroModalBg {
	position: fixed;
	overflow: hidden;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: #000;
	opacity: 0.7;
}
.nmReposition {
	position: absolute;
}
.nyroModalCloseButton {
	top: -13px;
	right: -13px;
	width: 12px;
	height: 12px;
	text-indent: -9999em;
	background: url(""+$i+"/common/close.gif");
}
.nyroModalTitle {
	top: -26px;
	left: 0;
	margin: 0;
    font-size: 1.1em;
	color: #ddd;
}
.nyroModalCont {
	position: absolute;
	border: 4px solid #777;
	margin: 25px;
	background: #fff;
}
.nyroModalCont iframe {
	width: 600px;
	height: 400px;
}
.nyroModalError {
	border: 4px solid red;
	color: red;
	width: 250px;
	height: 250px;
}
.nyroModalError div {
	min-width: 0;
	min-height: 0;
	padding: 10px;
}
.nyroModalLink, .nyroModalDom, .nyroModalForm, .nyroModalFormFile {
	position: relative;
	padding: 10px;
	min-height: 250px;
	min-width: 250px;
	max-width: 1000px;
}
.nyroModalImage, .nyroModalSwf, .nyroModalIframe, .nyroModalIframeForm {
	position: relative;
	overflow: hidden;
}
.nyroModalHidden {
	left: -9999em;
	top: -9999em;
}
.nyroModalLoad {
	position: absolute;
	width: 100px;
	height: 100px;
	background: #fff url(""+$i+"/common/ajaxLoader.gif") no-repeat center;
	padding: 0;
}
.nyroModalPrev, .nyroModalNext {
	outline: none;
	position: absolute;
	top: 0;
	height: 60%;
	width: 150px;
	min-height: 50px;
	max-height: 300px;
	cursor: pointer;
	text-indent: -9999em;
	background: transparent url('data:image/gif;base64,AAAA') left 20% no-repeat;
}
.nyroModalImage .nyroModalPrev, .nyroModalImage .nyroModalNext {
	height: 100%;
	width: 40%;
	max-height: none;
}
.nyroModalPrev {
	left: 0;
}
.nyroModalPrev:hover {
	background-image: url(""+$i+"/common/prev.gif");
}
.nyroModalNext {
	right: 0;
	background-position: right 20%;
}
.nyroModalNext:hover {
	background-position: right 20%;
	background-image: url(""+$i+"/common/next.gif");
}

#popup-content {
    padding: 54px;
}

.note {
    margin-top:18px;
    color: #777;
    font-size: 11px;

    strong {
        color:#333333;
    }
    .alert  {
        background:transparent url(""+$i+"/alert.png") no-repeat scroll 0 0;
        padding-left: 18px;
    }
}




@mixin dialogBox {
	background: rgba(255, 255, 255, 0.94);
	width: 250px;
	position: absolute;
	right: 100px;
	top: 100px;
	/*@include box-shadow(rgba(68, 68, 68, 0.3), 0px, 0px, 20px);*/
	/*@include border-radius(4px);*/
}


.confirmOrderDialog {
	/* TODO Pass options from site stylesheets */

	@include dialogBox; z-index: 100; padding: 20px; display: none;
	div { color: #ccc; font-size: 1.4em;
		span { color: #999; font-size: 0.6em;  }
	}
	p + p { font-size: 1em; margin-top: 1em; }
	/*button { @include fancy-button(#f7f7f7, 1em); }*/
}


/* Search Box */

div#search_box h3 { display: none; }
div#header form#cse-search-box { width: 250px; outline: 0px solid red; height: 50px; position: absolute; top: 90px; right: 135px; }

div#header form#cse-search-box input#q { width: 175px; }
form#cse-search-box input.find { display: inline-block; width: auto; background: #CE1126; color: #fff; text-transform: uppercase; font-weight: bold; text-decoration: none; padding: 2px 5px 4px 5px; border: 0; }
	form#cse-search-box input#find:hover { background-color: #A90E1F; }
	div#search_box #search .quicksearch:focus { outline: 0; }

.show-advanced-search-slide { color: #A9BACA; font-size: 0.9em; cursor: pointer;  }
#search_box div#advanced_search { display: none; }

#advanced_search { background-color: rgb(0,0,0); background-color: rgba(0,0,0,0.8); height: 175px; width: 480px; top: 45px; right: 0px; position: absolute;  z-index: 2000; color: #fff; }
	div#search_box form div { position: absolute; margin: 0; height: auto; }
		div#search_box  div#adv_search_keyword { display: none; }
		div#search_box  div#adv_search_tag { top: 10px; left: 10px; }
		div#search_box  div#adv_search_location {top: 55px; left: 10px;}
		div#search_box  div#adv_search_price { top: 100px; left: 10px;}
		div#search_box  div#adv_search_time { top: 12px; right: 10px;}
		div#search_box  div#adv_search_day { top: 50px; right: 10px;}
		div#search_box  div#adv_search_submit { top: 140px; right: 30px;}


	#advanced_search_slide label { width: auto; }