.row {
  &.center {
    align-items: center;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

//a {
//  line-height: 1em;
//}

a {
  &:focus,
  &:hover,
  &:active {
    text-decoration: none;
  }
}

label {
  margin-bottom: 8px;
  //line-height: 1em;
  font-size: 15px;
}

mark {
  padding: 0;
}

.full-height {
  //min-height: 100vh;
  //height: 100vh;
}

.btn {
  cursor: pointer;
}

.content-white {
  color: $white;
}

.pos-r {
  position: relative;
}

.overflow-content {
  max-height: 95vh;
  overflow-y: auto;
}