/*****************

Filename: zindex.css
Purpose: The z-index index. This will define the z-index range for all graphic elements on the page.
This file will also take care of IE specific problems (See: http://www.quirksmode.org/bugreports/archives/2006/01/Explorer_z_index_bug.html)

Notes: 


- Table of Contents -

* Lightboxes
* Timeline
* Tooltip_popup
* Quicksearch
* Advanced Search
* Content

****************/

/* Lightboxes - 10000 */

/* nyroModal z-index definition can be found in jquery.nyroModal-1.5.2.js */

/* Timeline - 9000 */

#overlay{ z-index: 9000; }
#timeline-wrap-new { z-index: 9900; }
#timeline-wrap { z-index: 9000; }

/* Tooltip_popup - 8000 */

div.bubbleInfo div.tooltip_popup, div.bubbleInfo div.tooltip_popup, div.bubbleInfo div.bubble_middle, div.bubbleInfo div.bubble_top, div.bubbleInfo div.bubble_bottom { z-index: 8000; }

/* Quicksearch - 7000 */ 

div.quicksearch-wrap { z-index: 7000; }

/* Advanced search - 6000 */

div#advanced_search { z-index: 6000; }

/* Content - 1 */