---
swagger: "2.0"
info:
  description: "An API for interacting with the backend of the onCourse server"
  version: "1.0.0"
  title: "onCourse REST Api"
  contact:
    name: "ish group pty ltd"
    url: "https://www.ish.com.au"
    email: "support@ish.com.au"
  license:
    name: "AGPLv3"
host: "sttrinians.cloud.oncourse.cc"
basePath: "/a/v1/"
tags:
- name: "Preference"
  description: "This resourse allow you to retrive and update preferences of the application.\n"
schemes:
- "https"
consumes:
- "application/json"
produces:
- "application/json"
paths:
  /access:
    post:
      tags:
      - "Access"
      description: "This method allows you to check is a given user has access method\
        \ at a given resource path"
      operationId: "checkPermissions"
      parameters:
      - in: "body"
        name: "PermissionRequest"
        description: "Permission request entity"
        required: true
        schema:
          $ref: "#/definitions/PermissionRequest"
      responses:
        200:
          description: "Permissions was successfully checked"
          schema:
            $ref: "#/definitions/PermissionResponse"
        default:
          description: "Unexpected error"
      x-permission:
        keyCode: "UNDEFINED"
  /checkout:
    post:
      tags:
      - "Checkout"
      description: "Process checkout"
      operationId: "submit"
      parameters:
      - in: "body"
        name: "checkoutModel"
        description: "checkout objects"
        required: true
        schema:
          $ref: "#/definitions/CheckoutModel"
      - name: "XValidateOnly"
        in: "header"
        description: "Set this to true to generate a new Windcave session and return\
          \ an iframe"
        required: false
        type: "boolean"
      - name: "XPaymentSessionId"
        in: "header"
        description: "Set this to the session id from the successful Windcave authorisation\
          \ request to store the checkout data in onCourse."
        required: false
        type: "string"
      - name: "XOrigin"
        in: "header"
        description: "hostname of the onCourse client"
        required: false
        type: "string"
      responses:
        200:
          description: "Success response"
          schema:
            $ref: "#/definitions/CheckoutResponse"
        400:
          description: "Validation error"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/CheckoutValidationError"
        411:
          description: "Windcave error, contact ish support"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/CheckoutValidationError"
        412:
          description: "Can not complite payment transaction"
          schema:
            $ref: "#/definitions/SessionStatus"
        default:
          description: "Unexpected error"
      x-permission:
        mask: "create"
        keyCode: "ENROLMENT"
        errorMessage: "Sorry, you have no permissions to make checkout. Please contact\
          \ your administrator"
  /checkout/status:
    get:
      tags:
      - "Checkout"
      description: "Process checkout"
      operationId: "status"
      parameters:
      - name: "sessionId"
        in: "path"
        required: true
        type: "string"
      responses:
        200:
          schema:
            $ref: "#/definitions/SessionStatus"
        default:
          description: "Unexpected error"
      x-permission:
        mask: "create"
        keyCode: "ENROLMENT"
        errorMessage: "You do not have permission to use the checkout functionality.\
          \ Please contact your administrator"
  /checkout/discount:
    get:
      tags:
      - "Checkout"
      description: "Get discounts for contact selected on checkout"
      operationId: "getContactDiscounts"
      parameters:
      - name: "contactId"
        in: "query"
        required: true
        type: "integer"
        format: "int64"
      - name: "courseIds"
        in: "query"
        description: "comma separated purchasing courses ids for student in this checkout"
        required: false
        type: "string"
      - name: "productIds"
        in: "query"
        description: "comma separated purchasing products ids for student in this\
          \ checkout"
        required: false
        type: "string"
      - name: "classId"
        in: "query"
        required: true
        type: "integer"
        format: "int64"
      - name: "promoIds"
        in: "query"
        description: "comma separated promo discount ids"
        required: false
        type: "string"
      - name: "membershipIds"
        in: "query"
        description: "comma separated purchasing membership type ids for student in\
          \ this checkout"
        required: false
        type: "string"
      - name: "enrolmentsCount"
        in: "query"
        description: "Count of enrolments in current checkout"
        required: false
        type: "integer"
        format: "int32"
      - name: "purchaseTotal"
        in: "query"
        description: "Total amount (without discount) of all purchaces in current\
          \ checkout"
        required: false
        type: "number"
      responses:
        200:
          schema:
            type: "array"
            items:
              $ref: "#/definitions/CourseClassDiscount"
        default:
          description: "Unexpected error"
      x-permission:
        mask: "create"
        keyCode: "ENROLMENT"
        errorMessage: "Sorry, you have no permissions to make checkout. Please contact\
          \ your administrator"
  /checkout/saleRelations:
    get:
      tags:
      - "Checkout"
      description: "Get relations for sale added to checkout cart"
      operationId: "getSaleRelations"
      parameters:
      - name: "courseIds"
        in: "query"
        required: true
        type: "string"
      - name: "productIds"
        in: "query"
        required: true
        type: "string"
      - name: "contactId"
        in: "query"
        required: true
        type: "integer"
        format: "int64"
      responses:
        200:
          schema:
            type: "array"
            items:
              $ref: "#/definitions/CheckoutSaleRelation"
        default:
          description: "Unexpected error"
      x-permission:
        mask: "create"
        keyCode: "ENROLMENT"
        errorMessage: "Sorry, you have no permissions to make checkout. Please contact\
          \ your administrator"
  /control:
    get:
      tags:
      - "Control"
      summary: "get actual status of the process"
      operationId: "getStatus"
      parameters:
      - name: "processId"
        in: "path"
        description: "Unique identifier of the process"
        required: true
        type: "string"
      responses:
        200:
          description: "Success response."
          schema:
            $ref: "#/definitions/ProcessResult"
        default:
          description: "Unexpected error"
      x-permission:
        mask: "view"
        keyCode: "UNDEFINED"
    delete:
      tags:
      - "Control"
      operationId: "interrupt"
      parameters:
      - name: "processId"
        in: "path"
        description: "Unique identifier of the process"
        required: true
        type: "string"
      responses:
        204:
          description: "Success response."
        400:
          description: "Bad request error."
        default:
          description: "Unexpected error"
      x-permission:
        mask: "view"
        keyCode: "UNDEFINED"
  /dashboard/statistic:
    get:
      tags:
      - "Dashboard"
      summary: "get Dashboard statistic data"
      operationId: "getStatistic"
      parameters: []
      responses:
        200:
          description: "Success response."
          schema:
            $ref: "#/definitions/StatisticData"
        default:
          description: "Unexpected error"
      x-permission:
        keyCode: "UNDEFINED"
  /dashboard/search:
    get:
      tags:
      - "Dashboard"
      summary: "get Dashboard search data"
      operationId: "getSearchResults"
      parameters:
      - name: "search"
        in: "query"
        description: "search string"
        required: false
        type: "string"
      responses:
        200:
          description: "Success response."
          schema:
            type: "array"
            items:
              $ref: "#/definitions/SearchGroup"
        default:
          description: "Unexpected error"
      x-permission:
        keyCode: "UNDEFINED"
  /datacollection/field/type:
    get:
      tags:
      - "DataCollection"
      description: "Get avalible field for requested form type"
      operationId: "getFieldTypes"
      parameters:
      - name: "formType"
        in: "query"
        description: "Datacollection form type"
        required: true
        type: "string"
      responses:
        200:
          description: "Success response"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/FieldType"
        default:
          description: "Unexpected error"
  /datacollection/form:
    get:
      tags:
      - "DataCollection"
      description: "Return data collection form"
      operationId: "getForms"
      parameters: []
      responses:
        200:
          description: "Success response"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/DataCollectionForm"
        default:
          description: "Unexpected error"
    post:
      tags:
      - "DataCollection"
      description: "Create data collection form"
      operationId: "createForm"
      parameters:
      - in: "body"
        name: "form"
        description: "form defenition which will be added"
        required: true
        schema:
          $ref: "#/definitions/DataCollectionForm"
      responses:
        204:
          description: "form item successfully added"
        default:
          description: "Unexpected error"
    put:
      tags:
      - "DataCollection"
      description: "Update data collection form"
      operationId: "updateForm"
      parameters:
      - name: "id"
        in: "path"
        description: "Unique identifier"
        required: true
        type: "string"
      - in: "body"
        name: "form"
        description: "form defenition which will be added"
        required: true
        schema:
          $ref: "#/definitions/DataCollectionForm"
      responses:
        204:
          description: "form item successfully updated/added"
        default:
          description: "Unexpected error"
    delete:
      tags:
      - "DataCollection"
      description: "Remove data collection form"
      operationId: "removeForm"
      parameters:
      - name: "id"
        in: "path"
        description: "Identifier of Data Collection form which which will be deleted."
        required: true
        type: "string"
      responses:
        204:
          description: "Form item successfully deleted"
        default:
          description: "Unexpected error"
  /datacollection/rule:
    get:
      tags:
      - "DataCollection"
      description: "Return data collection rules"
      operationId: "getRules"
      parameters: []
      responses:
        200:
          description: "Success response"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/DataCollectionRule"
        default:
          description: "Unexpected error"
      x-permission:
        mask: "view"
        keyCode: "COURSE"
        errorMessage: "Sorry, you have no permissions to view  data collection rules.\
          \ Please contact your administrator"
    post:
      tags:
      - "DataCollection"
      description: "Create data collection rule"
      operationId: "createRule"
      parameters:
      - in: "body"
        name: "form"
        description: "Rule defenition which will be added"
        required: true
        schema:
          $ref: "#/definitions/DataCollectionRule"
      responses:
        204:
          description: "Rule item successfully added"
        default:
          description: "Unexpected error"
    put:
      tags:
      - "DataCollection"
      description: "Update data collection rule"
      operationId: "updateRule"
      parameters:
      - name: "id"
        in: "path"
        description: "Unique identifier"
        required: true
        type: "string"
      - in: "body"
        name: "rule"
        description: "Rule defenition which will be added"
        required: true
        schema:
          $ref: "#/definitions/DataCollectionRule"
      responses:
        204:
          description: "Rule item successfully updated"
        default:
          description: "Unexpected error"
    delete:
      tags:
      - "DataCollection"
      description: "Remove data collection rule"
      operationId: "removeRule"
      parameters:
      - name: "id"
        in: "path"
        description: "Identifier of Data Collection rule which which will be deleted."
        required: true
        type: "string"
      responses:
        204:
          description: "Rule item successfully deleted"
        default:
          description: "Unexpected error"
  /export/avetmiss8:
    get:
      tags:
      - "AvetmissExport"
      description: "Retreives Avetmiss8 export files"
      operationId: "getExport"
      produces:
      - "application/zip"
      parameters:
      - name: "processId"
        in: "path"
        description: "Unique identifier of the process"
        required: true
        type: "string"
      responses:
        200:
          description: "Success response."
          schema:
            type: "file"
        default:
          description: "Unexpected error"
      x-permission:
        mask: "view"
        keyCode: "SPECIAL_AVETMISS_EXPORT"
        errorMessage: "Sorry, you have no permissions to get avetmiss export. Please\
          \ contact your administrator"
    put:
      tags:
      - "AvetmissExport"
      description: "Updates settings used to produce an Avetmiss8 export. Avetmiss8\
        \ exports output will be produced from these settings set by this method.\n"
      operationId: "exportAvetmiss8"
      parameters:
      - in: "body"
        name: "request parameters"
        description: "Avetmiss Export parameters"
        required: true
        schema:
          $ref: "#/definitions/AvetmissExportRequest"
      responses:
        200:
          description: "Avetmiss export settings response"
          schema:
            type: "string"
        default:
          description: "Unexpected error"
      x-permission:
        mask: "edit"
        keyCode: "SPECIAL_AVETMISS_EXPORT"
        errorMessage: "Sorry, you have no permissions to edit avetmiss export. Please\
          \ contact your administrator"
  /export/avetmiss8/outcomes:
    get:
      tags:
      - "AvetmissExport"
      operationId: "getExportOutcomes"
      parameters:
      - name: "processId"
        in: "path"
        description: "Unique identifier of the process"
        required: true
        type: "string"
      responses:
        200:
          schema:
            type: "array"
            items:
              $ref: "#/definitions/AvetmissExportOutcome"
        default:
          description: "Unexpected error"
      x-permission:
        mask: "view"
        keyCode: "SPECIAL_AVETMISS_EXPORT"
        errorMessage: "Sorry, you have no permissions to get avetmiss export. Please\
          \ contact your administrator"
    put:
      tags:
      - "AvetmissExport"
      operationId: "findExportOutcomes"
      parameters:
      - in: "body"
        name: "settings"
        description: "AvetmissExport Settings"
        required: true
        schema:
          $ref: "#/definitions/AvetmissExportSettings"
      responses:
        200:
          schema:
            type: "string"
        default:
          description: "Unexpected error"
      x-permission:
        mask: "edit"
        keyCode: "SPECIAL_AVETMISS_EXPORT"
        errorMessage: "Sorry, you have no permissions to edit avetmiss export. Please\
          \ contact your administrator"
  /export/avetmiss8/uploads:
    get:
      tags:
      - "FundingUpload"
      description: "Get funding uploads"
      operationId: "get"
      parameters:
      - name: "search"
        in: "query"
        description: "AQL search filter"
        required: false
        type: "string"
      responses:
        200:
          description: "Success response."
          schema:
            type: "array"
            items:
              $ref: "#/definitions/FundingUpload"
        default:
          description: "Unexpected error"
      x-permission:
        mask: "view"
        keyCode: "SPECIAL_AVETMISS_EXPORT"
        errorMessage: "Sorry, you have no permissions for avetmiss. Please contact\
          \ your administrator"
    put:
      tags:
      - "FundingUpload"
      description: "Update funding uploads"
      operationId: "update"
      parameters:
      - in: "body"
        name: "upload"
        required: true
        schema:
          $ref: "#/definitions/FundingUpload"
      responses:
        204:
          description: "Success response."
        default:
          description: "Unexpected error"
      x-permission:
        mask: "view"
        keyCode: "SPECIAL_AVETMISS_EXPORT"
        errorMessage: "Sorry, you have no permissions for avetmiss. Please contact\
          \ your administrator"
  /filter:
    get:
      tags:
      - "Filter"
      description: "Return saved filters"
      operationId: "get"
      parameters:
      - name: "entity"
        in: "query"
        description: "Entity name"
        required: true
        type: "string"
      responses:
        200:
          description: "Success response"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Filter"
        default:
          description: "Unexpected error"
      x-permission:
        mask: "view"
        keyCode: "LAZY/entity"
        errorMessage: "Sorry, you have no permissions to view custom filters for this\
          \ entity. Please contact your administrator"
    post:
      tags:
      - "Filter"
      description: "Save custom filter for entity"
      operationId: "save"
      parameters:
      - name: "entity"
        in: "query"
        description: "Entity name that will use in permission checking"
        required: true
        type: "string"
      - in: "body"
        name: "filter"
        description: "Module defenition which will be added"
        required: true
        schema:
          $ref: "#/definitions/Filter"
      responses:
        200:
          description: "Filter item successfully updated"
        default:
          description: "Unexpected error"
      x-permission:
        mask: "view"
        keyCode: "LAZY/entity"
        errorMessage: "Sorry, you have no permissions to create custom filters for\
          \ this entity. Please contact your administrator"
    delete:
      tags:
      - "Filter"
      description: "Remove custom filter"
      operationId: "delete"
      parameters:
      - name: "entity"
        in: "query"
        description: "Entity name that will use in permission checking"
        required: true
        type: "string"
      - name: "id"
        in: "path"
        description: "Identifier of filter which will be deleted."
        required: true
        type: "integer"
        format: "int64"
      responses:
        200:
          description: "Success response."
        default:
          description: "Unexpected error"
      x-permission:
        mask: "view"
        keyCode: "LAZY/entity"
        errorMessage: "Sorry, you have no permissions to delete custom filters for\
          \ this entity. Please contact your administrator"
  /holiday:
    get:
      tags:
      - "Holiday"
      description: "Get a list of all holidays"
      operationId: "get"
      parameters: []
      responses:
        200:
          description: "Success response."
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Holiday"
        default:
          description: "Unexpected error"
    post:
      tags:
      - "Holiday"
      description: "Update holidays items"
      operationId: "update"
      parameters:
      - in: "body"
        name: "holiday"
        description: "Holidays for update"
        required: true
        schema:
          type: "array"
          items:
            $ref: "#/definitions/Holiday"
      responses:
        204:
          description: "Success response."
        default:
          description: "Unexpected error"
    delete:
      tags:
      - "Holiday"
      description: "Remove holiday item"
      operationId: "remove"
      parameters:
      - name: "id"
        in: "path"
        description: "Identifier of holiday which will be deleted."
        required: true
        type: "string"
      responses:
        204:
          description: "Holiday item successfully deleted"
        default:
          description: "Unexpected error"
  /integration:
    get:
      tags:
      - "Integration"
      description: "Get list with all added integrations"
      operationId: "get"
      parameters: []
      responses:
        200:
          description: "Success response."
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Integration"
        default:
          description: "Unexpected error"
    post:
      tags:
      - "Integration"
      description: "Create a new integrations"
      operationId: "create"
      parameters:
      - in: "body"
        name: "integration"
        description: "integration item which will be added"
        required: true
        schema:
          $ref: "#/definitions/Integration"
      responses:
        204:
          description: "Integration item successfully added"
        default:
          description: "Unexpected error"
    put:
      tags:
      - "Integration"
      description: "Update integrations items"
      operationId: "update"
      parameters:
      - name: "id"
        in: "path"
        description: "Unique identifier"
        required: true
        type: "string"
      - in: "body"
        name: "integration"
        description: "integration item which will be added"
        required: true
        schema:
          $ref: "#/definitions/Integration"
      responses:
        204:
          description: "Integration item successfully updated"
        default:
          description: "Unexpected error"
    delete:
      tags:
      - "Integration"
      description: "Remove integration item"
      operationId: "remove"
      parameters:
      - name: "id"
        in: "path"
        description: "Identifier of integration which will be deleted."
        required: true
        type: "string"
      responses:
        204:
          description: "Integration item successfully deleted"
        default:
          description: "Unexpected error"
  /integration/auth/myob:
    get:
      tags:
      - "Integration"
      description: "Return authorization url to access your MYOB account in onCourse"
      operationId: "getMyobAuthUrl"
      parameters: []
      responses:
        200:
          description: "Response result."
          schema:
            type: "string"
        default:
          description: "Unexpected error"
  /invite:
    get:
      tags:
      - "User"
      description: "Get a user email by invitation token which is not expired"
      operationId: "getUserEmailByInvitation"
      parameters:
      - name: "invitationToken"
        in: "path"
        description: "Invitation token"
        required: true
        type: "string"
      responses:
        200:
          description: "Success response."
          schema:
            type: "string"
        400:
          description: "Bad request error."
          schema:
            type: "string"
        default:
          description: "Unexpected error"
    post:
      tags:
      - "User"
      description: "create password for new user"
      operationId: "createPassword"
      parameters:
      - name: "invitationToken"
        in: "path"
        description: "Invitation token"
        required: true
        type: "string"
      - name: "password"
        in: "query"
        description: "user password for create"
        required: true
        type: "string"
      responses:
        204:
          description: "Success response."
        default:
          description: "Unexpected error"
  /list:
    get:
      tags:
      - "Entity"
      description: "gets entities in a list"
      operationId: "get"
      parameters:
      - name: "entity"
        in: "query"
        description: "The onCourse entity name that you wish to get"
        required: true
        type: "string"
      - name: "search"
        in: "query"
        description: "a seach query to filter results. Entities that match this query\
          \ are returned"
        required: false
        type: "string"
      - name: "pageSize"
        in: "query"
        description: "returned list size"
        required: false
        type: "number"
      - name: "offset"
        in: "query"
        description: "selected list offset"
        required: false
        type: "number"
      responses:
        200:
          description: "Success response."
          schema:
            $ref: "#/definitions/DataResponse"
        default:
          description: "Unexpected error"
      x-permission:
        mask: "view"
        keyCode: "LAZY/entity"
        errorMessage: "Sorry, you have no permissions to view this entity. Please\
          \ contact your administrator"
    post:
      tags:
      - "Entity"
      description: "gets entities in a list"
      operationId: "getAll"
      parameters:
      - name: "entity"
        in: "query"
        description: "The onCourse entity name that you wish to get"
        required: true
        type: "string"
      - in: "body"
        name: "search"
        description: "search query for entity"
        required: true
        schema:
          $ref: "#/definitions/SearchQuery"
      responses:
        200:
          description: "Success response."
          schema:
            $ref: "#/definitions/DataResponse"
        default:
          description: "Unexpected error"
      x-permission:
        mask: "view"
        keyCode: "LAZY/entity"
        errorMessage: "Sorry, you have no permissions to view this entity. Please\
          \ contact your administrator"
  /list/column:
    put:
      tags:
      - "Entity"
      description: "Update table model for this entity"
      operationId: "updateTableModel"
      parameters:
      - name: "entity"
        in: "query"
        description: "onCourse entity name"
        required: true
        type: "string"
      - in: "body"
        name: "tableModel"
        description: "Table model"
        required: true
        schema:
          $ref: "#/definitions/TableModel"
      x-permission:
        mask: "view"
        keyCode: "LAZY/entity"
        errorMessage: "Sorry, you have no permissions to edit this entity. Please\
          \ contact your administrator"
  /list/entity/account:
    get:
      tags:
      - "Account"
      description: "Returns account record"
      operationId: "get"
      parameters:
      - name: "id"
        in: "path"
        description: "Unique identifier of account record to fetch"
        required: true
        type: "integer"
        format: "int64"
      responses:
        200:
          description: "Success response"
          schema:
            $ref: "#/definitions/Account"
        400:
          description: "Bad request error."
        default:
          description: "Unexpected error"
      x-permission:
        mask: "view"
        keyCode: "ACCOUNT"
        errorMessage: "Sorry, you have no permissions to get account. Please contact\
          \ your administrator"
    post:
      tags:
      - "Account"
      operationId: "create"
      parameters:
      - in: "body"
        name: "account"
        description: "account for create"
        required: true
        schema:
          $ref: "#/definitions/Account"
      responses:
        200:
          description: "Success response."
        400:
          description: "Bad request error."
        default:
          description: "Unexpected error"
      x-permission:
        mask: "create"
        keyCode: "ACCOUNT"
        errorMessage: "Sorry, you have no permissions to create account. Please contact\
          \ your administrator"
    put:
      tags:
      - "Account"
      operationId: "update"
      parameters:
      - name: "id"
        in: "path"
        description: "Unique identifier of account record to fetch"
        required: true
        type: "integer"
        format: "int64"
      - in: "body"
        name: "account"
        description: "account for update"
        required: true
        schema:
          $ref: "#/definitions/Account"
      responses:
        204:
          description: "Success response."
        400:
          description: "Bad request error."
        default:
          description: "Unexpected error"
      x-permission:
        mask: "edit"
        keyCode: "ACCOUNT"
        errorMessage: "Sorry, you have no permissions to edit account. Please contact\
          \ your administrator"
    delete:
      tags:
      - "Account"
      operationId: "remove"
      parameters:
      - name: "id"
        in: "path"
        description: "Unique identifier of account record to fetch"
        required: true
        type: "integer"
        format: "int64"
      responses:
        204:
          description: "Success response."
        400:
          description: "Bad request error."
        default:
          description: "Unexpected error"
      x-permission:
        mask: "delete"
        keyCode: "ACCOUNT"
        errorMessage: "Sorry, you have no permissions to delete account. Please contact\
          \ your administrator"
  /list/entity/account/depositAccounts:
    get:
      tags:
      - "Account"
      description: "get accounts for deposit banking"
      operationId: "getDepositAccounts"
      parameters: []
      responses:
        200:
          description: "Success response"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Account"
        default:
          description: "Unexpected error"
      x-permission:
        mask: "view"
        keyCode: "ACCOUNT"
        errorMessage: "Sorry, you have no permission to create banking. Please contact\
          \ your administrator"
  /list/entity/accountTransaction:
    get:
      tags:
      - "Transaction"
      description: "Returns a transaction record"
      operationId: "get"
      parameters:
      - name: "id"
        in: "path"
        description: "Unique identifier of transaction record to fetch"
        required: true
        type: "integer"
        format: "int64"
      responses:
        200:
          description: "Success response"
          schema:
            $ref: "#/definitions/Transaction"
        400:
          description: "Bad request error."
        default:
          description: "Unexpected error"
      x-permission:
        mask: "view"
        keyCode: "TRANSACTION"
        errorMessage: "Sorry, you have no permissions to get Transaction. Please contact\
          \ your administrator"
    post:
      tags:
      - "Transaction"
      description: "create a new Transaction"
      operationId: "create"
      parameters:
      - in: "body"
        name: "Transaction"
        description: "Transaction defenition which will be added"
        required: true
        schema:
          $ref: "#/definitions/Transaction"
      responses:
        200:
          description: "Transaction item successfully updated"
        default:
          description: "Unexpected error"
      x-permission:
        mask: "create"
        keyCode: "TRANSACTION"
        errorMessage: "Sorry, you have no permissions to create Transaction. Please\
          \ contact your administrator"
  /list/entity/application:
    get:
      tags:
      - "Application"
      description: "Returns application record"
      operationId: "get"
      parameters:
      - name: "id"
        in: "path"
        description: "Unique identifier of application record to fetch"
        required: true
        type: "integer"
        format: "int64"
      responses:
        200:
          description: "Success response"
          schema:
            $ref: "#/definitions/Application"
        400:
          description: "Bad request error."
        default:
          description: "Unexpected error"
      x-permission:
        mask: "view"
        keyCode: "APPLICATION"
        errorMessage: "Sorry, you have no permissions to get application. Please contact\
          \ your administrator"
    post:
      tags:
      - "Application"
      operationId: "create"
      parameters:
      - in: "body"
        name: "application"
        description: "application for create"
        required: true
        schema:
          $ref: "#/definitions/Application"
      responses:
        200:
          description: "Success response."
        400:
          description: "Bad request error."
        default:
          description: "Unexpected error"
      x-permission:
        mask: "create"
        keyCode: "APPLICATION"
        errorMessage: "Sorry, you have no permissions to create application. Please\
          \ contact your administrator"
    put:
      tags:
      - "Application"
      operationId: "update"
      parameters:
      - name: "id"
        in: "path"
        description: "Unique identifier of application record to fetch"
        required: true
        type: "integer"
        format: "int64"
      - in: "body"
        name: "application"
        description: "application for update"
        required: true
        schema:
          $ref: "#/definitions/Application"
      responses:
        204:
          description: "Success response."
        400:
          description: "Bad request error."
        default:
          description: "Unexpected error"
      x-permission:
        mask: "edit"
        keyCode: "APPLICATION"
        errorMessage: "Sorry, you have no permissions to edit application. Please\
          \ contact your administrator"
    delete:
      tags:
      - "Application"
      operationId: "remove"
      parameters:
      - name: "id"
        in: "path"
        description: "Unique identifier of application record to fetch"
        required: true
        type: "integer"
        format: "int64"
      responses:
        204:
          description: "Success response."
        400:
          description: "Bad request error."
        default:
          description: "Unexpected error"
      x-permission:
        mask: "delete"
        keyCode: "APPLICATION"
        errorMessage: "Sorry, you have no permissions to delete application. Please\
          \ contact your administrator"
    patch:
      tags:
      - "Application"
      operationId: "bulkChange"
      parameters:
      - in: "body"
        name: "diff"
        description: "applications for update"
        required: true
        schema:
          $ref: "#/definitions/Diff"
      responses:
        200:
          description: "Success response"
        400:
          description: "Bad request error"
        default:
          description: "Unexpected error"
      x-permission:
        mask: "edit"
        keyCode: "APPLICATION"
        errorMessage: "Sorry, you have no permissions to edit application. Please\
          \ contact your administrator."
  /list/entity/articleProduct:
    get:
      tags:
      - "ArticleProduct"
      description: "Returns article record"
      operationId: "get"
      parameters:
      - name: "id"
        in: "path"
        description: "Unique identifier of article record to fetch"
        required: true
        type: "integer"
        format: "int64"
      responses:
        200:
          description: "Success response"
          schema:
            $ref: "#/definitions/ArticleProduct"
        400:
          description: "Bad request error."
        default:
          description: "Unexpected error"
      x-permission:
        mask: "view"
        keyCode: "PRODUCT"
        errorMessage: "Sorry, you have no permissions to get article. Please contact\
          \ your administrator"
    post:
      tags:
      - "ArticleProduct"
      operationId: "create"
      parameters:
      - in: "body"
        name: "article"
        description: "article for create"
        required: true
        schema:
          $ref: "#/definitions/ArticleProduct"
      responses:
        200:
          description: "Success response."
        400:
          description: "Bad request error."
        default:
          description: "Unexpected error"
      x-permission:
        mask: "create"
        keyCode: "PRODUCT"
        errorMessage: "Sorry, you have no permissions to create article. Please contact\
          \ your administrator"
    put:
      tags:
      - "ArticleProduct"
      operationId: "update"
      parameters:
      - name: "id"
        in: "path"
        description: "Unique identifier of article record to fetch"
        required: true
        type: "integer"
        format: "int64"
      - in: "body"
        name: "article"
        description: "article for update"
        required: true
        schema:
          $ref: "#/definitions/ArticleProduct"
      responses:
        204:
          description: "Success response."
        400:
          description: "Bad request error."
        default:
          description: "Unexpected error"
      x-permission:
        mask: "edit"
        keyCode: "PRODUCT"
        errorMessage: "Sorry, you have no permissions to edit article. Please contact\
          \ your administrator"
  /list/entity/assessment:
    get:
      tags:
      - "Assessment"
      description: "Returns assessment record"
      operationId: "get"
      parameters:
      - name: "id"
        in: "path"
        description: "Unique identifier of assessment record to fetch"
        required: true
        type: "integer"
        format: "int64"
      responses:
        200:
          description: "Success response"
          schema:
            $ref: "#/definitions/Assessment"
        400:
          description: "Bad request error."
        default:
          description: "Unexpected error"
      x-permission:
        mask: "view"
        keyCode: "ASSESSMENT"
        errorMessage: "Sorry, you have no permissions to get assessment. Please contact\
          \ your administrator"
    post:
      tags:
      - "Assessment"
      operationId: "create"
      parameters:
      - in: "body"
        name: "assessment"
        description: "assessment for create"
        required: true
        schema:
          $ref: "#/definitions/Assessment"
      responses:
        200:
          description: "Success response."
        400:
          description: "Bad request error."
        default:
          description: "Unexpected error"
      x-permission:
        mask: "create"
        keyCode: "ASSESSMENT"
        errorMessage: "Sorry, you have no permissions to create assessment. Please\
          \ contact your administrator"
    put:
      tags:
      - "Assessment"
      operationId: "update"
      parameters:
      - name: "id"
        in: "path"
        description: "Unique identifier of assessment record to fetch"
        required: true
        type: "integer"
        format: "int64"
      - in: "body"
        name: "assessment"
        description: "assessment for update"
        required: true
        schema:
          $ref: "#/definitions/Assessment"
      responses:
        204:
          description: "Success response."
        400:
          description: "Bad request error."
        default:
          description: "Unexpected error"
      x-permission:
        mask: "edit"
        keyCode: "ASSESSMENT"
        errorMessage: "Sorry, you have no permissions to edit assessment. Please contact\
          \ your administrator"
    delete:
      tags:
      - "Assessment"
      operationId: "remove"
      parameters:
      - name: "id"
        in: "path"
        description: "Unique identifier of assessment record to fetch"
        required: true
        type: "integer"
        format: "int64"
      responses:
        204:
          description: "Success response."
        400:
          description: "Bad request error."
        default:
          description: "Unexpected error"
      x-permission:
        mask: "delete"
        keyCode: "ASSESSMENT"
        errorMessage: "Sorry, you have no permissions to delete assessment. Please\
          \ contact your administrator"
    patch:
      tags:
      - "Assessment"
      operationId: "bulkChange"
      parameters:
      - in: "body"
        name: "diff"
        description: "Assessments for update"
        required: true
        schema:
          $ref: "#/definitions/Diff"
      responses:
        200:
          description: "Success response"
        400:
          description: "Bad request error"
        default:
          description: "Unexpected error"
      x-permission:
        mask: "edit"
        keyCode: "ASSESSMENT"
        errorMessage: "Sorry, you have no permissions to edit assessment. Please contact\
          \ your administrator."
  /list/entity/audit:
    get:
      tags:
      - "Audit"
      description: "Returns an audit item"
      operationId: "get"
      parameters:
      - name: "id"
        in: "path"
        description: "Unique identifier of audit record to fetch"
        required: true
        type: "integer"
        format: "int64"
      responses:
        200:
          description: "Success response"
          schema:
            $ref: "#/definitions/Audit"
        default:
          description: "Unexpected error"
      x-permission:
        mask: "view"
        keyCode: "AUDIT_LOGGING"
        errorMessage: "Sorry, you have no permissions to get audits. Please contact\
          \ your administrator"
  /list/entity/banking:
    get:
      tags:
      - "Banking"
      description: "Returns Banking record"
      operationId: "get"
      parameters:
      - name: "id"
        in: "path"
        description: "Unique identifier of banking record to fetch"
        required: true
        type: "integer"
        format: "int64"
      responses:
        200:
          description: "Success response"
          schema:
            $ref: "#/definitions/Banking"
        400:
          description: "Bad request error."
        default:
          description: "Unexpected error"
      x-permission:
        mask: "view"
        keyCode: "BANKING"
        errorMessage: "Sorry, you have no permissions to get banking. Please contact\
          \ your administrator"
    post:
      tags:
      - "Banking"
      operationId: "create"
      parameters:
      - in: "body"
        name: "banking"
        description: "banking for create"
        required: true
        schema:
          $ref: "#/definitions/Banking"
      responses:
        200:
          description: "Success response."
        400:
          description: "Bad request error."
        default:
          description: "Unexpected error"
      x-permission:
        mask: "create"
        keyCode: "BANKING"
        errorMessage: "Sorry, you have no permissions to create banking. Please contact\
          \ your administrator"
    put:
      tags:
      - "Banking"
      operationId: "update"
      parameters:
      - name: "id"
        in: "path"
        description: "Unique identifier of banking record to update"
        required: true
        type: "integer"
        format: "int64"
      - in: "body"
        name: "banking"
        description: "banking for update"
        required: true
        schema:
          $ref: "#/definitions/Banking"
      responses:
        204:
          description: "Success response."
        400:
          description: "Bad request error."
        default:
          description: "Unexpected error"
      x-permission:
        mask: "edit"
        keyCode: "BANKING"
        errorMessage: "Sorry, you have no permissions to edit banking. Please contact\
          \ your administrator"
    delete:
      tags:
      - "Banking"
      operationId: "remove"
      parameters:
      - name: "id"
        in: "path"
        description: "Unique identifier of banking record to delete"
        required: true
        type: "integer"
        format: "int64"
      responses:
        204:
          description: "Success response."
        400:
          description: "Bad request error."
        default:
          description: "Unexpected error"
      x-permission:
        mask: "delete"
        keyCode: "BANKING"
        errorMessage: "Sorry, you have no permissions to delete banking. Please contact\
          \ your administrator"
  /list/entity/banking/reconcile:
    post:
      tags:
      - "Banking"
      description: "reconcile banking deposits"
      operationId: "reconcile"
      parameters:
      - in: "body"
        name: "ids"
        required: true
        schema:
          type: "array"
          items:
            type: "integer"
            format: "int64"
      responses:
        200:
          description: "Banking deposits reconciled"
        default:
          description: "Unexpected error"
      x-permission:
        mask: "edit"
        keyCode: "BANKING"
        errorMessage: "Sorry, you have no permission to reconcile banking deposits.\
          \ Please contact your administrator"
  /list/entity/banking/depositPayments:
    get:
      tags:
      - "Banking"
      description: "get payments for deposit banking"
      operationId: "getDepositPayments"
      parameters:
      - name: "accountId"
        in: "path"
        required: true
        type: "integer"
        format: "int64"
      - name: "adminCenterId"
        in: "path"
        required: true
        type: "integer"
        format: "int64"
      responses:
        200:
          description: "Success response"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Payment"
        default:
          description: "Unexpected error"
      x-permission:
        mask: "create"
        keyCode: "BANKING"
        errorMessage: "Sorry, you have no permission to create banking. Please contact\
          \ your administrator"
  /list/entity/certificate:
    get:
      tags:
      - "Certificate"
      description: "Returns certificate record"
      operationId: "get"
      parameters:
      - name: "id"
        in: "path"
        description: "Unique identifier of certificate record to fetch"
        required: true
        type: "integer"
        format: "int64"
      responses:
        200:
          description: "Success response"
          schema:
            $ref: "#/definitions/Certificate"
        400:
          description: "Bad request error."
        default:
          description: "Unexpected error"
      x-permission:
        mask: "view"
        keyCode: "CERTIFICATE"
        errorMessage: "Sorry, you have no permissions to get certificate. Please contact\
          \ your administrator"
    post:
      tags:
      - "Certificate"
      operationId: "create"
      parameters:
      - in: "body"
        name: "certificate"
        description: "certificate for create"
        required: true
        schema:
          $ref: "#/definitions/Certificate"
      responses:
        200:
          description: "Success response."
        400:
          description: "Bad request error."
        default:
          description: "Unexpected error"
      x-permission:
        mask: "create"
        keyCode: "CERTIFICATE"
        errorMessage: "Sorry, you have no permissions to create certificate. Please\
          \ contact your administrator"
    put:
      tags:
      - "Certificate"
      operationId: "update"
      parameters:
      - name: "id"
        in: "path"
        description: "Unique identifier of certificate record to fetch"
        required: true
        type: "integer"
        format: "int64"
      - in: "body"
        name: "certificate"
        description: "certificate for update"
        required: true
        schema:
          $ref: "#/definitions/Certificate"
      responses:
        204:
          description: "Success response."
        400:
          description: "Bad request error."
        default:
          description: "Unexpected error"
      x-permission:
        mask: "edit"
        keyCode: "CERTIFICATE"
        errorMessage: "Sorry, you have no permissions to edit certificate. Please\
          \ contact your administrator"
    delete:
      tags:
      - "Certificate"
      operationId: "remove"
      parameters:
      - name: "id"
        in: "path"
        description: "Unique identifier of certificate record to fetch"
        required: true
        type: "integer"
        format: "int64"
      responses:
        204:
          description: "Success response."
        400:
          description: "Bad request error."
        default:
          description: "Unexpected error"
      x-permission:
        mask: "delete"
        keyCode: "CERTIFICATE"
        errorMessage: "Sorry, you have no permissions to delete certificate. Please\
          \ contact your administrator"
  /list/entity/certificate/revoke:
    post:
      tags:
      - "Certificate"
      description: "revoke certificate"
      operationId: "revoke"
      parameters:
      - in: "body"
        name: "revokeRequest"
        description: "Special request to the server to revoke certificates, contains\
          \ ids of certificates and the reason of revoking"
        required: true
        schema:
          $ref: "#/definitions/CertificateRevokeRequest"
      responses:
        200:
          description: "certificate revoked"
        default:
          description: "Unexpected error"
      x-permission:
        mask: "edit"
        keyCode: "CERTIFICATE"
        errorMessage: "Sorry, you have no permissions to revoke certificate. Please\
          \ contact your administrator"
  /list/entity/certificate/validation:
    post:
      tags:
      - "Certificate"
      operationId: "validateForPrint"
      parameters:
      - in: "body"
        name: "validationRequest"
        description: "Request for validation with filters and sorting"
        required: true
        schema:
          $ref: "#/definitions/CertificateValidationRequest"
      responses:
        200:
          description: "Success response."
          schema:
            type: "string"
        400:
          description: "Bad request error."
        default:
          description: "Unexpected error"
      x-permission:
        mask: "print"
        keyCode: "CERTIFICATE"
        errorMessage: "Sorry, you have no permissions to print certificate. Please\
          \ contact your administrator"
  /list/entity/certificate/enrolment:
    post:
      tags:
      - "Certificate"
      description: "create certificates by enrolment ids"
      operationId: "createForEnrolments"
      parameters:
      - in: "body"
        name: "createRequest"
        description: "Request object with enrolments data"
        required: true
        schema:
          $ref: "#/definitions/CertificateCreateForEnrolmentsRequest"
      responses:
        200:
          schema:
            type: "array"
            items:
              type: "integer"
              format: "int64"
        default:
          description: "Unexpected error"
      x-permission:
        mask: "edit"
        keyCode: "SPECIAL_CERTIFICATE"
        errorMessage: "Sorry, you have no permissions to create certificates. Please\
          \ contact your administrator"
  /list/entity/corporatepass:
    get:
      tags:
      - "CorporatePass"
      description: "Return corporate pass record"
      operationId: "get"
      parameters:
      - name: "id"
        in: "path"
        description: "Unique identifier of corporate pass record to fetch"
        required: true
        type: "integer"
        format: "int64"
      responses:
        200:
          description: "Success response"
          schema:
            $ref: "#/definitions/CorporatePass"
        400:
          description: "Bad request error."
        default:
          description: "Unexpected error"
      x-permission:
        mask: "view"
        keyCode: "CORPORATE_PASS"
        errorMessage: "Sorry, you have no permissions to get corporate pass. Please\
          \ contact your administrator"
    post:
      tags:
      - "CorporatePass"
      description: "Create corporate pass record"
      operationId: "create"
      parameters:
      - in: "body"
        name: "corporatePass"
        description: "corporate pass for create"
        required: true
        schema:
          $ref: "#/definitions/CorporatePass"
      responses:
        200:
          description: "Success response."
        400:
          description: "Bad request error."
        default:
          description: "Unexpected error"
      x-permission:
        mask: "create"
        keyCode: "CORPORATE_PASS"
        errorMessage: "Sorry, you have no permissions to create corporate pass. Please\
          \ contact your administrator"
    put:
      tags:
      - "CorporatePass"
      description: "Update existing corporate pass record"
      operationId: "update"
      parameters:
      - name: "id"
        in: "path"
        description: "Unique identifier of corporate pass record to fetch"
        required: true
        type: "integer"
        format: "int64"
      - in: "body"
        name: "corporatePass"
        description: "corporate pass for update"
        required: true
        schema:
          $ref: "#/definitions/CorporatePass"
      responses:
        204:
          description: "Success response."
        400:
          description: "Bad request error."
        default:
          description: "Unexpected error"
      x-permission:
        mask: "edit"
        keyCode: "CORPORATE_PASS"
        errorMessage: "Sorry, you have no permissions to edit corporate pass. Please\
          \ contact your administrator"
    delete:
      tags:
      - "CorporatePass"
      description: "delete existing corporate pass record"
      operationId: "remove"
      parameters:
      - name: "id"
        in: "path"
        description: "Unique identifier of corporate pass record to fetch"
        required: true
        type: "integer"
        format: "int64"
      responses:
        204:
          description: "Success response."
        400:
          description: "Bad request error."
        default:
          description: "Unexpected error"
      x-permission:
        mask: "delete"
        keyCode: "CORPORATE_PASS"
        errorMessage: "Sorry, you have no permissions to delete corporate pass. Please\
          \ contact your administrator"
  /list/entity/course:
    get:
      tags:
      - "Course"
      description: "Returns course record"
      operationId: "get"
      parameters:
      - name: "id"
        in: "path"
        description: "Unique identifier of course record to fetch"
        required: true
        type: "integer"
        format: "int64"
      responses:
        200:
          description: "Success response"
          schema:
            $ref: "#/definitions/Course"
        400:
          description: "Bad request error."
        default:
          description: "Unexpected error"
      x-permission:
        mask: "view"
        keyCode: "COURSE"
        errorMessage: "Sorry, you have no permissions to get course. Please contact\
          \ your administrator"
    post:
      tags:
      - "Course"
      operationId: "create"
      parameters:
      - in: "body"
        name: "course"
        description: "course for create"
        required: true
        schema:
          $ref: "#/definitions/Course"
      responses:
        200:
          description: "Success response."
        400:
          description: "Bad request error."
        default:
          description: "Unexpected error"
      x-permission:
        mask: "create"
        keyCode: "COURSE"
        errorMessage: "Sorry, you have no permissions to create course. Please contact\
          \ your administrator"
    put:
      tags:
      - "Course"
      operationId: "update"
      parameters:
      - name: "id"
        in: "path"
        description: "Unique identifier of course record to fetch"
        required: true
        type: "integer"
        format: "int64"
      - in: "body"
        name: "course"
        description: "course for update"
        required: true
        schema:
          $ref: "#/definitions/Course"
      responses:
        204:
          description: "Success response."
        400:
          description: "Bad request error."
        default:
          description: "Unexpected error"
      x-permission:
        mask: "edit"
        keyCode: "COURSE"
        errorMessage: "Sorry, you have no permissions to edit course. Please contact\
          \ your administrator"
    delete:
      tags:
      - "Course"
      operationId: "remove"
      parameters:
      - name: "id"
        in: "path"
        description: "Unique identifier of course record to fetch"
        required: true
        type: "integer"
        format: "int64"
      responses:
        204:
          description: "Success response."
        400:
          description: "Bad request error."
        default:
          description: "Unexpected error"
      x-permission:
        mask: "delete"
        keyCode: "COURSE"
        errorMessage: "Sorry, you have no permissions to delete course. Please contact\
          \ your administrator"
    patch:
      tags:
      - "Course"
      operationId: "bulkChange"
      parameters:
      - in: "body"
        name: "diff"
        description: "course for update"
        required: true
        schema:
          $ref: "#/definitions/Diff"
      responses:
        200:
          description: "Success responc"
        400:
          description: "Bad request error."
        default:
          description: "Unexpected error"
      x-permission:
        mask: "edit"
        keyCode: "COURSE"
        errorMessage: "Sorry, you have no permissions to edit course. Please contact\
          \ your administrator"
  /list/entity/course/duplicate:
    post:
      tags:
      - "Course"
      operationId: "duplicateCourse"
      parameters:
      - in: "body"
        name: "courseIds"
        required: true
        schema:
          type: "array"
          items:
            type: "integer"
            format: "int64"
      responses:
        200:
          description: "Success response."
        400:
          description: "Bad request error."
        default:
          description: "Unexpected error"
      x-permission:
        mask: "create"
        keyCode: "COURSE"
        errorMessage: "Sorry, you have no permissions to duplicate course. Please\
          \ contact your administrator"
  /list/entity/courseClass:
    get:
      tags:
      - "CourseClass"
      description: "Returns courseClass record"
      operationId: "get"
      parameters:
      - name: "id"
        in: "path"
        description: "Unique identifier of course record to fetch"
        required: true
        type: "integer"
        format: "int64"
      responses:
        200:
          description: "Success response"
          schema:
            $ref: "#/definitions/CourseClass"
        400:
          description: "Bad request error."
        default:
          description: "Unexpected error"
      x-permission:
        mask: "view"
        keyCode: "CLASS"
        errorMessage: "Sorry, you have no permissions to get course. Please contact\
          \ your administrator"
    post:
      tags:
      - "CourseClass"
      description: "Create class record"
      operationId: "create"
      parameters:
      - in: "body"
        name: "courseClass"
        description: "discount for create"
        required: true
        schema:
          $ref: "#/definitions/CourseClass"
      responses:
        200:
          description: "Success response."
          schema:
            type: "integer"
            format: "int64"
        400:
          description: "Bad request error."
        default:
          description: "Unexpected error"
      x-permission:
        mask: "create"
        keyCode: "CLASS"
        errorMessage: "Sorry, you have no permissions to create class. Please contact\
          \ your administrator"
    put:
      tags:
      - "CourseClass"
      description: "Update existing class record"
      operationId: "update"
      parameters:
      - name: "id"
        in: "path"
        description: "Unique identifier of discount record to fetch"
        required: true
        type: "integer"
        format: "int64"
      - in: "body"
        name: "courseClass"
        description: "class for update"
        required: true
        schema:
          $ref: "#/definitions/CourseClass"
      responses:
        204:
          description: "Success response."
        400:
          description: "Bad request error."
        default:
          description: "Unexpected error"
      x-permission:
        mask: "edit"
        keyCode: "CLASS"
        errorMessage: "Sorry, you have no permissions to edit class. Please contact\
          \ your administrator"
    delete:
      tags:
      - "CourseClass"
      description: "delete existing class record"
      operationId: "remove"
      parameters:
      - name: "id"
        in: "path"
        description: "Unique identifier of class record"
        required: true
        type: "integer"
        format: "int64"
      responses:
        204:
          description: "Success response."
        400:
          description: "Bad request error."
        default:
          description: "Unexpected error"
      x-permission:
        mask: "delete"
        keyCode: "CLASS"
        errorMessage: "Sorry, you have no permissions to delete class. Please contact\
          \ your administrator"
    patch:
      tags:
      - "CourseClass"
      operationId: "bulkChange"
      parameters:
      - in: "body"
        name: "diff"
        description: "classes for update"
        required: true
        schema:
          $ref: "#/definitions/Diff"
      responses:
        200:
          description: "Success response"
        400:
          description: "Bad request error."
        default:
          description: "Unexpected error"
      x-permission:
        mask: "edit"
        keyCode: "CLASS"
        errorMessage: "Sorry, you have no permissions to edit class. Please contact\
          \ your administrator"
  /list/entity/courseClass/budget:
    get:
      tags:
      - "ClassCost"
      description: "Returns class budget items"
      operationId: "get"
      parameters:
      - name: "classId"
        in: "path"
        description: "Unique identifier of class record to fetch budget items"
        required: true
        type: "integer"
        format: "int64"
      responses:
        200:
          description: "Success response"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/ClassCost"
        400:
          description: "Bad request error."
        default:
          description: "Unexpected error"
      x-permission:
        mask: "view"
        keyCode: "BUDGET"
        errorMessage: "Sorry, you have no permissions to get class budget. Please\
          \ contact your administrator"
    post:
      tags:
      - "ClassCost"
      description: "Create class badget item"
      operationId: "create"
      parameters:
      - in: "body"
        name: "classCost"
        description: "ClassCost to create"
        required: true
        schema:
          $ref: "#/definitions/ClassCost"
      responses:
        200:
          description: "Success response"
        400:
          description: "Bad request error."
        default:
          description: "Unexpected error"
      x-permission:
        mask: "edit"
        keyCode: "BUDGET"
        errorMessage: "Sorry, you have no permissions to create class badget item.\
          \ Please contact your administrator"
    put:
      tags:
      - "ClassCost"
      description: "Update class budget item"
      operationId: "update"
      parameters:
      - name: "id"
        in: "path"
        description: "Unique identifier of ClassCost record for update"
        required: true
        type: "integer"
        format: "int64"
      - in: "body"
        name: "classCost"
        description: "ClassCost for update"
        required: true
        schema:
          $ref: "#/definitions/ClassCost"
      responses:
        200:
          description: "Success response"
        400:
          description: "Bad request error."
        default:
          description: "Unexpected error"
      x-permission:
        mask: "edit"
        keyCode: "BUDGET"
        errorMessage: "Sorry, you have no permissions to edit class budget. Please\
          \ contact your administrator"
    delete:
      tags:
      - "ClassCost"
      description: "Delete class budget item"
      operationId: "delete"
      parameters:
      - name: "id"
        in: "path"
        description: "Unique identifier of course tutor to delete"
        required: true
        type: "integer"
        format: "int64"
      responses:
        200:
          description: "Success response"
        400:
          description: "Bad request error."
        default:
          description: "Unexpected error"
      x-permission:
        mask: "delete"
        keyCode: "BUDGET"
        errorMessage: "Sorry, you have no permissions to delete class badget item.\
          \ Please contact your administrator"
  /list/entity/courseClass/duplicate:
    post:
      tags:
      - "CourseClass"
      operationId: "duplicateClass"
      parameters:
      - in: "body"
        name: "CourseClassDuplicate"
        required: true
        schema:
          $ref: "#/definitions/CourseClassDuplicate"
      responses:
        200:
          description: "Success response."
          schema:
            type: "array"
            items:
              type: "integer"
              format: "int64"
        400:
          description: "Bad request error."
        default:
          description: "Unexpected error"
      x-permission:
        mask: "create"
        keyCode: "SPECIAL_DUPLICATE"
        errorMessage: "Sorry, you have no permissions to duplicate class. Please contact\
          \ your administrator"
  /list/entity/courseClass/cancel:
    post:
      tags:
      - "CourseClass"
      operationId: "cancelClass"
      parameters:
      - in: "body"
        name: "CancelCourseClass"
        required: true
        schema:
          $ref: "#/definitions/CancelCourseClass"
      responses:
        200:
          description: "Success response."
        400:
          description: "Bad request error."
        default:
          description: "Unexpected error"
      x-permission:
        mask: "edit"
        keyCode: "SPECIAL_CLASS_CANCEL"
        errorMessage: "Sorry, you have no permissions to cancel class. Please contact\
          \ your administrator"
  /list/entity/courseClass/tutor:
    get:
      tags:
      - "CourseClassTutor"
      description: "Returns courseClass tutor items"
      operationId: "get"
      parameters:
      - name: "classId"
        in: "path"
        description: "Unique identifier of course record to fetch"
        required: true
        type: "integer"
        format: "int64"
      responses:
        200:
          description: "Success response"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/CourseClassTutor"
        400:
          description: "Bad request error."
        default:
          description: "Unexpected error"
      x-permission:
        mask: "view"
        keyCode: "CLASS"
        errorMessage: "Sorry, you have no permissions to get course class tutors.\
          \ Please contact your administrator"
    post:
      tags:
      - "CourseClassTutor"
      description: "Create courseClass tutor item"
      operationId: "create"
      parameters:
      - in: "body"
        name: "tutor"
        description: "tutor to create"
        required: true
        schema:
          $ref: "#/definitions/CourseClassTutor"
      responses:
        200:
          description: "Success response"
          schema:
            type: "integer"
            format: "int64"
        400:
          description: "Bad request error."
        default:
          description: "Unexpected error"
      x-permission:
        mask: "edit"
        keyCode: "CLASS"
        errorMessage: "Sorry, you have no permissions to create course class tutors.\
          \ Please contact your administrator"
    put:
      tags:
      - "CourseClassTutor"
      description: "Update courseClass tutor item"
      operationId: "update"
      parameters:
      - name: "id"
        in: "path"
        description: "Unique identifier of course tutor for update"
        required: true
        type: "integer"
        format: "int64"
      - in: "body"
        name: "tutor"
        description: "tutor for update"
        required: true
        schema:
          $ref: "#/definitions/CourseClassTutor"
      responses:
        200:
          description: "Success response"
        400:
          description: "Bad request error."
        default:
          description: "Unexpected error"
      x-permission:
        mask: "edit"
        keyCode: "CLASS"
        errorMessage: "Sorry, you have no permissions to edit course class tutors.\
          \ Please contact your administrator"
    delete:
      tags:
      - "CourseClassTutor"
      description: "Delete courseClass tutor item"
      operationId: "delete"
      parameters:
      - name: "id"
        in: "path"
        description: "Unique identifier of course tutor to delete"
        required: true
        type: "integer"
        format: "int64"
      responses:
        200:
          description: "Success response"
        400:
          description: "Bad request error."
        default:
          description: "Unexpected error"
      x-permission:
        mask: "edit"
        keyCode: "CLASS"
        errorMessage: "Sorry, you have no permissions to delete course class tutors.\
          \ Please contact your administrator"
  /list/entity/courseClass/trainingPlan:
    get:
      tags:
      - "CourseClass"
      description: "Returns courseClass training plans"
      operationId: "getTrainingPlan"
      parameters:
      - name: "id"
        in: "path"
        description: "Unique identifier of class"
        required: true
        type: "integer"
        format: "int64"
      responses:
        200:
          description: "Success response"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/TrainingPlan"
        400:
          description: "Bad request error."
        default:
          description: "Unexpected error"
      x-permission:
        mask: "view"
        keyCode: "CLASS"
        errorMessage: "Sorry, you have no permissions to get course. Please contact\
          \ your administrator"
    post:
      tags:
      - "CourseClass"
      description: "Updates courseClass training plans"
      operationId: "updateTrainingPlan"
      parameters:
      - name: "id"
        in: "path"
        description: "Unique identifier of class"
        required: true
        type: "integer"
        format: "int64"
      - in: "body"
        name: "trainingPlans"
        description: "updated student training plans"
        required: false
        schema:
          type: "array"
          items:
            $ref: "#/definitions/TrainingPlan"
      responses:
        200:
          description: "Success response"
        400:
          description: "Bad request error."
        default:
          description: "Unexpected error"
      x-permission:
        mask: "edit"
        keyCode: "CLASS"
        errorMessage: "Sorry, you have no permissions to edit training plans. Please\
          \ contact your administrator"
  /list/entity/courseClass/attendance/student:
    get:
      tags:
      - "Attendance"
      description: "Returns courseClass tutor items"
      operationId: "get"
      parameters:
      - name: "courseClassId"
        in: "path"
        description: "Unique identifier of class"
        required: true
        type: "integer"
        format: "int64"
      responses:
        200:
          description: "Success response"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/StudentAttendance"
        400:
          description: "Bad request error."
        default:
          description: "Unexpected error"
      x-permission:
        mask: "view"
        keyCode: "CLASS"
        errorMessage: "Sorry, you have no permissions to get student attendance. Please\
          \ contact your administrator"
        license:
          code: "license.attendance"
          errorMessage: "You have not license for attendances"
    post:
      tags:
      - "Attendance"
      description: "Submit courseClass tutor items"
      operationId: "update"
      parameters:
      - name: "courseClassId"
        in: "path"
        description: "Unique identifier of class"
        required: true
        type: "integer"
        format: "int64"
      - in: "body"
        name: "studentAttendance"
        description: "updated student attendance items"
        required: false
        schema:
          type: "array"
          items:
            $ref: "#/definitions/StudentAttendance"
      responses:
        200:
          description: "Success response"
        400:
          description: "Bad request error."
        default:
          description: "Unexpected error"
      x-permission:
        mask: "edit"
        keyCode: "CLASS"
        errorMessage: "Sorry, you have no permissions to edit student attendance.\
          \ Please contact your administrator"
        license:
          code: "license.attendance"
          errorMessage: "You have not license for attendances"
  /list/entity/courseClass/attendance/tutor:
    get:
      tags:
      - "TutorAttendance"
      description: "Returns courseClass tutor items"
      operationId: "get"
      parameters:
      - name: "classId"
        in: "path"
        description: "Unique identifier of class"
        required: true
        type: "integer"
        format: "int64"
      responses:
        200:
          description: "Success response"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/TutorAttendance"
        400:
          description: "Bad request error."
        default:
          description: "Unexpected error"
      x-permission:
        mask: "view"
        keyCode: "CLASS"
        errorMessage: "Sorry, you have no permissions to get tutor attendance. Please\
          \ contact your administrator"
    post:
      tags:
      - "TutorAttendance"
      description: "Updates courseClass tutor items"
      operationId: "update"
      parameters:
      - name: "classId"
        in: "path"
        description: "Unique identifier of class"
        required: true
        type: "integer"
        format: "int64"
      - in: "body"
        name: "tutorAttendance"
        required: false
        schema:
          type: "array"
          items:
            $ref: "#/definitions/TutorAttendance"
      responses:
        200:
          description: "Success response"
        400:
          description: "Bad request error."
        default:
          description: "Unexpected error"
      x-permission:
        mask: "edit"
        keyCode: "CLASS"
        errorMessage: "Sorry, you have no permissions to edit tutor attendance. Please\
          \ contact your administrator"
        license:
          code: "license.payroll"
          errorMessage: "You do not have the licence for payroll"
  /list/entity/courseClass/assessment:
    get:
      tags:
      - "AssessmentClass"
      description: "Returns class assessments"
      operationId: "getClassAssessments"
      parameters:
      - name: "classId"
        in: "path"
        description: "Unique identifier of course record to fetch"
        required: true
        type: "integer"
        format: "int64"
      responses:
        200:
          description: "Success response"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/AssessmentClass"
        400:
          description: "Bad request error."
        default:
          description: "Unexpected error"
      x-permission:
        mask: "view"
        keyCode: "CLASS"
        errorMessage: "Sorry, you have no permissions to get class assessments. Please\
          \ contact your administrator"
    post:
      tags:
      - "AssessmentClass"
      description: "Create class record"
      operationId: "create"
      parameters:
      - in: "body"
        name: "assessmentClass"
        description: "assessment class for create"
        required: true
        schema:
          $ref: "#/definitions/AssessmentClass"
      responses:
        200:
          description: "Success response."
        400:
          description: "Bad request error."
        default:
          description: "Unexpected error"
      x-permission:
        mask: "create"
        keyCode: "CLASS"
        errorMessage: "Sorry, you have no permissions to create Assessment Class.\
          \ Please contact your administrator"
    put:
      tags:
      - "AssessmentClass"
      description: "Update existing Assessment Class record"
      operationId: "update"
      parameters:
      - name: "id"
        in: "path"
        description: "Unique identifier of Assessment Class record to fetch"
        required: true
        type: "integer"
        format: "int64"
      - in: "body"
        name: "assessmentClass"
        description: "Assessment class for update"
        required: true
        schema:
          $ref: "#/definitions/AssessmentClass"
      responses:
        204:
          description: "Success response."
        400:
          description: "Bad request error."
        default:
          description: "Unexpected error"
      x-permission:
        mask: "edit"
        keyCode: "CLASS"
        errorMessage: "Sorry, you have no permissions to edit Assessment Class. Please\
          \ contact your administrator"
    delete:
      tags:
      - "AssessmentClass"
      description: "delete existing Assessment Class record"
      operationId: "remove"
      parameters:
      - name: "id"
        in: "path"
        description: "Unique identifier of Assessment Class record"
        required: true
        type: "integer"
        format: "int64"
      responses:
        204:
          description: "Success response."
        400:
          description: "Bad request error."
        default:
          description: "Unexpected error"
      x-permission:
        mask: "delete"
        keyCode: "CLASS"
        errorMessage: "Sorry, you have no permissions to delete Assessment Class.\
          \ Please contact your administrator"
  /list/entity/courseClass/timetable:
    get:
      tags:
      - "Session"
      description: "Returns courseClass record"
      operationId: "get"
      parameters:
      - name: "classId"
        in: "path"
        description: "Unique identifier of class"
        required: true
        type: "integer"
        format: "int64"
      responses:
        200:
          description: "Success response"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Session"
        400:
          description: "Bad request error."
        default:
          description: "Unexpected error"
      x-permission:
        mask: "view"
        keyCode: "SESSION"
        errorMessage: "Sorry, you have no permissions to view timetable events. Please\
          \ contact your administrator"
    post:
      tags:
      - "Session"
      description: "Bulk update of session record"
      operationId: "update"
      parameters:
      - name: "classId"
        in: "path"
        description: "Unique identifier of class"
        required: true
        type: "integer"
        format: "int64"
      - in: "body"
        name: "sessions"
        description: "Unique identifier of class"
        required: true
        schema:
          type: "array"
          items:
            $ref: "#/definitions/Session"
      responses:
        200:
          description: "Clash validation response"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/SessionWarning"
        400:
          description: "Bad request error."
        default:
          description: "Unexpected error"
      x-permission:
        mask: "edit"
        keyCode: "SESSION"
        errorMessage: "Sorry, you have no permissions to edit timetable events. Please\
          \ contact your administrator"
  /list/entity/definedTutorRole:
    get:
      tags:
      - "TutorRole"
      description: "Returns tutor role record"
      operationId: "get"
      parameters:
      - name: "id"
        in: "path"
        description: "Unique identifier of tutor role record to fetch"
        required: true
        type: "integer"
        format: "int64"
      responses:
        200:
          description: "Success response"
          schema:
            $ref: "#/definitions/DefinedTutorRole"
        400:
          description: "Bad request error."
        default:
          description: "Unexpected error"
      x-permission:
        keyCode: "UNDEFINED"
    post:
      tags:
      - "TutorRole"
      operationId: "create"
      parameters:
      - in: "body"
        name: "tutorRole"
        description: "tutor role for create"
        required: true
        schema:
          $ref: "#/definitions/DefinedTutorRole"
      responses:
        200:
          description: "Success response."
        400:
          description: "Bad request error."
        default:
          description: "Unexpected error"
    put:
      tags:
      - "TutorRole"
      operationId: "update"
      parameters:
      - name: "id"
        in: "path"
        description: "Unique identifier of tutor role record to fetch"
        required: true
        type: "integer"
        format: "int64"
      - in: "body"
        name: "tutorRole"
        description: "tutor role for update"
        required: true
        schema:
          $ref: "#/definitions/DefinedTutorRole"
      responses:
        204:
          description: "Success response."
        400:
          description: "Bad request error."
        default:
          description: "Unexpected error"
    delete:
      tags:
      - "TutorRole"
      operationId: "remove"
      parameters:
      - name: "id"
        in: "path"
        description: "Unique identifier of tutor role record to fetch"
        required: true
        type: "integer"
        format: "int64"
      responses:
        204:
          description: "Success response."
        400:
          description: "Bad request error."
        default:
          description: "Unexpected error"
  /list/entity/discount:
    get:
      tags:
      - "Discount"
      description: "Return discount record"
      operationId: "get"
      parameters:
      - name: "id"
        in: "path"
        description: "Unique identifier of discount record to fetch"
        required: true
        type: "integer"
        format: "int64"
      responses:
        200:
          description: "Success response"
          schema:
            $ref: "#/definitions/Discount"
        400:
          description: "Bad request error."
        default:
          description: "Unexpected error"
      x-permission:
        mask: "view"
        keyCode: "DISCOUNT"
        errorMessage: "Sorry, you have no permissions to get discount. Please contact\
          \ your administrator"
    post:
      tags:
      - "Discount"
      description: "Create discount record"
      operationId: "create"
      parameters:
      - in: "body"
        name: "discount"
        description: "discount for create"
        required: true
        schema:
          $ref: "#/definitions/Discount"
      responses:
        200:
          description: "Success response."
        400:
          description: "Bad request error."
        default:
          description: "Unexpected error"
      x-permission:
        mask: "create"
        keyCode: "DISCOUNT"
        errorMessage: "Sorry, you have no permissions to create discount. Please contact\
          \ your administrator"
    put:
      tags:
      - "Discount"
      description: "Update existing discount record"
      operationId: "update"
      parameters:
      - name: "id"
        in: "path"
        description: "Unique identifier of discount record to fetch"
        required: true
        type: "integer"
        format: "int64"
      - in: "body"
        name: "discount"
        description: "discount for update"
        required: true
        schema:
          $ref: "#/definitions/Discount"
      responses:
        204:
          description: "Success response."
        400:
          description: "Bad request error."
        default:
          description: "Unexpected error"
      x-permission:
        mask: "edit"
        keyCode: "DISCOUNT"
        errorMessage: "Sorry, you have no permissions to edit discount. Please contact\
          \ your administrator"
    delete:
      tags:
      - "Discount"
      description: "delete existing discount record"
      operationId: "remove"
      parameters:
      - name: "id"
        in: "path"
        description: "Unique identifier of discount record to fetch"
        required: true
        type: "integer"
        format: "int64"
      responses:
        204:
          description: "Success response."
        400:
          description: "Bad request error."
        default:
          description: "Unexpected error"
      x-permission:
        mask: "delete"
        keyCode: "DISCOUNT"
        errorMessage: "Sorry, you have no permissions to delete discount. Please contact\
          \ your administrator"
  /list/entity/document:
    get:
      tags:
      - "Document"
      description: "Return a document"
      operationId: "get"
      parameters:
      - name: "id"
        in: "path"
        required: true
        type: "integer"
        format: "int64"
      responses:
        200:
          description: "Success response"
          schema:
            $ref: "#/definitions/Document"
        default:
          description: "Unexpected error"
      x-permission:
        mask: "view"
        keyCode: "ATTACHMENT_INFO"
        errorMessage: "Sorry, you have no permissions to get documents. Please contact\
          \ your administrator"
    post:
      tags:
      - "Document"
      description: "Create a new document"
      operationId: "create"
      consumes:
      - "application/x-www-form-urlencoded"
      - "application/octet-stream"
      parameters:
      - name: "name"
        in: "query"
        required: true
        type: "string"
      - name: "description"
        in: "query"
        required: true
        type: "string"
      - name: "shared"
        in: "query"
        required: true
        type: "boolean"
      - name: "access"
        in: "query"
        required: true
        type: "string"
      - name: "tags"
        in: "query"
        required: false
        type: "string"
      - name: "fileName"
        in: "query"
        required: true
        type: "string"
      - in: "body"
        name: "content"
        required: true
        schema:
          type: "File"
      responses:
        200:
          description: "Success response"
          schema:
            $ref: "#/definitions/Document"
        400:
          description: "Bad request error."
        default:
          description: "Unexpected error"
      x-permission:
        mask: "create"
        keyCode: "ATTACHMENT_INFO"
        errorMessage: "Sorry, you have no permissions to create Document. Please contact\
          \ your administrator"
    put:
      tags:
      - "Document"
      operationId: "update"
      parameters:
      - name: "id"
        in: "path"
        description: "Unique identifier of document record to fetch"
        required: true
        type: "integer"
        format: "int64"
      - in: "body"
        name: "document"
        description: "document for update"
        required: true
        schema:
          $ref: "#/definitions/Document"
      responses:
        204:
          description: "Success response."
        400:
          description: "Bad request error."
        default:
          description: "Unexpected error"
      x-permission:
        mask: "edit"
        keyCode: "ATTACHMENT_INFO"
        errorMessage: "Sorry, you have no permissions to edit document. Please contact\
          \ your administrator"
    delete:
      tags:
      - "Document"
      operationId: "remove"
      parameters:
      - name: "id"
        in: "path"
        description: "Unique identifier of document record to fetch"
        required: true
        type: "integer"
        format: "int64"
      responses:
        204:
          description: "Success response."
        400:
          description: "Bad request error."
        default:
          description: "Unexpected error"
      x-permission:
        mask: "delete"
        keyCode: "ATTACHMENT_INFO"
        errorMessage: "Sorry, you have no permissions to delete document. Please contact\
          \ your administrator"
    patch:
      tags:
      - "Document"
      operationId: "bulkChange"
      parameters:
      - in: "body"
        name: "diff"
        description: "documents for update"
        required: true
        schema:
          $ref: "#/definitions/Diff"
      responses:
        200:
          description: "Success response"
        400:
          description: "Bad request error"
        default:
          description: "Unexpected error"
      x-permission:
        mask: "edit"
        keyCode: "ATTACHMENT_INFO"
        errorMessage: "Sorry, you have no permissions to edit document. Please contact\
          \ your administrator."
  /list/entity/document/search:
    post:
      tags:
      - "Document"
      description: "Returns an Document if it exists"
      operationId: "search"
      consumes:
      - "application/x-www-form-urlencoded"
      - "application/octet-stream"
      parameters:
      - in: "body"
        name: "content"
        required: true
        schema:
          type: "string"
          format: "binary"
      responses:
        200:
          description: "Success response"
          schema:
            $ref: "#/definitions/Document"
        default:
          description: "Unexpected error"
      x-permission:
        mask: "view"
        keyCode: "ATTACHMENT_INFO"
        errorMessage: "Sorry, you have no permissions to get documents. Please contact\
          \ your administrator"
  /list/entity/document/export:
    get:
      tags:
      - "DocumentExport"
      operationId: "get"
      parameters:
      - name: "documentId"
        in: "path"
        required: true
        type: "integer"
        format: "int64"
      - name: "documentVersionId"
        in: "query"
        required: false
        type: "integer"
        format: "int64"
      responses:
        200:
          description: "Success response."
          schema:
            type: "string"
            format: "byte"
            pattern: "^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$"
        default:
          description: "Unexpected error"
      x-permission:
        mask: "view"
        keyCode: "ATTACHMENT_INFO"
        errorMessage: "Sorry, you have no permissions to get export result. Please\
          \ contact your administrator"
  /list/entity/document/version:
    post:
      tags:
      - "Document"
      description: "Create a new version of document"
      operationId: "createVersion"
      consumes:
      - "application/x-www-form-urlencoded"
      - "application/octet-stream"
      parameters:
      - name: "id"
        in: "query"
        required: true
        type: "integer"
        format: "int64"
      - name: "fileName"
        in: "query"
        required: true
        type: "string"
      - in: "body"
        name: "content"
        required: true
        schema:
          type: "File"
      responses:
        200:
          description: "Success response"
          schema:
            $ref: "#/definitions/DocumentVersion"
        400:
          description: "Bad request error."
        default:
          description: "Unexpected error"
      x-permission:
        mask: "create"
        keyCode: "ATTACHMENT_INFO"
        errorMessage: "Sorry, you have no permissions to create Document. Please contact\
          \ your administrator"
  /list/entity/emailTemplate:
    get:
      tags:
      - "EmailTemplate"
      description: "Returns email template record"
      operationId: "get"
      parameters:
      - name: "id"
        in: "path"
        description: "Unique identifier of email template record to fetch"
        required: true
        type: "integer"
        format: "int64"
      responses:
        200:
          description: "Success response"
          schema:
            $ref: "#/definitions/EmailTemplate"
        400:
          description: "Bad request error."
        default:
          description: "Unexpected error"
      x-permission:
        mask: "view"
        keyCode: "EMAIL_TEMPLATE"
        errorMessage: "Sorry, you have no permissions to get email template. Please\
          \ contact your administrator"
    post:
      tags:
      - "EmailTemplate"
      operationId: "create"
      parameters:
      - in: "body"
        name: "emailTemplate"
        description: "email template for create"
        required: true
        schema:
          $ref: "#/definitions/EmailTemplate"
      responses:
        200:
          description: "Success response."
        400:
          description: "Bad request error."
        default:
          description: "Unexpected error"
      x-permission:
        mask: "create"
        keyCode: "EMAIL_TEMPLATE"
        errorMessage: "Sorry, you have no permissions to create email template. Please\
          \ contact your administrator"
    put:
      tags:
      - "EmailTemplate"
      operationId: "update"
      parameters:
      - name: "id"
        in: "path"
        description: "Unique identifier of email template record to fetch"
        required: true
        type: "integer"
        format: "int64"
      - in: "body"
        name: "emailTemplate"
        description: "email template for update"
        required: true
        schema:
          $ref: "#/definitions/EmailTemplate"
      responses:
        204:
          description: "Success response."
        400:
          description: "Bad request error."
        default:
          description: "Unexpected error"
      x-permission:
        mask: "edit"
        keyCode: "EMAIL_TEMPLATE"
        errorMessage: "Sorry, you have no permissions to edit email template. Please\
          \ contact your administrator"
    delete:
      tags:
      - "EmailTemplate"
      operationId: "remove"
      parameters:
      - name: "id"
        in: "path"
        description: "Unique identifier of email template record to fetch"
        required: true
        type: "integer"
        format: "int64"
      responses:
        204:
          description: "Success response."
        400:
          description: "Bad request error."
        default:
          description: "Unexpected error"
      x-permission:
        mask: "delete"
        keyCode: "EMAIL_TEMPLATE"
        errorMessage: "Sorry, you have no permissions to delete email template. Please\
          \ contact your administrator"
    patch:
      tags:
      - "EmailTemplate"
      description: "update built-it emails, enable/disable or change email options,\
        \ do not handle other options"
      operationId: "updateInternal"
      parameters:
      - in: "body"
        name: "emailTemplate"
        description: "export template for patch"
        required: true
        schema:
          $ref: "#/definitions/EmailTemplate"
      responses:
        204:
          description: "Success response."
        400:
          description: "Bad request error."
        default:
          description: "Unexpected error"
      x-permission:
        mask: "edit"
        keyCode: "EMAIL_TEMPLATE"
        errorMessage: "Sorry, you have no permissions to update export template. Please\
          \ contact your administrator"
  /list/entity/emailTemplate/template:
    get:
      tags:
      - "EmailTemplate"
      description: "Get a list of enabled email templates with keyCode"
      operationId: "getTemplatesWithKeyCode"
      parameters:
      - name: "entityName"
        in: "query"
        required: true
        type: "string"
      responses:
        200:
          description: "Success response."
          schema:
            type: "array"
            items:
              $ref: "#/definitions/EmailTemplate"
        default:
          description: "Unexpected error."
  /list/entity/enrolment:
    get:
      tags:
      - "Enrolment"
      description: "get a Enrolment"
      operationId: "get"
      parameters:
      - name: "id"
        in: "path"
        required: true
        type: "integer"
        format: "int64"
      responses:
        200:
          description: "Success response"
          schema:
            $ref: "#/definitions/Enrolment"
        default:
          description: "Unexpected error"
      x-permission:
        mask: "view"
        keyCode: "ENROLMENT"
        errorMessage: "Sorry, you have no permissions to get enrolment. Please contact\
          \ your administrator"
    put:
      tags:
      - "Enrolment"
      description: "Update an existing enrolment"
      operationId: "update"
      parameters:
      - name: "id"
        in: "path"
        required: true
        type: "integer"
        format: "int64"
      - in: "body"
        name: "enrolment"
        description: "Enrolment defenition which will be added"
        required: true
        schema:
          $ref: "#/definitions/Enrolment"
      responses:
        200:
          description: "Enrolment item successfully updated"
        default:
          description: "Unexpected error"
      x-permission:
        mask: "edit"
        keyCode: "ENROLMENT"
        errorMessage: "Sorry, you have no permissions to update enrolment. Please\
          \ contact your administrator"
    patch:
      tags:
      - "Enrolment"
      operationId: "bulkChange"
      parameters:
      - in: "body"
        name: "diff"
        description: "enrolments for update"
        required: true
        schema:
          $ref: "#/definitions/Diff"
      responses:
        200:
          description: "Success response"
        400:
          description: "Bad request error"
        default:
          description: "Unexpected error"
      x-permission:
        mask: "edit"
        keyCode: "ENROLMENT"
        errorMessage: "Sorry, you have no permissions to edit enrolment. Please contact\
          \ your administrator."
  /list/entity/enrolment/cancel:
    post:
      tags:
      - "Enrolment"
[...]
