form {
  h6 {
    padding-top: 7px;
  }
}

.form-inline {
  label {
    margin: 0 8px;
    display: inline-flex;
    
    &.error {
      margin-top: 5px;
      color: $danger;
      background: none;
      border: 0;
      padding: 0;
    }
  }
  
  [type="checkbox"] + label {
    margin-left: 0;
  }
}

.form-control {
  height: auto;
  padding: 5px 10px;
  //font-size: 14px;
  //border-radius: 2px;
  
  &::-webkit-input-placeholder {
    //color: $gray;
  }
  &::-moz-placeholder {
    //color: $gray;
  }
  &:-ms-input-placeholder {
    //color: $gray;
  }
  &:-moz-placeholder {
    //color: $gray;
  }
  
  &.xs {
    max-width: 80px;
  }
  
  &.invalid {
    border-color: $danger-hover;
  }
}

select {
  &.form-control {
    height: 29px;
  }
}

.form-group {
  margin-bottom: 20px;
  
  .btn {
    margin-right: 20px;
    
    &:last-child {
      margin-right: 0;
    }
  }
}

label {
  //color: $gray-dark;
  //font-weight: 300;
  //font-family: 'Roboto', sans-serif;
}

.form-control-feedback {
//  font-weight: 300;
//  font-family: 'Roboto', sans-serif;
//  font-size: 12px;
//  position: initial;
//  width: 100%;
//  height: auto;
//  line-height: 1em;
//  text-align: left;
}

.input-icon {
  position: relative;
  
  input {
    //width: calc(100% - 25px);
  }
  
  .icon {
    //position: absolute;
    //right: -1px;
    //top: 50%;
    //margin-top: -12px;
  }
  
}

.form-error {
  input {
    //border-bottom: 1px solid $danger !important;
  }
  
  .form-control-feedback {
    color: $danger;
  }
}