a {
  &.danger {
    color: $danger;
    
    &:hover {
      color: $danger-hover;
    }
  }
  
  &.success {
    color: $success;
    
    &:hover {
      color: $success-hover;
    }
  }
  
  &.primary {
    color: $primary;
    
    &:hover {
      color: $primary-hover;
    }
  }
}