@import "base";

/* Colours */

$red: #CE1126;
$blue: #12416C;
$yellow: #F5AF00;

$font-color: #000;

/* Links */

$link-color: #0D4064;
$link-hover-color: $red;
$link-active-color: $red;
$link-visited-color: #0D4064;


a {@include hover-link;}

$baseFontSize: 0.8em;

@mixin red_outline { outline: 0px solid $blue; }

/*---- Content Headings -----*/

h1, h2, h3, h4, h5 { color: $red; }
h1 { font-size: 3em; line-height: 1; }
h2 { font-size: 2em; }
h3 { font-size: 1.5em; line-height: 1; }
h4 { font-size: 1.2em; line-height: 1.25; }
h5 { font-size: 1em; font-weight: bold; }
h6 { font-size: 1em; font-weight: bold; }

/*---- Structural -----*/

body { font-family: Arial, Hevetica; font-size: $baseFontSize; line-height: 1.6em; width: 976px; margin: 7px auto; border: 1px solid #DBD3C2; }
.layout { }
#header, nav, #contentContainer, #footer { position: relative; @include red_outline; } 

nav { 
	@include horizontal_nav;
}

#contentContainer { margin-top: 20px; @include clearfix; }
#content { min-height: 750px; width: 596px; margin: 0 0px; float: left; } 

#sidebarLeft, #sidebarRight { float: left; width: 180px; @include red_outline; }
#sidebarLeft { left: 10px; }
#sidebarRight { right: 0px; top: 0px; }

/*---- Header -----*/

#header { height: 125px; background: $blue; }

#usydlogo { width: 161px; height: 70px; display: block; @include red_outline; @include replace-text("bullet.png", 0, 0); margin-left: -20px; }

#site_toolbar { position: absolute; right: 0; top: 0; bottom: 0; width: 155px; background: $yellow; z-index: 10; }

/*---- Search Box -----*/

#search_box { outline: 1px solid red; position: absolute; right: 200px; top: 10px; width: 150px; }

/*---- Nav -----*/

#nav { @include horizontal_nav; }

/*--- Subject Nav ---*/

.taggroup-2405 ul { @include no-bullets; margin: 0; 
	ul ul { display: none; }
}

/*---- Page Specific -----*/	 
.internal-page #content, #DetailsPage #content { margin-right: 0px; width: 786px; }
.internal-page #sidebarRight, #DetailsPage #sidebarRight { display: none; }

