@charset "UTF-8";
/*
Project css styles.
Common css rules.
*/

* {
	padding: 0;
	margin: 0;
}

img {
	border: 0;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 1;
	background: #fff;
}

a {
	color: #00008b;
}

/* Layout */

.header {
	background: #000 url("../images/header-back.png") repeat-x left top;
	background-size: auto 100%;
	min-height: 52px;
	padding: 23px 185px 10px 23px;
	position: relative;
}

.logo {
	display: block;
	position: absolute;
	top: 20px;
	right: 24px;
	background: url("../images/logo.png") no-repeat left top;
	width: 159px;
	height: 40px;
}

.header-title {
	line-height: 1;
	font-size: 36px;
	color: #fff;
	font-weight: bold;
	text-shadow: 0 2px 0 #000;
}

.process {
	background: #f2ffde;
	border-bottom: 5px solid #c3c4c1;
	padding: 21px 23px 26px;
}

.page-title {
	color: #000000;
	font-size: 20px;
	margin: 0 0 20px 0;
}

.process-list {
	list-style: none;
	color: #404043;
	font-size: 14px;
}

.process-list li {
	border-top: 1px solid #c1ccb1;
	padding: 9px 13px;
}

.process-list li > span {
	width: 45%;
	max-width: 300px;
	display: inline-block;
}

.process-total {
	background: #f5af00;
	padding: 14px 13px;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
}

.process-total > span {
	width: 45%;
	max-width: 300px;
	display: inline-block;
	font-size: 14px;
	text-transform: uppercase;
}

.pay-form {
	padding: 35px 23px;
	overflow: hidden;
	zoom: 1\9;
}

.pay-form-line {
	margin: 0 0 10px 0;
	font-size: 14px;
	color: #666;
}

.pay-form-line > span,
.pay-form-line > label {
	display: inline-block;
	margin-bottom: 6px;
	vertical-align: middle;
}

.pay-form-line > label {
	margin: 0 8px 0 0;
	text-align: right;
	width: 18%;
	position: relative;
	top:-6px;
}

.pay-form-line span > label {
	margin-right: 20px;
	font-weight: bold;
	font-size:17px;
}

-,.pay-form-line span > label {
	margin-right: 10px;
}

.pay-form-line label sup {
	color: #ff4200;
	vertical-align: text-top;
}

.pay-form-control {
	width: 310px;
}

.pay-form-line input[type="text"] {
	width: 300px;
	border: 1px solid #7d858b;
	color: #231f20;
	font-family: inherit;
	font-size: 17px;
	font-weight: bold;
	height: 32px;
	line-height: 32px;
	padding: 0 7px;
	outline: none;
	resize: none;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

-,.pay-form-line input[type="text"] {
	width: 286px;
}

.pay-form-line input[type="text"].small {
	width: 165px;
}

.pay-form-line textarea {
	width: 300px;
	border: 1px solid #7d858b;
	color: #231f20;
	font-family: inherit;
	font-size: 17px;
	font-weight: bold;
	height: 150px;
	padding: 7px 7px;
	outline: none;
	resize: none;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;

}

.pay-form-line select {
	border: 1px solid #7d858b;
	color: #231f20;
	font-family: inherit;
	font-size: inherit;
	font-weight: bold;
	padding: 3px;
	outline: none;
	resize: none;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.pay-form-line select option {
	padding: 0 10px;
}

.pay-form-line.error {
	color: #ff0000 !important;
}

.pay-form-line.error input {
	border-color: #ff0000;
	background-color: #ffe4c1;
}

form .submit-wrapper {
	margin: 0 0 0 18%;
	width: 300px;
	text-align: right;
}

.submit-wrapper {
	zoom:1\9;
}

.submit-wrapper:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.submit-left {
	float: left;
	margin-top:7px;
}

.submit-right {
	float: right;
}

.submit-wrapper a:first-child {
	margin: 0 0 0 10px;
}

/*

.btn {
	display:inline-block;
	text-decoration:none;
	border:1px solid #000;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius:3px;
	height:31px;
	padding:0 20px;
	background:#676767 url("../images/btn.png") repeat-x left bottom;
	color:#fff;
	text-shadow:0 -1px 1px #000;
	font-size:18px;
	font-weight:bold;
	cursor:pointer;
	margin:0 0 0 10px;
}

.btn:hover {
	background: #4db626 url("../images/btn-over.png") repeat-x left bottom;
}
*/



/* Processing */

.pay-process {
	width: 400px;
	line-height: 1.5;
	background: url("../images/ajax-loader.gif") no-repeat left top;
	padding: 0 0 20px 50px;
}

.pay-message p {
	margin: 0 0 18px 0;
}

.pay-message {
	font-size: 14px;
}

.pay-message a {
	color: #00008b;
}

/* Success */

.pay-success {
	width: 400px;
	line-height: 1.5;
}

.pay-success .page-title {
	color: green;
}

/* Fail */

.pay-fail {
	width: 770px;
	line-height: 1.5;
}

.pay-fail .page-title {
	color: red;
}

.btn {
	margin: 0 0 0 10px;
	border: 1px solid #5f5f5f;
	background:url("../images/btn-prev.png") repeat-x;
	background: -webkit-gradient(linear, left top, left bottom, from(#b1afaf), to(#575555));
	background: -moz-linear-gradient(top, #b1afaf, #575555);
	background: linear-gradient(top, #b1afaf, #575555);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	color: #fff;
	text-shadow: 0 -1px 1px black;
	font-size: 14px;
	font-weight: bold;
	padding: 0 15px;
	height: 29px;
	line-height: 29px;
	cursor: pointer;
	text-decoration: none;
	position: relative;
}



.btn:hover {
	background: #acdd2e url("../images/btn-next-over.png") repeat-x;
	background: -webkit-gradient(linear, left top, left bottom, from(#4d7e00), to(#acdd2e));
	background: -moz-linear-gradient(top, #4d7e00, #acdd2e);
	background: linear-gradient(top, #4d7e00, #acdd2e);
}

.btn.btn-prev {
	-webkit-border-bottom-left-radius: 0;
	-webkit-border-top-left-radius: 0;
	-moz-border-bottom-left-radius: 0;
	-moz-border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	border-left: 0;
	padding-left: 10px;
	background: #575555 url("../images/btn-prev.png") repeat-x;
	background: -webkit-gradient(linear, left top, left bottom, from(#b1afaf), to(#575555));
	background: -moz-linear-gradient(top, #b1afaf, #575555);
	background: linear-gradient(top, #b1afaf, #575555);
}

/*.btn.btn-prev:after {
	display: block;
	background: url("../images/btn-prev-arrow.png") no-repeat left top;
	height: 29px;
	width: 10px;
	margin-left: 10px;
	bottom: 0;
	content: '';
	position: absolute;
	text-shadow: none;
	top: -7px;
	z-index: inherit;
	left: -33px;
}*/

.btn.btn-prev:hover {
	background: #ef2e2e url("../images/btn-prev-over.png") repeat-x;
	background: -webkit-gradient(linear, left top, left bottom, from(#910000), to(#ef2e2e));
	background: -moz-linear-gradient(top, #910000, #ef2e2e);
	background: linear-gradient(top, #910000, #ef2e2e);
}

/*.btn.btn-prev:hover:after {
	background: url("../images/btn-prev-arrow-over.png") no-repeat left top;
}*/

.btn.btn-next {
	-webkit-border-bottom-right-radius: 0;
	-webkit-border-top-right-radius: 0;
	-moz-border-bottom-right-radius: 0;
	-moz-border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
	border-right: 0;
	padding-right: 10px;
	background: #4c7d00 url("../images/btn-next.png") repeat-x;
	background: -webkit-gradient(linear, left top, left bottom, from(#bef533), to(#4c7d00));
	background: -moz-linear-gradient(top, #bef533, #4c7d00);
	background: linear-gradient(top, #bef533, #4c7d00), url("../images/btn-next-arrow.png") no-repeat left top;
}

.btn-next-wr {
	display: inline-block;
	background: url("../images/btn-next-arrow.png") no-repeat right top;
	padding: 0 10px 0 0;
}

.btn-next-wr:hover {
	background: url("../images/btn-next-arrow-over.png") no-repeat right top;
}

.btn-next-wr:hover .btn {
	background: #acdd2e url("../images/btn-next-over.png") repeat-x;
	background: -webkit-gradient(linear, left top, left bottom, from(#4d7e00), to(#acdd2e));
	background: -moz-linear-gradient(top, #4d7e00, #acdd2e);
	background: linear-gradient(top, #4d7e00, #acdd2e);
}

.btn.btn-next:after {
	display: none\9;
}

.btn.btn-next {
	padding-right: 19px\9;
	border-right: 0\9;
	
}

.btn.btn-next:hover {
	}

.btn.btn-prev {
	padding-left: 19px\9;
	border: 0\9;

}

.btn.btn-prev:hover {

}

.btn.btn-prev:after {
	display: none\9;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	.btn-next {
		padding-right: 15px;
	}

	.btn-prev {
		padding-left: 15px;
	}

	.btn-next:after {
		right: -10px !important;
		bottom: -1px !important;
		top: -1px !important;
	}

	.btn-prev:after {
		left: -20px !important;
		bottom: -1px !important;
		top: -1px !important;
	}

}

.btn:first-child {
	margin: 0;
}


.pay-fail p > strong {
	visibility:hidden;
	display:block;
	width:150px;	
	margin:15px 0 0 auto;
	color:gray;
	font-size:12px;
}

.pay-fail p:hover > strong {
	visibility:visible;
}

.pay-fail p {
	text-align:right;	
	float:right;
	margin:0 0 0 20px;	
}

.pay-fail p + p > strong {
	width: 200px;
}