<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

	<display-name>webservices</display-name>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:application-context.xml</param-value>
	</context-param>
	
	<context-param>
		<param-name>applicationName</param-name>
		<param-value>services</param-value>
	</context-param>

	<servlet>
		<servlet-name>WebServicesServlet</servlet-name>
		<servlet-class>org.apache.cxf.transport.servlet.CXFServlet</servlet-class>
		<init-param>
			<param-name>hide-service-list-page</param-name>
			<param-value>true</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>WebServicesServlet</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>

	<context-param>
		<param-name>tapestry.app-package</param-name>
		<param-value>ish.oncourse.webservices</param-value>
	</context-param>

	<context-param>
		<param-name>tapestry.production-mode</param-name>
		<param-value>false</param-value>
	</context-param>

	<filter>
		<filter-name>app</filter-name>
		<filter-class>org.apache.tapestry5.spring.TapestrySpringFilter</filter-class>
		<async-supported>true</async-supported>
	</filter>

	<filter-mapping>
		<filter-name>app</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<resource-ref>
		<res-ref-name>jdbc/oncourse</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>

	<error-page>
		<exception-type>ish.oncourse.webservices.exception.PaymentNotFoundException</exception-type>
		<location>/paymentNotFound</location>
	</error-page>

	<session-config>
		<session-timeout>20</session-timeout>
	</session-config>

	<listener>
		<listener-class>org.apache.logging.log4j.web.Log4jServletContextListener</listener-class>
	</listener>

	<filter>
		<filter-name>log4jServletFilter</filter-name>
		<filter-class>org.apache.logging.log4j.web.Log4jServletFilter</filter-class>
	</filter>

	<context-param>
		<param-name>log4jConfiguration</param-name>
		<param-value>file:///${sys:catalina.base}/conf/log4j2-services.xml</param-value>
	</context-param>

	<filter-mapping>
		<filter-name>log4jServletFilter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>ERROR</dispatcher>
	</filter-mapping>

</web-app>
