/*main styles*/
body,form,ul,ol,h1,h2,h3,h4,h5,input,select,textarea,dl,dt,dd{
	margin:0;
	padding:0;
}
body{
    font:13px Arial, Helvetica, sans-serif;
    color:#444;
	background:#fff url(../img/head-bg.gif) repeat-x left top;
}
html, body{
	height:100%;
}
table{
	font-size:100%;
}
img{
    border:0;
}
input,select,textarea{
	font:13px Arial, Helvetica, sans-serif;
    color:#666;
	vertical-align:middle;
}
textarea{
	resize:none;
	overflow:auto;
}
input.checkbox{
	margin:0;
	vertical-align:middle;
}
input.radio{
	margin:0 5px 0px 0px;
	vertical-align:middle;
}
td{
    vertical-align:top;
}
p{
    margin:0 0 11px 0;
}
/*default styles*/
a{
    color:#006fe2;
    text-decoration:none;
	outline:none;
}
a:hover{
    color:#ea9f00;
	text-decoration:none;
}
h1{
	font:26px Arial, Helvetica, sans-serif;
    color:#252424;
	margin:0 0 15px;
}
h2{
	font:24px Arial, Helvetica, sans-serif;
    color:#252424;
	margin:0 0 15px;
}
h3{
	font:20px Arial, Helvetica, sans-serif;
    color:#252424;
	margin:0 0 14px;
}
h4{
	font:bold 14px Arial, Helvetica, sans-serif;
    color:#1e6100;
	margin:0 0 13px;
	letter-spacing:-1px;
}
ul{
	margin:0 0 9px 0;
	list-style-position:outside;
	list-style-type:disc;
}
ol{
	margin:0 0 9px 25px;
	list-style-position:outside;
	list-style-type:decimal;
}
li ul, li ol{
	margin-top:5px;
	margin-bottom:10px;
	list-style-type:none;
}
ul li{
	margin-bottom:3px;
}
ol li{
	margin-bottom:3px;
}
.middle{
	vertical-align:middle;
}
.fl{
	float:left;
}
.fr{
	float:right;
}
.cl{
	clear:both;
	height:0px;
	font-size:0px;
	overflow:hidden;
}
/*format styles*/
.wrapper{
	width:965px;
	padding:0 10px;
	margin:0 auto;
}
.head{
	padding:18px 2px 0 3px;
	height:56px;
	margin-bottom:14px;
}
.head .logo{
	float:left;
}
.head .logged{
	float:right;
	color:#666;
	font-size:12px;
	text-shadow:#fff 0 1px 0;
	padding:7px 0 0;
}
.head .logged .btn-log{
	display:inline-block;
	border:1px solid #b7c5d0;
	color:#666;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	background:#fff;
	background:-webkit-gradient(linear, 0 0, 0 bottom, from(#fff), to(#e1e1e1));
	background:-moz-linear-gradient(#fff, #e1e1e1);
	background:linear-gradient(#fff, #e1e1e1);
	-pie-background:linear-gradient(#fff, #e1e1e1);
	behavior: url(PIE.htc);
	padding:3px 11px 4px 12px;
	vertical-align:middle;
	margin-left:6px;
}

.head .header-title {
	float: right;
	color: #2272b0;
	font-size: 16px;
	font-weight: bold;
	text-shadow:0 1px 1px #fff;
	padding: 0;
}

.content{
	float:left;
	width:750px;
}
.sidebar{
	float:left;
	width:215px;
	padding:4px 0 0;
}
.sidebar .menu-bg{
	background:url(../img/menu-bg.gif) repeat-y left top;
	width:190px;
	margin:0 0 26px 1px;
}
.sidebar .menu-b{
	background:url(../img/menu-b.gif) no-repeat left bottom;
}
.sidebar .menu{
	background:url(../img/menu-t.gif) no-repeat left top;
	padding:25px 2px 28px 10px;
}
.sidebar .menu a{
	display:block;
	background:url(../img/menu-a.gif) no-repeat 1px 12px;
	font-size:15px;
	height:24px;
	padding:6px 0 0 26px;
	position:relative;
}
.sidebar .menu a.act{
	background-position:1px -30px;
	color:#fff;
	font-weight:bold;
}
.sidebar .menu div{
	background:url(../img/menu-line.gif) no-repeat left top;
	height:1px;
	overflow:hidden;
}
.center .sidebar .new{
	position:absolute;
	left:100px;
	top:7px;
}
.center .sidebar .menu a.act .new{
	border-bottom:1px solid #3486cc;
}
.sidebar .info-bg{
	background:url(../img/info-bg.gif) repeat-y left top;
	width:192px;
	margin-bottom:25px;
}
.sidebar .info-b{
	background:url(../img/info-b.png) no-repeat left bottom;
}
.sidebar .info{
	background:url(../img/info-t.png) no-repeat left top;
	min-height:67px;
	padding:36px 15px 47px 19px;
	color:#2b2b2b;
}
.sidebar .info .info-text{
	padding:0 5px;
}
.sidebar .info h1{
	font:bold 20px/21px Arial, Helvetica, sans-serif;
	text-shadow:#d4ebff 0 1px 0;
	margin:0 0 16px;
}
.sidebar .info p{
	line-height:14px;
}
.sidebar .info .btn-info{
	display:inline-block;
	border-bottom:1px solid #8aa0b3;
	color:#666;
	font-size:12px;
	text-shadow:#fff 0 1px 0;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	background:#fff;
	background:-webkit-gradient(linear, 0 0, 0 bottom, from(#fff), to(#e1e1e1));
	background:-moz-linear-gradient(#fff, #e1e1e1);
	background:linear-gradient(#fff, #e1e1e1);
	-pie-background:linear-gradient(#fff, #e1e1e1);
	behavior: url(PIE.htc);
	position:relative;
	padding:5px 19px 6px 19px;
	margin:0 1px;
}
.center .new{
	border-bottom:1px solid #cacaca;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	-webkit-box-shadow:#ffe400 0 -1px 0;
	-moz-box-shadow:#ffe400 0 -1px 0;
	box-shadow:#ffe400 0 -1px 0;
	background:#ffa600;
	background:-webkit-gradient(linear, 0 0, 0 bottom, from(#ffa600), to(#ff8400));
	background:-moz-linear-gradient(#ffa600, #ff8400);
	background:linear-gradient(#ffa600, #ff8400);
	-pie-background:linear-gradient(#ffa600, #ff8400);
	behavior: url(PIE.htc);
	font-size:12px;
	font-weight:bold;
	color:#fff;
	text-shadow:#cb7200 0 -1px 0;
	padding:1px 6px;
}
.center .class{
	margin-bottom:16px;
}
.center .class td{
	border-top:1px solid #d5e3ed;
	padding:24px 0 20px;
}
.center .class .first td{
	border:0;
	padding:0 0 20px;
}
.center .class .book{
	position:relative;
	width:46px;
	margin:0 0 0 6px;
}
.center .class .class-name{
	font-size:18px;
	line-height:18px;
	margin-bottom:2px;
}
.center .class .class-info{
	color:#040404;
	font-size:14px;
	margin-bottom:4px;
}
.center .class .class-info span{
	color:#444;
	margin-left:5px;
}
.center .class .class-place{
	display:inline-block;
	background:url(../img/ico-place.gif) no-repeat left 2px;
	padding-left:12px;
	font-size:12px;
	margin-right:5px;
}
.center .class .class-man{
	display:inline-block;
	background:url(../img/ico-man.gif) no-repeat left 2px;
	padding-left:14px;
	font-size:12px;
}
.center .class .class-week{
	padding:18px 0 0;
}
.center .class .class-week span{
	display:inline-block;
	font-size:8px;
	text-transform:uppercase;
	padding:1px 2px;
}
.center .class .class-week span.active{
	background:#bad1e5;
	color:#000;
	cursor:pointer;
}
.center .class1{
	float:left;
	font-size:18px;
	line-height:21px;
	color:#000;
	padding:2px 50px 0 0;
	margin-right:20px;
}
.center .class1 .class-place{
	display:inline-block;
	background:url(../img/ico-place.gif) no-repeat left 2px;
	padding-left:12px;
	font-size:12px;
	line-height:normal;
	margin-right:5px;
	top:-1px;
	position:relative;
}
.center .class1 .class-man{
	display:inline-block;
	background:url(../img/ico-man.gif) no-repeat left 2px;
	padding-left:14px;
	font-size:12px;
	line-height:normal;
	top:-1px;
	position:relative;
}
.center .class2{
	float:left;
	font-size:14px;
	line-height:17px;
	padding:2px 22px 0 0;
	margin-right:20px;
}
.center .class2 div{
	font-size:18px;
	color:#040404;
	line-height:normal;
}
.center .class2 .class-man-qty{
	display:inline-block;
	background:url(../img/ico-man.gif) no-repeat left 1px;
	padding-left:15px;
	font-size:11px;
	font-weight:bold;
	color:#666;
	line-height:normal;
}
.center .ico-new{
	position:absolute;
	right:2px;
	top:1px;
}
.center .lightbox-pos{
	position:absolute;
	z-index:999;
	left:-9999px;
	top:-9999px;
}
.center .lightbox{
	position:absolute;
	left:-95px;
	top:30px;
	border:2px solid #90bade;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	background:#fff;
	width:168px;
	padding:7px 13px 9px;
	font-size:14px;
}
.center .lightbox .lightbox-cor{
	position:absolute;
	left:50%;
	top:-11px;
	margin-left:-10px;
}
.center .class .class-week-light td{
	padding:1px 2px 1px 1px;
	white-space:nowrap;
	border:0;
}
.center .class .class-week-light td.class-week-light-date{
	color:#8daac3;
}
.center .tabs{
	margin:-6px 0 23px;
}

.center .tabs a {
	display:inline-block;
	background:url(../img/tabs-l.gif) no-repeat left -100px;
	color:#225f8f;
	position:relative;
	margin:0 19px;
	cursor:pointer;
}
.center .tabs a span{
	display:inline-block;
	background:url(../img/tabs-r.gif) no-repeat right -100px;
	height:20px;
	padding:4px 0 0;
}
.center .tabs a img{
	position:absolute;
	left:50%;
	bottom:-5px;
	margin-left:-6px;
	visibility:hidden;
}
.center .tabs a:hover{
	color:#ea9f00;
}
.center .tabs a.act{
	background-position:left top;
	color:#fff;
	font-weight:bold;
	margin:0;
}
.center .tabs a.act span{
	background-position:right top;
	padding:4px 19px 0;
}
.center .tabs a.act img{
	visibility:visible;
}
.center .class-place1{
	display:inline-block;
	background:url(../img/ico-place.gif) no-repeat 1px 4px;
	padding-left:13px;
	font-size:16px;
	margin-bottom:5px;
}
.center .class-man1{
	display:inline-block;
	background:url(../img/ico-man.gif) no-repeat left 5px;
	padding-left:13px;
	font-size:16px;
	margin-bottom:5px;
}
.center .date{
	position:relative;
	padding:5px 0 0 70px;
	color:#040404;
	font-size:16px;
	min-height:55px;
	margin-bottom:8px;
}
.center .date .date-day{
	position:absolute;
	left:-4px;
	top:0;
	background:url(../img/date-bg.png) no-repeat left top;
	width:47px;
	min-height:41px;
	color:#000;
	font-size:10px;
	text-transform:uppercase;
	text-align:center;
	padding:9px 0 0;
}
.center .date .date-day span{
	display:block;
	font-size:22px;
	font-weight:bold;
	margin-bottom:-6px;
	letter-spacing:-1px;
}
.center .date .date-day i{
	display:block;
	font-style:normal;
	font-weight:bold;
	font-size:11px;
	margin:6px 0 0;
}
.center .date2{
	position:relative;
	padding:17px 0 0 70px;
	color:#040404;
	font-size:16px;
	min-height:55px;
	margin-bottom:8px;
	background:url(../img/dot.gif) repeat-x left top;
}
.center .date2 .date-day{
	position:absolute;
	left:-4px;
	top:12px;
	background:url(../img/date-bg3.png) no-repeat left top;
	width:47px;
	min-height:41px;
	color:#000;
	font-size:10px;
	text-transform:uppercase;
	text-align:center;
	padding:9px 0 0;
}
.center .date2 .date-day span{
	display:block;
	font-size:22px;
	font-weight:bold;
	margin-bottom:-6px;
	letter-spacing:-1px;
}
.center .date2 .date-day i{
	display:block;
	font-style:normal;
	font-weight:bold;
	font-size:11px;
	margin:3px 0 0;
}
.center .date1{
	position:relative;
	padding:5px 0 0 73px;
	color:#040404;
	font-size:16px;
	min-height:55px;
	margin-bottom:8px;
}
.center .date1 span{
	display:block;
	font-size:14px;
	color:#444;
	margin:1px 0 0;
}
.center .date1 .date-day{
	position:absolute;
	left:0;
	top:0;
	background:url(../img/date-bg2.png) no-repeat left top;
	width:47px;
	min-height:41px;
	color:#000;
	font-size:10px;
	text-transform:uppercase;
	text-align:center;
	padding:9px 0 0;
}
.center .date1 .date-day span{
	display:block;
	font-size:22px;
	font-weight:bold;
	color:#000;
	margin:0 0 -6px;
	letter-spacing:-1px;
}
.center .date1 .date-day i{
	display:block;
	font-style:normal;
	font-weight:bold;
	font-size:11px;
	margin:7px 0 0;
}
.center .date3{
	position:relative;
	padding:5px 0 0 70px;
	color:#040404;
	font-size:16px;
	min-height:55px;
}
.center .date3 .date-day{
	position:absolute;
	left:-4px;
	top:0;
	background:url(../img/date-bg3.png) no-repeat left top;
	width:47px;
	min-height:41px;
	color:#000;
	font-size:10px;
	text-transform:uppercase;
	text-align:center;
	padding:9px 0 0;
}
.center .date3 .date-day span{
	display:block;
	font-size:22px;
	font-weight:bold;
	margin-bottom:-6px;
	letter-spacing:-1px;
}
.center .date3 .date-day i{
	display:block;
	font-style:normal;
	font-weight:bold;
	font-size:11px;
	margin:3px 0 0;
}
.center .bord{
	background:#d5e3ed;
	height:1px;
	overflow:hidden;
}
.center .bord-r{
	border-right:1px solid #e3e3e3;
}
.center .pdf{
	position:relative;
	color:#444;
	font-size:14px;
	padding:1px 0 5px 30px;
}
.center .pdf img{
	position:absolute;
	left:4px;
	top:0;
}
.center .pdf a{
	font-size:16px;
}
.center .messages{
	color:#444;
	font-size:14px;
	margin:-5px 0 25px;
}
.center .messages.mess2{
	margin:0 0 11px;
}
.center .messages div{
	background:url(../img/dot.gif) repeat-x left top;
	padding:10px 0 12px;
}
.center .messages div.first{
	background:none;
	top:-12px;
	position:relative;
	padding-bottom:0;
}
.center .messages .messages-name{
	display:block;
	margin-bottom:1px;
}
.center .messages a{
	font-size:16px;
	display:inline;
	margin:0 2px 0 0;
}
.center .messages .new{
	position:relative;
	top:-1px;
}




/* Jquery Datepicker */


.ui-datepicker-inline {
	background: url(../img/calendar-t.gif) repeat-x left top;
}


.center .ui-datepicker-header {

	height: 50px;
	padding: 0;
	position: relative;
}

.center .ui-datepicker-title {
	font-size: 20px;
	letter-spacing: -1px;
	color: #252424;
	margin: 0 45px;
	white-space: nowrap;
	text-shadow: #fff 0 1px 0;
	text-align: center;
	height: 50px;
	line-height: 50px;
}

.ui-datepicker-month, .ui-datepicker-year {
	width: 20%;
}

.ui-datepicker-month {
	text-align: right;
}

.ui-datepicker-year {
	text-align: left;
}

.center a.ui-datepicker-next {
	height: 15px;
	width: 8px;
	background: url(../img/mounth-next.gif);
	background-repeat: no-repeat;
	display: block;
	text-indent: 999px;
	position: absolute;
	right:270px;
	top:18px;
	cursor: pointer;
}

.center a.ui-datepicker-prev {
	height: 15px;
	width: 8px;
	background: url(../img/mounth-prev.gif);
	background-repeat: no-repeat;
	display: block;
	text-indent: 999px;
	position: absolute;
	left: 270px;
	top: 18px;
	cursor: pointer;
}

.center .ui-datepicker-calendar {
	border-collapse: collapse;
}


.center .ui-datepicker-calendar th {
	text-align: center;
	font-size: 14px;
	color: #9A9A9A;
	text-transform: uppercase;
	width: 107px;
	font-weight: normal;
	padding: 0;
}


.center .ui-datepicker-calendar td {
	text-align: center;
	border: 1px solid #DBDBDB;
	font-size: 27px;
	font-weight: bold;
	padding: 14px 1px 13px;
	color: #B2B2B2;
	letter-spacing: -1px;
	text-shadow: #7B7B7B 0 1px 0;
	background:#fff url(../img/day-bg.gif) repeat-x left bottom;
	letter-spacing: -1px;
	text-shadow: #7b7b7b 0 1px 0;
}

.center .ui-datepicker-calendar td:hover a {
	color:#888;
}


.center .ui-datepicker-calendar td a {
	color:#B2B2B2;
}

.center .ui-state-disabled {
	border: 1px solid #f1f1f1;
	padding: 14px 1px 13px;
	color: #ededed;
	text-shadow: #d8d8d8 0 2px 1px;
	background: url(../img/day-d.gif) repeat-x left bottom;
}

.center .ui-state-disabled a {
	color: #ededed;
}

.center td.ui-datepicker-today {
	border: 1px solid #B8B8B8;
	padding: 14px 1px 13px;
	color: #B27E00;
	text-shadow: #FFDF2B 0 1px 0;
	background: #FFB400 url(../img/day-t.gif) repeat-x left top;
	cursor: pointer;
}

.center .ui-datepicker-today a {
	color: #B27E00 !important;
}

.center .ui-datepicker-calendar td.ui-datepicker-other-month {
	border:1px solid #f1f1f1;
	padding:14px 1px 13px;
	color:#ededed;
	text-shadow:#d8d8d8 0 2px 1px;
	background:url(../img/day-d.gif) repeat-x left bottom;
}

.center .ui-datepicker-calendar .lesson{
	position:absolute;
	left:0;
	width:100%;
	text-align:center;
}
.center .ui-datepicker-calendar .lesson span{
	display:inline-block;
	width:6px;
	height:7px;
	background:url(../img/lesson-dot.gif) no-repeat left -21px;
	margin:0 2px 0 3px;
}

.center .ui-datepicker-calendar .today {
	position:absolute;
	left:8px;
	top:-38px;
	color:#915400;
	font-size:10px;
	font-weight:bold;
	text-shadow:#ffdd29 0 1px 0;
}

.center .ui-datepicker-calendar .dayl:hover .lesson span{
	background-position:left -28px;
}
.center .ui-datepicker-calendar .dayd .lesson span{
	background-position:left top;
}
.center .ui-datepicker-calendar .dayt .lesson span{
	background-position:left -7px;
}
.center .ui-datepicker-calendar .days .lesson span{
	background-position:left -14px;
}
.center .ui-datepicker-calendar .days.dayt .lesson span{
	background-position:left -35px;
}



/* end Jquery datepicker */



/* Datepicker default */

.center .calendar-head {
	background:url(../img/calendar-t.gif) repeat-x left top;
	height:58px;
	padding:13px 0 0;
}


.center .mounth{
	margin:0 auto 15px;
}
.center .mounth .mounth-arrow{
	display:inline-block;
	margin-top:6px;
}
.center .mounth-name{
	font-size:20px;
	letter-spacing:-1px;
	color:#252424;
	margin:0 45px;
	white-space:nowrap;
	text-shadow:#fff 0 1px 0;
}





.center .week td{
	text-align:center;
	font-size:14px;
	color:#9a9a9a;
	text-transform:uppercase;
	width:107px;
}



.center .calendar{
	margin-bottom:11px;
}
.center .calendar .day .day-b{
	text-align:center;
	border:1px solid #dbdbdb;
	font-size:27px;
	font-weight:bold;
	padding:14px 1px 13px;
	color:#b2b2b2;
	letter-spacing:-1px;
	text-shadow:#7b7b7b 0 1px 0;
	background:url(../img/day-bg.gif) repeat-x left bottom;
}



.center .calendar .dayd .day-b{
	border:1px solid #f1f1f1;
	padding:14px 1px 13px;
	color:#ededed;
	text-shadow:#d8d8d8 0 2px 1px;
	background:url(../img/day-d.gif) repeat-x left bottom;
}



.center .calendar .dayt .day-b{
	border:1px solid #b8b8b8;
	padding:14px 1px 13px;
	color:#b27e00;
	text-shadow:#ffdf2b 0 1px 0;
	background:#ffb400 url(../img/day-t.gif) repeat-x left top;
	cursor:pointer;
}



.center .calendar .days .day-b{
	border:0;
	padding:15px 2px 14px;
	color:#fff;
	text-shadow:#005abf 0 -1px 0;
	background:#3ba2f2 url(../img/day-s.png) no-repeat left top;
}
.center .calendar .days.dayt .day-b{
	border:0;
	padding:15px 2px 14px;
	color:#fff;
	text-shadow:#b68000 0 -1px 0;
	background:#ffb400 url(../img/day-s-today.png) no-repeat left top;
}
.center .calendar .dayl{
	cursor:pointer;
}
.center .calendar .dayl:hover .day-b{
	color:#1980e5;
}
.center .calendar .lesson{
	position:absolute;
	left:0;
	top:-15px;
	width:100%;
	text-align:center;
}
.center .calendar .lesson span{
	display:inline-block;
	width:6px;
	height:7px;
	background:url(../img/lesson-dot.gif) no-repeat left -21px;
	margin:0 2px 0 3px;
}
.center .calendar .dayl:hover .lesson span{
	background-position:left -28px;
}
.center .calendar .dayd .lesson span{
	background-position:left top;
}
.center .calendar .dayt .lesson span{
	background-position:left -7px;
}
.center .calendar .days .lesson span{
	background-position:left -14px;
}
.center .calendar .days.dayt .lesson span{
	background-position:left -35px;
}
.center .calendar .today{
	position:absolute;
	left:8px;
	top:-58px;
	color:#915400;
	font-size:10px;
	font-weight:bold;
	text-shadow:#ffdd29 0 1px 0;
}
.center .date-day1{
	background:url(../img/date-bg1.png) no-repeat left top;
	width:63px;
	height:53px;
	color:#000;
	font-size:14px;
	text-align:center;
	padding:14px 0 0;
	float:left;
	margin-right:13px;
}
.center .date-day1 span{
	font-size:30px;
	font-weight:bold;
	display:block;
	margin-bottom:-6px;
}
.center .date-day2{
	background:url(../img/date-bg4.png) no-repeat left top;
	width:63px;
	height:53px;
	color:#000;
	font-size:14px;
	text-align:center;
	padding:14px 0 0;
	float:left;
	margin-right:13px;
}
.center .date-day2 span{
	font-size:30px;
	font-weight:bold;
	display:block;
	margin-bottom:-6px;
}
.center .textarea-text{
	font-size:14px;
	margin-bottom:8px;
}
.center .day-head{
	background:url(../img/calendar-t2.gif) repeat-x left top;
	height:73px;
	padding:8px 0 0;
	position:relative;
	margin-bottom:15px;
}
.center .day-head table{
	margin:0 auto;
}














.center .prev-session{
	display:block;
	position:absolute;
	left:20px;
	top:33px;
	background:url(../img/mounth-prev.gif) no-repeat left 2px;
	font-size:14px;
	padding:0 0 2px 19px;
}
.center .next-session{
	display:block;
	position:absolute;
	right:19px;
	top:33px;
	background:url(../img/mounth-next.gif) no-repeat right 2px;
	font-size:14px;
	padding:0 20px 2px 0;
}
.center .mark{
	padding:0 0 0 8px;
}
.center .mark-item{
	background:url(../img/dot.gif) repeat-x left top;
	position:relative;
	padding:12px 0 12px 81px;
}
.center .mark-item.first{
	padding-top:0;
	background:none;
}
.center .mark-item .mark-yn{
	position:absolute;
	left:0;
	top:15px;
}
.center .mark-item.first .mark-yn{
	top:3px;
}
.center .mark-item .mark-yn a{
	display:block;
	float:left;
	background:url(../img/yes-no.png) no-repeat left top;
	height:37px;
	width:35px;
}
.center .mark-item .mark-yn a.act{
	background-position:left -37px;
	cursor:default;
}
.center .mark-item .mark-yn a.mark-n{
	background-position:-35px top;
	width:34px;
}
.center .mark-item .mark-yn a.mark-n.act{
	background-position:-35px -37px;
}
.center .mark-item div{
	font-size:16px;
	color:#040404;
	margin-bottom:5px;
}
.center .mark-item span{
	font-size:14px;
	color:#444;
	margin-right:11px;
}
.center .enrolment{
	color:#666;
	font-size:16px;
	background:url(../img/ico-man.gif) no-repeat 15px 5px;
	padding-left:30px;
	margin-bottom:35px;
}
.center .class-info1{
	font-size:16px;
	color:#040404;
}
.center .class-info1 div{
	margin-bottom:5px;
}
.center .class-info1 span{
	color:#444;
}
.center .started{
	float:right;
	font-size:20px;
	color:#434343;
	margin:6px 0 0;
}
.center .tutor{
	float:left;
	position:relative;
	width:187px;
	padding:9px 0 0 68px;
	margin-bottom:12px;
}
.center .tutor img{
	position:absolute;
	left:0;
	top:2px;
}
.center .tutor .tutor-ttl{
	color:#040404;
	font-size:16px;
}
.center .tutor .stars{
	margin:2px 7px 5px 0;
}
.center .tutor .stars-rate{
	margin:2px 0 5px;
}
.center .tutor .tutor-name{
	color:#434343;
	font-size:14px;
}
.center .course{
	float:left;
	position:relative;
	width:130px;
	padding:9px 0 0 67px;
	margin-bottom:12px;
}
.center .course img{
	position:absolute;
	left:0;
	top:0;
}
.center .course .course-ttl{
	color:#040404;
	font-size:16px;
}
.center .course .stars{
	margin:2px 7px 5px 0;
}
.center .course .stars-rate{
	margin:2px 0 5px;
}
.center .venue{
	float:right;
	position:relative;
	width:190px;
	padding:9px 0 0 72px;
	margin-bottom:12px;
}
.center .venue img{
	position:absolute;
	left:0;
	top:0;
}
.center .venue .venue-ttl{
	color:#040404;
	font-size:16px;
}
.center .venue .stars{
	margin:2px 7px 5px 0;
}
.center .venue .stars-rate{
	margin:2px 0 5px;
}
.center .venue .venue-name{
	color:#434343;
	font-size:14px;
}
.center .stars{
	background:url(../img/stars.gif) no-repeat left top;
	width:71px;
	height:15px;
}
.center .stars div{
	background:url(../img/stars-a.gif) no-repeat left top;
	height:15px;
}
.center .stars-rate{
	color:#ffa000;
	font-size:12px;
	font-weight:bold;
}
.center .responses{
	text-align:right;
	font-size:14px;
	padding:0 6px 6px 0;
}
.center .surveys{
	margin-bottom:25px;
}
.center .surveys .surveys-item{
	background:url(../img/dot.gif) repeat-x left top;
	padding:18px 0 10px;
}
.center .surveys .surveys-item.first{
	background:none;
	padding-top:20px;
}
.center .surveys .surveys-ico{
	margin-bottom:10px;
}
.center .surveys .surveys-ico span{
	display:inline-block;
	position:relative;
	font-size:12px;
	padding:2px 0 0 22px;
	margin-right:20px;
}
.center .surveys .surveys-ico span img{
	position:absolute;
	left:0;
	top:0;
}
.center .class .surveys-ico{
	float:right;
	margin:24px 0 0;
}
.center .class .surveys-ico span{
	display:inline-block;
	position:relative;
	font-size:12px;
	padding:2px 0 0 22px;
	margin-right:20px;
}
.center .class .surveys-ico span img{
	position:absolute;
	left:0;
	top:0;
}
.center .timetable{
	margin-bottom:5px;
}
.center .timetable .timetable-item{
	background:url(../img/dot.gif) repeat-x left top;
	padding:9px 0 8px;
}
.center .timetable .timetable-item.first{
	background:none;
	padding:5px 0 8px;
}
.center .timetable .timetable-name{
	color:#040404;
	font-size:18px;
	margin-bottom:3px;
}
.center .timetable .class-place{
	display:inline-block;
	background:url(../img/ico-place.gif) no-repeat left 2px;
	padding-left:12px;
	font-size:12px;
	margin-right:5px;
}
.center .timetable .class-man{
	display:inline-block;
	background:url(../img/ico-man.gif) no-repeat left 2px;
	padding-left:14px;
	font-size:12px;
}
.center .dashboard{
	margin-bottom:13px;
}
.center .dashboard .dashboard-write{
	border-bottom:1px solid #d5e3ed;
	padding-bottom:17px;
}
.center .dashboard .dashboard-author{
	float:left;
	display:inline-block;
	padding:1px 0 0;
	margin-bottom:7px;
}
.center .dashboard .dashboard-author span{
	color:#040404;
	font-size:16px;
	margin-right:5px;
}
.center .dashboard .dashboard-link{
	float:right;
	font-size:12px;
	padding:2px 20px 0 0;
}
.center .dashboard .ico-edit{
	display:inline-block;
	background:url(../img/ico-edit.png) no-repeat left 2px;
	padding:0 0 0 11px;
	margin-left:25px;
	text-shadow:#fff 0 1px 0;
}
.center .dashboard .ico-delete{
	display:inline-block;
	background:url(../img/ico-del.png) no-repeat left 3px;
	padding:0 0 0 11px;
	text-shadow:#fff 0 1px 0;
}
.center .dashboard p{
	margin:0 0 8px;
}
.center .dashboard .dashboard-answer-all{
	padding:0 0 21px 29px;
	border-bottom:1px solid #d5e3ed;
}
.center .dashboard .dashboard-answer{
	background:url(../img/dot.gif) repeat-x left bottom;
	margin:0 0 1px;
	padding:15px 0 9px 11px;
}
.center .dashboard .dashboard-answer.new-ans{
	background:#fff7c9;
}
.center .dashboard .dashboard-answer p{
	margin-right:20px;
}
.center .dashboard .dashboard-answer .new{
	float:left;
	margin:4px 0 0 11px;
	border-bottom:1px solid #ccc6a1;
}
.center .write{
	padding:0 0 40px 30px;
}
.center .write h1{
	margin:0 0 8px;
}
.field-name{
	font-size:14px;
	margin-bottom:8px;
}
.field .field-l{
	background:url(../img/field-l.gif) no-repeat left top;
	width:6px;
	height:26px;
	float:left;
}
.field .field-r{
	background:url(../img/field-r.gif) no-repeat left top;
	width:6px;
	height:26px;
	float:left;
}
.field input{
	float:left;
	background:url(../img/field-bg.gif) repeat-x left top;
	height:16px;
	border:0;
	padding:5px 0;
	width:300px;
}
.textarea .textarea-l{
	background:url(../img/textarea-l.gif) no-repeat left top;
	width:6px;
	height:118px;
	float:left;
}
.textarea .textarea-r{
	background:url(../img/textarea-r.gif) no-repeat left top;
	width:6px;
	height:118px;
	float:left;
}
.textarea span{
	display:block;
	float:left;
	background:url(../img/textarea-bg.gif) repeat-x left top;
	float:left;
	height:114px;
	padding:4px 0 0;
}
.textarea span textarea{
	width:300px;
	height:110px;
	border:0;
	background:none;
}
.relative{
	position:relative;
	text-align:left;
}
a.btn{
	display:inline-block;
	border-bottom:1px solid #ccc;
	color:#666;
	font-size:12px;
	text-shadow:#fff 0 1px 0;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	background:#f6f6f6;
	background:-webkit-gradient(linear, 0 0, 0 bottom, from(#f6f6f6), to(#d9d9d9));
	background:-moz-linear-gradient(#f6f6f6, #d9d9d9);
	background:linear-gradient(#f6f6f6, #d9d9d9);
	-pie-background:linear-gradient(#f6f6f6, #d9d9d9);
	behavior:url(PIE.htc);
	padding:5px 19px;
}
.btn1{
	display:inline-block;
	border-bottom:1px solid #ccc;
	color:#666;
	font-size:14px;
	font-weight:bold;
	text-shadow:#fff 0 1px 0;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	background:#f6f6f6;
	background:-webkit-gradient(linear, 0 0, 0 bottom, from(#f6f6f6), to(#d8d8d8));
	background:-moz-linear-gradient(#f6f6f6, #d8d8d8);
	background:linear-gradient(#f6f6f6, #d8d8d8);
	-pie-background:linear-gradient(#f6f6f6, #d8d8d8);
	behavior:url(PIE.htc);
	padding:6px 18px;
}
a.btn2{
	display:inline-block;
	border-bottom:1px solid #ccc;
	color:#666;
	font-size:12px;
	line-height:12px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	background:#f6f6f6;
	background:-webkit-gradient(linear, 0 0, 0 bottom, from(#f6f6f6), to(#d9d9d9));
	background:-moz-linear-gradient(#f6f6f6, #d9d9d9);
	background:linear-gradient(#f6f6f6, #d9d9d9);
	-pie-background:linear-gradient(#f6f6f6, #d9d9d9);
	behavior:url(PIE.htc);
	padding:4px 7px 5px;
	text-align:left;
	letter-spacing:-0.1px;
}
.footer{
	border-top:1px solid #e3e3e3;
	font-size:12px;
	color:#666;
	width:100%;
	padding:19px 0;
}
.footer a{
	color:#666;
	text-decoration:underline;
}
.footer a:hover{
	text-decoration:none;
}
.footer .copy{
	float:left;
	width:215px;
	padding:0 0 0 2px;
}
.footer .menu{
	float:left;
}
.footer .menu a{
	margin-right:39px;
}
.mr10{
	margin-right:10px;
}
.mt8{
	margin-top:8px;
}
.mtb15{
	margin:-15px 0 15px;
}
.mb10{
	margin-bottom:10px;
}
.mb13{
	margin-bottom:13px;
}
.mb15{
	margin-bottom:15px;
}
.mb20{
	margin-bottom:20px;
}
.mb25{
	margin-bottom:25px;
}

.class-info-table {
	width: 100%;
}

.class-info-sessions {
	float: left;
	width: 45%;
}

.class-info-info {
	float: right;
	width: 45%;
}

.class-info-materials {
	width: 100%;
}

.class-info-materials td > div {
	float: left;
	width: 28%;
}

.mess-theme {
	float: left;
	width: 150px;
	margin-right: 12px;
	text-align: right;
}

.messages {
	overflow: hidden;
}


/* Login */

.login-wrapper {
	overflow: hidden;
	zoom:1\9;
	padding: 0 0 100px 255px;
	width: 710px;
}

.login-left {
	float: left;
	width: 425px;
}

.login-right {
	float: right;
	width: 245px;
	color: #444444;
	padding-top: 45px;
	font-size: 12px;
}

.login-container {
	background: url("../img/login-grad.png") repeat-x left bottom;
	padding: 30px 20px;
	border: 1px solid #f7f7f7;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 0 1px 1px #ccc;
	-webkit-box-shadow: 0 1px 1px #ccc;
	box-shadow: 0 1px 1px #ccc;
}

.login-table {
	width:100%;
}

.login-table label {
	padding-right: 0px;
	text-align: right;
}

.login-table p {
	padding-bottom: 15px;
}

.login-table p .ascompany {
	padding-bottom: 25px;
}

.login-table .textField {
	float: right;
	position: relative;
}


.login-table label.prettyCheckbox span.holderWrap {
	float: right;
	margin-left: 40px;
}

.login-table input[type="text"],
.login-table input[type="password"] {
	background:#fff url(../img/filed-back.png) repeat-x left top;
	border: 1px solid #cccccc;
	border-radius:3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	width: 267px;
	height: 20px;
	padding: 2px 4px;
	outline: none;
}

.btn-login {
	background: url("../img/btn-login.png") no-repeat left top;
	width: 98px;
	height: 31px;
	border: 0;
	cursor: pointer;
	vertical-align: middle;
}

.login-forgot {
	display: inline-block;
	vertical-align: middle;
	margin: 0 0 0 57px;
	color: #225f8f;
	font-size: 14px;
	text-decoration: underline;
}

/*
 * jQuery UI Tabs 1.8.16
 *
 * Copyright 2011, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Tabs#theming
 */
.ui-tabs .ui-tabs-hide { display: none !important; }
.ui-tabs ul li { display: inline-block;}


#classes_inner {  
   
    width:420px; /* important (this width = width of list item(including margin) * items shown */  
    overflow: hidden;  /* important (hide the items outside the div) */  
}  
      
#classes_ul {  
    position:relative;  
    left:0px; 
    list-style-type: none; 
    margin: 0px;  
    padding: 0px;  
    width:9999px; 
    /* non-important styling bellow */  
    padding-bottom:10px;  
}


      
#classes_ul li{  
    float: left;  /* important for inline positioning of the list items */  
    width:200px;  /* fixed width, important */  
    /* just styling bellow*/  
   /* padding:0px;  */
    height:110px;  
    margin-top:10px;  
    margin-bottom:10px;  
    margin-left:90px;  
    margin-right:90px;  
 }  


#prevSession {  
   float:left;  
   height:110px;  
   width:150px;  
}

#effect_attendance h3 {
	position:relative;  
	left: 0px; 
	margin: 0px;  
    padding: 0px;  
}
   
#classes_ul_for_attendance {  
	left:0px; 
    list-style-type: none; 
}

/* Errors */

div.t-error li {
	margin-left:20px !important;
}

img.t-error-icon {
	position:absolute !important;
	z-index:15 !important;
}

/* subscribe button */


.btn-subscribe {
	font-size: 12px; 
	height: 25px;
	padding: 6px 18px !important;
	margin-bottom:20px;
	font-weight: bold;
	line-height: 1;
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-user-select: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	user-select: none;
	background:#2383E3 url("../img/button.png") repeat-x;
	border: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.25);
	color: white;
	cursor: pointer;
	display: inline-block;
	position: relative;
	text-decoration: none !important;
}

.btn-subscribe:hover {
    background-color: #666666;
    color: white; }

.btn-subscribe img {
	opacity: 0.8;
	filter:alpha(opacity=80);
	float: left;
	margin: 0 6px 0 -3px;
}

.btn-subscribe a {
	color: white;
	display: block;
	float: left;
	margin: 6px 0 0 0;
	text-decoration: none;
}

.validation > div {
    background-color: #FEF0F0;
    border: 1px solid #FCC5C5;
    border-radius: 8px 8px 8px 8px;
    color: #990000;
    margin-bottom: 18px;
    padding: 4px 8px;
}

.validation > ul {
    margin-left: 35px;
}





