<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN"
                       "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundleName</key>
    <string>onCourseServer</string>
    <key>CFBundleShortVersionString</key>
    <string>release ${version}</string>
    <key>CFBundleGetInfoString</key>
    <string>onCourseServer ${version}</string>
    <key>CFBundleAllowMixedLocalizations</key>
    <string>false</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleExecutable</key>
    <string>onCourseServer</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>English</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleSignature</key>
    <string>ishS</string>
    <key>CFBundleVersion</key>
    <string>${version}</string>
    <key>CFBundleIconFile</key>
    <string>onCourseServer.icns</string>
    <key>CFBundleIdentifier</key>
    <string>au.com.ish</string>
    <key>CFBundleDocumentTypes</key>
    <array>
      <dict>
        <key>CFBundleTypeName</key>
        <string>onCourse server data file</string>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleTypeIconFile</key>
        <string>onCourseDocument.icns</string>
        <key>CFBundleTypeExtensions</key>
        <array>
          <string>iocdata</string>
        </array>
        <key>CFBundleTypeOSTypes</key>
        <array>
          <string>ishS</string>
        </array>
        <key>LSTypeIsPackage</key>
        <string>true</string>
      </dict>
    </array>
    <key>Java</key>
    <dict>
      <key>MainClass</key>
      <string>ish.oncourse.server.AngelServer</string>
      <key>JVMVersion</key>
      <string>${sourceCompatibility}+</string>
      <key>VMOptions</key>
      <string>-Xmx${maxmemoryServer} -server</string>
      <key>Properties</key>
      <dict>
        <key>apple.awt.textantialiasing</key>
        <string>true</string>
        <key>JFileChooser.appBundleIsTraversable</key>
        <string>true</string>
        <key>apple.laf.useScreenMenuBar</key>
        <string>true</string>
        <key>JFileChooser.packageIsTraversable</key>
        <string>true</string>
        <key>apple.awt.antialiasing</key>
        <string>true</string>
        <key>apple.awt.showGrowBox</key>
        <string>true</string>
      </dict>
      <key>ClassPath</key>
        <array>
          <string>$JAVAROOT/${mainJarClasspath}</string>
          <string>$JAVAROOT/${classpath.join('</string><string>$JAVAROOT/')}</string>
        </array>
    </dict>
  </dict>
</plist>
