//
//
// fonts.scss
//
// All the styles of fonts
//
// Copyright ish group (Australia) and part of ish onCourse.
// It is licensed to you under the Apache License, version 2.0



//
// Following all the style handles font styles and posibility to use default font
//

@if $useDefaultFont == true {
  @import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600);
}