//
//
// app.scss
//
// Contains application and default styles
//
// Copyright ish group (Australia) and part of ish onCourse.
// It is licensed to you under the Apache License, version 2.0


//
// Default font family
//
@import "fonts";

//
// Contains default styles
//

@import "main";

@import "responsive_embed";

//
// Normalize style
//
@import "normalize";

//
// Default style for inputs and button
//
@import "elements";

//
// Default style of faceted search
//
@import "faceted-search";

//
//
// Default content styles
//
@import "layout";

//
//
// Default icons styles
//
@import "icons";

//
//
// Default icons styles
//
@import "social-icons";

//
//
// Default header styles
//
@import "header";

//
//
// Default navigation styles
//
@import "navigation";

//
//
// Default search / advanced search styles
//
@import "search";

//
//
// Default courses styles
//
@import "courses";

//
//
// Default courses list styles
//
@import "courses-list";

//
//
// Default products styles
//
@import "products";

//
//
// Default shortlist courses styles
//
@import "shortlist";

//
//
// Default enrol styles
//
@import "enrol";

//
//
// Default checkout styles
//
@import "checkout/index";

//
//
// Default sidebar styles
//
@import "sidebar";

//
//
// Default courses menu list tree styles
//
@import "courses-menu";

//
//
// Default footer styles
//
@import "footer";

//
//
// Default print page styles
//
@import "print";
