//
//
// checkout.scss
//
// Contains all the styles of checkout contents
//
// Copyright ish group (Australia) and part of ish onCourse.
// It is licensed to you under the Apache License, version 2.0
//

$submitButtonBackground: #CF053C;
$submitButtonBackgroundHover: #1F1F1F;

$mediaWidth: 640px;

@mixin spinner() {
  position: relative;

  &:before {
    background: rgba(255, 255, 255, .5);
    position: absolute;
    width: 100%;
    height: 100%;
    content: " ";
    z-index: 444;
  }
  &:after {
    position: absolute;
    z-index: 999;
    height: 25px;
    width: 25px;
    content: " ";
    top: 50%;
    left: 50%;
    margin-top: -10px;
    margin-left: -10px;
    -webkit-animation: Animation-spin 400ms infinite linear;
    -o-animation: Animation-spin 400ms infinite linear;
    animation: Animation-spin 400ms infinite linear;
    box-sizing: border-box;
    border-radius: 50%;
    border: 2px solid #ccc;
    border-right-color: #333;
    display: inline-block;
    vertical-align: middle;
  }
}

#oncourse-checkout {
  font-size: 14px;
  margin-bottom: 20px;
  form {
    &.submitting {
      @include spinner();
    }
  }

  .fetching {
    @include spinner();
  }

  %checkout-submit-button {
    background: $submitButtonBackground;
    color: #fff;
    border: none;
    border-radius: 0;
    height: 32px;
    padding: 7px 20px 6px 20px;
    text-align: center;
    font-size: 14px;
    vertical-align: middle;
    display: inline-block;
    line-height: 1.5;
    margin: 0 3px;
    cursor: pointer;

    text-transform: uppercase;
    font-weight: 700;
    white-space: nowrap;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    &:hover, &:active, &:focus {
      background: $submitButtonBackgroundHover;
    }
  }
  .progress-steps ul {
    list-style: none;
    margin-left: 0;
    li {
      width: 31.33%;
      margin: 0 2% 0 0;
      display: inline-block;
      padding-right: 15px;
      background: url("/s/img/progress-arrow-default.png") center right no-repeat;
      &:hover {
        background: url("/s/img/progress-arrow-hover.png") center right no-repeat;
        a {
          background: #d5d5d5;
        }
      }
      &.disable {
        background: url("/s/img/progress-arrow-disable.png") center right no-repeat;
        a {
          cursor: default;
          color: #6B6B6B;
          background: #F3F3F3;
        }
      }
      &.active {
        background: url("/s/img/progress-arrow-active.png") center right no-repeat;
        a {
          cursor: default;
          background: #666666;
          color: #fff;
        }
      }

      &:last-child {
        margin: 0;
        padding: 0
      }
      &.last {
        background: none;
        &:hover {
          background: none;
        }
      }
      a {
        display: block;
        padding: 4px 0px 5px 10px;
        color: #6B6B6B;
        text-decoration: none;
        background: #e7e7e7;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 7px;
        @media only screen and (min-width: $mediaWidth) {
          font-size: 12px;
        }
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
  .message, .error {
    background-color: pink;
    padding: 4px 8px;
    margin-bottom: 1.6em;
    border: 1px solid #ddd;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
  }
  .message {
    background-color: #EEF6FF;
    border-color: #A3E0F0;
    color: #0066AA
  }
  .error {
    background-color: #FEF0F0;
    border-color: #FCC5C5;
    color: #990000;
    ul {
      margin-top: 7px;
    }
    p {
      margin: 0px;
      color: #990000
    }
  }

  .form-controls {
    margin: 0;
    padding: 0;
    display: block;
    text-align: right;
    input#submitContact {
      padding: 2px 10px 3px 10px;
      margin: 0 0 0 5px;
    }
    a.cancel {
      @extend %checkout-submit-button;
      text-decoration: none;
      background: #247a83;
      font-weight: bold;
      text-transform: uppercase;
      &:hover, &:focus, &:active {
        background: darken(#247a83, 15%);
      }
    }
    input[type="submit"] {
      @extend %checkout-submit-button;
    }
  }
  .highlight {
    padding: 10px;
    background-color: #FDEFC9
  }
  .message p {
    margin-bottom: 0px;
    color: #0066AA
  }
  .validation {
    color: #B94A48;
    background-color: #F2DEDE;
    border: 1px solid #EED3D7;
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    padding: 8px 35px 8px 14px;
    margin: 0 10px 25px 10px
  }

  fieldset, #tabable-container .tab-content {
    >div>div, >div>div>div, .form-details >div>div, .form-group, .form-group > div > div, .form-details > p {
      position: relative;
      margin-bottom: 12px;
      label {
        font-weight: normal !important;
        text-align: left !important;
        width: 100% !important;
        max-width: 100% !important;
        line-height: 1.5 !important;
        padding: 4px 0px 4px 0 !important;
        margin-bottom: 3px !important;
        font-size: 14px !important;
        @media only screen and (min-width: $mediaWidth) {
          padding: 4px 20px 3px 0 !important;
          width: 26% !important;
          max-width: 180px !important;
          margin-bottom: 0px !important;
          text-align: right !important;
        }
        > small {
          color: #999;
          font-size: 9px;
          display: block;
          line-height: 9px;
        }
        em {
          font-size: 11px;
        }
        >sup {
          color: red;
        }
        &.radio-btn {
          width: auto;
          float: none;
          margin-left: 0px;
          max-width: none;
          display: block;
          margin-bottom: 5px;
          &.text-right {
            text-align: right;
            padding: 0;
          }
          input[type=radio] {
            float: left;
            margin-left: 0px;
            margin-right: 5px;
            @media only screen and (min-width: $mediaWidth) {
              margin-left: -20px;
              margin-right: 0px;
            }
          }
        }
      }
      > span {
        width: 100%;
        @media only screen and (min-width: $mediaWidth) {
          width: 70%;
        }
        &.select-payer {
          label.radio-btn {
            text-align: left;
          }
        }
        #cvvLink {
          margin-left: 11px;
          @media only screen and (min-width: $mediaWidth) {
            margin-left: 55px;
          }
        }
      }

      .conditions {
        top: 0;
        label {
          display: block;
          width: auto;
          max-width: 100%;
          text-align: left;
          margin-left: 26%;
          padding-left: 20px;
          font-weight: normal;
        }
      }
      span {
        display: inline-block;
        vertical-align: top;
        position: relative;
        &.validate-text {
          position: absolute;
          z-index: 1;
          font-size: 11px;
          margin-left: 0;
          max-width: none;
          left: 6px;
          top: auto;
          width: auto;
          bottom: 72px;
          @media only screen and (min-width: $mediaWidth) {
            bottom: 47px;
          }
          .reason, .hint {
            font-weight: bold;
            position: relative;
            display: block;
            padding: 3px;
          }
          .reason {
            background-color: #FEF0F0;
            border: 1px solid #FCC5C5;
          }
          .hint {
            background-color: #FDF6D6;
            border: 1px solid #F9E99C;
            .reason-pointer, .hint-pointer {
              border-top: 8px solid #F9E99C;
            }
          }
          .reason-pointer, .hint-pointer {
            z-index: -1;
            display: block;
            position: absolute;
            left: 2px;
            top: auto;
            bottom: -15px;
            border-top: 8px solid #FCC5C5;
            border-left: 11px solid transparent;
            border-right: 11px solid transparent;
            background: none;
          }
          .hidden-text {
            display: none;
          }
        }
      }
      input, textarea {
        border: 1px solid #D5D5D5;
        font-size: 11px;
        &:hover {
          border-color: #aaaaaa;
        }
        &:focus {
          outline: none;
          border-color: #000;
        }
        &.t-error {
          font-style: normal;
          background-color: #FEF0F0;
          color: #f00;
        }
      }

      input[type="text"], input[type="password"], select {
        border: 1px solid #D5D5D5;
        padding: 3px 7px;
        background-color: #fff;
        font-size: 14px;
        height: 30px;
        line-height: 1.5;
        width: 100% !important;
        max-width: none !important;
        @media only screen and (min-width: $mediaWidth) {
          width: 190px !important;
          max-width: 190px !important;
        }
      }
      textarea {
        border: 1px solid #D5D5D5;
        padding: 3px 7px;
        background-color: #fff;
        font-size: 14px;
        height: 150px;
        line-height: 1.5;
        width: 100%;
        @media only screen and (min-width: $mediaWidth) {
          width: 50%;
        }
      }
      .radio-list {
        top: 0;
        margin-left: 0;
        margin-top: 6px;
        padding-left: 0;
        >span >span {
          margin-right: 8px;
        }
        input {
          margin-right: 5px;
          margin-top: 1px;
        }
      }
    }
    .Select {
      width: 100%;
      display: inline-block;
      vertical-align: middle;
      margin-bottom: 10px;
      @media only screen and (min-width: $mediaWidth) {
        width: 190px;
      }

      &.t-error {
        padding: 0;
        border: none;
        margin: 0;
        background: none;
        * {
          background: none;
          color: #aaa !important;
          font-weight: normal;
        }
        .Select-control {
          background: #FEF0F0;
          padding: 0;
          .Select-placeholder {
            color: #aaa !important;
            font-weight: normal;
          }
        }
      }

      .Select-loading-zone {
        position: absolute !important;
        top: 50%;
        right: 30px;
        margin-top: -10px;

        .Select-loading {
          width: 20px;
          height: 20px;
        }
      }

      .Select-control {
        border-radius: 0;
        height: 26px;
        background-color: #fff;
        border: 1px solid #ddd;
        color: #333;
        cursor: default;
        display: table;
        border-spacing: 0;
        border-collapse: separate;
        height: 30px;
        outline: none;
        overflow: hidden;
        position: relative;
        width: 100%;

        &:hover {
          border-color: #ddd;
        }

        span {
          display: block;
          vertical-align: middle;
          position: static;
          height: 24px;

          &.Select-arrow-zone, &.Select-multi-value-wrapper {
            position: relative;
            display: table-cell;
            vertical-align: middle;
          }
          &.Select-multi-value-wrapper {
            display: block;
          }

          &.Select-arrow-zone {
            width: 20px;
          }

          &.Select-arrow {
            vertical-align: middle;
            height: auto;
          }
          &.Select-multi-value-wrapper {
            @media only screen and (min-width: $mediaWidth) {
              width: 118px;
            }
          }
        }

        .Select-input > input {
          border: 0 none;
          font-size: 14px;
          padding: 4px 0 6px;
          min-width: 83px;
          max-width: 83px;
          @media only screen and (min-width: $mediaWidth) {
            min-width: 143px;
            max-width: 143px;
          }
        }
      }
    }
    .Select-placeholder, .Select--single > .Select-control .Select-value .Select-value-label {
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .Select-placeholder, .Select--single > .Select-control .Select-value, .Select-input {
      height: 26px;
      line-height: 26px;
      font-size: 11px;
      padding-left: 10px;
      padding-right: 10px;
      vertical-align: middle;
    }
    .Select-placeholder {
      font-weight: normal;
    }

    .has-value.is-pseudo-focused.Select--single > .Select-control .Select-value .Select-value-label,
    .has-value.Select--single > .Select-control .Select-value .Select-value-label {
      color: #333;
    }

    .Select-placeholder, .Select--single > .Select-control .Select-value {
      bottom: 0;
      color: #aaa;
      left: 0;
      line-height: 27px;
      padding-left: 10px;
      padding-right: 22px;
      position: absolute;
      right: 0;
      top: 0;
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .is-focused:not(.is-open) {
      > .Select-control {
        border-color: #ccc;
        box-shadow: none;
      }
    }
  }

  .payment-summary, #contactEditorForm {
    .student-name {
      .student-info {
        font-weight: bold;
        padding-bottom: 5px;
        position: relative;
        .student-email {
          color: #888888;
          font-size: 11px;
          font-weight: normal;
          left: 0;
          text-transform: lowercase;
          top: 1px;
          margin-right: 5px;
        }
        .student-affilation {
          color: #888888;
          font-weight: normal;
          strong {
            margin-right: 6px;
          }
        }
      }
    }
  }
  .payment-summary {
    font-size: 14px;
    .membership, .concession {
      color: #aaa;
      font-size: 11px;
      margin-bottom: 5px;
      i {
        font-style: inherit;
      }
    }
    .add-concession, .new-student-link {
      width: 100%;
      display: block;
      margin-bottom: 7px;
      padding: 7px 0 7px 30px;

      cursor: pointer;
      background: #f7f7f7 url(/s/img/add.png) no-repeat scroll 8px 50%;
    }
    .checkoutList {
      margin-bottom: 7px;
      .enrolmentItem {
        margin-bottom: 10px;
        .enrolmentInfo {
          .enrolmentSelect {
            margin-right: 6px;
            vertical-align: top;
            margin-top: 1px;
          }
          label {
            width: 100%;
            max-width: none;
            text-align: left;
            padding-right: 0;
            font-weight: bold;
            vertical-align: middle;
            display: block;
            line-height: 16px;
          }
          em {
            color: #888888;
            font-size: 11px;
            font-style: normal;
            margin-left: 18px
          }
          >span {
            margin-left: 18px;
          }
          span {
            >span {
              &.started, &.ended {
                vertical-align: top;
              }
            }
          }
        }
        .alignright > .text-right {
          padding-right: 31px;
        }
      }
    }
  }
  div.amount-container {
    border: 1px solid #D6D6D6;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    border-radius: 7px;
    padding: 15px 10px;
    background: #F7F7F7;
    margin-bottom: 20px;
    button.btn-primary {
      @extend %checkout-submit-button;
      margin: 20px 0 0 0;
    }
    #addCode {
      text-transform: inherit;
      font-weight: normal;
      @extend %checkout-submit-button;
      height: 30px;
      padding:  5px 15px;
      font-size: 12px;
    }

    .amount-content {
      width: 253px;
      float: right;
      margin-top: 20px;
      @media only screen and (min-width: $mediaWidth) {
        margin-top: 0px;
      }
      label {
        font-weight: normal;
        width: 145px;
        text-align: right;
        margin-right: 10px;
        padding-right: 0px;
        line-height: 21px;
      }
      a {
        text-decoration: none;
      }
      p {
        margin: 0 0 5px 0;
      }
      span {
        display: inline-block;
        width: 65px;
        text-align: right;
        float: right;
        line-height: 21px;
        margin-right: 32px;
        &#creditAccessLink {
          color: #125687;
          cursor: pointer;
        }
        &#removeOwingLink {
          width: auto;
          margin: 0 0 0 5px;
          color: #125687;
        }
      }
      .total-amount {
        font-weight: bold;
        label {
          font-weight: bold;
        }
      }
      input {
        display: inline-block;
        width: 65px;
        text-align: right;
        margin-right: 32px;
        font: inherit;
        background-color: #FAFAFA;
        border: 1px solid #DDD;
      }

      #vouchers {
        white-space: nowrap;
        input[type="checkbox"] {
          margin-top: 2px;
          width: initial;
          margin-right: initial;
        }
        p label {
          display: inline-block;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }
    }
    div.code-info {
      float: left;
      width: 100% !important;
      margin: 0 0 20px 0;
      @media only screen and (min-width: $mediaWidth) {
        width: 270px !important;
      }
      p {
        margin-bottom: 0px;
        clear: both;
        font-size: 11px;
      }
      .code-input {
        margin-bottom: 10px;
        .form-control {
          padding: 3px 5px;
          &:focus {
            box-shadow: none;
          }
        }
      }
    }
    input.code_input {
      padding: 3px;
      background-color: #FAFAFA;
      border: 1px solid #DDD;
      width: 100%;
      font-size: 11px;
      float: left;
      height: 30px;
      @media only screen and (min-width: $mediaWidth) {
        width: 120px;
      }
    }
    #access-password-popup {
      display: none;
      z-index: 999;
      position: absolute;
      top: 5px;
      list-style: none;
      width: 200px;
      margin: 0;
      background-color: white;
      border: 1px solid #CCC;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      -ms-border-radius: 6px;
      -o-border-radius: 6px;
      border-radius: 6px;
      -webkit-box-shadow: rgba(0, 0, 0, 0.19922) 0px 5px 10px;
      box-shadow: rgba(0, 0, 0, 0.19922) 0px 5px 10px;
      -webkit-background-clip: padding-box;
      background-clip: padding-box;
      padding: 15px 10px 15px 10px;
    }
    .action-link {
      cursor: pointer;
      color: #85A918;
      margin-left: 20px;
    }
  }
  .code-info {
    margin: 0;
    padding-left: 15px;
    padding-right: 15px;
  }
  #tabable-container {
    margin: 0 0 18px 0;
    padding: 0;
    border: 1px solid silver;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
    background: #fcfcfc;
    &::after {
      display: block;
      visibility: hidden;
      clear: both;
      content: "";
    }
    ul.nav {
      margin-right: -1px;
      position: relative;
      margin: 0;
      float: left;
      list-style: none;
      width: 100% !important;
      background: #fcfcfc;
      border-top-left-radius: 9px;
      border-top: 1px solid transparent;
      border-top-right-radius: 9px;
      border-bottom: 1px solid #ddd;
      @media only screen and (min-width: $mediaWidth) {
        width: 19.8% !important;
        border-top-right-radius: 0px;
        border-bottom: 0;
      }
      li {
        margin: 0;
        width: 50%;
        display: inline-block;
        @media only screen and (min-width: $mediaWidth) {
          width: 100%;
          display: block;
        }
        &.first {
          &.active a {
            border-top-color: #ddd !important;
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;
            @media only screen and (min-width: $mediaWidth) {
              border-top-color: transparent !important;
              border-top-left-radius: 6px;
              border-top-right-radius: 0px;
            }
          }
          a:hover {
            border-top-left-radius: 6px;
          }
        }
        a {
          padding: 8px 12px;
          line-height: 20px;
          margin-right: 0px !important;
          margin-bottom: -1px;
          display: block;
          border: 1px solid transparent;
          color: #555;
          text-decoration: none;
          @media only screen and (min-width: $mediaWidth) {
            margin-bottom: 0px;
            margin-right: -1px !important;
          }
          &:hover {
            background: #eee;
            border-color: #EEE #DDD #DDD #DDD !important;
            color: #333;
            border-top-right-radius: 6px;
            border-top-left-radius: 6px;
            @media only screen and (min-width: $mediaWidth) {
              border-top-right-radius: 0px;
              border-top-left-radius: 0px;
              border-color: #EEE #DDD #EEE #EEE !important;
            }
          }
        }
        &.active a {
          background: #fff;
          border-color: #DDD #DDD #FFF #DDD !important;
          font-weight: bold;
          color: #555;
          border-top-left-radius: 6px;
          border-top-right-radius: 6px;
          @media only screen and (min-width: $mediaWidth) {
            border-color: #DDD transparent #DDD transparent !important;
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
          }
        }
      }
    }


    .tab-content {
      width: 100% !important;
      float: left;
      background: #fff;
      padding: 0 10px;
      border-left: 0;
      border-top-right-radius: 9px;
      border-bottom-right-radius: 9px;
      border-bottom-left-radius: 9px;
      @media only screen and (min-width: $mediaWidth) {
        border-left: 1px solid #ddd;
        border-bottom-left-radius: 0px;
        width: 80% !important;
        padding: 0
      }

      .payer-selection {
        position: absolute;
        top: 70px;
        right: 0px;
        z-index: 2;
        @media only screen and (min-width: $mediaWidth) {
          top: 50px;
          right: 20px;
        }
        > a.button {
          float: none;
          text-decoration: none;
          @extend %checkout-submit-button;
          padding: 3px 9px;
          height: auto;
          text-transform: inherit;
          font-size: 12px;
        }
        ul {
          position: absolute;
          top: 100%;
          left: 0;
          z-index: 1000;
          display: none;
          float: left;
          min-width: 160px;
          padding: 5px 0;
          margin: 2px 0 0;
          list-style: none;
          background-color: #FFF;
          border: 1px solid #CCC;
          border: 1px solid rgba(0, 0, 0, 0.2);
          -webkit-border-radius: 6px;
          -moz-border-radius: 6px;
          -ms-border-radius: 6px;
          -o-border-radius: 6px;
          border-radius: 6px;
          -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          -webkit-background-clip: padding-box;
          -moz-background-clip: padding;
          background-clip: padding-box;
          top: 25px;
          left: 12px;
          &::before {
            position: absolute;
            top: -7px;
            left: 9px;
            display: inline-block;
            border-right: 7px solid transparent;
            border-bottom: 7px solid #CCC;
            border-left: 7px solid transparent;
            border-bottom-color: rgba(0, 0, 0, 0.2);
            content: '';
          }
          &::after {
            position: absolute;
            top: -6px;
            left: 10px;
            display: inline-block;
            border-right: 6px solid transparent;
            border-bottom: 6px solid #FFF;
            border-left: 6px solid transparent;
            content: '';
          }
          li {
            line-height: 20px;
            > a {
              display: block;
              padding: 3px 20px;
              clear: both;
              font-weight: normal;
              line-height: 20px;
              color: #333;
              white-space: nowrap;
              text-decoration: none;
              &:hover {
                color: #FFF;
                text-decoration: none;
                background-color: #0081C2;
                background-image: -moz-linear-gradient(top, #08C, #0077B3);
                background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#08C), to(#0077B3));
                background-image: -webkit-linear-gradient(top, #08C, #0077B3);
                background-image: -o-linear-gradient(top, #08C, #0077B3);
                background-image: linear-gradient(to bottom, #08C, #0077B3);
                background-repeat: repeat-x;
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
              }
            }
          }
        }
      }

      .form-details {
        position: relative;
        >p {
          margin-bottom: 30px;
          @media only screen and (min-width: $mediaWidth) {
            margin-bottom: 12px;
          }
        }
        .form-group {
          .select-payer {
            float: left;
            width: 100%;
            @media only screen and (min-width: $mediaWidth) {
              float: right;
              width: 74%;
            }
            .radio-list {
              >span {
                display: block;
              }
            }
          }
          .input-select-small {
            .form-group, > div {
              width: 117px;
              display: inline-block;
              vertical-align: middle;
              @media only screen and (min-width: $mediaWidth) {
                width: 92px;
              }
              .Select {
                width: 115px;
                @media only screen and (min-width: $mediaWidth) {
                  width: 92px;
                }
                .Select-control .Select-multi-value-wrapper {
                  width: 93px;
                  @media only screen and (min-width: $mediaWidth) {
                    width: 70px;
                  }
                  .Select-placeholder {
                    padding-right: 0;
                  }
                }
              }
            }
            .date-separator {
              vertical-align: middle;
              height: 30px;
            }
          }
        }
      }
      #corporate-pass {
        >fieldset {
          padding-left: 0;
          padding-right: 0;
          border: 0;
          @media only screen and (min-width: $mediaWidth) {
            padding-left: 20px;
            padding-right: 20px;
          }
        }
        .pass-input {
          margin-bottom: 20px;
        }
        #addCorporatePass {
          @extend %checkout-submit-button;
          height: 30px;
          padding: 5px 20px 5px 20px;
          margin: 0px !important;
          @media only screen and (min-width: $mediaWidth) {
            margin: 0 0px 0 30.5% !important;
          }
        }
      }
      .vcc-card-image {
        vertical-align: top;
        margin-left: 0px;
        margin-bottom: 2px;
        @media only screen and (min-width: $mediaWidth) {
          margin-left: 5px;
        }
      }
      #cardtotalstring {
        margin-top: -3px;
        vertical-align: middle;
        img {
          vertical-align: middle;
        }
      }
    }
  }

  .header-content {
    color: #333;
    font-size: 23px;
    border-radius: 0 5px 0px 0px;
    position: relative;
    margin-bottom: 25px;
    .header {
      padding: 10px 0 0 11px;
      background: url("/s/img/Padlock.png") 7px 5px no-repeat;
      h1 {
        text-transform: none;
        font-size: 23px;
        margin-bottom: 0;
        color: #333;
        line-height: 26px;
        padding-left: 45px;
        font-weight: normal;
      }
      span {
        color: #666;
        font-size: 14px;
        line-height: 18px;
        padding-left: 45px;
        display: inline-block;
        vertical-align: top;
        position: relative;
      }
    }
  }

  img.t-error-icon {
    display: none;
    vertical-align: text-top;
    position: relative;
    top: -10px;
    left: -14px;
  }
  .enrolmentsSelected {
    .form-controls {
      margin-bottom: 10px;
      margin-left: 260px;
    }
    fieldset {
      margin: 0;
      padding: 0;
      border: 0;
    }
  }

  .payment-conditions {
    margin-bottom: 20px;
    label {
      width: 100%;
      max-width: none;
      text-align: left;
      @media only screen and (min-width: $mediaWidth) {
        text-align: right;
        width: 26%;
        max-width: 180px;
      }
    }
    .conditions {
      position: relative;
      width: 100%;
      left: auto;
      padding-left: 0px;
      top: 0px;
      @media only screen and (min-width: $mediaWidth) {
        width: 80%;
        left: 24%;
        top: -20px;
        padding-left: 20px;
      }
      > span {
        display: inline-block;
        width: 100%;
        @media only screen and (min-width: $mediaWidth) {
          width: 92%;
        }
        .conditions-text {
          width: 80%;
          font-weight: normal;
        }
        > input, .conditions-text {
          float: left;
          margin-right: 5px;
        }
      }
    }
  }
  .concessionEditor, #contactEditorForm {
    .conditions {
      top: 0;
      left: 0;
      width: 100%;
      padding-left: 0;
      @media only screen and (min-width: $mediaWidth) {
        padding-left: 25%;
      }
      >div, >span {
        float: left;
      }
      >div {
        margin-right: 5px;
      }
      >span {
        width: 92%;
      }
    }
    button, #cancelConcession {
      @extend %checkout-submit-button;
    }
  }

  #contactEditorForm {
    fieldset {
      >div>div>div {
        >span {
          width: 100%;
          @media only screen and (min-width: $mediaWidth) {
            width: 70%;
          }
        }
      }
    }
    .form-controls>span>a {
      @extend %checkout-submit-button;
    }
  }

  .__react_component_tooltip {
    position: absolute !important;
    display: none !important;
    width: 65%;
    font-size: 11px !important;
    max-width: 220px !important;
    border: 1px solid #ddd;
    padding: 4px;
    &.place-right, &.place-left {
      margin-left: 0px !important;
      top: auto !important;
      margin: 0;
      bottom: 61px;
      left: 5px !important;
      @media only screen and (min-width: $mediaWidth) {
        bottom: 35px;
        left: 142px !important;
      }
      &::after {
        z-index: -1;
        display: block;
        position: absolute;
        left: 2px !important;
        top: auto !important;
        bottom: -8px;
        border: none !important;
        border-top: 8px solid #FCC5C5 !important;
        border-left: 11px solid transparent !important;
        border-right: 11px solid transparent !important;
        background: none;
        margin-top: 0 !important;
      }
    }

    &.type-error {
      background-color: #FEF0F0 !important;
      border: 1px solid #FCC5C5 !important;
      font-weight: bold;
      span {
        color: #111111;
        margin: 0 !important;
      }
    }
    &::before {
      top: 12px !important;
    }
    &.show {
      display: block !important;
      >span {
        width: auto !important;
      }
      .help-block, .radio, .checkbox {
        margin-top: 4px;
        margin-bottom: 7px;
      }

      .radio-inline, .checkbox-inline {
        padding: 1px 0;
      }
    }
  }
  .has-error, .has-warning, .has-success, .has-info {
    .help-block, .radio, .checkbox, .radio-inline, .checkbox-inline {
      color: #fff;
    }
    .control-label, label {
      color: #000000;
    }
  }

}
