/* 
	Site:    ish onCourse
	Title:   Master styles for screen media (default)
	Author:  Bruce Martin, design@brucemartin.net
	Date:    October 8, 2007
	
	Original file name: master.css (default)
	Modified 11th August 2009 by Thomas to implement new html/css layout and naming conventions as a default for those sites with no custom design.
	Note that a lot of this CSS should be deleted.
*/


/*********************************** new stuff added by Thomas to replace old stuff above ************************/

