//
//
// footer-a.scss
//
// Contains all settings used for footer content for theme "a"
//
// Copyright ish group (Australia) and part of ish onCourse.
// It is licensed to you under the Apache License, version 2.0



$footerBG-a: #252d30 !default;
$footerTextColor-a: #8ca3ab !default;
$footerAddressTextColor-a: $secondaryColor-a !default;

$footerTitleColor: $white !default;
$footerAnchorColor: #8ca3ab !default;
$footerAnchorHoverColor: $white !default;

@if $footer-theme == "a" {
  $footerBG: $footerBG-a;
  $footerTextColor: $footerTextColor-a;
  $footerAddressTextColor: $footerAddressTextColor-a;
}
