# Require any additional compass plugins here.
# Set this to the root of your project when deployed:
#http_path = "/"
css_dir = "css"
sass_dir = "src"
# project_path = "/var/"
images_dir = "s/img"
javascripts_dir = "s/js"
# To enable relative paths to assets via compass helper functions. Uncomment:
#relative_assets = true
additional_import_paths = add_import_path "/var/onCourse/s/default/stylesheets/src"
line_comments = false

require 'fancy-buttons'