<?xml version="1.0"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         metadata-complete="true"
         version="3.0">

	<display-name>willowAdmin</display-name>

	<context-param>
		<param-name>tapestry.app-package</param-name>
		<param-value>ish.oncourse.admin</param-value>
	</context-param>
	
	<context-param>
		<param-name>applicationName</param-name>
		<param-value>admin</param-value>
	</context-param>

	<filter>
		<filter-name>app</filter-name>
		<filter-class>org.apache.tapestry5.TapestryFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>app</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<context-param>
    	<param-name>liquibase.changelog</param-name>
    	<param-value>liquibase.db.changelog.xml</param-value>	
	</context-param>
	
	<context-param>
    	<param-name>liquibase.datasource</param-name>
    	<param-value>java:comp/env/jdbc/oncourse</param-value>
	</context-param>
  
	<context-param>
    	<param-name>liquibase.onerror.fail</param-name>
    	<param-value>true</param-value>
	</context-param>
 
	<context-param>
    	<param-name>liquibase.contexts</param-name>
    	<param-value>production</param-value>
	</context-param>
 
	<listener>
    	<listener-class>ish.oncourse.listeners.TheLiquibaseServletListener</listener-class>
	</listener>
	
	<security-role>
		<description>Willow Admin Role.</description>
		<role-name>admin</role-name>
	</security-role>
	 
	<security-constraint>
		<web-resource-collection>
			<web-resource-name></web-resource-name>
			<url-pattern>/*</url-pattern>
			<http-method>GET</http-method>
			<http-method>POST</http-method>
		</web-resource-collection>
		
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
		
		<user-data-constraint>
			<transport-guarantee>NONE</transport-guarantee>
		</user-data-constraint>
		
	</security-constraint>
	
	<login-config>
		<auth-method>BASIC</auth-method>
		<!--<form-login-config>-->
			<!--<form-login-page>/login.html</form-login-page>-->
			<!--<form-error-page>/loginFailed.html</form-error-page>-->
		<!--</form-login-config>-->
	</login-config>

    <session-config>
		<session-timeout>40</session-timeout>
	</session-config>
	
	<welcome-file-list>
		<welcome-file>/</welcome-file>
	</welcome-file-list>

	<listener>
		<listener-class>org.apache.logging.log4j.web.Log4jServletContextListener</listener-class>
	</listener>

	<filter>
		<filter-name>log4jServletFilter</filter-name>
		<filter-class>org.apache.logging.log4j.web.Log4jServletFilter</filter-class>
	</filter>

	<context-param>
		<param-name>log4jConfiguration</param-name>
		<param-value>file:///${sys:catalina.base}/conf/log4j2-admin.xml</param-value>
	</context-param>

	<filter-mapping>
		<filter-name>log4jServletFilter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>ERROR</dispatcher>
	</filter-mapping>

</web-app>