//
//
// default-a.scss
//
// Contains all the settings used in different scss files
//
// This file is copyright ish group, Australia.
// It is licensed to you under the Apache License, version 2.0
// and is part of ish onCourse.
//
// Author: Chintan Kotadia
//

$containerWidth-a: 1120px !default;
$anchorColor-a: #7d8087 !default;
$anchorHoverColor-a: #37b8cb !default;

$primaryColor-a: #38BACA !default;
$secondaryColor-a: #252d30 !default;

$small-screen-a: 640px !default;
$tablet-screen-a: 992px !default;
$desktop-screen-a: 1024px !default;

$bodyFontFamily-a: 'Source Sans Pro', sans-serif !default;
$bodyFontSize-a: 15px !default;
$bodyFontColor-a: #5c636b !default;

$h1InnerTextColor-a: $primaryColor-a !default;

$discountBlockTextColor-a: $anchorColor-a !default;
$discountBlockTitleColor-a: $bodyFontColor-a !default;

$courseItemBorderTop-a: 2px dotted $primaryColor-a !default;
$classItemLinkHoverColor-a: $primaryColor-a !default;
$classItemBorderHoverColor-a: $primaryColor-a !default;

$courseMoreLinkColor-a: $secondaryColor-a !default;
$courseMoreLinkHoverColor-a: $primaryColor-a !default;

$coursesJoinButtonBackground-a: $primaryColor-a !default;
$waitingListTitleHoverBG-a: $bodyFontColor-a !default;

$enrolActionAddedBackground-a: $secondaryColor-a !default;

@if $theme == "a" {
  $containerWidth: $containerWidth-a;

  $anchorColor: $anchorColor-a;
  $anchorHoverColor: $anchorHoverColor-a;

  $primaryColor: $primaryColor-a; //btn primary color
  $secondaryColor: $secondaryColor-a;

  // media: small, tablet, desktop
  $small-screen: $small-screen-a;
  $tablet-screen: $tablet-screen-a;
  $desktop-screen: $desktop-screen-a;

  $bodyFontFamily: $bodyFontFamily-a;
  $bodyFontSize: $bodyFontSize-a;
  $bodyFontColor: $bodyFontColor-a;

  $discountBlockTextColor: $discountBlockTextColor-a;
  $discountBlockTitleColor: $discountBlockTitleColor-a;

  // Content container
  $contentContainerMarginTop: 0px;

  // Courses
  $waitingListTitleHoverBG: $waitingListTitleHoverBG-a;


  $h1InnerFontFamily: $bodyFontFamily-a;
  $h1InnerTextColor: $h1InnerTextColor-a;

  $h1LinkColor: $primaryColor-a;
  $h1LinkHoverColor: $secondaryColor-a;

  $h2LinkColor: $primaryColor-a;
  $h2LinkHoverColor: $secondaryColor-a;

  $h3LinkColor: $primaryColor-a;
  $h3LinkHoverColor: $secondaryColor-a;

  $h4LinkColor: $primaryColor-a;
  $h4LinkHoverColor: $secondaryColor-a;

  $h5LinkColor: $primaryColor-a;
  $h5LinkHoverColor: $secondaryColor-a;

  $h6LinkColor: $primaryColor-a;
  $h6LinkHoverColor: $secondaryColor-a;

  $enrolActionFontFamily: $bodyFontFamily-a;
  $enrolActionBackground: $primaryColor-a;
  $enrolActionHoverBackground: $secondaryColor-a;

  $enrolActionBorder: 1px solid $primaryColor-a;
  $enrolActionAddedBackground: $enrolActionAddedBackground-a;

  $coursesJoinButtonBackground: $coursesJoinButtonBackground-a;
  $coursesJoinButtonHoverBackground: $primaryColor-a;
  $classItemBorderHoverColor: $classItemBorderHoverColor-a;

  $coursesFontFamily: $bodyFontFamily-a;
  $coursesDetailsFontFamily: $bodyFontFamily-a;
  $normalFontFamily: $bodyFontFamily-a;

  $courseItemBorderTop: $courseItemBorderTop-a;

  $courseMoreLinkColor: $courseMoreLinkColor-a;
  $courseMoreLinkHoverColor: $courseMoreLinkHoverColor-a;

  $btnBackgroundColor: $primaryColor-a;
  $btnBackgroundHoverColor: $secondaryColor-a;

  $btnType2BackgroundColor: $secondaryColor-a;

  $classItemLinkHoverColor: $classItemLinkHoverColor-a;
}
