//
//
// default-c.scss
//
// Contains all the settings used in different scss files
//
// Copyright ish group (Australia) and part of ish onCourse.
// It is licensed to you under the Apache License, version 2.0



// Content settings

$containerWidth-c: 1460px !default;
$layout-color-c: #4cddf3 !default;

$anchorColor-c: #7d8087 !default;
$anchorHoverColor-c: #37b8cb !default;

$primaryColor-c: #404040 !default;
$secondaryColor-c: #00515f !default;

$small-screen-c: 640px !default;
$tablet-screen-c: 992px !default;
$desktop-screen-c: 1080px !default;
$custom-screen-c: 1060px !default;

$bodyFontFamily-c: 'Source Sans Pro', sans-serif !default;
$bodyFontSize-c: 15px !default;
$bodyFontColor-c: #717171 !default;
$bodyBackground-c: #f7f7f7 !default;

$h1InnerTextColor-c: $primaryColor-c !default;

$headerTopBarMarginBottom-c: 0 !default;
$headerTopBarPaddingTop-c: 0 !default;
$headerTopBarHeight-c: auto !default;
$headerTopBarBG-c: $white !default;

$discountBlockDisplay-c: none !default;
$discountBlockActionLinkDisplay-c: none !default;
$discountBlockTextColor-c: $anchorColor-c !default;
$discountBlockTitleColor-c: $bodyFontColor-c !default;

$classItemBackgroundColor-c: transparent !default;
$classItemBorder-c: #dedede !default;

$courseItemBorderTop-c: 2px dotted $primaryColor-c !default;

$classItemLinkHoverColor-c: $primaryColor-c !default;
$classItemBorderHoverColor-c: $primaryColor-c !default;

$courseMoreLinkColor-c: $secondaryColor-c !default;
$courseMoreLinkHoverColor-c: $primaryColor-c !default;

$coursesJoinButtonBackground-c: $primaryColor-c !default;
$waitingListTitleHoverBG-c: $bodyFontColor-c !default;

$enrolActionAddedBackground-c: $secondaryColor-c !default;

@if $theme == "c" {
  $containerWidth: $containerWidth-c;

  $anchorColor: $anchorColor-c;
  $anchorHoverColor: $anchorHoverColor-c;

  $primaryColor: $primaryColor-c; //btn primary color
  $secondaryColor: $secondaryColor-c;

  // media: small, tablet, desktop
  $small-screen: $small-screen-c;
  $tablet-screen: $tablet-screen-c;
  $desktop-screen: $desktop-screen-c;
  $custom-screen: $custom-screen-c;

  // Font Families

  $bodyBackground: $bodyBackground-c;
  $bodyFontFamily: $bodyFontFamily-c;
  $bodyFontSize: $bodyFontSize-c;
  $bodyFontColor: $bodyFontColor-c;

  $discountBlockTextColor: $discountBlockTextColor-c;
  $discountBlockTitleColor: $discountBlockTitleColor-c;

  $headerTopBarMarginBottom: $headerTopBarMarginBottom-c;
  $headerTopBarPaddingTop: $headerTopBarPaddingTop-c;
  $headerTopBarHeight: $headerTopBarHeight-c;
  $headerTopBarBG: $headerTopBarBG-c;

  // Content container
  $contentContainerMarginTop: 0px;

  // Courses
  $waitingListTitleHoverBG: $waitingListTitleHoverBG-c;


  $h1InnerFontFamily: $bodyFontFamily-c;
  $h1InnerTextColor: $h1InnerTextColor-c;

  $discountBlockDisplay: $discountBlockDisplay-c;
  $discountBlockActionLinkDisplay: $discountBlockActionLinkDisplay-c;

  $h1LinkColor: $primaryColor-c;
  $h1LinkHoverColor: $secondaryColor-c;

  $h2LinkColor: $primaryColor-c;
  $h2LinkHoverColor: $secondaryColor-c;

  $h3LinkColor: $primaryColor-c;
  $h3LinkHoverColor: $secondaryColor-c;

  $h4LinkColor: $primaryColor-c;
  $h4LinkHoverColor: $secondaryColor-c;

  $h5LinkColor: $primaryColor-c;
  $h5LinkHoverColor: $secondaryColor-c;

  $h6LinkColor: $primaryColor-c;
  $h6LinkHoverColor: $secondaryColor-c;

  $enrolActionFontFamily: $bodyFontFamily-c;
  $enrolActionBackground: $primaryColor-c;
  $enrolActionHoverBackground: $secondaryColor-c;

  $enrolActionBorder: 1px solid $primaryColor-c;
  $enrolActionAddedBackground: $enrolActionAddedBackground-c;

  $coursesJoinButtonBackground: $coursesJoinButtonBackground-c;
  $coursesJoinButtonHoverBackground: $primaryColor-c;
  $classItemBorderHoverColor: $classItemBorderHoverColor-c;
  $classItemBackgroundColor: $classItemBackgroundColor-c;

  $classItemBorder: 1px solid $classItemBorder-c;
  $classItemBorderLeft: 6px solid $classItemBorder-c;

  $coursesFontFamily: $bodyFontFamily-c;
  $coursesDetailsFontFamily: $bodyFontFamily-c;
  $normalFontFamily: $bodyFontFamily-c;

  $courseItemBorderTop: $courseItemBorderTop-c;

  $courseMoreLinkColor: $courseMoreLinkColor-c;
  $courseMoreLinkHoverColor: $courseMoreLinkHoverColor-c;

  $btnBackgroundColor: $primaryColor-c;
  $btnBackgroundHoverColor: $secondaryColor-c;

  $btnType2BackgroundColor: $secondaryColor-c;

  $classItemLinkHoverColor: $classItemLinkHoverColor-c;
}