//
//
// default-b.scss
//
// Contains all the settings used in different scss files
//
// This file is copyright ish group, Australia.
// It is licensed to you under the Apache License, version 2.0
// and is part of ish onCourse.
//
// Author: Chintan Kotadia
//

$fontFamilyOne: !default;

// Content settings */
$colorTypeOne: #9ac836 !default;
$colorTypeTwo: #799e28 !default;

$colorTypeThree: #d0e64b !default;
$colorTypeFour: #b9cc46 !default;

$colorTypeFive: #33a6b2 !default;
$colorTypeFiveHover: darken($colorTypeFive, 5%) !default;
$colorTypeFiveBorderColorHover: $colorTypeFive !default;

$colorTypeSix: #247a83 !default;

$containerWidth-b: 1260px !default;
$anchorColor-b: #7d8087 !default;
$anchorHoverColor-b: #37b8cb !default;

$primaryColor-b: #859f4b !default;
$secondaryColor-b: #247a83 !default;

$small-screen-b: 640px !default;
$tablet-screen-b: 992px !default;
$desktop-screen-b: 1080px !default;
$custom-screen-b: 1060px !default;

$bodyFontFamily-b: 'Source Sans Pro', sans-serif !default;
$bodyFontSize-b: 14px !default;
$bodyFontColor-b: #333333 !default;
$bodyBackground-b: $white !default;

$h1InnerTextColor-b: $primaryColor-b !default;

$discountBlockDisplay-b: block !default;
$discountBlockActionLinkDisplay-b: block !default;
$discountBlockTextColor-b: $anchorColor-b !default;
$discountBlockTitleColor-b: $bodyFontColor-b !default;

$courseItemBorderTop-b: 2px dotted $primaryColor-b !default;

$contentMainTitle-b: $secondaryColor-b !default;
$contentSubTitle-b: #0a3a4a !default;

$classItemLinkHoverColor-b: $primaryColor-b !default;
$classItemBorderHoverColor-b: $primaryColor-b !default;

$courseMoreLinkColor-b: $secondaryColor-b !default;
$courseMoreLinkHoverColor-b: $primaryColor-b !default;

$coursesJoinButtonBackground-b: $primaryColor-b !default;
$waitingListTitleHoverBG-b: $bodyFontColor-b !default;

$enrolActionAddedBackground-b: $secondaryColor-b !default;

@if $theme == "b" {
  $useDefaultFont: false;
  @import url(https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,900);

  $containerWidth: $containerWidth-b;

  $anchorColor: $anchorColor-b;
  $anchorHoverColor: $anchorHoverColor-b;

  $primaryColor: $primaryColor-b; //btn primary color
  $secondaryColor: $secondaryColor-b;

  // media: small, tablet, desktop */
  $small-screen: $small-screen-b;
  $tablet-screen: $tablet-screen-b;
  $desktop-screen: $desktop-screen-b;
  $custom-screen: $custom-screen-b;

  // Font Families */
  $fontFamilyOne: 'Raleway', sans-serif;

  $bodyBackground: $bodyBackground-b;
  $bodyFontFamily: $fontFamilyOne;
  $bodyFontSize: $bodyFontSize-b;
  $bodyFontColor: $bodyFontColor-b;

  $discountBlockTextColor: $discountBlockTextColor-b;
  $discountBlockTitleColor: $discountBlockTitleColor-b;

  // Content container */
  $contentContainerMarginTop: 0px;

  // Courses */
  $waitingListTitleHoverBG: $waitingListTitleHoverBG-b;


  $h1InnerFontFamily: $bodyFontFamily-b;
  $h1InnerTextColor: $h1InnerTextColor-b;

  $discountBlockDisplay: $discountBlockDisplay-b;
  $discountBlockActionLinkDisplay: $discountBlockActionLinkDisplay-b;

  $h1LinkColor: $primaryColor-b;
  $h1LinkHoverColor: $secondaryColor-b;

  $h2LinkColor: $primaryColor-b;
  $h2LinkHoverColor: $secondaryColor-b;

  $h3LinkColor: $primaryColor-b;
  $h3LinkHoverColor: $secondaryColor-b;

  $h4LinkColor: $primaryColor-b;
  $h4LinkHoverColor: $secondaryColor-b;

  $h5LinkColor: $primaryColor-b;
  $h5LinkHoverColor: $secondaryColor-b;

  $h6LinkColor: $primaryColor-b;
  $h6LinkHoverColor: $secondaryColor-b;

  $enrolActionFontFamily: $bodyFontFamily-b;
  $enrolActionBackground: $primaryColor-b;
  $enrolActionHoverBackground: $secondaryColor-b;

  $enrolActionBorder: 1px solid $primaryColor-b;
  $enrolActionAddedBackground: $enrolActionAddedBackground-b;

  $coursesJoinButtonBackground: $coursesJoinButtonBackground-b;
  $coursesJoinButtonHoverBackground: $primaryColor-b;
  $classItemBorderHoverColor: $classItemBorderHoverColor-b;

  $coursesFontFamily: $bodyFontFamily-b;
  $coursesDetailsFontFamily: $bodyFontFamily-b;
  $normalFontFamily: $bodyFontFamily-b;

  $courseItemBorderTop: $courseItemBorderTop-b;

  $courseMoreLinkColor: $courseMoreLinkColor-b;
  $courseMoreLinkHoverColor: $courseMoreLinkHoverColor-b;

  $btnBackgroundColor: $primaryColor-b;
  $btnBackgroundHoverColor: $secondaryColor-b;

  $btnType2BackgroundColor: $secondaryColor-b;

  $classItemLinkHoverColor: $classItemLinkHoverColor-b;
}