* { font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif; font-size: 110%:}

body.is_logged_in { margin-top: 50px;}

ul.no_list_style li { display: inline-block; }
ul.no_list_style, ul.no_list_style li { list-style: none; margin: 0; }

ul.icons_bg li { background-repeat: no-repeat; background-position: 95% center; }

ul.icons_bg .theme_bg { background-image: url(../img/icon/theme.png); }
ul.icons_bg .pages_bg { background-image: url(../img/icon/pages.png); }
ul.icons_bg .blocks_bg { background-image: url(../img/icon/blocks.png); }


.no_margin { margin: 0 !important; }
.hidden { display: none !important; }

div.container { border: 0px solid #eee; width: 90%; position: relative; }
div#admin_toolbar li, div#admin_toolbar ul { list-style: none; margin: 0; padding: 0; display: inline-block; }

div#admin_toolbar { position: fixed; width: 100%; top: 0px; font-size: 140%;z-index: 2000; }

/* CMS Navigation toolbar */	
div#admin_toolbar div#nav_cms { height: auto; width: 100%; background: #f8f7f6/* url(../img/nav_cms_bg.png) repeat*/; -webkit-box-shadow: 0px 5px 25px #D7CDB9; -moz-box-shadow: 0px 5px 25px #D7CDB9; z-index: 6000; border-bottom: 0px solid #d4d1bf;  padding: 0; z-index: 100; position: relative; }
div#admin_toolbar div#nav_cms ul { display: block; z-index: 150; }
div#admin_toolbar div#nav_cms > ul > li { height: auto; width: auto; border: 0px solid #f7f7f7; display: block; float: left; }

div#admin_toolbar div#nav_cms > ul > li > a { background-position-x: center; display: block; padding: 4px 8px; color: #333; text-align: center; }
div#admin_toolbar > div#nav_cms > ul.left > li:hover > a { border: 0px solid #C9CACA; background-color: #EFEEE5 !important;  }

div#admin_toolbar div#nav_cms li.selected { background-color: #eceadf; color: #000; }
div#admin_toolbar div#nav_cms li.selected a {color: #A89166;  font-weight: bold; }

div#admin_toolbar div#nav_cms ul.nav_cms_sub { display: none; }

div#admin_toolbar > div#nav_cms > ul > li > ul.nav_cms_sub { display: block; position: absolute; width: 90%; top: 23px; background: #F7F5F1 url(../img/sub_nav_bg.png) repeat-x; left: 5%; z-index: 1; height: 0; border: 0px solid red; -webkit-box-shadow: 0px 4px 15px #eee; -moz-box-shadow: 0px 4px 15px #eee; border-bottom: 1px solid #f7f7f7; margin: 0 auto; }

/* Sub nav */
div#admin_toolbar div#nav_cms ul.nav_cms_sub a { color: #444; display: block; background: transparent url(../img/icon/arrow_down.png) right center no-repeat; padding: 0 10px;}
div#admin_toolbar div#nav_cms ul.nav_cms_sub a:hover { }

div#admin_toolbar div#nav_cms li.search_panel { position: absolute;  top: 22px; right: 20px; background: #F8F7F6/*99845D*/; -moz-border-radius: 0 0 4px 4px; -webkit-border-top-left-radius: 0px; -webkit-border-top-right-radius: 0px; -webkit-border-bottom-right-radius: 4px; -webkit-border-bottom-left-radius: 4px; -webkit-box-shadow: 0px 5px 15px #eee; -moz-box-shadow: 0px 5px 15px #eee; border: 1px solid #DFD7C7; border-top-width: 0px; }

/*div#admin_toolbar div#nav_cms ul.left > li.selected a:hover + ul.nav_cms_sub { overflow: visible; border-top: 10px solid red; }*/
div#admin_toolbar div#nav_cms ul.left > li.pages ul.nav_cms_sub { height: 32px; }

/* System links */
div#admin_toolbar div#nav_cms ul#system_links > li > a { color: #888; display: block; padding: 4px 20px 0 0; font-size: 80%; }
div#admin_toolbar div#nav_cms ul#system_links > li > a { color: #999; }
/*div#admin_toolbar div#nav_cms ul#system_links:hover a { color: #f7f7f7; }*/

/* Search panel + results */
div#admin_toolbar div#nav_cms li.search_panel { padding: 0 20px 10px 20px; z-index: 101; }
div#admin_toolbar div#nav_cms li.search_panel form { margin: 0; padding: 0px 0px; }
div#admin_toolbar div#nav_cms li.search_panel form input { font-size: 150%; margin: 0; color: #eee; }
div#admin_toolbar div#nav_cms li.search_panel form input:focus { outline: 0px; }

div#admin_toolbar div#nav_cms li.search_panel form ul li { font-size: 80%; padding-left: 10px; }	
div#admin_toolbar div#nav_cms li.search_panel form ul li a { color: #5C4F38; }
div#admin_toolbar div#nav_cms li.search_panel form ul li a:hover { color: #f7f7f7; background-color: #5C4F38;  }

/* Results */	
div#admin_toolbar div#nav_cms li.search_panel div.results { height: 0px; overflow: hidden; width: 243px; margin-top: 0px; border-top: 0px solid #eee; padding-top: 0px; display: none; }
div#admin_toolbar div#nav_cms li.search_panel div.results h5 { color: #000; font-weight; none; }
div#admin_toolbar div#nav_cms li.search_panel div.results li { width: 84%; border: 0px solid red; display: block; float: none; padding: 10px 30px 10px 6px; background-color: #D3D3D4; }
div#admin_toolbar div#nav_cms li.search_panel div.results li:nth-child(2n) {background-color: #CBCCCC;}
div#admin_toolbar div#nav_cms li.search_panel div.results li a { color: #444; }	
div#admin_toolbar div#nav_cms li.search_panel div.results li:hover { background-color: transparent; -webkit-border-radius: 0; -moz-border-radius: 0; background-color: #A17850;  }
div#admin_toolbar div#nav_cms li.search_panel div.results li:hover a { color: #f7f7f7;} 

a#search_panel_close { display: none !important; text-align: left !important; }

div#admin_toolbar div#nav_cms li.search_panel div.results ul#results_filter { display: inline-block; width: 100%; margin-top: 20px; }	
div#admin_toolbar div#nav_cms li.search_panel div.results ul#results_filter > li { background-color: #b83400 !important; padding: 6px 13px 6px 7px !important; margin: 0;  font-size: 80%; color: #fff !important; -moz-border-radius: 4px 4px 0 0; -webkit-border-top-left-radius: 4px; -webkit-border-top-right-radius: 4px; -webkit-border-bottom-right-radius: 0px; -webkit-border-bottom-left-radius: 0px; }
div#admin_toolbar div#nav_cms li.search_panel div.results ul#results_filter > li:hover { opacity: 1; }
div#admin_toolbar div#nav_cms li.search_panel div.results ul#results_filter > li a { color: #fff; }

div#admin_toolbar div#nav_cms li.search_panel div.results ul#results_filter li { float: left; width: auto; background-color: transparent;  }
/*	div#admin_toolbar div#nav_cms li.pages > ul { height: 25px; width: 100%; display: none; position: absolute; background: #ECEADF url(../img/main_nav_bg.png); padding: 10px 10px 0 10px; }		*/

div#admin_toolbar div#nav_cms li.search_panel div.results ul#results_filter .unselected { opacity: 0.2; }

/* Results list */
div#admin_toolbar div#nav_cms li.search_panel div.results ul#results_list { height: 255px; overflow-y: auto; }

div#admin_toolbar > div#nav_cms li > ul > li { padding: 5px 10px 6px 0; margin-top: 10px;}


/* Dropdown menu */

div#nav_cms > ul > li > ul > li:hover { background: #A89166; }
div#nav_cms > ul > li > ul > li:hover a { color: #f7f7f7 !important; }
div#admin_toolbar div#nav_cms > ul > li > ul > li:hover div.menu_dropdown { left: auto; }

li.active_menu { background: #A89166; }
li.active_menu a { color: #f7f7f7 !important; }

div#admin_toolbar div#nav_cms div.menu_dropdown { width: 350px; height: auto; background-color: #FBFBFB; position: absolute; top: 34px;  left: -999px; padding: 10px; border: 1px solid #DFD7C7; border-top: 0px; -webkit-box-shadow: 1px 3px 4px #eee; -moz-border-radius: 0 0 4px 4px; -webkit-border-top-left-radius: 0px; -webkit-border-top-right-radius: 0px; -webkit-border-bottom-right-radius: 4px; -webkit-border-bottom-left-radius: 4px; }
div#admin_toolbar div#nav_cms .selected div.menu_dropdown {}

div#admin_toolbar div#nav_cms div.menu_dropdown div {  }
div#admin_toolbar div#nav_cms ul#nav_cms_sub div.menu_dropdown div.item_search { height: 80px; text-align: center;}
div#admin_toolbar div#nav_cms ul#nav_cms_sub div.menu_dropdown div.item_search input { font-size: 160%; width: 80%; }

div#admin_toolbar div#nav_cms ul#nav_cms_sub div.menu_dropdown div.item_list { height: 290px; }
div#admin_toolbar div#nav_cms ul#nav_cms_sub div.menu_dropdown div.item_actions { height: 30px; text-align: right; }

div.item_search dl { margin: 0; font-size: 80%; }
div.item_search dt, div.item_search dd { display: inline-block; }

div.form_question { border: 1px solid #eee; padding: 10px;  }

div#save_dialog { position: fixed; bottom: 50px; left: 50px; padding: 10px; border: 1px solid #444; background-color: #333; color: #eee; opacity: 0.95; -moz-border-radius: 4px; -webkit-border-radius: 4px; font-size: 1.2em; display: none; }
div#save_dialog a#save_prompt { color: blue; }

/* Sitemap */

div#nav_cms_sub_contents { bottom: 0px;  height: 0px; overflow: hidden; position: absolute; top: 22px;  background: #F7F5F1 url(../img/sub_nav_bg.png) repeat-x; width: 100%; padding: 0 0 0 20px; -webkit-box-shadow: 0px 5px 25px #eee; -moz-box-shadow: 0px 5px 25px #eee; border-bottom: 1px solid #eee; }

div#nav_cms_sub_contents ul#view_links { position: absolute; top: 20px; left: 100px; }
div#nav_cms_sub_contents ul#view_links li { margin-left: 20px;}
div#nav_cms_sub_contents ul#window_links { position: absolute; bottom: 0px; border: 0px solid red; }	
div#nav_cms_sub_contents ul#window_links li { display: block; margin-bottom: 5px; }

div#nav_cms_sub_contents ul#window_links li.close_link a { border: 0px solid red;  }

/* Sitemap Page - List View */
div#nav_cms_sub_contents > h3 {  }
div#nav_cms_sub_contents > p {   }

div#nav_cms_sub_contents > ul { }
div#nav_cms_sub_contents ul.listing { border: 0px solid #DED6C6; }	
div#nav_cms_sub_contents ul.listing span { display: none; }
div#nav_cms_sub_contents ul.listing li a { display: block; }
div#nav_cms_sub_contents ul.listing li:empty { padding: 0; }

div#nav_cms_sub_contents ul.listing ul { margin-left: 20px; }
div#nav_cms_sub_contents ul.listing > li a { border: 1px solid #eee; padding: 10px 0; border: 0px solid transparent;  }
div#nav_cms_sub_contents ul.listing li {  padding: 0 !important; margin: 0 !important; }

div#nav_cms_sub_contents ul.listing { border: 1px solid #eee; width: 30%; height: 400px; overflow-y: auto; position: absolute; top: 80px; left: 20px; z-index: 1; }
div#nav_cms_sub_contents ul.listing li { display: block;}



/* Sitemap Page - SlickMap View */	
div#nav_cms_sub_contents > ul#sitemap_pages.map { border: 1px solid #DED6C6; width: 80%; height: 380px; overflow-x: auto; background-color: #F7F5F1;  }



ul#sitemap_pages.map li {
	width: 14.2%;
}

ul#sitemap_pages.map li ul li {
	width:100% !important;
}

ul#sitemap_pages.map.col1 li { width:99.9%; }
ul#sitemap_pages.map.col2 li { width:50.0%; }
ul#sitemap_pages.map.col3 li { width:33.3%; }
ul#sitemap_pages.map.col4 li { width:25.0%; }
ul#sitemap_pages.map.col5 li { width:20.0%; }
ul#sitemap_pages.map.col6 li { width:16.6%; }
ul#sitemap_pages.map.col7 li { width:14.2%; }
ul#sitemap_pages.map.col8 li { width:12.5%; }
ul#sitemap_pages.map.col9 li { width:11.1%; }
ul#sitemap_pages.map.col10 li { width:10.0%; }

ul#sitemap_pages.map {
	margin: 0;
	float: left;
	width: 100%;
}

ul#sitemap_pages.map li {
	float: left;
	background: url('../img/slickmap/L1-center.png') center top no-repeat;
	padding: 30px 0;
	margin-top: -30px;
}
ul#sitemap_pages.map li a {
	margin: 0 20px 0 0;
	padding: 10px 0;
	display: block;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	color: black;
	background: #c3eafb url('../img/slickmap/white-highlight.png') top left repeat-x;
	border: 2px solid #b5d9ea;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-webkit-box-shadow: rgba(0,0,0,0.5) 2px 2px 2px;
	-moz-box-shadow: rgba(0,0,0,0.5) 2px 2px 2px; /* FF 3.5+ */
}
ul#sitemap_pages.map li a:hover {
	background-color: #e2f4fd;
	border-color: #97bdcf;
	border-width: 2px;
}
ul#sitemap_pages.map li:last-child {
	background: url('../img/slickmap/L1-right.png') center top no-repeat;
}

ul#sitemap_pages.map li a:link:before,
ul#sitemap_pages.map li a:visited:before {
	color: #78a9c0;
}

/* --------	Second Level --------- */

ul#sitemap_pages.map li li {
	width: 100%;
	clear: left;
	margin-top: 0;
	padding: 10px 0 0 0;
	background: url('../img/slickmap/vertical-line.png') center bottom repeat-y;
}
ul#sitemap_pages.map li li a {
	background-color: #cee3ac;
	border-color: #b8da83;
}
ul#sitemap_pages.map li li a:hover {
	border-color: #94b75f;
	background-color: #e7f1d7;
}
ul#sitemap_pages.map li li:first-child {
	padding-top: 30px;
}
ul#sitemap_pages.map li li:last-child {
	background: url('../img/slickmap/vertical-line.png') center bottom repeat-y;
}
ul#sitemap_pages.map li li a:link:before,
ul#sitemap_pages.map li li a:visited:before {
	color: #8faf5c;
}

/* --------	Third Level --------- */

ul#sitemap_pages.map li li ul {
	margin: 10px 0 0 0;
	width: 100%;
	float: right;
	padding: 9px 0 10px 0;
	background: transparent url('../img/slickmap/L3-ul-top.png') center top no-repeat;
}
ul#sitemap_pages.map li li li {
	background: url('../img/slickmap/L3-center.png') left center no-repeat;
	padding: 5px 0;
}
ul#sitemap_pages.map li li li a {
	background-color: #fff7aa;
	border-color: #e3ca4b;
	font-size: 12px;
	padding: 5px 0;
	width: 80%;
	float: right;
}
ul#sitemap_pages.map li li li a:hover {
	background-color: #fffce5;
	border-color: #d1b62c;
}
ul#sitemap_pages.map li li li:first-child {
	padding: 15px 0 5px 0;
	background: url('../img/slickmap/L3-li-top.png') left center no-repeat;
}
ul#sitemap_pages.map li li li:last-child {
	background: url('../img/slickmap/L3-bottom.png') left center no-repeat;
}
ul#sitemap_pages.map li li li a:link:before,
ul#sitemap_pages.map li li li a:visited:before {
	color: #ccae14;
	font-size: 9px;
}

div#sitemap_static_pages { position: absolute; top: 72px; right: 20px; width: 30%; }
div#sitemap_static_pages ul { width: 100% !important; position: static !important; height: 276px !important; overflow-x: hidden;  } 

ul#sitemap_nonav_pages	{ position: absolute; top: 72px; left: 35% !important; width: 20%; }


/* Layout / Content Editor styling */	
div.layout_editor {  z-index: 1; width: 950px !important; }
div.layout_editor div#content { border: 1px dashed #eee;  height: 600px; position: relative; z-index: 1;}	
div.layout_editor div#sidebar { border: 1px dashed #eee; height: 600px;  width: 206px;}	

div.layout_editor div#content { }
div.layout_editor div#content div.edit_region_link  { position: absolute; top: 0; right: 0; padding: 12px; background: #939595; color: #fff; display: none; cursor: pointer; }

div.layout_editor div#content:hover { border: 1px solid #939595; }
div.layout_editor div#content:hover div.edit_region_link { display: block; }
