/*****************

Filename: admin.css
Purpose: Styles the /portal/admin pages. Affects the page/block/template editor forms.
Notes:

- Table of Contents -

****************/

/* Overall black-on-white style to make admin work in most site styles
---------------------------------------------------------------------*/
div#web-admin-content, div.node-editor-edit {background-color:white; color:black; padding:0.3em;}

/* Move the content down so it is not hidden by the admin bar */
body div.container {margin-top: 35px;}


/* Web Page Editing
--------------------------------------------- */

#webContent {width:95%;}

div.form-item {
	margin-top: 1.5em;
}
span.subdued {
	color: #99957e;
}
table.adminbuttons {
	width: 100%;
	border: none;
}
table.adminbuttons td, table.adminbuttons tr {
	text-align: center;
	border: none;
}
#content label.admin {
	width: 100%;
	clear: both;
	text-align: left;
	font-weight: normal;
}
div#webdetaileditor .toggler {
	background-color: #f0f0f0;
	padding: 0.3em;
	padding-left: 20px;
}
div#webdetaileditor .toggler:hover {
	background-color: silver;
}
div#webdetaileditor .inner {
	background-color: #f7f7f7;
	padding: 0.3em;
}
div.tagLocation {
	padding: 0.5em;
}
ul.taglisttop {
	margin-left: 1em;
	padding: 1em;
	border: 1px solid gray;
}
ul.taglist {
	margin: 0;
	margin-left: 1em;
}
ul.taglist li, ul.tree li {
	list-style: none;
	list-style-image: none;
	background-image: none; /*border-top: 1px dotted silver;*/
}
div.block-editor {
	border: 1px solid silver;
	background-color: #fdfdfd;
	padding: 1em;
	margin: 1em;
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
}
div.web-grouping {
	border: 1px solid gray;
	border-radius: 5px;
	padding: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	margin-top: 5px;
}


/* Site map  and page list*/

.tabs {margin-bottom:-1px;}
.tabs li {
	background-repeat: no-repeat; background-color:white; background-position: 4px 6px;
	padding-left:24px;
}
.tabs li.sitemap {background-image: url(../../images/text_align_right.png) }
.tabs li.pages {background-image: url(../../images/text_align_justify.png) }
.tabs li.selected {border-bottom: 1px solid transparent;}
.tabs li.add_page {border:none; }
.tabs li.add_page a {background-image: url(../../images/page_add.png); }
tr.row_odd {background-color:#f0f0f0;}
div.pageListTabs table {border:1px solid silver; }
div.pageListTabs {border:1px solid silver; margin-top:0; padding: 1em;}
div.pageListTabs th {background-color:#e0e0f0; font-weight:normal;}
div.pageListTabs td, div.pageListTabs th {padding:4px; border:none;}
div.pageListTabs tr:hover {background-color:silver;}
div.pageListTabs a.parent_link, span.parent_link {font-size:smaller; color:gray;}
div.busy_inline {width:24px; float:right;}
div.pageListTabs a.smallLinkButton {background-color:white;}
div.pageListTabs a.smallLinkButton:hover {background-color:#ffffdd;}

div.web-node-list-header {background-color: #f0f0f0; padding:0.3em; padding-right:1em;}
ul.webnodelist {padding-left:0; margin-left:-15px; list-style-type: none;}
ul.webnodelist ul {list-style-type: none;}

ul.webnodelist li {background:none;}
span.node-name {font-weight:bold; width:12em; float:left;}
span.node-menu { width:20em; float:left;}
span.webnodelist-controls {float:right;}
span.web-visible {font-weight:bold;}
span.node-published {color:#99dd99;}
span.node-unpublished {color: #dd8800}
span.node-deleted {color:#ff8888; text-decoration:line-through;}
div.web-node-line { padding-right:1em;}
div.web-node-line {border-bottom: 1px solid silver;}
div.web-node-line:hover {background-color:#f0f0f0;}
td.ancestor-path {color:gray; font-size:smaller;text-align:right;}
td.date-modified {color:gray; font-size:smaller;}
div.pageListTabs td.action_links {padding-top:6px;}
div.pageListTabs a.editNode, div.pageListTabs a.addChild, li.add_page a { background-repeat: no-repeat; 
 background-position: 2px 2px;
 padding:4px; padding-left:19px; font-size:smaller;}
div.pageListTabs a.editNode {background-image: url(../../images/edit-page.png);}
div.pageListTabs a.addChild {background-image: url(../../images/page_add.png);}
div.pageListTabs  span.page_name {font-size:bigger;}
div.pageListTabs a.return_to_search {font-size:smaller; float:right;}
div.pageListTabs span.rss {background-position: 0 0;}

/* from willowadmin.css */

div#tagParent li {
	margin-bottom: 0;
	padding-bottom: 0;
}
.droppableHover {
	background-color: yellow;
	background-position: 0 0;
	background-repeat: no-repeat;
	background-image: url(../../images/checkSmallTicked.png)
}

a.selectParent {
	background-image: url(../../images/checkSmall.png);
	background-position: 4px 5px;
	background-repeat: no-repeat;
	width: 18px;
	height: 14px;
	padding: 2px;
	padding-left: 18px;
	padding-right:5px;
	margin: 0;
}
a.selectParent:hover {
	background-image: url(../../images/checkSmallTicked.png);
	background-color: silver;
}

span.notSelectable {
	background-image: url(./../../images/checkSmallDisabled.png);
	background-position: 4px 5px;
	background-repeat: no-repeat;
	width: 18px;
	height: 14px;
	padding: 2px;
	padding-left: 18px;
	padding-right:5px;
	margin: 0;
}

li.inactive>span.notSelectable {
	color: gray;
}

a.gotopage {
	background-image: url(../../images/gotopage.png);
	background-position: 0 8px;
	background-repeat: no-repeat;
	margin-left: 0em;
	padding: 5px;
}
a.gotopage:hover {
	background-image: url(../../images/goto.png);
}
img.nodeControl {
	visibility: hidden;
	display: none;
	width: 0;
	height: 0;
}

.ajax-hinted-text-with-default {
	color: gray;
}

span.parent {
	background-image: url(../../images/checkSmallTicked);
	background-position: 0 4px;
	background-repeat: no-repeat;
	padding-left: 14px;
}

ul.taglist li.parent ul li {
	font-style: normal;
	color: black;
}
xul.taglist li.child {
	font-weight: normal;
}
xul.taglist li.selected {
	border: 1px solid green;
}
ul.taglist li.inactive, ul.taglist li.inactive a {
	color: gray;
}
ul.taglist img.nodeControl {
	border: none;
	vertical-align: top;
	display: inline;
}
ul.taglist ul {
	margin: 0;
	padding: 0;
}
div.unsavedpages {
	padding: 0.4em;
}





/* Web Admin Navigation
--------------------------------------- */

div#webeditorcontrol {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 9999;
}

div#admin {position:relative;}

div#admin span {display:block; float:left; padding-top: 10px; padding-right:1em; font-size:120%}
div#admin span.welcome {padding-left:50px;}
div#admin div#admin-logo {
	position: absolute; top:5px; left:5px;
	background-image:url(../../images/ishAdmin.png); 
	background-repeat:no-repeat; 
	width:42px; height:42px;}
	
div#admin form.select_site {display:inline; margin:0; padding:0;}
div#admin form.select_site span {padding-top:6px;}
/*
div#webeditorcontrol ul.menu li.newPageInactive {
	background-position: 0px 10px;
	background-repeat: no-repeat;
	background-image: url(../../images/page_add.png);
	color: yellow;
}
div#webeditorcontrol ul.menu li.editThisPage {
	background-position: 0px 10px;
	background-repeat: no-repeat;
	background-image: url(../../images/edit-page.png);
	color: yellow;
}
div#webeditorcontrol ul.menu li.sitemapHere {
	background-position: 0px 10px;
	background-repeat: no-repeat;
	background-image: url(../../images/edit-page.png);
	color: yellow;
}
*/
/* Web Detail Editor */

.buttonAsLink {
	background-image: url(/s/img/button.png);
	background-repeat: repeat-x;
	padding: 5px;
	background-position: 0px -12px;
	border: 1px solid gray;
	border-top: 1px solid silver;
	border-left: 1px solid silver;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	margin-top: 0.25em;
}
.buttonAsLink:hover {
	cursor: pointer;
	background-position: 0 0;
	color: brown;
}

.smallLinkButton {
	padding: 1px;
	padding-left: 2px;
	padding-right: 2px;
	border: 1px solid gray;
	border-top: 1px solid silver;
	border-left: 1px solid silver;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;	
}

a.smallLinkButton:hover {background-color:silver; color: brown;}

div.activeTab {
	background-color: white;
	font-weight: bold;
	display: inline;
	color: brown;
	margin-bottom: -0.1em;
	padding: 1em;
	padding-top: 0.3em;
	padding-bottom: 0.5em;
	border-top: 1px solid silver;
	border-left: 1px solid silver;
	border-right: 1px solid gray;
}

.rss {background:url(../../images/feed.png); background-repeat: no-repeat; padding-left:20px; background-position-y:5px;}

div#tagParent li {
	margin-bottom: 0;
	padding-bottom: 0;
}
.droppableHover {
	background-color: yellow;
	background-position: 0 0;
	background-repeat: no-repeat;
	background-image: url(../../images/checkSmallTicked.png)
}

a.selectParent {
	background-image: url(../../images/checkSmall.png);
	background-position: 4px 5px;
	background-repeat: no-repeat;
	width: 18px;
	height: 14px;
	padding: 2px;
	padding-left: 18px;
	padding-right:5px;
	margin: 0;
}
a.selectParent:hover {
	background-image: url(../../images/checkSmallTicked.png);
	background-color: silver;
}

span.notSelectable {
	background-image: url(../../images/checkSmallDisabled.png);
	background-position: 4px 5px;
	background-repeat: no-repeat;
	width: 18px;
	height: 14px;
	padding: 2px;
	padding-left: 18px;
	padding-right:5px;
	margin: 0;
}

li.inactive>span.notSelectable {
	color: gray;
}

/* --------------------------------- from Grant ------------------------------ */

#admin {
	height: 35px;
	/**/
	background-color: #74B436;
	background-image: url(../../images/admin_bg.png);
	background-position: bottom left;
	background-repeat: repeat-x;
}

#admin.blownaway {
	background-color: #a8ad00;
	background-image: url(../../images/admin_bg_blownaway.png);
}

div#webeditorcontrol #logo {
	float: left;
	margin: 0 25px 0 0;
}

div#webeditorcontrol .extras {
	float: right;
}

/* Essential Styles */
div#webeditorcontrol ul.menu, div#webeditorcontrol ul.menu * {
	margin: 0;
	padding: 0;
	list-style: none
}
div#webeditorcontrol ul.menu {
	line-height: 1.0
}
div#webeditorcontrol ul.menu ul {
	position: absolute;
	top: -999em;
	width: 10em
}
div#webeditorcontrol ul.menu ul li {
	width: 100%
}
div#webeditorcontrol ul.menu li:hover {
	visibility: inherit
}
div#webeditorcontrol ul.menu li {
	float: left;
	position: relative
}
div#webeditorcontrol ul.menu a {
	display: block;
	position: relative
}
div#webeditorcontrol ul.menu li:hover ul,.menu li.sfHover ul {
	left: 0;
	top: 2.5em;
	z-index: 99
}
div#webeditorcontrol ul.menu li:hover li ul,ul.menu li.sfHover li ul {
	top: -999em
}
div#webeditorcontrol ul.menu li li:hover ul,ul.menu li li.sfHover ul {
	left: 10em;
	top: 0
}
div#webeditorcontrol ul.menu li li:hover li ul,ul.menu li li.sfHover li ul {
	top: -999em
}
div#webeditorcontrol ul.menu li li li:hover ul,ul.menu li li li.sfHover ul {
	left: 10em;
	top: 0
}

/* Navigation theme */

div#webeditorcontrol ul.menu a, div#webeditorcontrol ul.menu span {
	display: block;
	padding: 10px 30px 10px 25px;
	color: #FFFFFF;
	text-decoration: none;
	font-size:120%;
}
div#webeditorcontrol ul.menu li a:hover {
	color: #333333;
}

div#webeditorcontrol ul.menu span.here {color:yellow;}
div#webeditorcontrol ul.menu span.disabled {color:gray;}

div#webeditorcontrol ul.menu li li a {
	padding: 10px 10px;
	background-image: none;
	background-color: #DDDDDD;
	border-bottom: 1px solid #FFFFFF;
	/**/
	font-size: 85%;
	color: #333333;
}
div#webeditorcontrol ul.menu li li a:hover {
	background-color: #CCCCCC;
}

div#webeditorcontrol ul.menu li:hover, div#webeditorcontrol ul.menu li.sfHover,
div#webeditorcontrol ul.menu a:focus, div#webeditorcontrol ul.menu a:hover, .menu a:active {
	outline: 0;
}

div#webeditorcontrol ul li {
	background-repeat:no-repeat;
	background-position: 5px center;
}

div#webeditorcontrol ul li.pages {
	background-image: url(../../images/page_copy.png);
}
div#webeditorcontrol span.logout {
	background-image: url(../../images/logout.png); 
	background-repeat: no-repeat;
	background-position: 0 8px;
	padding-left:20px;
}
div#webeditorcontrol ul li.newPage {
	background-image: url(../../images/page_add.png);
}
div#webeditorcontrol ul li.editPage {
	background-image: url(../../images/edit-page.png);
}
div#webeditorcontrol ul li.showBlocks {
	background-image: url(../../images/edit-blocks.png);
}
div#webeditorcontrol ul li.templates {
	background-image: url(../../images/page_code.png);
}


/*** arrows **/
div#webeditorcontrol ul.menu a.sf-with-ul {
	padding-right: 40px;
	min-width: 1px; /* trigger IE7 hasLayout so spans position accurately */
}
div#webeditorcontrol ul .sf-sub-indicator {
	position: absolute;
	display: block;
	right: 27px;
	top: 12em; /* IE6 only */
	width: 10px;
	height: 12px;
	text-indent: -999em;
	overflow: hidden;
	background: url(../../images/arrows.png) no-repeat -12px -100px; /* 8-bit indexed alpha png. IE6 gets solid image only */
}
div#webeditorcontrol ul a > .sf-sub-indicator {/* give all except IE6 the correct values */
	top: 0.9em;
	background-position: 0 -100px; /* use translucent arrow for modern browsers*/
}
/* apply hovers to modern browsers */
div#webeditorcontrol ul a:focus > .sf-sub-indicator,
div#webeditorcontrol ul a:hover > .sf-sub-indicator,
div#webeditorcontrol ul a:active > .sf-sub-indicator,
div#webeditorcontrol ul li:hover > a > .sf-sub-indicator,
div#webeditorcontrol ul li.sfHover > a > .sf-sub-indicator {
	background-position: -10px -100px; /* arrow hovers for modern browsers*/
}

/* Template Editing
---------------------------- */
div#templates, div #templates table, div#templates textarea {
	width: 600px;
}
div#templates td {
	padding: 0.5em;
}

/* Block Editing
------------------------------------------- */
div.blockEdit {
	border: 1px solid green;
}
div.blockHeader {
	background-color: #ffffdd;
	height: 28px;
	padding: 4px;
}
div.blockCreator {
	padding: 4px;
	background-color: white;
}
div.regionEdit a.addBlock, div.regionEdit a.deleteBlock, a.selectBlock,
div#region_footer div.blockCreator a.addBlock,
div#blocks a.addBlock, div#blocks a.deleteBlock, div#blocks a.addBlock {
	height: 28px;
	background-repeat: no-repeat;
	padding: 4px;
	padding-left: 24px;
	background-position: 2px 3px;
}
div.regionEdit a.addBlock:hover, div.regionEdit a.deleteBlock:hover {
	background-color: silver;
}
div.regionEdit div.blockCreator a.addBlock, div#region_footer div.blockCreator a.addBlock,
div#blocks a.addBlock, div#blocks a.addBlock {
	background-image: url(../../images/brick_add.png);
}

div.regionEdit a.deleteBlock, div#blocks a.deleteBlock {
	background-image: url(../../images/brick_delete.png);
}

div.regionHeader, div.blockHeader, div.regionHeader td, div.blockHeader td {
	color: black;
}

a.selectBlock {	background-image: url(../../images/edit-blocks.png);}

td.webblock {font-weight:bold;}

div.blockBeingEdited {
	border: 4px solid red;
}
