/*****************

Filename: search.css
Purpose: Affects Quicksearch, Advanced Search and Search Results functionality
Notes:


- Table of Contents -

* Advanced search panel
* Auto-complete
* Quicksearch
* Search Criteria
* Search results

****************/

/* Start Advanced search panel */

div#advanced_search_container { position: relative; } 

div.advanced-search-button {margin: 0px 0px 0 0; height: 25px; }

a.show-advanced-search { float: right;  border-color: #5C5C5C;  color: #006699; border-bottom-width: 0px; z-index: 650; margin-right:11px;}
a.show-advanced-search:hover { text-decoration: none; cursor: pointer; background: transparent url(/s/img/bg_advsearchbox.png) repeat; color: #ccc; border-width: 1px; border-bottom-width: 0px; }
a.show-advanced-search span { margin-right:5px; padding:0 15px;background-color:transparent;
background-image:url(/s/img/arrow_down.png);
background-position:100% 50%;
background-repeat:no-repeat; }

div.advanced-search-button span.adv_search_active { color: #eee; }

/*form#search { position: relative; }
div#search_box:after {content:".";display:block;height:0;clear:both;visibility:hidden;max-height:0;}*/


div.advanced-search-button { text-align: right; }

div#advanced_search { width: 550px; height: 170px; border: 1px dashed #999; position: absolute; background: transparent url(/s/img/bg_advsearchbox.png) repeat;  -moz-border-radius: 10px 0px 10px 10px; 	
-webkit-border-radius: 10px; 
-webkit-border-top-right-radius: 0; 
border-radius: 10px 0px 10px 10px; 
border-width: 1px;
border-style: solid;
border-color: #5C5C5C; 
display: none;
top:0px;
right: 11px;
 z-index: 600;
}
form#search2 { position: relative; }
div#advanced_search div { width: 30%;  }
div#search_query {width:85%; float:left;}

div#adv_search_keyword, div#adv_search_tag, div#adv_search_location, div#adv_search_price, div#adv_search_time, div#adv_search_day, div#adv_search_submit
	{ position: absolute; }
	div#adv_search_keyword { top: 20px; left: 20px; } 
	div#adv_search_tag { top: 75px; left: 20px; }
	div#adv_search_location { top: 20px; left: 215px; }
	div#adv_search_price { top: 75px; left: 215px; }
	div#advanced_search div#adv_search_time { width: 100px; top: 20px; right: 10px; }
	div#advanced_search div#adv_search_day { width: 100px; top: 75px; right: 10px; }
	div#advanced_search div#adv_search_submit { width: 120px; top: 135px; right: 0px; }
	div#advanced_search div#adv_search_submit input#searcher { margin-right: 20px;}
	
div#advanced_search label { width: 100%; display: block; padding: 0; margin: 0; font-family: "Lucida Grande",Verdana,Geneva,Arial,Helvetica,sans-serif; font-size:  10pt; color: #EEF1F5; font-weight: 100; }
div#advanced_search label > input { margin: -3px 5px 0 0; }


div#advanced_search a#cancel-search { cursor: pointer; color: #aa2f2f; }
div#advanced_search a#cancel-search:hover { color: #610202; }
	
/* End Advanced search panel */

/* Auto-complete (used by SuburbChooser)
--------------------------------------------*/
#suburb-autocomplete, suburb-autocomplete2 {
	width: 157px;
}
div.ac_results {
	background-color: white;
	border: 1px solid silver;
	z-index: 9920;
}
div.ac_results ul {
	margin-top: 0.3em;
	margin-bottom: 0.3em;
	margin-left: 0;
}
div.ac_results li {
	background-image: none;
	font-size: 90%;
	padding-left: 0.2em;
	padding-top: 0.1em;
	padding-bottom: 0.1em;
	margin-left: 0;
}
div.ac_results li.ac_odd {
	background-color: #eeeeee;
}
div.ac_results li.ac_over {
	background-color: #e4e4cc;
}

/* Searching and Focus
---------------------------------*/
form#search div.auto_complete {
	background-color: white;
	color: red;
}
div.focus-indicator {
	background-color: green;
	border: 1px solid black;
	width: 8px;
	height: 8px;
	display: inline;
}
div.focus-value {
	height: 16px;
	background-image: url(../images/star.png);
	background-repeat: repeat-x;
}
div.search-value-match {
	color: brown;
}
h3 span.focus-match, span.match-exact {
	font-weight: bold;
	color:#008800;
}
h3 span.focus-partial-match, span.match-partial {
	color: brown;
}
h3 span.focus-no-match, span.match-fail {
	color:#884444;
}

div.tag-crumb-title {
	color: green;
	display: inline;
}
div.tag-crumb-title ul.tag-crumb-menu {
	visibility: hidden;
	display: none;
	position: absolute;
}
div.tag-crumb-title:hover ul.tag-crumb-menu {
	visibility: visible;
	display: block;
	margin: 0;
	padding: 0.25em;
	z-index: 9999
}
div.tag-crumb-title ul.tag-crumb-menu {
	margin: 2px;
	padding: 2px;
	background-color: white;
	border: 1px dotted silver;
}
div.tag-crumb-title ul.tag-crumb-menu li {
	background-color: white;
	color: green;
	list-style: none;
	background-image: none;
	padding: 0;
	margin: 0;
	font-size: 1em;
}
div.tag-crumb-title ul.tag-crumb-menu li a {
	color: gray;
	font-size: 1em;
	padding: 0.25em;
	padding-left: 1em;
	padding-right: 1em;
	width: 100%;
}
div.tag-crumb-title ul.tag-crumb-menu li a:hover {
	color: green;
	background-color: silver;
}
img.course-match-icon {
	float: left;
	margin-right: 4px;
}
div.search-tag-crumb {
	margin-bottom: 1em;
}
div.search-tag-crumb div.tag-crumb-title {
	font-size: 1em;
}
p.search-batch-number {
	width: 100%;
	background-color: #ddffdd;
}

div#searchbox {
	float: right;
}

/* Quick search
--------------------------------------------- */
ul.quicksearch {
	display: block;
	position: relative;
	padding: 0;
	background: transparent url(/s/img/nav-ul-ul.png) repeat scroll 0 0;
	margin: 20px auto 20px auto;
	width:200px;
}

ul.quicksearch li {
	border: none;
	list-style: none;
	padding: 10px 5px 0 5px; 
	margin: 0;
	color: #f4ede7;
	background: none;
}

ul.quicksearch li span.count {
	float: right;
	font-weight: 100;
	font-size: 0.9em;
}

ul.quicksearch li a, ul.quicksearch li a:visited {
	color: #f4ede7;
}

ul.quicksearch li.course:hover, ul.quicksearch li.tag:hover, ul.quicksearch li.selected {
	cursor: pointer;
	background-color: #525253;
	color: #fff;
}

ul.quicksearch li.courses, ul.quicksearch li.tags {
	background-color: #444;
	color: white;
	font-size: 1.2em;
	font-weight: bold;
	padding-top: 4px;
	padding-bottom: 4px;
	text-align: left;
}

ul.quicksearch li.coursetag {
	padding-top: 12px;
	color: white;
	font-weight: bold;
	padding: 3px 5px; 
	color: #606060;
}

ul.quicksearch li.tag, ul.quicksearch li.course { padding: 3px 15px 3px 10px; }

ul.quicksearch li.course, ul.quicksearch li.course {

}

ul.quicksearch li .detail {
	color: #fff;
	padding-left: 15px;
	display: block;
}

/* Search Criteria
---------------------------------------------- */

div#toggle-results-map a.toggle_locations, p.showLocationMap {
 background-image:url(/s/img/icon/location.png); background-repeat:no-repeat; background-position-y:2px;
 padding-left:16px;}


/* Advanced Search Results
--------------------------------------------- */
#search-autocomplete {
	width: 120px;
	padding: 5px 3px;
	line-height: 20px;
	border: 1px solid #CCCCCC;
	font-size: 110%;
}

div.search-terms {
	color: black;
	padding: 4px 0px 8px 30px;
	margin-top: 0em;
	margin-bottom: 0.5em;
	border: 1px solid transparent;
	min-height: 16px;
	background-image: url(../../images/search2.png);
	background-repeat: no-repeat;
	background-position: center left;
}
div.search-terms:hover {
	border: 1px solid gray;
	cursor: pointer;
}
div.search-terms span.search-value {
	margin: 0;
}
div.search-terms a.search-value img {
	display: inline;
}
div.search-terms img {
	margin-bottom: -4px;
}

.highlighter {
	background-color: transparent;
	border: 1px solid transparent;
}
.search-value {
	border: 1px solid transparent;
	padding: 2px;
	padding-right: 3px;
}

#search_query span.search-value {
	padding-left:0; padding-right:0;
}

.search-value img {
	display: inline;
	padding: 2px;
	border: 1px solid transparent;
	background-repeat: no-repeat;
	background-position: 2px 2px;
	margin-top: -6px;
}
.search-value a.search-remove {
	margin-left: -8px;
	padding: 0;
	margin-right: -6px;
}
.search-value:hover a.search-remove img {
	background-image: url(/s/img/x.png);
}
.search-value a.search-remove:hover img {
	border: 1px solid red;
	background-color: white;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
.search-highlight {
	background-color: rgb(252,244,178); /*border:1px solid rgb(228,185,46);*/
}
.no-highlight {
	border: 1px solid transparent;
}
.no-highlight:hover {
	border: 1px solid rgb(228,185,46);
}
div.advanced-search-control {
	float: right;
	padding: 0;
	background-image: url(../images/search.png);
	background-repeat: no-repeat;
	width: 27px;
	height: 22px;
	margin-top: -4px;
	border: 1px solid transparent;
}
/* div.advanced-search-control:hover {
	border: 1px solid gray;
}
*/

span.clear-search a {
	padding: 5px;
	padding-left: 15px;
	background-image: url(/s/img/x.png);
	background-repeat: no-repeat;
	background-position: 4px 7px;
}
span.clear-search a:hover {
	background-color: white;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
span.search-criteria {
	border: 1px solid transparent;
	padding: 5px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
span.clearing-search {/*border:1px solid silver;*/ background-color: white;
}

span.match-exact {
	color: #0f6e00;
	font-weight: bold;
}
span.match-partial {
	color: #571812;
	font-style: italic;
}
span.match-fail {
	color: #c53628;
	font-style: italic;
}
h3 span.site-identifier {
	padding: 1px;
	padding-right: 4px;
	padding-left: 4px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
h3.match-exact span.site-identifier {
	color: black;
	background-color: #18b200;
	border: 1px solid #002200;
	border-top: 1px solid #336633;
	border-left: 1px solid #336633;
}
h3.match-partial span.site-identifier {
	color: black;
	font-style: normal;
	background-color: #c28f67;
	border: 1px solid #220000;
	border-top: 1px solid #993333;
	border-left: 1px solid #993333;
}
h3.no-match span.site-identifier {
	color: black;
	font-style: normal;
	background-color: #fe6357;
	border: 1px solid #882222;
	border-top: 1px solid #ff5555;
	border-left: 1px solid #ff5555;
}

/* Advanced Search Location Map
--------------------------------------------- */

div#toggle-results-map {
	float: right;
}
div#toggle-results-map a {
	border: 1px solid transparent;
	padding: 2px;
}
div#toggle-results-map a:hover {
	border: 1px dotted silver;
}
div#focus-map {
	border: 1px solid silver;
	margin-bottom:2em;
}
div#focus-map div#directions {
	display: none;
}
div#focus-map h3 {
	display: none;
}
div#focus-map div#location {
	width: 100%;
}
.location-list {
	float: right;
	width: 29%;
	height: 300px;
	overflow: scroll;
	margin: 0;
	padding: 0;
}
.location-list tr:hover {
	background-color: silver;
	cursor: pointer;
}
.location-list td.site-title {
	background-image: none;
	padding: 0;
	padding-top: 3px;
	margin-bottom: 0.2em;
	clear: left;
	margin-left: 1.5em;
	font-size: 80%;
}
.location-list div.site-identifier {
	margin-right: 3px;
	padding: 0;
	width: 1.5em;
	border: 1px solid black;
	background-color: orange;
	color: black;
	text-align: center;
	font-size: 80%;
}
.location-list td {
	padding-top: 3px;
}

img.map-icon-tiny {
	height: 16px;
	display: inline;
	margin-bottom: -4px;
}
dd.show-site-on-map {
}
dd.show-site-on-map:hover {
	cursor: pointer;
}


div#searchbox {
	position: relative;
	margin: 0;
}

div#searchbox, #advanced-search form.advanced-search-form {
	position: relative;
	background-image: url(../images/as-base.png);
	background-repeat: no-repeat;
	background-position: 2px bottom;
	padding: 0;
	padding-bottom: 10px;
	margin: 0;
}

table.search-wrap tr {
	padding: 0;
	background-color: transparent;
}
table.search-wrap td {
	padding: 12px;
	padding-top: 0;
}
table.search-wrap tr.search-buttons td {
	text-align: center;
	padding: 10px;
	padding-bottom: 0;
}
span.divider {
	border-bottom: 1px solid #DDDDDD;
	display: block;
	clear: both;
	margin: 5px 0;
}
div.divider {
	border-top: 1px solid #DDDDDD;
	padding-top: 10px;
}

div#searchbox button {
	padding: 4px;
}

.hover {
	cursor: pointer;
}

#search-bar {
	width: auto;
	margin: 20px 0 0 0;
	padding: 7px 10px;
	position: relative;
	/**/
	background-color: #F5F5F5;
	/**/
	font-size: 16px;
}

#search-bar .result {
	display: inline;
	padding: 6px 0;
	position: relative;
}

#search-bar strong {
	position: relative;
}


#search-bar a.remove-criteria {
	padding: 0 4px;
	height: 15px;
	/**/
	position: absolute;
	top: -2px;
	right: 0;
	/**/
	background-image: url('../images/remove-criteria.png');
	background-position: bottom center;
	background-repeat: no-repeat;
}


#search-bar .tags, #search-bar .days, #search-bar .cost, #search-bar .time {
	width: auto;
	padding: 15px 5px 5px 5px;
	/**/
	position: absolute;
	top: 30px;
	left: -5px;
	/**/
	background-color: #F5F5F5;
	font-weight: normal;
}


.days {
	width: 265px;
}

label.parent {
	margin: 0 0 3px;
	padding: 0 0 3px 0;
}

.category-select {
	padding: 5px;
	width: 200px;
}


.course-listing {
	width: auto;
	margin: 0 0 1em 0;
	padding: 10px;
	border-bottom: 1px dotted #DDDDDD;
}


h3.clicked {
	cursor: n-resize;
	background-color: #cccccc;
	border-bottom: none;
	background-position: top left;
}

h4.searchable {
	padding: 0 0 0.3em 0;
	color: #222222;
	font-size: 14px;
	border-bottom: 1px solid #DDDDDD;
	cursor: help;
}

.half {
	width: 212px;
	margin: 0 10px 0 0;
}

#tooltip {
	width: 140px;
	position: absolute;
	z-index: 300;
	border: 1px solid #E4B92E;
	background-color: #FCF4B2;
	padding: 5px;
	opacity: 0.95;
}

#tooltip h3, #tooltip div {
	margin: 0;
	font-size: 12px;
}

input.ajax-hinted-text-with-default,
div#advanced-search	input.ajax-hinted-text-with-default
	 { color:silver; }

.grey {
	font-style: italic;
	color: #777777;
	padding: 5px 5px 0 0;
}

