{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "react",
    "react-native",
    "@typescript-eslint"
  ],
  "extends": [
    "airbnb-typescript",
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "parserOptions": {
    "project": ["./portal-native/tsconfig.json", "./billing/tsconfig.json", "./checkout/tsconfig.json", "./editor/tsconfig.json"],
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "react-native/react-native": true
  },
  "rules": {
    "react/prop-types": 0,
    "global-require": 0,
    "import/prefer-default-export": 0,
    "react/require-default-props": 0,
    "react/jsx-props-no-spreading": 0,
    "react/destructuring-assignment": 0,
    "@typescript-eslint/no-var-requires": "off",
    "@typescript-eslint/comma-dangle": ["error", "only-multiline"],
    "@typescript-eslint/no-namespace": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off"
  }
}
