/* default; obsolete */

/*  Narrow Layout
---------------------------------------- */

#wrap { width: 750px; }
#content { width: 546px; }
.main { width: 342px; }

#nav { background: transparent url(../img/nav-750-top.png) no-repeat 0 0; }
#nav ul { background: transparent url(../img/nav-750-btm.png) no-repeat 0 100%; }
	
.batch,
.blockhead,
#studentlist,
#studentform fieldset,
#paymentform fieldset { 
	background: url(../img/panel-750-top.png) no-repeat 0 0; 
	}

.batch-pages,
.blockwrap,
#studentlist table,
#studentform fieldset dl.form-details,
#studentform fieldset dl.form-questions,
#paymentform fieldset dl.form-details { 
	background: url(../img/panel-750-btm.png) no-repeat 0 100%;
	}

.blockhead h3 { width: 330px; }

.col3 {
	width: 223px;
}


#confirmform,
#updateform {
	margin: 1em 0;
	padding: 4px 0 0;
	background: url(../img/confirm-narrow-top.png) no-repeat 0 0;
}
#confirmform div,
#updateform div {
	margin: 0;
	padding: 10px 20px 4px;
	background: url(../img/confirm-narrow-btm.png) no-repeat 0 100%;
}
#updateform {
	background: url(../img/update-narrow-top.png) no-repeat 0 0;
}
#updateform div {
	background: url(../img/update-narrow-btm.png) no-repeat 0 100%;
}