//
//
// checkout/partials/settings.scss
//
// Contains all the different variable settings which needs to be used
// across the enrol checkout app
//
// Copyright ish group (Australia) and part of ish onCourse.
// It is licensed to you under the Apache License, version 2.0
//

@use "../../settings";

$checkout-media-default: $media-tablet !default;


//
// Form submit button
//

$checkoutSubmitButtonBackground: #CF053C !default;
$checkoutSubmitButtonBackgroundHover: #1F1F1F !default;

$checkoutSubmitButtonColor: #fff !default;
$checkoutSubmitButtonHeight: 32px !default;
$checkoutSubmitButtonPadding: 7px 20px 6px 20px !default;
$checkoutSubmitButtonFontSize: 14px !default;
$checkoutSubmitButtonDisplay: inline-block !default;
$checkoutSubmitButtonLineHeight: 1.5 !default;
$checkoutSubmitButtonMargin: 0 3px !default;
$checkoutSubmitButtonTextTransform: uppercase !default;
$checkoutSubmitButtonFontWeight: 700 !default;


$checkoutSubmitContactPadding: 2px 10px 3px 10px !default;
$checkoutSubmitContactMargin: 0 0 0 5px !default;


//
// Form cancel button
//

$checkoutCancelButtonFloat: left !default;
$checkoutCancelButtonBackground: none !default;
$checkoutCancelButtonFontWeight: 700 !default;
$checkoutCancelButtonTextTransform: uppercase !default;
$checkoutCancelButtonBackgroundHover: none !default;
$checkoutCancelButtonMarginBottom: 15px !default;
$checkoutCancelButtonColor: #252d30 !default;
$checkoutCancelButtonColorHover: darken(#252d30, 15%) !default;
$checkoutCancelButtonPaddingLeft: 0 !default;


//
// Checkout progress steps
//

$checkoutProgressStepListBackgoundHover: #d5d5d5 !default;
$checkoutProgressStepListColorDisable: #6B6B6B !default;
$checkoutProgressStepListBackgoundDisable: #F3F3F3 !default;

$checkoutProgressStepListColorActive: #fff !default;
$checkoutProgressStepListBackgoundActive: #666666 !default;

$checkoutProgressStepListPadding: 4px 0px 5px 10px !default;
$checkoutProgressStepListColor: #6B6B6B !default;
$checkoutProgressStepListBackgound: #e7e7e7 !default;
$checkoutProgressStepListTextTransform: uppercase !default;
$checkoutProgressStepListFontWeight: bold !default;
$checkoutProgressStepListFontSizeSmall: 7px !default;
$checkoutProgressStepListFontSizeTablet: 12px !default;


//
// Form labels
//

$checkoutFormLabelFontWeight: normal !important !default;
$checkoutFormLabelLineHeight: 1.5 !important !default;
$checkoutFormLabelPaddingSmall: 4px 0px 4px 0 !important !default;
$checkoutFormLabelMarginBottomSmall: 3px !important !default;
$checkoutFormLabelFontSize: 14px !important !default;

$checkoutFormLabelPaddingTablet: 4px 20px 3px 0 !important !default;
$checkoutFormLabelWidthTablet: 26% !important !default;
$checkoutFormLabelMaxWidthTablet: 180px !important !default;
$checkoutFormLabelMarginBottomTablet: 0px !important !default;


//
// Form small tags
//

$checkoutFormSmallTagColor: #999 !default;
$checkoutFormSmallTagFontSize: 9px !default;
$checkoutFormSmallTagLineHeight: 9px !default;

$checkoutFormEmTagFontSize: 11px !default;

$checkoutFormSupTagColor: red !default;

$checkoutFormSpanTagWidthTablet: auto !default;

$checkoutFormCVVLinkMarginLeftTablet: 15px !important !default;


//
// Form validation
//

$checkoutFormValidatePosition: absolute !default;
$checkoutFormValidateFontSize: 11px !important !default;
$checkoutFormValidatePositionLeft: 6px !default;
$checkoutFormValidatePositionTop: auto !default;
$checkoutFormValidateWidth: auto !default;
$checkoutFormValidatePositionBottomSmall: 72px !default;
$checkoutFormValidatePositionBottomTablet: 47px !default;

$checkoutFormValidateFontWeight: bold !default;
$checkoutFormValidatePadding: 3px !default;

$checkoutFormValidateReasonBackgroundColor: #FEF0F0 !important !default;
$checkoutFormValidateReasonBorder: 1px solid #FCC5C5 !important !default;

$checkoutFormValidateHintBackgroundColor: #FDF6D6 !default;
$checkoutFormValidateHintBorder: #F9E99C !default;
$checkoutFormValidateHintPointerBorderTop: 8px solid #F9E99C !default;

$checkoutFormValidatePointerPositionLeft: 2px !important !default;
$checkoutFormValidatePointerPositionTop: auto !important !default;
$checkoutFormValidatePointerPositionBottom: -15px !default;


$checkoutFormValidatePointerBorderTop: 8px solid #FCC5C5 !important !default;
$checkoutFormValidatePointerBorderLeft: 11px solid transparent !important !default;
$checkoutFormValidatePointerBorderRight: 11px solid transparent !important !default;
$checkoutFormValidatePointerBackground: none !default;


//
// Form validation tooltip
//

$checkoutFormTooltipWidth: 65% !default;
$checkoutFormTooltipMaxWidth: 220px !important !default;
$checkoutFormTooltipBorder: 1px solid #ddd !default;
$checkoutFormTooltipPadding: 4px !default;
$checkoutFormTooltipBorderRadius: 0 !default;

$checkoutFormTooltipPositionBottomSmall: 61px !default;
$checkoutFormTooltipPositionTop: auto !important !default;
$checkoutFormTooltipPositionLeftSmall: 5px !important !default;
$checkoutFormTooltipPositionBottomTablet: 35px !default;
$checkoutFormTooltipPositionLeftTablet: 27% !important !default;

$checkoutFormTooltipPointerPositionBottom: -8px !default;


//
// Form input
//

$checkoutFormInputBorder: 1px solid #D5D5D5 !default;
$checkoutFormInputBorderColorHover: #D5D5D5 !default;
$checkoutFormInputBorderColorFocus: #000 !default;
$checkoutFormInputColor: #333 !default;

$checkoutFormInputErrorBackgroundColor: #FEF0F0 !important !default;
$checkoutFormInputErrorColor: #f00 !default;


$checkoutFormInputPadding: 3px 7px !default;
$checkoutFormInputBackgroundColor: #fff !default;
$checkoutFormInputFontSize: 14px !default;
$checkoutFormInputHeight: 30px !default;
$checkoutFormInputLineHeight: 1.5 !default;

$checkoutFormInputBorderRadius: 0 !default;

$checkoutFormInputWidthTablet: 190px !important !default;
$checkoutFormInputMaxWidthTablet: 190px !important !default;

$checkoutFormTextAreaHeight: 150px !default;
$checkoutFormTextAreaWidthTablet: 50% !default;


//
// Form select
//

$checkoutFormSelectBackgroundError: #FEF0F0 !default;
$checkoutFormSelectColorError: #696868 !important !default;
$checkoutFormSelectFontWeightError: normal !default;
$checkoutFormSelectWrapperWidth: 165px !default;

$checkoutFormSelectPlaceholderColor: #696868 !default;


//
// Form input radio
//

$checkoutFormInputRadioErrorColor: #fd6868 !default;


//
// Checkout wrapper
//

$checkoutPageFontSize: 14px !default;
$checkoutPageMarginBottom: 20px !default;


//
// Checkout form validation message & error
//

$checkoutPageMessageBackgroundColor: #EEF6FF !default;
$checkoutPageMessagePadding: 4px 8px !default;
$checkoutPageMessageMarginBottom: 1.6em !default;
$checkoutPageMessageBorder: 1px solid #A3E0F0 !default;
$checkoutPageMessageBorderRadius: 8px !default;
$checkoutPageMessageColor: #0066AA !default;
$checkoutPageMessageTextColor: #0066AA !default;

$checkoutPageErrorBackgroundColor: #FEF0F0 !default;
$checkoutPageErrorBorderColor: #FCC5C5 !default;
$checkoutPageErrorColor: #990000 !default;
$checkoutPageErrorTextColor: #990000 !default;

$checkoutPageHighlightPadding: 10px !default;
$checkoutPageHighlightBackgroundColor: #FDEFC9 !default;

$checkoutPageValidationColor: #B94A48 !default;
$checkoutPageValidationBackgroundColor: #F2DEDE !default;
$checkoutPageValidationBorder: 1px solid #EED3D7 !default;
$checkoutPageValidationTextShadow: 0 1px 0 rgba(255,255,255,0.5) !default;
$checkoutPageValidationBorderRadius: 4px !default;
$checkoutPageValidationPadding: 8px 35px 8px 14px !default;
$checkoutPageValidationMargin: 0 10px 25px 10px !default;


//
// Checkout payment summary
//

$checkoutPaymentStudentTitleFontSize: 18px !default;
$checkoutPaymentStudentTitleMarginBottom: 0 !default;
$checkoutPaymentStudentTitleFontWeight: bold !default;
$checkoutPaymentStudentTitleDisplay: inline !default;
$checkoutPaymentStudentTitleColor: #1F1F1F !default;

$checkoutPaymentStudentEmailPosition: relative !default;
$checkoutPaymentStudentEmailColor: #888888 !default;
$checkoutPaymentStudentEmailFontSize: 14px !default;
$checkoutPaymentStudentEmailFontWeight: normal !default;
$checkoutPaymentStudentEmailPositionLeft: 0 !default;
$checkoutPaymentStudentEmailTextTransform: lowercase !default;
$checkoutPaymentStudentEmailPositionTop: 0px !default;
$checkoutPaymentStudentEmailMarginRight: 5px !default;

$checkoutPaymentStudentAffiliationColor: #888888 !default;
$checkoutPaymentStudentAffiliationFontWeight: normal !default;

$checkoutPaymentSummaryFontSize: $checkoutPageFontSize !default;

$checkoutPaymentSummaryConcessionColor: #aaa !default;
$checkoutPaymentSummaryConcessionFontSize: 11px !default;
$checkoutPaymentSummaryConcessionMarginBottom: 5px !default;

$checkoutPaymentPlusLinkMarginBottom: 7px !default;
$checkoutPaymentPlusLinkPadding: 7px 0 7px 30px !default;
$checkoutPaymentPlusLinkBackground: #f7f7f7 url($imagePath + "add.png") no-repeat scroll 8px 50% !default;


//
// Checkout enrol items list
//

$checkoutPageListMarginBottom: 7px !default;

$checkoutPageEnrolItemMarginBottom: 10px !default;

$checkoutPageEnrolItemLabelFontWeight: bold !default;
$checkoutPageEnrolItemLabelLineHeight: 16px !default;

$checkoutPageEnrolItemEmTagColor: #888888 !default;
$checkoutPageEnrolItemEmTagFontSize: 11px !default;
$checkoutPageEnrolItemEmTagFontWeight: normal !default;
$checkoutPageEnrolItemEmTagMarginLeft: 0px !default;


//
// Checkout amount container
//

$checkoutPageAmountContainerFloat: left !default;
$checkoutPageAmountContainerWidth: 100% !default;
$checkoutPageAmountContainerBorder: 1px solid #D6D6D6 !default;
$checkoutPageAmountContainerBorderRadius: 7px !default;
$checkoutPageAmountContainerPadding: 15px 10px !default;
$checkoutPageAmountContainerBackground: #F7F7F7 !default;
$checkoutPageAmountContainerMarginBottom: 20px !default;

$checkoutPageAmountContainerButtonMargin: 20px 0 0 0 !default;
$checkoutPageAmountContainerButtonFloat: right !default;

$checkoutPageAmountContainerAddCodeTextTransform: inherit !default;
$checkoutPageAmountContainerAddCodeFontWeight: normal !default;
$checkoutPageAmountContainerAddCodeHeight: 30px !default;
$checkoutPageAmountContainerAddCodePadding: 5px 15px !default;
$checkoutPageAmountContainerAddCodeFontSize: 12px !default;

$checkoutPageAmountContentWidth: 253px !default;
$checkoutPageAmountContentFloat: right !default;
$checkoutPageAmountContentMarginTopSmall: 20px !default;
$checkoutPageAmountContentMarginTopTablet: 0px !default;

$checkoutPageAmountContentLabelFontWeight: normal !default;
$checkoutPageAmountContentLabelWidth: 145px !default;
$checkoutPageAmountContentLabelTextAlign: right !default;
$checkoutPageAmountContentLabelLineHeight: 21px !default;

$checkoutPageAmountContentSpanWidth: 65px !default;
$checkoutPageAmountContentSpanLineHeight: 21px !default;

$checkoutPageAmountContentCreditAccessLinkColor: #125687 !default;
$checkoutPageAmountContentRemoveOwingLink: #125687 !default;

$checkoutPageAmountInputWidth: 65px !default;
$checkoutPageAmountInputBackground: #FAFAFA !default;
$checkoutPageAmountInputBorder: 1px solid #DDD !default;

$checkoutPageAmountCodeInfoMargin: 0 0 20px 0 !default;
$checkoutPageAmountCodeInfoWidthTablet: 270px !important !default;

$checkoutPageAmountCodeInfoTextFontSize: 11px !default;

$checkoutPageAmountCodeInputWidthTablet: 120px !default;


//
// Checkout payment tabs
//

$checkoutPageTabMargin: 0 0 18px 0 !default;
$checkoutPageTabBorder: 1px solid silver !default;
$checkoutPageTabBorderRadius: 8px !default;
$checkoutPageTabBackground: #fcfcfc !default;
