.student-name {
  padding: 8px 15px;
  .student-info {
    font-weight: bold;
    padding-bottom: 5px;
    position: relative;
  }
  .student-email {
    color: #888888;
    font-size: 11px;
    font-weight: normal;
    left: 0;
    text-transform: lowercase;
    top: 1px;
    margin-right: 5px;
  }
  
  .student-affilation {
    color: #888888;
    font-weight: normal;
    
    strong {
      margin-right: 4px;
    }
  }
}
