#checkout {
	#tabable-container {
		margin: 0 0 18px 0;
		padding: 0;
		border: 1px solid silver;
		-moz-border-radius: 8px;
		-webkit-border-radius: 8px;
		border-radius: 8px;
		background: #fcfcfc;
		
		&::after {
			display: block;
			visibility: hidden;
			clear: both;
			content: "";
		}
		
		ul.nav {
			margin-right: -1px;
			position: relative;
			margin: 0;
			float: left;
			list-style: none;
			width: 19.8%;
			background: #fcfcfc;
			border-top-left-radius: 9px;
			
			li {
				margin: 0;
			}
			
			li.first.active a {
				border-top-color: transparent;
				border-top-left-radius: 6px;
			}
			
			li.first a:hover {
				border-top-left-radius: 6px;
			}
			
			li a {
				padding: 8px 12px;
				line-height: 20px; margin-right: -1px;
				display: block;
				border: 1px solid transparent;
				color: #555;
				text-decoration: none;
				
				&:hover {
					background: #eee;
					border-color: #EEE #DDD #EEE #EEE;
					color:#333;
				}
			}
			
			li.active a {
				background:#fff;
				border-color: #DDD transparent #DDD transparent;
				font-weight: bold;
				color:#555;
			}
		}
		
		.tab-content {
			width: 80%;
			float: left;
			border-left: 1px solid #ddd;
			background:#fff;
			border-bottom-right-radius: 9px;
			border-top-right-radius: 9px;

            .enrolmentsSelected fieldset {
                position: relative;
            }
            .form-details p label > small {
                color: #999;
                font-size: 9px;
                display: block;
                line-height: 9px;
            }
          
            .form-details p label.radio-btn {
                width: auto;
                float: none;
                margin-left: 0px;
                max-width: none;
                display: block;
                margin-bottom: 5px;
            }
          
			.form-details select {
				width: 188px;
				
				&[id*="expiryMonth"], &[id*="expiryYear"] {
					width: 55px;
				}
			}
          
            .payer-selection {
                position: absolute;
                top: 50px;
                right: 20px;
            }

            .payer-selection > a.button {
                float: none;
                text-decoration: none;
            }
          
            .payer-selection ul {
                position: absolute;
                top: 100%;
                left: 0;
                z-index: 1000;
                display: none;
                float: left;
                min-width: 160px;
                padding: 5px 0;
                margin: 2px 0 0;
                list-style: none;
                background-color: #FFF;
                border: 1px solid #CCC;
                border: 1px solid rgba(0, 0, 0, 0.2);
                -webkit-border-radius: 6px;
                -moz-border-radius: 6px;
                border-radius: 6px;
                -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
                -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
                box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
                -webkit-background-clip: padding-box;
                -moz-background-clip: padding;
                background-clip: padding-box;
                top: 25px;
                left: 12px;
            }
          
            .payer-selection ul::before {
                position: absolute;
                top: -7px;
                left: 9px;
                display: inline-block;
                border-right: 7px solid rgba(0, 0, 0, 0);
                border-bottom: 7px solid #CCC;
                border-left: 7px solid rgba(0, 0, 0, 0);
                border-bottom-color: rgba(0, 0, 0, 0.2);
                content: '';
            }
  
            .payer-selection ul:after {
                position: absolute;
                top: -6px;
                left: 10px;
                display: inline-block;
                border-right: 6px solid rgba(0, 0, 0, 0);
                border-bottom: 6px solid #FFF;
                border-left: 6px solid rgba(0, 0, 0, 0);
                content: '';
            }

            .payer-selection ul li{
                line-height: 20px;
            }

            .payer-selection ul li > a{
                display: block;
                padding: 3px 20px;
                clear: both;
                font-weight: normal;
                line-height: 20px;
                color: #333;
                white-space: nowrap;
                text-decoration: none;
            }
            
            .payer-selection ul li > a:hover {
                color: #FFF;
                text-decoration: none;
                background-color: #0081C2;
                background-image: -moz-linear-gradient(top, #08C, #0077B3);
                background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#08C), to(#0077B3));
                background-image: -webkit-linear-gradient(top, #08C, #0077B3);
                background-image: -o-linear-gradient(top, #08C, #0077B3);
                background-image: linear-gradient(to bottom, #08C, #0077B3);
                background-repeat: repeat-x;
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
            }
          
            .form-details p label.radio-btn {
                width: auto;
                float: none;
                margin-left: 0px;
                max-width: none;
                display: block;
                margin-bottom: 5px;
            }
  
            .form-details p label.radio-btn.text-right {
                text-align: right;
                padding: 0;
            }
  
            .form-details p label.radio-btn input[type=radio]{
                float: left;
                margin-left: -20px;
            }

            .single-tab {
				display: none;
				
				.info-content {
					padding: 0 10px;
				}
			}
			
			#paypal {
				min-height: 150px;
			}
			
			#corporate-pass {
				margin-top: 10px;
				
				> fieldset {
					border: 0;
					padding-right: 0;
				}
			}
			
			.single-tab.active {
				display: block;
			}
			
			.form-details p label {
				font-weight: normal;
				text-align: left;
				padding-left: 20px;
				padding-right: 0;
				width: 20%;
			}
		}
		
		.vcc-card-image {
			vertical-align: bottom;
			margin-left: 5px;
			margin-bottom: 2px;
		}
		
		#cardtotalstring {
			margin-top: -7px;
			vertical-align: middle;
			
			& img {
				vertical-align: middle;
			}
		}
	}
}

#cvvLink {
  margin-left: 55px !important;
}

@-moz-document url-prefix() {
  .payer-selection {
    top: 65px;
  }
}