.content, #checkout, #waitingListForm, #mailingListForm {
  fieldset {
    .form-group {
      position: relative;
    }
    
    .conditions {
      top: 0;
    }
    
    .Select {
      width: 180px;
      display: inline-block;
      vertical-align: middle;
      
      &.t-error {
        .Select-control {
          background: #FEF0F0;
        }
      }
      
      .Select-loading-zone {
        position: absolute !important;
        top: 50%;
        right: 30px;
        margin-top: -10px;
  
        .Select-loading {
          width: 20px;
          height: 20px;
        }
      }
      
      .Select-control {
        border-radius: 0;
        height: 26px;
        background: whiteSmoke;
    
        span {
          display: block;
          vertical-align: middle;
          position: static;
          height: 26px;
      
          &.Select-arrow-zone {
            width: 20px;
            position: relative;
            display: table-cell;
            vertical-align: middle;
          }
      
          &.Select-arrow {
            vertical-align: middle;
            height: auto;
          }
        }
    
        .Select-input > input {
          border: 0 none;
          font-size: 14px;
          padding: 4px 0 6px;
          width: 100%;
        }
      }
    }
  
  
    .Select-placeholder, .Select--single > .Select-control .Select-value {
      padding-right: 22px;
    }
  
    .Select-placeholder, .Select--single > .Select-control .Select-value .Select-value-label {
      overflow: hidden;
      text-overflow: ellipsis;
    }
    
    .Select-placeholder, .Select--single > .Select-control .Select-value, .Select-input {
      height: 26px;
      line-height: 26px;
      font-size: 11px;
    }
    
    .is-focused:not(.is-open) {
      > .Select-control {
        border-color: #ccc;
        box-shadow: none;
      }
    }
  }
}