.__react_component_tooltip {
  position: absolute !important;
  display: none !important;
  width: 65%;
  left: 80px !important;
  top: 20px !important;
  font-size: 11px !important;
  max-width: 220px !important;
  
  &.place-right {
    margin-left: 13px !important;
    
    &:after {
      border-right-width: 12px !important;
      border-top-width: 7px !important;
      border-bottom-width: 7px !important;
      left: -12px !important;
      margin-top: -9px !important;
    }
  }
  
  &.type-error {
    background-color: #FEF0F0 !important;
    border: 1px solid #FCC5C5 !important;
    font-weight: bold;
    padding: 0 4px !important;
    
    span {
      color: #111111;
      margin: 4px 0 !important;
    }
  }

  &:after {
    border-left-color: #FEF0F0 !important;
    border-right-color: #FEF0F0 !important;
  }
  @media only screen and (min-width: 640px) {
    top: 0 !important;
    left: 315px !important;
    width: 270px;
  }

  &::before, &::after {
    top: 12px !important;
  }
  &.show {
    padding: 0 12px;
    display: block !important;
    >span {
      width: auto !important;
    }
    .help-block, .radio, .checkbox {
      margin-top: 4px;
      margin-bottom: 7px;
    }

    .radio-inline, .checkbox-inline {
      padding: 1px 0;
    }
  }
}
.has-error, .has-warning, .has-success, .has-info {
  .help-block, .radio, .checkbox, .radio-inline, .checkbox-inline {
    color: #fff;
  }
  .control-label, label {
    color: #000000;
  }
}

