.btn {
  font-size: 12px;
  border-radius: 2px;
  text-transform: uppercase;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
  outline: 0;
  border: none;
  font-family: 'roboto', sans-serif;
  font-weight: 300;
  padding: 7px 10px;
  min-width: 70px;
  
  &:active, &:focus, &:hover {
    outline: 0;
    border: none;
  }
  
  &:active, &:focus {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.22) 2px 2px 4px;
  }
  
  
  .icon {
    &:before {
      padding-right: 3px;
    }
  }
  
  &.btn-primary {
    background: $primary;
    color: $white;
    
    &:hover {
      background: $primary-hover;
    }
    
    &:active {
      background: $primary-active;
    }
  }
  
  &.btn-danger {
    background: $danger;
    color: $white;
    
    &:hover {
      background: $danger-hover;
    }
    
    &:active {
      background: $danger-active;
    }
  }
  
  &.btn-secondary {
    background: $secondary;
    color: $white;
    
    &:hover {
      background: $secondary-hover;
    }
    
    &:active {
      background: $secondary-active;
    }
  }
}