//
//
// footer.scss
//
// Contains all the styles of footer contents
//
// Copyright ish group (Australia) and part of ish onCourse.
// It is licensed to you under the Apache License, version 2.0



@include theme('b', 'footer') {
  #footer {
    position: relative;
    font-weight: $footerFontWeight;
    &::before {
      content: $footerZigZagContent;
      background: $footerZigZagBackground;
      background-position: $footerZigZagBackgroundPosition;
      width: $footerZigZagWidth;
      height: $footerZigZagHeight;
      position: $footerZigZagPosition;
      top: $footerZigZagPositionTop;
      left: $footerZigZagPositionLeft;
    }

    .address {
      line-height: $footerAddressLineHeight;
    }
    .info-links {
      background: $footerInfoLinksBackground;
      margin-top: $footerInfoLinksMarginTop;
      .container {
        color: $footerInfoLinksTextColor;
        a {
          color: $footerInfoLinksAnchorColor;
          &:hover {
            color: $footerInfoLinksAnchorHoverColor;
          }
        }
      }
    }
    .contact-courses {
      .address-info .title, .courses-tags>li:first-child, .quicklinks>li {
        color: $footerContactTitleColor;
        font-weight: $footerContactTitleFontWeight;
        text-transform: $footerContactTitleTextTransform;
      }
      .address-info >p {
        color: $footerInfoColor;
        line-height: $footerInfoLineHeight;
      }
      ul ul li a {
        color: $footerInfoColor;
        line-height: $footerInfoLineHeight;
        &:hover {
          color: $footerInfoHoverColor;
        }
      }
      .social-links {
        @include responsive($media-small) {
          width: auto;
        }
      }
    }
    .courses-list, .quicklinks {
      ul >li {
        >a, &:first-child {
          text-transform: capitalize;
        }
        ul {
          display: none;
        }
      }
    }
    ul.footer-info {
      margin: $footerInfoMargin;
      list-style: none;
      li {
        @include responsive($media-small) {
          float: $footerInfoListFloatSmall;
          margin-right: $footerInfoListMarginSmall;
        }
      }
    }
    .container {
      a {
        color: $footerInfoColor;
        &:hover {
          color: $footerInfoHoverColor;
        }
      }
      .contact-courses {
        .top {
          border-bottom: $footerContactBorderBottom;
          padding: $footerContactPadding;
          margin-bottom: $footerContactMarginBottom;
          text-align: center;
          @include responsive($media-small) {
            @include display(flex);
            text-align: left;
          }
          .links {
            margin-bottom: $footerContactLinkMarginBottom;
            flex-grow: 1;
            @include responsive($media-tablet) {
              float: $footerContactLinkFloatTablet;
              margin-bottom: $footerContactLinkMarginBottomTablet;
            }
            >p >a {
              font-size: $footerContactLinkFontSize;
              color: $footerContactLinkColor;
              display: $footerContactLinkDisplay;
              &:hover {
                color: $footerContactLinkHoverColor;
              }
              @include responsive($media-small) {
                display: $footerContactLinkDisplaySmall;
                padding-right: $footerContactLinkPaddingRightSmall;
              }
            }
          }
          >ul {
            width: $footerTopListWidth;
            margin: $footerTopListMargin;
            @include responsive($media-tablet) {
              width: $footerTopListWidthTablet;
              float: $footerTopListFloat;
            }
          }
        }
      }
      .pull-left {
        text-align: $footerLeftTextAlign;
        @include responsive($media-tablet) {
          width: $footerLeftWidthTablet;
        }
        .social-content {
          float: $footerLeftSocialContentFloat;
          width: $footerLeftSocialContentWidth;
          margin-top: $footerLeftSocialContentMarginTop;
          margin-bottom: $footerLeftSocialContentMarginBottom;
          @include responsive($media-tablet) {
            margin-top: $footerLeftSocialContentMarginTopTablet;
            margin-bottom: $footerLeftSocialContentMarginBottomTablet;
          }
        }
      }
      .pull-right {
        display: $footerRightDisplay;
        @include responsive($media-tablet) {
          display: $footerRightDisplayTablet;
        }
        @include responsive($media-tablet) {
          width: $footerRightWidthTablet;
        }
        >ul {
          vertical-align: top;
        }
        .courses-tags, .quicklinks {
          float: $footerRightCoursesTagsFloat;
          width: $footerRightCoursesTagsWidth;
          margin-top: $footerRightCoursesTagsMarginTop;
          @include responsive($media-tablet) {
            float: $footerRightCoursesTagsFloatTablet;
            width: $footerRightCoursesTagsWidthTablet;
            margin-top: $footerRightCoursesTagsMarginTopTablet;
          }
        }
        .quicklinks {
          margin-top: $footerRightQuickLinksMarginTop;
          @include responsive($media-tablet) {
            margin-top: $footerRightQuickLinksMarginTopTablet;
          }
        }
      }
    }
  }
}
