//
//
// sliders.scss
//
// Contains all the styles of slider contents
//
// Copyright ish group (Australia) and part of ish onCourse.
// It is licensed to you under the Apache License, version 2.0



@include theme('b') {
  .flexslider {
    &.home-slider {
      height: $home-slider-height-mobile-small;
      overflow: hidden;
      @include responsive($media-small) {
        height: $home-slider-height-mobile;
      }
      @include responsive($media-tablet) {
        height: $home-slider-height;
      }
    }
    >p {
      margin: 0px;
    }
    .bx-wrapper {
      margin: 0px;
      ul li {
        img {
          width: 100%;
        }
        .block {
          position: relative;
          height: $home-slider-height-mobile-small;
          @include responsive($media-small) {
            height: $home-slider-height-mobile;
          }
          @include responsive($media-tablet) {
            height: $home-slider-height;
          }
          >p {
            margin: 0;
          }
          img {
            position: absolute;
            z-index: 1;
            height: $home-slider-height-mobile-small;
            @include responsive($media-small) {
              height: $home-slider-height-mobile;
            }
            @include responsive($media-tablet) {
              height: $home-slider-height;
            }
          }
          .container {
            position: $homeSliderContainerPosition;
            top: $homeSliderContainerPositionTop;
            z-index: 2;
            @include responsive($media-tablet) {
              top: $homeSliderContainerPositionTopMediaTablet;
            }
            .text-content {
              background: $homeSliderContainerContentBackground;
              background: $homeSliderContainerContentBackgroundrgba;
              color: $homeSliderContainerContentColor;
              width: $homeSliderContainerContentWidth;
              padding: $homeSliderContainerContentPadding;
              @include responsive($media-small) {
                width: $homeSliderContainerContentWidthMediaSmall;
                padding: $homeSliderContainerContentPaddingMediaSmall;
              }
              @include responsive($media-desktop) {
                width: $homeSliderContainerContentWidthMediaDesktop;
              }
              h1 {
                font-size: $homeSliderContainerHeadLineFontSize;
                letter-spacing: $homeSliderContainerHeadLineLetterSpacing;
                font-weight: $homeSliderContainerHeadLineFontWeight;
                @include responsive($media-small) {
                  font-size: $homeSliderContainerHeadLineFontSizeMediaSmall;
                  letter-spacing: $homeSliderContainerHeadLineLetterSpacingMediaSmall;
                }
                @include responsive($media-tablet) {
                  font-size: $homeSliderContainerHeadLineFontSizeMediaTablet;
                  letter-spacing: $homeSliderContainerHeadLineLetterSpacingMediaTablet;
                }
                @include responsive($media-desktop) {
                  font-size: $homeSliderContainerHeadLineFontSizeMediaDesktop;
                }
              }
              p {
                font-size: $homeSliderContainerDescriptionFontSize;
                padding-top: $homeSliderContainerDescriptionPaddingTop;
                @include responsive($media-small) {
                  font-size: $homeSliderContainerDescriptionFontSizeMediaSmall;
                }
                @include responsive($media-tablet) {
                  font-size: $homeSliderContainerDescriptionFontSizeMediaTablet;
                }
                @include responsive($media-desktop) {
                  font-size: $homeSliderContainerDescriptionFontSizeMediaDesktop;
                }
              }
            }
          }
        }
      }
      .bx-pager {
        text-align: right;
        bottom: 25px;
        padding-right: 25px;
        max-width: 1260px;
        margin: 0 auto;
        left: 0;
        right: 0;
        @include responsive($media-small) {
          bottom: 95px;
        }
      }
      .bx-controls-direction a {
        display: none;
      }
    }
  }
}
