package {{package}}.impl

import {{package}}.*
{{#imports}}import {{import}}
{{/imports}}

import groovy.transform.CompileStatic

@CompileStatic
class {{classname}}ServiceImpl implements {{classname}} {
{{#operations}}
{{#operation}}
    {{>returnTypes}} {{nickname}}({{#allParams}}{{>queryParamsImpl}}{{>pathParamsImpl}}{{>headerParamsImpl}}{{>bodyParams}}{{>formParamsImpl}}{{#hasMore}}, {{/hasMore}}{{/allParams}}) {
        // TODO: Implement...
        
        {{^vendorExtensions.x-java-is-response-void}}return null{{/vendorExtensions.x-java-is-response-void}}
    }
    
{{/operation}}
}
{{/operations}}

