<div data-cid="enrol-button"
     data-prop-class-id="<%= classId %>"
     data-prop-class-name="Course <%= classId %>"
     data-prop-is-canceled="false"
     data-prop-is-finished="false"
     data-prop-has-available-enrolment-places="true"
     data-prop-payment-gateway-enabled="true"
     data-prop-allow-by-application="false"
     data-prop-free-places="3"
></div>
