import {HttpService} from "../services/HttpService";
{{#imports}}
import { {{import}} } from "../model/{{import}}";
{{/imports}}

export class {{classname}} {
  constructor(private http: HttpService) {
  }
{{#operations}}{{#operation}}
  {{operationId}}({{#allParams}}{{paramName}}: {{dataType}}{{/allParams}}): Promise<{{#returnType}}{{{returnType}}}{{/returnType}}{{^returnType}}any{{/returnType}}> {
    return this.http.{{httpMethod}}(`{{path}}`{{#bodyParams}}, {{paramName}}{{/bodyParams}})
  }{{/operation}}{{/operations}}
}
