{{#imports}}
{{=[ ]=}}
import {[name]} from "../model/[path]";
[={{ }}=]
{{/imports}}

{{#models}}
  {{#model}}
  {{#description}}
/**
 * {{{description}}}
 */
{{/description}}{{#isEnum}}{{>modelEnum}}{{/isEnum}}{{^isEnum}}{{>plain}}{{/isEnum}}{{/model}}{{/models}}