{{#description}}
    /**
    * {{{description}}}
    */
{{/description}}
import {createStringEnum} from "common/utils/EnumUtils";

export const {{classname}} = createStringEnum([
  {{#allowableValues}}
  {{#enumVars}}
      {{{value}}}{{^-last}},{{/-last}}
  {{/enumVars}}
  {{/allowableValues}}
]);

export type {{classname}} = keyof typeof {{classname}};


