//
//
// progress.scss
//
// Styling for the progress bars across the top of each page in the checkout
//
// Copyright ish group (Australia) and part of ish onCourse.
// It is licensed to you under the Apache License, version 2.0
//

.progress-steps ul {
  list-style: none;
  margin-left: 0;
  li {
    width: 31.33%;
    margin: 0 2% 0 0;
    display: inline-block;
    padding-right: 15px;
    background: url($imagePath + "progress-arrow-default.png") center right no-repeat;
    &:hover {
      background: url($imagePath + "progress-arrow-hover.png") center right no-repeat;
      a {
        background: $checkoutProgressStepListBackgoundHover;
      }
    }
    &.disable {
      background: url($imagePath + "progress-arrow-disable.png") center right no-repeat;
      a {
        cursor: default;
        color: $checkoutProgressStepListColorDisable;
        background: $checkoutProgressStepListBackgoundDisable;
      }
    }
    &.active {
      background: url($imagePath + "progress-arrow-active.png") center right no-repeat;
      a {
        cursor: default;
        color: $checkoutProgressStepListColorActive;
        background: $checkoutProgressStepListBackgoundActive;
      }
    }

    &:last-child {
      margin: 0;
      padding: 0
    }
    &.last {
      background: none;
      &:hover {
        background: none;
      }
    }
    a {
      display: block;
      padding: $checkoutProgressStepListPadding;
      color: $checkoutProgressStepListColor;
      text-decoration: none;
      background: $checkoutProgressStepListBackgound;
      text-transform: $checkoutProgressStepListTextTransform;
      font-weight: $checkoutProgressStepListFontWeight;
      font-size: $checkoutProgressStepListFontSizeSmall;
      @include responsive($checkout-media-default) {
        font-size: $checkoutProgressStepListFontSizeTablet;
      }
      &:hover {
        text-decoration: none;
      }
    }
  }
}
