//
//
// checkout/settings.scss
//
// Contains all the different variable settings which needs to be used
// across the enrol checkout app
//
// Copyright ish group (Australia) and part of ish onCourse.
// It is licensed to you under the Apache License, version 2.0
//

$checkoutWrapper: 'oncourse-checkout' !default;
$checkout-media-default: $media-tablet !default;


$checkoutFormControlsTextAlign: right !default;

//
// Form submit button
//

$checkoutSubmitButtonBackground: $primaryColor !default;
$checkoutSubmitButtonBackgroundHover: $secondaryColor !default;

$checkoutSubmitButtonColor: #fff !default;
$checkoutSubmitButtonColorHover: #fff !default;
$checkoutSubmitButtonBorder: none !default;
$checkoutSubmitButtonBorderRadius: 0 !default;
$checkoutSubmitButtonHeight: 32px !default;
$checkoutSubmitButtonPadding: 6px 20px 6px 20px !default;
$checkoutSubmitButtonTextAlign: center !default;
$checkoutSubmitButtonFontSize: 14px !default;
$checkoutSubmitButtonVerticalAlign: middle !default;
$checkoutSubmitButtonDisplay: inline-block !default;
$checkoutSubmitButtonLineHeight: 1.5 !default;
$checkoutSubmitButtonMargin: 0 3px !default;
$checkoutSubmitButtonTextTransform: uppercase !default;
$checkoutSubmitButtonFontWeight: 700 !default;
$checkoutSubmitButtonLetterSpacing: 0 !default;


$checkoutSubmitContactPadding: 2px 10px 3px 10px !default;
$checkoutSubmitContactMargin: 0 0 0 5px !default;


//
// Form cancel button
//

$checkoutCancelButtonFloat: left !default;
$checkoutCancelButtonBackground: none !default;
$checkoutCancelButtonFontWeight: 700 !default;
$checkoutCancelButtonTextTransform: uppercase !default;
$checkoutCancelButtonBackgroundHover: none !default;
$checkoutCancelButtonColor: #252d30 !default;
$checkoutCancelButtonColorHover: darken(#252d30, 15%) !default;
$checkoutCancelButtonPadding: $checkoutSubmitButtonPadding !default;
$checkoutCancelButtonPaddingLeft: 0 !default;
$checkoutCancelButtonMargin: 0 3px 15px !default;


//
// Payer selection button
//

$checkoutPayerButtonPadding: 3px 9px !default;
$checkoutPayerButtonHeight: auto !default;
$checkoutPayerButtonTextTransform: inherit !default;
$checkoutPayerButtonFontSize: 12px !default;
$checkoutPayerButtonLetterSpacing: 0 !default;
$checkoutPayerButtonFontWeight: 700 !default;


//
// Corporate pass button
//

$checkoutCorporatePassButtonHeight: 30px !default;
$checkoutCorporatePassButtonPadding: 5px 20px 5px 20px !default;
$checkoutCorporatePassButtonFontSize: 14px !default;
$checkoutCorporatePassButtonMargin: 0px !important !default;
$checkoutCorporatePassButtonMarginMedia: 0 0px 0 30.5% !important !default;


//
// Checkout progress steps
//

$checkoutProgressStepShowDefaultArrows: false !default;
$checkoutProgressStepMarginLeft: 0 !default;
$checkoutProgressStepPaddingLeft: 0 !default;
$checkoutProgressStepBackground: none !default;
$checkoutProgressStepListPadding: 4px 0px 5px 10px !default;
$checkoutProgressStepListColor: #6B6B6B !default;
$checkoutProgressStepListColorHover: #6B6B6B !default;
$checkoutProgressStepListLinkBackground: #e7e7e7 !default;
$checkoutProgressStepListTextTransform: uppercase !default;
$checkoutProgressStepListFontWeight: bold !default;
$checkoutProgressStepListFontSizeSmall: 7px !default;
$checkoutProgressStepListFontSizeTablet: 12px !default;

$checkoutProgressStepListWidth: 31.33% !default;
$checkoutProgressStepListMargin: 0 2% 0 0 !default;
$checkoutProgressStepListDisplay: inline-block !default;
$checkoutProgressStepListPaddingRight: 15px !default;
$checkoutProgressStepListTextAlign: left !default;

$checkoutProgressStepListBackground: url($imagePath + "progress-arrow-default.png") center right no-repeat !default;

$checkoutProgressStepListBackgroundHover: url($imagePath + "progress-arrow-hover.png") center right no-repeat !default;
$checkoutProgressStepListLinkBackgroundHover: #d5d5d5 !default;

$checkoutProgressStepListBackgroundDisable: url($imagePath + "progress-arrow-disable.png") center right no-repeat !default;
$checkoutProgressStepListLinkBackgroundDisable: #F3F3F3 !default;
$checkoutProgressStepListLinkColorDisable: #6B6B6B !default;

$checkoutProgressStepListBackgroundActive: url($imagePath + "progress-arrow-active.png") center right no-repeat !default;
$checkoutProgressStepListLinkBackgroundActive: $primaryColor !default; //#666666
$checkoutProgressStepListLinkColorActive: #fff !default;

$checkoutProgressStepArrowBeforeContent: none !default;
$checkoutProgressStepArrowBeforeWidth: 13.5px !default;
$checkoutProgressStepArrowBeforeWidthMedia: 17.5px !default;
$checkoutProgressStepArrowBeforeColor: $white !default;

$checkoutProgressStepArrowBeforePositionTop: -4px !default;
$checkoutProgressStepArrowBeforePositionTopMedia: -4px !default;

$checkoutProgressStepArrowBeforePositionRight: -4px !default;
$checkoutProgressStepArrowBeforePositionRightMedia: -4px !default;

$checkoutProgressStepArrowAfterContent: "" !default;
$checkoutProgressStepArrowAfterWidth: 9.5px !default;
$checkoutProgressStepArrowAfterWidthMedia: 13.5px !default;
$checkoutProgressStepArrowAfterColor: $checkoutProgressStepListLinkBackground !default;

$checkoutProgressStepArrowAfterPositionTop: 0 !default;
$checkoutProgressStepArrowAfterPositionTopMedia: 0 !default;

$checkoutProgressStepArrowAfterPositionRight: 6px !default;
$checkoutProgressStepArrowAfterPositionRightMedia: 2px !default;

$checkoutProgressStepListLastChildContent: none !default;

$checkoutProgressStepLastChildActiveBackground: none !default;

$checkoutProgressStepArrowNextLinkActiveAfterWidth: 40px !default;

$checkoutProgressStepArrowNextLinkAfterWidth: 9.5px !default;
$checkoutProgressStepArrowNextLinkAfterWidthMedia: 13.5px !default;

$checkoutProgressStepArrowNextLinkAfterPositionTop: 0px !default;
$checkoutProgressStepArrowNextLinkAfterPositionTopMedia: 0px !default;

$checkoutProgressStepArrowNextLinkAfterPositionLeft: -14.5px !default;
$checkoutProgressStepArrowNextLinkAfterPositionLeftMedia: -14.5px !default;

$checkoutProgressStepArrowNextLinkAfterPositionRight: -17.5% !default;
$checkoutProgressStepArrowNextLinkAfterPositionRightMedia: -17.5% !default;


@if($checkoutProgressStepShowDefaultArrows == false) {
  $checkoutProgressStepListBackground: none;
  $checkoutProgressStepListBackgroundHover: none;
  $checkoutProgressStepListBackgroundDisable: none;
  $checkoutProgressStepListBackgroundActive: none;
} @else {
  $checkoutProgressStepArrowBeforeContent: none;
  $checkoutProgressStepArrowAfterContent: none;
}

//
// Form labels
//

$checkoutFormLabelFontWeight: normal !important !default;
$checkoutFormLabelLineHeight: 1.5 !important !default;
$checkoutFormLabelPaddingSmall: 4px 0px 4px 0 !important !default;
$checkoutFormLabelMarginBottomSmall: 3px !important !default;
$checkoutFormLabelFontSize: 14px !important !default;

$checkoutFormLabelPaddingTablet: 4px 20px 3px 0 !important !default;
$checkoutFormLabelWidthTablet: 26% !important !default;
$checkoutFormLabelMaxWidthTablet: 180px !important !default;
$checkoutFormLabelMarginBottomTablet: 0px !important !default;
$checkoutFormLabelTextAlignTablet: right !important !default;

$checkoutFormLabelMarketingWidthSmall: 90% !important !default;
$checkoutFormLabelMarketingMaxWidthSmall: none !important !default;
$checkoutFormLabelMarketingPaddingLeftSmall: 10px !important !default;

$checkoutFormInputMarketingFloatSmall: left !default;
$checkoutFormInputMarketingMarginSmall: 7px 0 0 10px !default;
$checkoutFormInputMarketingFloatTablet: none !default;
$checkoutFormInputMarketingMarginTablet: 4px 0 0 10px !default;

//
// Form small tags
//

$checkoutFormSmallTagColor: #999 !default;
$checkoutFormSmallTagFontSize: 9px !default;
$checkoutFormSmallTagLineHeight: 9px !default;

$checkoutFormEmTagFontSize: 11px !default;

$checkoutFormSupTagColor: red !default;

$checkoutFormSpanTagWidthTablet: auto !default;

$checkoutFormCVVLinkMarginLeftTablet: 15px !important !default;


//
// Form validation
//

$checkoutFormValidatePosition: absolute !default;
$checkoutFormValidateFontSize: 11px !important !default;
$checkoutFormValidatePositionLeft: 6px !default;
$checkoutFormValidatePositionTop: auto !default;
$checkoutFormValidateWidth: auto !default;
$checkoutFormValidatePositionBottomSmall: 72px !default;
$checkoutFormValidatePositionBottomTablet: 47px !default;

$checkoutFormValidateFontWeight: bold !default;
$checkoutFormValidatePadding: 3px !default;

$checkoutFormValidateReasonBackgroundColor: #FEF0F0 !important !default;
$checkoutFormValidateReasonBorder: 1px solid #FCC5C5 !important !default;

$checkoutFormValidateHintBackgroundColor: #FDF6D6 !default;
$checkoutFormValidateHintBorder: #F9E99C !default;
$checkoutFormValidateHintPointerBorderTop: 8px solid #F9E99C !default;

$checkoutFormValidatePointerPositionLeft: 2px !important !default;
$checkoutFormValidatePointerPositionTop: auto !important !default;
$checkoutFormValidatePointerPositionBottom: -15px !default;


$checkoutFormValidatePointerBorderTop: 8px solid #FCC5C5 !important !default;
$checkoutFormValidatePointerBorderLeft: 11px solid transparent !important !default;
$checkoutFormValidatePointerBorderRight: 11px solid transparent !important !default;
$checkoutFormValidatePointerBackground: none !default;


//
// Form validation tooltip
//

$checkoutFormTooltipWidth: 65% !default;
$checkoutFormTooltipMaxWidth: 220px !important !default;
$checkoutFormTooltipBorder: 1px solid #ddd !default;
$checkoutFormTooltipPadding: 4px !default;
$checkoutFormTooltipBorderRadius: 0 !default;

$checkoutFormTooltipPositionBottomSmall: 61px !default;
$checkoutFormTooltipPositionTop: auto !important !default;
$checkoutFormTooltipPositionLeftSmall: 5px !important !default;
$checkoutFormTooltipPositionBottomTablet: 35px !default;
$checkoutFormTooltipPositionLeftTablet: 27% !important !default;

$checkoutFormTooltipPointerPositionBottom: -8px !default;


//
// Form input
//

$checkoutFormInputBorder: 1px solid #D5D5D5 !default;
$checkoutFormInputBorderColorHover: #D5D5D5 !default;
$checkoutFormInputBorderColorFocus: #D5D5D5 !default;
$checkoutFormInputColor: #333 !default;

$checkoutFormInputErrorBackgroundColor: #FEF0F0 !important !default;
$checkoutFormInputErrorColor: #f00 !default;


$checkoutFormInputPadding: 3px 7px !default;
$checkoutFormInputBackgroundColor: #fff !default;
$checkoutFormInputFontSize: 14px !default;
$checkoutFormInputHeight: 30px !default;
$checkoutFormInputLineHeight: 1.5 !default;

$checkoutFormInputBorderRadius: 0 !default;

$checkoutFormInputWidthTablet: 190px !important !default;
$checkoutFormInputMaxWidthTablet: 190px !important !default;

$checkoutFormTextAreaHeight: 150px !default;
$checkoutFormTextAreaWidthTablet: 240px !important !default;


//
// Form select
//

$checkoutFormSelectBackgroundError: #FEF0F0 !default;
$checkoutFormSelectColorError: #696868 !important !default;
$checkoutFormSelectFontWeightError: normal !default;
$checkoutFormSelectWrapperWidth: 165px !default;

$checkoutFormSelectPlaceholderColor: #696868 !default;


//
// Form input radio
//

$checkoutFormInputRadioErrorColor: #fd6868 !default;


//
// Checkout wrapper
//

$checkoutPageFontSize: 14px !default;
$checkoutPageMarginBottom: 20px !default;


//
// Checkout form validation message & error
//

$checkoutPageMessageBackgroundColor: #EEF6FF !default;
$checkoutPageMessagePadding: 4px 8px !default;
$checkoutPageMessageMarginBottom: 1.6em !default;
$checkoutPageMessageBorder: 1px solid #A3E0F0 !default;
$checkoutPageMessageBorderRadius: 8px !default;
$checkoutPageMessageColor: #0066AA !default;
$checkoutPageMessageTextColor: #0066AA !default;

$checkoutPageErrorBackgroundColor: #FEF0F0 !default;
$checkoutPageErrorBorderColor: #FCC5C5 !default;
$checkoutPageErrorColor: #990000 !default;
$checkoutPageErrorTextColor: #990000 !default;

$checkoutPageHighlightPadding: 10px !default;
$checkoutPageHighlightBackgroundColor: #FDEFC9 !default;

$checkoutPageValidationColor: #B94A48 !default;
$checkoutPageValidationBackgroundColor: #F2DEDE !default;
$checkoutPageValidationBorder: 1px solid #EED3D7 !default;
$checkoutPageValidationTextShadow: 0 1px 0 rgba(255,255,255,0.5) !default;
$checkoutPageValidationBorderRadius: 4px !default;
$checkoutPageValidationPadding: 8px 35px 8px 14px !default;
$checkoutPageValidationMargin: 0 10px 25px 10px !default;


//
// Checkout payment summary
//

$checkoutPaymentStudentInfoFontWeight: bold !default;
$checkoutPaymentStudentInfoPosition: relative !default;
$checkoutPaymentStudentInfoPadding: 0px 0px 5px !default;
$checkoutPaymentStudentInfoMarginBottom: 0px !default;
$checkoutPaymentStudentInfoBackgroundHover: transparent !default;

$checkoutPaymentStudentTitleFontSize: 18px !default;
$checkoutPaymentStudentTitleMarginBottom: 0 !default;
$checkoutPaymentStudentTitleFontWeight: bold !default;
$checkoutPaymentStudentTitleDisplay: inline !default;
$checkoutPaymentStudentTitleColor: $primaryColor !default;

$checkoutPaymentStudentEmailPosition: relative !default;
$checkoutPaymentStudentEmailColor: #888888 !default;
$checkoutPaymentStudentEmailFontSize: 14px !default;
$checkoutPaymentStudentEmailFontWeight: normal !default;
$checkoutPaymentStudentEmailPositionLeft: 0 !default;
$checkoutPaymentStudentEmailTextTransform: lowercase !default;
$checkoutPaymentStudentEmailPositionTop: 0px !default;
$checkoutPaymentStudentEmailMarginRight: 5px !default;

$checkoutPaymentStudentAffiliationColor: #888888 !default;
$checkoutPaymentStudentAffiliationFontWeight: normal !default;

$checkoutPaymentStudentRemoveOpacityHover: 1 !default;

$checkoutPaymentStudentRemoveOpacity: 0 !default;
$checkoutPaymentStudentRemoveDisplay: block !default;
$checkoutPaymentStudentRemovePosition: absolute !default;
$checkoutPaymentStudentRemovePositionRight: 8px !default;
$checkoutPaymentStudentRemovePositionTop: 50% !default;
$checkoutPaymentStudentRemoveMarginTop: -9px !default;
$checkoutPaymentStudentRemoveArea: 18px !default;
$checkoutPaymentStudentRemoveArea: 18px !default;

$checkoutPaymentStudentRemoveBeforeContent: "" !default;
$checkoutPaymentStudentRemoveBeforePosition: absolute !default;
$checkoutPaymentStudentRemoveBeforePositionLeft: 8px !default;
$checkoutPaymentStudentRemoveBeforeWidth: 2px !default;
$checkoutPaymentStudentRemoveBeforeHeight: 18px !default;
$checkoutPaymentStudentRemoveBeforeBackground: #333 !default;

$checkoutPaymentSummaryFontSize: $checkoutPageFontSize !default;

$checkoutPaymentSummaryConcessionColor: #aaa !default;
$checkoutPaymentSummaryConcessionFontSize: 11px !default;
$checkoutPaymentSummaryConcessionMarginBottom: 5px !default;

$checkoutPaymentPlusLinkMarginBottom: 7px !default;
$checkoutPaymentPlusLinkPadding: 7px 0 7px 30px !default;
$checkoutPaymentPlusLinkBackground: #f7f7f7 url($imagePath + "add.png") no-repeat scroll 8px 50% !default;


//
// Checkout enrol items list
//

$checkoutPageListMarginBottom: 7px !default;
$checkoutPageListPadding: 0 15px 0 15px !default;

$checkoutPageEnrolItemMarginBottom: 10px !default;

$checkoutPageEnrolInfoPaddingLeft: 35px !default;

$checkoutPageEnrolInfoSelectMarginRight: 6px !default;
$checkoutPageEnrolInfoSelectMarginTop: 1px !default;
$checkoutPageEnrolInfoSelectPosition: absolute !default;
$checkoutPageEnrolInfoSelectPositionLeft: -19px !default;
$checkoutPageEnrolInfoSelectPositionTop: 3px !default;

$checkoutPageEnrolItemLabelFontWeight: bold !default;
$checkoutPageEnrolItemLabelLineHeight: 21px !default;

$checkoutPageEnrolItemEmTagColor: #888888 !default;
$checkoutPageEnrolItemEmTagFontSize: 11px !default;
$checkoutPageEnrolItemEmTagFontWeight: normal !default;
$checkoutPageEnrolItemEmTagMarginLeft: 0px !default;


//
// Checkout amount container
//

$checkoutPageAmountContainerFloat: left !default;
$checkoutPageAmountContainerWidth: 100% !default;
$checkoutPageAmountContainerBorder: 1px solid #D6D6D6 !default;
$checkoutPageAmountContainerBorderRadius: 7px !default;
$checkoutPageAmountContainerPadding: 15px 10px !default;
$checkoutPageAmountContainerBackground: #F7F7F7 !default;
$checkoutPageAmountContainerMarginBottom: 20px !default;

$checkoutPageAmountContainerButtonMargin: 20px 0 0 0 !default;
$checkoutPageAmountContainerButtonFloat: right !default;

$checkoutPageAmountContainerAddCodeTextTransform: inherit !default;
$checkoutPageAmountContainerAddCodeFontWeight: normal !default;
$checkoutPageAmountContainerAddCodeHeight: 30px !default;
$checkoutPageAmountContainerAddCodePadding: 5px 15px !default;
$checkoutPageAmountContainerAddCodeFontSize: 12px !default;

$checkoutPageAmountContentWidth: 253px !default;
$checkoutPageAmountContentFloat: right !default;
$checkoutPageAmountContentMarginTopSmall: 20px !default;
$checkoutPageAmountContentMarginTopTablet: 0px !default;

$checkoutPageAmountContentLabelFontWeight: normal !default;
$checkoutPageAmountContentLabelWidth: 145px !default;
$checkoutPageAmountContentLabelTextAlign: right !default;
$checkoutPageAmountContentLabelLineHeight: 21px !default;

$checkoutPageAmountContentSpanWidth: 65px !default;
$checkoutPageAmountContentSpanLineHeight: 21px !default;

$checkoutPageAmountContentCreditAccessLinkColor: #125687 !default;
$checkoutPageAmountContentRemoveOwingLink: #125687 !default;

$checkoutPageAmountInputWidth: 65px !default;
$checkoutPageAmountInputBackground: #FAFAFA !default;
$checkoutPageAmountInputBorder: 1px solid #DDD !default;

$checkoutPageAmountCodeInfoMargin: 0 0 20px 0 !default;
$checkoutPageAmountCodeInfoWidthTablet: 270px !important !default;

$checkoutPageAmountCodeInfoTextFontSize: 11px !default;

$checkoutPageAmountCodeInputWidthTablet: 120px !default;


//
// Checkout payment tabs
//

$checkoutPageTabMargin: 0 0 18px 0 !default;
$checkoutPageTabBorder: 1px solid silver !default;
$checkoutPageTabBorderRadius: 8px !default;
$checkoutPageTabBackground: #fcfcfc !default;

$checkoutPaymentHeaderContentColor: #333 !default;
$checkoutPaymentHeaderContentFontSize: 23px !default;
$checkoutPaymentHeaderContentBorderRadius: 0 5px 0px 0px !default;
$checkoutPaymentHeaderContentPosition: relative !default;
$checkoutPaymentHeaderContentMarginBottom: 25px !default;

$checkoutPaymentHeaderPadding: 10px 0 0 11px !default;
$checkoutPaymentHeaderBackground: url($imagePath + "Padlock.png") 7px 5px no-repeat !default;

$checkoutPaymentHeaderTitleTextTransform: none !default;
$checkoutPaymentHeaderTitleFontSize: 23px !default;
$checkoutPaymentHeaderTitleMarginBottom: 0 !default;
$checkoutPaymentHeaderTitleColor: #333 !default;
$checkoutPaymentHeaderTitleLineHeight: 26px !default;
$checkoutPaymentHeaderTitlePaddingLeft: 45px !default;
$checkoutPaymentHeaderTitleFontWeight: normal !default;
$checkoutPaymentHeaderTitleDisplay: block !default;

$checkoutPaymentHeaderSubTitleColor: #666 !default;
$checkoutPaymentHeaderSubTitleFontSize: 14px !default;
$checkoutPaymentHeaderSubTitleFontWeight: normal !default;
$checkoutPaymentHeaderSubTitleLineHeight: 18px !default;
$checkoutPaymentHeaderSubTitlePaddingLeft: 45px !default;
$checkoutPaymentHeaderSubTitleDisplay: inline-block !default;
$checkoutPaymentHeaderSubTitleVerticalAlign: top !default;
$checkoutPaymentHeaderSubTitlePosition: relative !default;

//
// Payer selection
//

$checkoutPayerPosition: absolute !default;
$checkoutPayerPositionTop: 70px !default;
$checkoutPayerPositionRight: 0px !default;
$checkoutPayerZIndex: 2 !default;
$checkoutPayerPositionTopMedia: 50px !default;
$checkoutPayerPositionRightMedia: 20px !default;
