//
//
// summary.scss
//
// Styling for the payment summary and enrolment list used in checkout
//
// Copyright ish group (Australia) and part of ish onCourse.
// It is licensed to you under the Apache License, version 2.0
//

.payment-summary, #contactEditorForm {
  .student-name {
    .student-info {
      font-weight: $checkoutPaymentStudentInfoFontWeight;
      position: $checkoutPaymentStudentInfoPosition;
      padding: $checkoutPaymentStudentInfoPadding;
      margin-bottom: $checkoutPaymentStudentInfoMarginBottom;
      @extend .transition-normal;
      h3 {
        font-size: $checkoutPaymentStudentTitleFontSize;
        margin-bottom: $checkoutPaymentStudentTitleMarginBottom;
        font-weight: $checkoutPaymentStudentTitleFontWeight;
        display: $checkoutPaymentStudentTitleDisplay;
        color: $checkoutPaymentStudentTitleColor;
      }
      .student-email {
        position: $checkoutPaymentStudentEmailPosition;
        color: $checkoutPaymentStudentEmailColor;
        font-size: $checkoutPaymentStudentEmailFontSize;
        font-weight: $checkoutPaymentStudentEmailFontWeight;
        left: $checkoutPaymentStudentEmailPositionLeft;
        text-transform: $checkoutPaymentStudentEmailTextTransform;
        top: $checkoutPaymentStudentEmailPositionTop;
        margin-right: $checkoutPaymentStudentEmailMarginRight;
      }
      .student-affilation {
        color: $checkoutPaymentStudentAffiliationColor;
        font-weight: $checkoutPaymentStudentAffiliationFontWeight;
        strong {
          margin-right: 6px;
        }
      }
      &:hover {
        background: $checkoutPaymentStudentInfoBackgroundHover;
        .student-remove {
          opacity: $checkoutPaymentStudentRemoveOpacityHover;
        }
      }
      .student-remove {
        opacity: $checkoutPaymentStudentRemoveOpacity;
        display: $checkoutPaymentStudentRemoveDisplay;
        position: $checkoutPaymentStudentRemovePosition;
        right: $checkoutPaymentStudentRemovePositionRight;
        top: $checkoutPaymentStudentRemovePositionTop;
        margin-top: $checkoutPaymentStudentRemoveMarginTop;
        width: $checkoutPaymentStudentRemoveArea;
        height: $checkoutPaymentStudentRemoveArea;
        cursor: pointer;
        @extend .transition-normal;
        &:hover {
          opacity: $checkoutPaymentStudentRemoveOpacityHover;
        }
        &:before, &:after {
          content: $checkoutPaymentStudentRemoveBeforeContent;
          position: $checkoutPaymentStudentRemoveBeforePosition;
          left: $checkoutPaymentStudentRemoveBeforePositionLeft;
          width: $checkoutPaymentStudentRemoveBeforeWidth;
          height: $checkoutPaymentStudentRemoveBeforeHeight;
          background-color: $checkoutPaymentStudentRemoveBeforeBackground;
        }
        &:before {
          @include transform(rotate(45deg));
        }
        &:after {
          @include transform(rotate(-45deg));
        }
      }
    }
  }
}
.payment-summary {
  font-size: $checkoutPaymentSummaryFontSize;
  .membership, .concession {
    color: $checkoutPaymentSummaryConcessionColor;
    font-size: $checkoutPaymentSummaryConcessionFontSize;
    margin-bottom: $checkoutPaymentSummaryConcessionMarginBottom;
    i {
      font-style: inherit;
    }
  }
  .add-concession, .new-student-link {
    width: 100%;
    display: block;
    margin-bottom: $checkoutPaymentPlusLinkMarginBottom;
    padding: $checkoutPaymentPlusLinkPadding;

    cursor: pointer;
    background: $checkoutPaymentPlusLinkBackground;
  }
  .checkoutList {
    margin-bottom: $checkoutPageListMarginBottom;
    padding: $checkoutPageListPadding;
    .enrolmentItem {
      margin-bottom: $checkoutPageEnrolItemMarginBottom;
      .enrolmentInfo {
        padding-left: $checkoutPageEnrolInfoPaddingLeft;
        br {
          display: none;
        }
        .enrolmentSelect {
          margin-right: $checkoutPageEnrolInfoSelectMarginRight;
          vertical-align: top;
          margin-top: $checkoutPageEnrolInfoSelectMarginTop;
          position: $checkoutPageEnrolInfoSelectPosition;
          left: $checkoutPageEnrolInfoSelectPositionLeft;
          top: $checkoutPageEnrolInfoSelectPositionTop;
        }
        label {
          width: 100%;
          max-width: none;
          text-align: left;
          padding-right: 0;
          font-weight: $checkoutPageEnrolItemLabelFontWeight;
          vertical-align: middle;
          display: block;
          line-height: $checkoutPageEnrolItemLabelLineHeight;
          position: relative;
          padding-left: 0;
        }
        em {
          color: $checkoutPageEnrolItemEmTagColor;
          font-size: $checkoutPageEnrolItemEmTagFontSize;
          font-style: $checkoutPageEnrolItemEmTagFontWeight;
          margin-left: $checkoutPageEnrolItemEmTagMarginLeft;
          >span {
            vertical-align: top;
          }
        }
        >span {
          margin-left: 0px;
          display: block;
        }
        span {
          >span {
            &.started, &.ended {
              vertical-align: top;
            }
          }
        }
        .Select {
          margin-top: 6px;
        }
      }
      .alignright > .text-right {
        padding-right: 31px;
      }
      .course-fields {
        margin-top: 10px;
      }
    }
  }
}
div.amount-container {
  float: $checkoutPageAmountContainerFloat;
  width: $checkoutPageAmountContainerWidth;
  border: $checkoutPageAmountContainerBorder;
  border-radius: $checkoutPageAmountContainerBorderRadius;
  padding: $checkoutPageAmountContainerPadding;
  background: $checkoutPageAmountContainerBackground;
  margin-bottom: $checkoutPageAmountContainerMarginBottom;
  button.btn-primary {
    @extend %checkout-submit-button;
    margin: $checkoutPageAmountContainerButtonMargin;
    float: $checkoutPageAmountContainerButtonFloat;

  }
  #addCode {
    text-transform: $checkoutPageAmountContainerAddCodeTextTransform;
    font-weight: $checkoutPageAmountContainerAddCodeFontWeight;
    @extend %checkout-submit-button;
    height: $checkoutPageAmountContainerAddCodeHeight;
    padding: $checkoutPageAmountContainerAddCodePadding;
    font-size: $checkoutPageAmountContainerAddCodeFontSize;
    float: none;
    &:hover, &:active, &:focus {
      font-weight: $checkoutPageAmountContainerAddCodeFontWeight;
      font-size: $checkoutPageAmountContainerAddCodeFontSize;
    }
  }

  .amount-content {
    width: $checkoutPageAmountContentWidth;
    float: $checkoutPageAmountContentFloat;
    margin-top: $checkoutPageAmountContentMarginTopSmall;
    @include responsive($checkout-media-default) {
      margin-top: $checkoutPageAmountContentMarginTopTablet;
    }
    label {
      font-weight: $checkoutPageAmountContentLabelFontWeight;
      width: $checkoutPageAmountContentLabelWidth;
      text-align: $checkoutPageAmountContentLabelTextAlign;
      margin-right: 10px;
      padding-right: 0px;
      line-height: $checkoutPageAmountContentLabelLineHeight;
    }
    a {
      text-decoration: none;
    }
    p {
      margin: 0 0 5px 0;
    }
    span {
      display: inline-block;
      width: $checkoutPageAmountContentSpanWidth;
      text-align: right;
      float: right;
      line-height: $checkoutPageAmountContentSpanLineHeight;
      margin-right: 32px;
      &#creditAccessLink {
        color: $checkoutPageAmountContentCreditAccessLinkColor;
        cursor: pointer;
      }
      &#removeOwingLink {
        width: auto;
        margin: 0 0 0 5px;
        color: $checkoutPageAmountContentRemoveOwingLink;
      }
    }
    .total-amount {
      font-weight: bold;
      label {
        font-weight: bold;
      }
    }
    input {
      display: inline-block;
      width: $checkoutPageAmountInputWidth;
      text-align: right;
      margin-right: 32px;
      font: inherit;
      background-color: $checkoutPageAmountInputBackground;
      border: $checkoutPageAmountInputBorder;
    }

    #vouchers {
      white-space: nowrap;
      input[type="checkbox"] {
        margin-top: 2px;
        width: initial;
        margin-right: initial;
      }
      p label {
        display: inline-block;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }
  div.code-info {
    float: left;
    width: 100% !important;
    margin: $checkoutPageAmountCodeInfoMargin;
    @include responsive($checkout-media-default) {
      width: $checkoutPageAmountCodeInfoWidthTablet;
    }
    p {
      margin-bottom: 0px;
      clear: both;
      font-size: $checkoutPageAmountCodeInfoTextFontSize;
    }
    .code-input {
      margin-bottom: 10px;
      .form-control {
        padding: $checkoutFormInputPadding;
        &:focus {
          box-shadow: none;
        }
      }
    }
  }
  input.code_input {
    padding: $checkoutFormInputPadding;
    background-color: $checkoutFormInputBackgroundColor;
    border: $checkoutFormInputBorder;
    width: 100%;
    font-size: $checkoutFormInputFontSize;
    float: left;
    height: $checkoutFormInputHeight;
    @include border-radius($checkoutFormInputBorderRadius);
    @include responsive($checkout-media-default) {
      width: $checkoutPageAmountCodeInputWidthTablet;
    }
  }
  #access-password-popup {
    display: none;
    z-index: 999;
    position: absolute;
    top: 5px;
    list-style: none;
    width: 200px;
    margin: 0;
    background-color: white;
    border: 1px solid #CCC;
    border-radius: 6px;
    @include prefixer(box-shadow, rgba(0, 0, 0, 0.19922) 0px 5px 10px, webkit moz ms o spec);
    @include prefixer(background-clip, padding-box, webkit moz ms o spec);
    padding: 15px 10px 15px 10px;
  }
  .action-link {
    cursor: pointer;
    color: #85A918;
    margin-left: 20px;
  }
}
.code-info {
  margin: 0;
  padding-left: 15px;
  padding-right: 15px;
}
