//
//
// tabs.scss
//
// Styling for the payment tab used in the checkout
// i.e. tabs used in payment step
//
// Copyright ish group (Australia) and part of ish onCourse.
// It is licensed to you under the Apache License, version 2.0
//

#tabable-container {
  margin: $checkoutPageTabMargin;
  padding: 0;
  border: $checkoutPageTabBorder;
  border-radius: $checkoutPageTabBorderRadius;
  background: $checkoutPageTabBackground;
  &::after {
    display: block;
    visibility: hidden;
    clear: both;
    content: "";
  }
  ul.nav {
    margin-right: -1px;
    position: relative;
    margin: 0;
    float: left;
    list-style: none;
    width: 100% !important;
    background: $checkoutPageTabBackground;
    border-top-left-radius: 9px;
    border-top: 1px solid transparent;
    border-top-right-radius: 9px;
    border-bottom: 1px solid #ddd;
    @include responsive($checkout-media-default) {
      width: 19.8% !important;
      border-top-right-radius: 0px;
      border-bottom: 0;
    }
    li {
      margin: 0;
      width: 50%;
      display: inline-block;
      @include responsive($checkout-media-default) {
        width: 100%;
        display: block;
      }
      &.first {
        &.active a {
          border-top-color: #ddd !important;
          border-top-left-radius: 6px;
          border-top-right-radius: 6px;
          @include responsive($checkout-media-default) {
            border-top-color: transparent !important;
            border-top-left-radius: 6px;
            border-top-right-radius: 0px;
          }
        }
        a:hover {
          border-top-left-radius: 6px;
        }
      }
      a {
        padding: 8px 12px;
        line-height: 20px;
        margin-right: 0px !important;
        margin-bottom: -1px;
        display: block;
        border: 1px solid transparent;
        color: #555;
        text-decoration: none;
        @include responsive($checkout-media-default) {
          margin-bottom: 0px;
          margin-right: -1px !important;
        }
        &:hover {
          background: #eee;
          border-color: #EEE #DDD #DDD #DDD !important;
          color: #333;
          border-top-right-radius: 6px;
          border-top-left-radius: 6px;
          @include responsive($checkout-media-default) {
            border-top-right-radius: 0px;
            border-top-left-radius: 0px;
            border-color: #EEE #DDD #EEE #EEE !important;
          }
        }
      }
      &.active a {
        background: #fff;
        border-color: #DDD #DDD #FFF #DDD !important;
        font-weight: bold;
        color: #555;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        @include responsive($checkout-media-default) {
          border-color: #DDD transparent #DDD transparent !important;
          border-top-left-radius: 0px;
          border-top-right-radius: 0px;
        }
      }
    }
  }

  .tab-content {
    width: 100% !important;
    float: left;
    background: #fff;
    padding: 0 10px;
    border-left: 0;
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
    border-bottom-left-radius: 9px;
    @include responsive($checkout-media-default) {
      border-left: 1px solid #ddd;
      border-bottom-left-radius: 0px;
      width: 80% !important;
      padding: 0
    }

    .payer-selection {
      position: $checkoutPayerPosition;
      top: $checkoutPayerPositionTop;
      right: $checkoutPayerPositionRight;
      z-index: $checkoutPayerZIndex;
      @include responsive($checkout-media-default) {
        top: $checkoutPayerPositionTopMedia;
        right: $checkoutPayerPositionRightMedia;
      }
      > a.button {
        float: none;
        text-decoration: none;
        @extend %checkout-submit-button;
        padding: $checkoutPayerButtonPadding;
        height: $checkoutPayerButtonHeight;
        text-transform: $checkoutPayerButtonTextTransform;
        font-size: $checkoutPayerButtonFontSize;
        letter-spacing: $checkoutPayerButtonLetterSpacing;
        font-weight: $checkoutPayerButtonFontWeight;
        &:hover, &:active, &:focus {
          font-weight: $checkoutPayerButtonFontWeight;
          font-size: $checkoutPayerButtonFontSize;
        }
      }
      ul {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        display: none;
        float: left;
        min-width: 160px;
        padding: 5px 0;
        margin: 2px 0 0;
        list-style: none;
        background-color: #FFF;
        border: 1px solid #CCC;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 6px;
        @include prefixer(box-shadow, 0 5px 10px rgba(0, 0, 0, 0.2), webkit moz ms o spec);
        @include prefixer(background-clip, padding-box, webkit moz ms o spec);
        top: 25px;
        left: 12px;
        &::before {
          position: absolute;
          top: -7px;
          left: 9px;
          display: inline-block;
          border-right: 7px solid transparent;
          border-bottom: 7px solid #CCC;
          border-left: 7px solid transparent;
          border-bottom-color: rgba(0, 0, 0, 0.2);
          content: '';
        }
        &::after {
          position: absolute;
          top: -6px;
          left: 10px;
          display: inline-block;
          border-right: 6px solid transparent;
          border-bottom: 6px solid #FFF;
          border-left: 6px solid transparent;
          content: '';
        }
        li {
          line-height: 20px;
          > a {
            display: block;
            padding: 3px 20px;
            clear: both;
            font-weight: normal;
            line-height: 20px;
            color: #333;
            white-space: nowrap;
            text-decoration: none;
            &:hover {
              color: #FFF;
              text-decoration: none;
              background-color: #0081C2;
              background-image: -moz-linear-gradient(top, #08C, #0077B3);
              background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#08C), to(#0077B3));
              background-image: -webkit-linear-gradient(top, #08C, #0077B3);
              background-image: -o-linear-gradient(top, #08C, #0077B3);
              background-image: linear-gradient(to bottom, #08C, #0077B3);
              background-repeat: repeat-x;
              filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
            }
          }
        }
      }
    }

    .form-details {
      position: relative;
      >p {
        margin-bottom: 30px;
        @include responsive($checkout-media-default) {
          margin-bottom: 12px;
        }
      }
      .form-group {
        .select-payer {
          float: left;
          width: 100%;
          @include responsive($checkout-media-default) {
            float: right;
            width: 74%;
          }
          .radio-list {
            >span {
              display: block;
            }
          }
        }
        .input-select-small {
          .form-group, > div {
            width: 117px;
            display: inline-block;
            vertical-align: middle;
            @include responsive($checkout-media-default) {
              width: 92px;
            }
            .Select {
              width: 115px !important;
              @include responsive($checkout-media-default) {
                width: 92px !important;
              }
              .Select-control .Select-multi-value-wrapper {
                width: 93px;
                @include responsive($checkout-media-default) {
                  width: 70px;
                }
                .Select-placeholder {
                  padding-right: 0;
                }
              }
            }
          }
          .date-separator {
            vertical-align: middle;
            height: 30px;
          }
        }
      }
    }
    #corporate-pass {
      >fieldset {
        padding-left: 0;
        padding-right: 0;
        border: 0;
        @include responsive($checkout-media-default) {
          padding-left: 20px;
          padding-right: 20px;
        }
      }
      .pass-input {
        margin-bottom: 20px;
      }
      #addCorporatePass {
        @extend %checkout-submit-button;
        height: $checkoutCorporatePassButtonHeight;
        padding: $checkoutCorporatePassButtonPadding;
        font-size: $checkoutCorporatePassButtonFontSize;
        margin: $checkoutCorporatePassButtonMargin;
        @include responsive($checkout-media-default) {
          margin: $checkoutCorporatePassButtonMarginMedia;
        }
        &:hover, &:active, &:focus {
          font-size: $checkoutCorporatePassButtonFontSize;
        }
      }
    }
    .vcc-card-image {
      vertical-align: top;
      margin-left: 0px;
      margin-bottom: 2px;
      @include responsive($checkout-media-default) {
        margin-left: 5px;
      }
    }
    #cardtotalstring {
      margin-top: -3px;
      vertical-align: middle;
      img {
        vertical-align: middle;
      }
    }
  }
}

.header-content {
  color: $checkoutPaymentHeaderContentColor;
  font-size: $checkoutPaymentHeaderContentFontSize;
  border-radius: $checkoutPaymentHeaderContentBorderRadius;
  position: $checkoutPaymentHeaderContentPosition;
  margin-bottom: $checkoutPaymentHeaderContentMarginBottom;
  .header {
    padding: $checkoutPaymentHeaderPadding;
    background: $checkoutPaymentHeaderBackground;
    h1 {
      text-transform: $checkoutPaymentHeaderTitleTextTransform;
      font-size: $checkoutPaymentHeaderTitleFontSize;
      margin-bottom: $checkoutPaymentHeaderTitleMarginBottom;
      color: $checkoutPaymentHeaderTitleColor;
      line-height: $checkoutPaymentHeaderTitleLineHeight;
      padding-left: $checkoutPaymentHeaderTitlePaddingLeft;
      font-weight: $checkoutPaymentHeaderTitleFontWeight;
      display: $checkoutPaymentHeaderTitleDisplay;
    }
    span {
      color: $checkoutPaymentHeaderSubTitleColor;
      font-size: $checkoutPaymentHeaderSubTitleFontSize;
      font-weight: $checkoutPaymentHeaderSubTitleFontWeight;
      line-height: $checkoutPaymentHeaderSubTitleLineHeight;
      padding-left: $checkoutPaymentHeaderSubTitlePaddingLeft;
      display: $checkoutPaymentHeaderSubTitleDisplay;
      vertical-align: $checkoutPaymentHeaderSubTitleVerticalAlign;
      position: $checkoutPaymentHeaderSubTitlePosition;
    }
  }
}

.enrolmentsSelected {
  .form-controls {
    margin-bottom: 10px;
    margin-left: 260px;
  }
  fieldset {
    margin: 0;
    padding: 0;
    border: 0;
  }
}

.payment-conditions {
  margin-bottom: 20px;
  label {
    width: 100%;
    max-width: none;
    text-align: left;
    @include responsive($checkout-media-default) {
      text-align: right;
      width: 26%;
      max-width: 180px;
    }
  }
  .conditions {
    position: relative;
    width: 100%;
    left: auto;
    padding-left: 0px;
    top: 0px;
    @include responsive($checkout-media-default) {
      width: 80%;
      left: 24%;
      padding-left: 20px;
    }
    > span {
      display: inline-block;
      width: 100%;
      @include responsive($checkout-media-default) {
        width: 92%;
      }
      .conditions-text {
        width: 80%;
        font-weight: normal;
      }
      > input, .conditions-text {
        float: left;
        margin-right: 5px;
      }
    }
  }
}
