.editor-area {
  border: 2px solid $sidebar-color;
  padding: 5px;
  border-radius: 2px;
  cursor: pointer;
  min-height: 400px;
  transition: all .3s;
  
  &--empty {
  
  }
  
  &:hover {
    border: 2px solid $primary;
  }
}