//
//
// default.scss
//
// Contains all the settings used in different scss files
//
// Copyright ish group (Australia) and part of ish onCourse.
// It is licensed to you under the Apache License, version 2.0



// Content settings
$theme: "c";

$theme-color: #4cddf3 !default;

$containerWidth: 1460px !default;

$anchorColor: #7d8087 !default;
$anchorHoverColor: #37b8cb !default;

$primaryColor: #404040 !default; //btn primary color
$secondaryColor: #00515f !default;

// media: small, tablet, desktop
$small-screen: 640px !default;
$tablet-screen: 992px !default;
$desktop-screen: 1080px !default;
$custom-screen: 1060px !default;

// Font Families

$bodyBackground: #f7f7f7 !default;
$bodyFontFamily: 'Source Sans Pro', sans-serif !default;
$bodyFontSize: 15px !default;
$bodyFontColor: #717171 !default;

$discountBlockTextColor: $anchorColor !default;
$discountBlockTitleColor: $bodyFontColor !default;

// Content container
$contentContainerMarginTop: 0px !default;

// Courses
$waitingListTitleHoverBG: $bodyFontColor !default;


$h1InnerFontFamily: $bodyFontFamily !default;
$h1InnerTextColor: $primaryColor !default;

$discountBlockDisplay: none !default;
$discountBlockActionLinkDisplay: none !default;


$h1FontSize: 37px;
$h1LinkColor: $primaryColor !default;
$h1LinkHoverColor: $secondaryColor !default;

$h2FontSize: 28px;
$h2LinkColor: $primaryColor !default;
$h2LinkHoverColor: $secondaryColor !default;

$h3FontSize: 22px;
$h3LinkColor: $primaryColor !default;
$h3LinkHoverColor: $secondaryColor !default;

$h4FontSize: 18px;
$h4LinkColor: $primaryColor !default;
$h4LinkHoverColor: $secondaryColor !default;

$h5FontSize: 15px;
$h5LinkColor: $primaryColor !default;
$h5LinkHoverColor: $secondaryColor !default;

$h6FontSize: 12px;
$h6LinkColor: $primaryColor !default;
$h6LinkHoverColor: $secondaryColor !default;

$enrolActionFontFamily: $bodyFontFamily !default;
$enrolActionBackground: $primaryColor !default;
$enrolActionHoverBackground: $secondaryColor !default;

$enrolActionBorder: 1px solid $primaryColor !default;
$enrolActionAddedBackground: $secondaryColor !default;

$coursesJoinButtonBackground: $primaryColor !default;
$coursesJoinButtonHoverBackground: $primaryColor !default;
$classItemBorderHoverColor: $primaryColor !default;
$classItemBackgroundColor: transparent !default;

$classItemBorder: 1px solid #dedede !default;
$classItemBorderLeft: 6px solid #dedede !default;

$coursesFontFamily: $bodyFontFamily !default;
$coursesDetailsFontFamily: $bodyFontFamily !default;
$normalFontFamily: $bodyFontFamily !default;

$courseItemBorderTop: 2px dotted $primaryColor !default;

$courseMoreLinkColor: $secondaryColor !default;
$courseMoreLinkHoverColor: $primaryColor !default;

$btnBackgroundColor: $primaryColor !default;
$btnBackgroundHoverColor: $secondaryColor !default;

$btnType2BackgroundColor: $secondaryColor !default;

$appBtnBackgroundColor: $theme-color !default;
$appBtnBackgroundHoverColor: darken($theme-color, 15%) !default;
$appBtnPaddingSmall: 13px 25px !default;
$appBtnLetterSpacing: 1px !default;
$appBtnFontSizeSmall: 14px !default;

$squareBtnMargin: 35px auto 0 !default;
$squareBtnDisplay: block !default;
$squareBtnColor: $white !default;
$squareBtnPadding: 10px 25px 10px !default;
$squareBtnFontSize: 15px !default;
$squareBtnBorderColor: $theme-color !default;
$squareBtnBorderColorHover: $white !default;
$squareBtnWidth: 189px !default;
$squareBtnFontWeight: 700 !default;
$squareBtnTextTransform: uppercase !default;
$squareBtnBorderRadius: 2px !default;
$squareBtnLetterSpacing: 2px !default;
$squareBtnTextAlign: center !default;


$classItemLinkHoverColor: $primaryColor !default;
