//
//
// footer.scss
//
// Contains all settings used for footer content for theme "c"
//
// Copyright ish group (Australia) and part of ish onCourse.
// It is licensed to you under the Apache License, version 2.0


$footer-theme: "c";

$footerBG: #fff no-repeat center top !default;
$footerTextColor: #434343 !default;

$footerInfoLinksBackground: $white !default;
$footerInfoLinksTextColor: #aaa !default;
$footerInfoLinksAnchorColor: #aaa !default;
$footerInfoLinksAnchorHoverColor: $theme-color !default;

$footerInfoColor: #8da1a9 !default;
$footerInfoHoverColor: $theme-color !default;

$footerContactBorderBottom: 2px solid #124953 !default;
$footerContactLinkColor: #17616f !default;
$footerContactLinkHoverColor: $white !default;
