//
//
// convert-px.scss
//
// Function convert all value in pixel
//
// Copyright ish group (Australia) and part of ish onCourse.
// It is licensed to you under the Apache License, version 2.0



@function convert-px($value) {
  $unit-value: strip-units($value);
  @if unit($value) == 'em' or unit($value) == 'rem' {
    @return ($unit-value * 16);
  } @else {
    @return $unit-value;
  }
}