//
//
// header-c.scss
//
// Contains all settings used for header content for theme c
//
// This file is copyright ish group, Australia.
// It is licensed to you under the Apache License, version 2.0
// and is part of ish onCourse.
//
// Author: Chintan Kotadia
//

$headerContainerPosition-c: relative !default;
$headerContainerMarginBottom-c: 0px !default;
$headerGroupPosition-c: relative !default;

$headerTopBarFloat-c: none !default;
$headerTopBarBG-c: #fbfbfb !default;
$headerTopBarTextColor-c: $bodyFontColor-c !default;
$headerTopBarMarginBottom-c: 39px !default;

$headerTopBarContactMargin-c: 6px 10px 0px 20px !default;
$headerTopBarPhoneTextColor-c: $bodyFontColor-c !default;

$headerTopBarPaddingTop-c: 0px !default;
$headerTopBarHeight-c: 57px !default;
$headerGroupSiteLogoFloatPosition-c: none !default;
$headerGroupSiteLogoZIndex-c: 0 !default;

// Navigation
$navbarPaddingLeft-c: 0px !default;
$navFontSize-c: 15px !default;
$navFontWeight-c: normal !default;
$navWidth-c: auto !default;
$navMarginTop-c: 0px !default;
$navBG-c: transparent !default;
$navBorderTop-c: 0px !default;
$navBorderBottom-c: 0px !default;
$navBorderColor-c: transparent !default;
$navListBottomBorder-c: 2px solid transparent !default;
$navAnchorColor-c: #4f5150 !default;
$navAnchorHoverBG-c: $white !default;
$navAnchorHoverTextColor-c: $layout-color-c !default;
$navAnchorTopFontSize-c: 15px !default;
$navAnchorPadding-c: 10px 25px !default;
$navFirstChildAnchorPadding-c: $navAnchorPadding-c !default;
$navLastChildAnchorPadding-c: $navAnchorPadding-c !default;

$navChildMenuLinkHoverBG-c: $layout-color-c !default;
$navChildMenuLinkHoverColor-c: $white !default;
$navChildMenuTextAlign-c: center !default;
$navChildMenuTextAlignTablet-c: left !default;

$navAnchorHeight-c: auto !default;
$navAnchorLineHeight-c: 36px !default;

$navAnchorArrowColor-c: $navAnchorHoverBG-c !default;
$firstChildMenuPadding-c: 0px !default;
$displayFullWidthMenu-c: none !default;
$first-accent-color-c: $navAnchorHoverBG-c !default;
$firstDropMenufullWidth-c: 117.1% !default;
$firstDropMenuMargin-c: 0px -14.95% !default;
$first-accent-width-c: 220px !default;
$firstAccentNavAnchorColor-c: #2e2e2e !default;
$firstAccentNavAnchorPadding-c: 8px 20px !default;

$navToggleBG-c: transparent !default;
$navToggleTextColor-c: #231f20 !default;

$navToggleHoverBG-c: transparent !default;
$navToggleHoverTextColor-c: #231f20 !default;

$enableHamburgerMenu-c: true !default;
$navToggleIconWidth-c: 23px !default;
$navToggleIconColor-c: $primaryColor-c !default;
$navToggleIconHeight-c: 4px !default;
$navToggleIconBorderRadius-c: 100px !default;
$navToggleIconLinePosition-c: -7px !default;
$navToggleIconHoverColor-c: $secondaryColor-c !default;

// Short list
$shortListInfoSpanBGColor-c: #525252 !default;
$shortListOrderLinkFontSize-c: $bodyFontSize-c !default;
$shortListInfoSpanColor-c: $white !default;
$shortListInfoSpanFontSize-c: 11px !default;
$shortListInfoSpanLineHeight-c: 2 !default;
$shortListInfoSpanMargin-c: 0 5px 0 0 !default;

// Search
$advancedSearchOpenFromLeft-c: "off" !default;
$advancedSearchOpenFromRight-c: "on" !default;
$searchTopHeight-c: 28px !default;
$searchButtonPadding-c: 3.5px 7px 3.5px !default;
$searchButtonBG-c: transparent !default;
$searchButtonWidth-c: 31px !default;
$searchButtonHeight-c: $searchTopHeight-c !default;

$btnHeight-c: 40px !default;
$btnPadding-c: 12px 27px !default;
$advanceSearchButtonWidth-c: 150px !default;
$advanceSearchButtonBorderRadius-c: 2em !default;
$advanceSearchButtonPadding-c: $btnPadding-c !default;

$advanceSearchButtonClearPosition-c: right !default;
$advanceSearchButtonSubmitPosition-c: left !default;

$advanceSearchColor-c: #202020 !default;
$advanceSearchButtonBG-c: #d0e64b !default;
$advanceSearchButtonClearBackground-c: #d3eaec !default;
$searchActiveButtonBG-c: $advanceSearchButtonBG-c !default;

$toggleSearchActiveBackground-c: #9ac836 !default;

// Advanced search
$advanceSearchBG-c: #fbfbfb !default;
$advanceSearchBGRGB-c: $advanceSearchBG-c !default;
$advancedSearchPriceDisplay-c: block !default;
$advancedSearchLocationWidth-c: 50% !default;
$advancedSearchPriceWidth-c: $advancedSearchLocationWidth-c !default;
$advancedSearchActiveRight-c: -6px !default;
$advancedSearchActiveTop-c: 20px !default;

$searchBoxWidth-c: 190px !default;
$searchBoxBorder-c: 1px solid #ddd !default;
$searchBoxBorderRadius-c: 14px !default;

$searchBoxInputPadding-c: 3.5px 12px 3.5px !default;
$searchBoxInputWidth-c: 72% !default;
$searchBoxInputHeight-c: $searchTopHeight-c !default;
$searchBoxInputBorder-c: 0px !default;
$searchBoxInputBorderRadius-c: 14px 0px 0px 14px !default;

$searchMoreOptions-c: transparent !default;
$searchMoreOptionsWidth-c: 12px !default;
$searchMoreOptionsHeight-c: $searchTopHeight-c !default;
$searchMoreOptionsPadding-c: 0px !default;
$searchMoreOptionsMinWidth-c: $searchMoreOptionsWidth-c !default;
$searchMoreOptionsDisplay-c: block !default;

@if $header-theme == "c" {
  $headerContainerPosition: $headerContainerPosition-c;
  $headerContainerMarginBottom: $headerContainerMarginBottom-c;
  $headerGroupPosition: $headerGroupPosition-c;

  $headerTopBarFloat: $headerTopBarFloat-c;
  $headerTopBarBG: $headerTopBarBG-c;
  $headerTopBarTextColor: $headerTopBarTextColor-c;
  $headerTopBarMarginBottom: $headerTopBarMarginBottom-c;

  $headerTopBarContactMargin: $headerTopBarContactMargin-c;
  $headerTopBarPhoneTextColor: $headerTopBarPhoneTextColor-c;

  $headerTopBarPaddingTop: $headerTopBarPaddingTop-c;
  $headerTopBarHeight: $headerTopBarHeight-c;
  $headerGroupSiteLogoFloatPosition: $headerGroupSiteLogoFloatPosition-c;
  $headerGroupSiteLogoZIndex: $headerGroupSiteLogoZIndex-c;

  // Navigation
  $navbarPaddingLeft: $navbarPaddingLeft-c;
  $navFontSize: $navFontSize-c;
  $navFontWeight: $navFontWeight-c;
  $navWidth: $navWidth-c;
  $navMarginTop: $navMarginTop-c;
  $navBG: $navBG-c;
  $navBorderTop: $navBorderTop-c;
  $navBorderBottom: $navBorderBottom-c;
  $navBorderColor: $navBorderColor-c;
  $navListBottomBorder: $navListBottomBorder-c;
  $navAnchorColor: $navAnchorColor-c;
  $navAnchorHoverBG: $navAnchorHoverBG-c;
  $navAnchorHoverTextColor: $navAnchorHoverTextColor-c;
  $navAnchorTopFontSize: $navAnchorTopFontSize-c;
  $navAnchorPadding: $navAnchorPadding-c;
  $navFirstChildAnchorPadding: $navFirstChildAnchorPadding-c;
  $navLastChildAnchorPadding: $navLastChildAnchorPadding-c;

  $navAnchorHeight: $navAnchorHeight-c;
  $navAnchorLineHeight: $navAnchorLineHeight-c;

  $navAnchorArrowColor: $navAnchorArrowColor-c;
  $firstChildMenuPadding: $firstChildMenuPadding-c;
  $displayFullWidthMenu: $displayFullWidthMenu-c;
  $first-accent-color: $first-accent-color-c;
  $firstDropMenufullWidth: $firstDropMenufullWidth-c;
  $firstDropMenuMargin: $firstDropMenuMargin-c;
  $first-accent-width: $first-accent-width-c;
  $firstAccentNavAnchorColor: $firstAccentNavAnchorColor-c;
  $firstAccentNavAnchorPadding: $firstAccentNavAnchorPadding-c;

  $navChildMenuLinkHoverBG: $navChildMenuLinkHoverBG-c;
  $navChildMenuLinkHoverColor: $navChildMenuLinkHoverColor-c;
  $navChildMenuTextAlign: $navChildMenuTextAlign-c;
  $navChildMenuTextAlignTablet: $navChildMenuTextAlignTablet-c;

  $navToggleBG: $navToggleBG-c;
  $navToggleTextColor: $navToggleTextColor-c;

  $navToggleHoverBG: $navToggleHoverBG-c;
  $navToggleHoverTextColor: $navToggleHoverTextColor-c;

  $enableHamburgerMenu: $enableHamburgerMenu-c;
  $navToggleIconWidth: $navToggleIconWidth-c;
  $navToggleIconColor: $navToggleIconColor-c;
  $navToggleIconHeight: $navToggleIconHeight-c;
  $navToggleIconBorderRadius: $navToggleIconBorderRadius-c;
  $navToggleIconLinePosition: $navToggleIconLinePosition-c;
  $navToggleIconHoverColor: $navToggleIconHoverColor-c;

  // Short list
  $shortListInfoSpanBGColor: $shortListInfoSpanBGColor-c;
  $shortListOrderLinkFontSize: $shortListOrderLinkFontSize-c;
  $shortListInfoSpanColor: $shortListInfoSpanColor-c;
  $shortListInfoSpanFontSize: $shortListInfoSpanFontSize-c;
  $shortListInfoSpanLineHeight: $shortListInfoSpanLineHeight-c;
  $shortListInfoSpanMargin: $shortListInfoSpanMargin-c;

  // Search
  $advancedSearchOpenFromLeft: $advancedSearchOpenFromLeft-c;
  $advancedSearchOpenFromRight: $advancedSearchOpenFromRight-c;
  $searchTopHeight: $searchTopHeight-c;
  $searchButtonPadding: $searchButtonPadding-c;
  $searchButtonBG: $searchButtonBG-c;
  $searchButtonWidth: $searchButtonWidth-c;
  $searchButtonHeight: $searchButtonHeight-c;

  $btnHeight: $btnHeight-c;
  $btnPadding: $btnPadding-c;
  $advanceSearchButtonWidth: $advanceSearchButtonWidth-c;
  $advanceSearchButtonBorderRadius: $advanceSearchButtonBorderRadius-c;
  $advanceSearchButtonPadding: $advanceSearchButtonPadding-c;

  $advanceSearchButtonClearPosition: $advanceSearchButtonClearPosition-c;
  $advanceSearchButtonSubmitPosition: $advanceSearchButtonSubmitPosition-c;

  $advanceSearchColor: $advanceSearchColor-c;
  $advanceSearchButtonBG: $advanceSearchButtonBG-c;
  $advanceSearchButtonClearBackground: $advanceSearchButtonClearBackground-c;
  $searchActiveButtonBG: $searchActiveButtonBG-c;

  $toggleSearchActiveBackground: $toggleSearchActiveBackground-c;

  // Advanced search
  $advanceSearchBG: $advanceSearchBG-c;
  $advanceSearchBGRGB: $advanceSearchBGRGB-c;
  $advancedSearchPriceDisplay: $advancedSearchPriceDisplay-c;
  $advancedSearchLocationWidth: $advancedSearchLocationWidth-c;
  $advancedSearchPriceWidth: $advancedSearchPriceWidth-c;
  $advancedSearchActiveRight: $advancedSearchActiveRight-c;
  $advancedSearchActiveTop: $advancedSearchActiveTop-c;

  $searchBoxWidth: $searchBoxWidth-c;
  $searchBoxBorder: $searchBoxBorder-c;
  $searchBoxBorderRadius: $searchBoxBorderRadius-c;

  $searchBoxInputPadding: $searchBoxInputPadding-c;
  $searchBoxInputWidth: $searchBoxInputWidth-c;
  $searchBoxInputHeight: $searchBoxInputHeight-c;
  $searchBoxInputBorder: $searchBoxInputBorder-c;
  $searchBoxInputBorderRadius: $searchBoxInputBorderRadius-c;

  $searchMoreOptions: $searchMoreOptions-c;
  $searchMoreOptionsWidth: $searchMoreOptionsWidth-c;
  $searchMoreOptionsHeight: $searchMoreOptionsHeight-c;
  $searchMoreOptionsPadding: $searchMoreOptionsPadding-c;
  $searchMoreOptionsMinWidth: $searchMoreOptionsMinWidth-c;
  $searchMoreOptionsDisplay: $searchMoreOptionsDisplay-c;
}