.links {
  //margin-bottom: 10px;

  //TODO: DELETE WITH NEW STYLES
  &__select {
    font-weight: 100;
    margin-top: 6px;

    .form-control {
      font-size: 12px;
      padding: 2px;
      height: 24px;
    }
  }
  //TODO: DELETE WITH NEW STYLES
  &__path {
    text-overflow: ellipsis;
    overflow: hidden;
    padding-right: 15px;
    transition: color .15s;
  }
  //TODO: DELETE WITH NEW STYLES
  .path-item {
    margin-bottom: 6px;
  }
  
  &__item {
    //position: relative;
    //color: $black;
    //cursor: pointer;
    //font-family: 'Roboto', sans-serif;
    //font-weight: 400;
    //padding: 4px 0;
    //font-size: 13px;
    //line-height: 1em;
    
    &:last-child {
      border-bottom: none;
    }
  }
  
  &__title {
    //padding-right: 15px;
    //transition: color .15s;
    //text-overflow: ellipsis;
    //overflow: hidden;
    
    &:after {
      //display: block;
      //visibility: hidden;
      //opacity: 0;
      //pointer-events: none;
      //padding: 3px;
      //font-size: 12px;
      //font-weight: 100;
      //border-radius: 2px;
      //position: absolute;
      //content: "Make Default";
      //font-family: 'Roboto', sans-serif;
      //top: 1px;
      //left: 100%;
      //color: $white;
      //background: $secondary;
      //margin-left: 10px;
      //white-space: nowrap;
      //transition: opacity .25s;
    }
  
    &:hover {
      //&:after {
      //  visibility: visible;
      //  opacity: .85;
      //}
    }
  
    &--base {
      //color: $secondary;
    }
  
    &--default {
      //color: $main-green;
      //cursor: default;
    
      &:hover {
        &:after {
          display: none;
        }
      }
    }
  }
  
  &__remove {
    position: absolute;
    color: $danger;
    right: 0;
    font-weight: bold;
    font-size: 15px;
    top: 3px;
    
    &:hover {
      color: $danger-hover;
    }
  }
}