//.login-wrapper {
//  min-height: 0;
//
//  .browser-warning {
//    margin-top: 150px;
//    padding: 30px 25px;
//    background: $danger-hover;
//    color: white;
//    border-radius: 3px;
//    line-height: 17px;
//    font-weight: 300;
//    text-align: center;
//  }
//}
//
//.login-form {
//  margin-top: 200px;
//  border-radius: 5px;
//  padding: 40px 30px 15px 30px;
//  background: #1e2833;
//
//  input {
//    background: none;
//    border: none;
//    border-bottom: 1px solid #434a52;
//    border-radius: 0;
//    box-shadow: none;
//    outline: none;
//    color: gainsboro;
//    font-size: 14px;
//
//    &:focus {
//      background: transparent;
//      color: gainsboro;
//    }
//  }
  
  //.btn {
  //  width: 100%;
  //  margin-top: 10px;
  //  font-size: 14px;
  //}
  //
  //.btn.btn-cancel {
  //  color: $white;
  //  background: transparent;
  //  font-size: 0.9em;
  //  text-transform: none;
  //  box-shadow: none;
  //
  //  &:hover, &:active, &:focus {
  //    color: $gray;
  //    background: transparent;
  //    box-shadow: none;
  //  }
  //}
//}