.rst {
  margin: 25px 0;
  
  > .btn {
    margin-bottom: 20px;
  }
  
  &__rowContents {
    border-radius: 0 2px 2px 0;
    border-color: #e2e1e1;
    box-shadow: 0 2px 2px -3px;
  }
  
  &__moveHandle {
    background: $primary-hover url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0MiIgaGVpZ2h0PSI0MiI+PGcgc3Ryb2tlPSIjRkZGIiBzdHJva2Utd2lkdGg9IjIuOSIgPjxwYXRoIGQ9Ik0xNCAxNS43aDE0LjQiLz48cGF0aCBkPSJNMTQgMjEuNGgxNC40Ii8+PHBhdGggZD0iTTE0IDI3LjFoMTQuNCIvPjwvZz4KPC9zdmc+") no-repeat center;
    border-color: $primary-hover;
    width: 36px;
  }
  
  &__rowLabel {
    display: flex;
    align-items: center;
    padding-right: 5px;
  }
  
  &__rowError {
    position: absolute;
    top: calc(100% + 5px);
    font-size: 12px;
    left: 0;
    color: $danger-hover;
    font-weight: normal;
  }
  
  &__field {
    margin-right: 20px;
    
    span {
      //font-size: 12px;
      //color: $gray-dark;
      //font-weight: 300;
      //font-family: 'Roboto', sans-serif;
    }
    
    input {
      //font-weight: normal;
      //font-size: 14px;
      //border-color: transparent;
      //border-radius: 2px;
      //transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
      //background: transparent;
      //border-bottom: 1px solid $gray;
      //
      //&:hover {
      //  cursor: pointer;
      //}
      //
      //&:focus {
      //  cursor: text;
      //  background-color: transparent;
      //  box-shadow: none;
      //  border-bottom: 1px solid $primary;
      //  outline: none;
      //}
    }
  
    &.invalid {
      span {
        color: $danger;
      }
      
      input {
        //border-bottom: 1px solid $danger-hover;
      }
    }
  }
  
  &__rowWrapper {
    padding: 12px 0;
  }
  
  &__rowToolbar {
    button {
      box-shadow: none;
      font-weight: 500;
      
      &.btn.btn-danger {
        color: $danger;
        background: transparent;
        
        &:hover, &:active, &:focus {
          color: $danger-active;
          background: transparent;
          box-shadow: none;
        }
      }
  
      &.btn.btn-primary {
        color: $primary;
        background: transparent;
    
        &:hover, &:active, &:focus {
          color: $primary-active;
          background: transparent;
          box-shadow: none;
        }
      }
  
      &.btn.btn-success {
        color: $success;
        background: transparent;
    
        &:hover, &:active, &:focus {
          color: $success-active;
          background: transparent;
          box-shadow: none;
        }
      }
      
    }
  }

}

