.notifications-wrapper {
  .notification-success {
    border-top: 2px solid #66BB6A !important;
    background-color: #81C784 !important;
    height: auto;
    padding: 10px 20px 10px 10px !important;
    
    h4 {
      //color: $white !important;
      //font-family: 'roboto', arial, sans-serif !important;
      //font-weight: 300 !important;
    }
  }
  
  .notification-error {
    height: auto;
    padding: 10px 20px 10px 10px !important;

    h4 {
      //color: $danger !important;
      //font-family: 'roboto', arial, sans-serif !important;
      //font-weight: 300 !important;
    }
  }
  
  .notification-dismiss {
    //background: none !important;
    //font-weight: 100 !important;
    //font-family: 'roboto', arial, sans-serif !important;
  }
}