.rules {
  //max-height: 80vh;
  //overflow-y: auto;
  //margin: 10px 0;

  .rule {
    .form-control {
      //max-width: 25vw;
      //width: 25vw;
    }
    
    .btn {
      //margin-left: 20px;
    }
  }

}