<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">

	<display-name>webservices</display-name>

	<servlet>
		<servlet-name>WebServicesServlet</servlet-name>
		<servlet-class>org.apache.cxf.transport.servlet.CXFServlet</servlet-class>
		<!--<init-param>-->
			<!--<param-name>hide-service-list-page</param-name>-->
			<!--<param-value>true</param-value>-->
		<!--</init-param>-->
		<init-param>
			<param-name>config-location</param-name>
			<param-value>classpath:ish/oncourse/webservices/soap/cxf-servlet.xml</param-value>
		</init-param>

		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>WebServicesServlet</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>

	<session-config>
		<session-timeout>20</session-timeout>
	</session-config>

</web-app>
