<div class="main-content">
    <h2><a name="{{className}}"></a>{{className}}</h2>
    {{#operations}}
        {{#operation}}
            <h1><a name="{{nickname}}"></a>{{nickname}}</h1>
            <p>{{description}}</p>
            {{#notes}}<p>{{notes}}</p>{{/notes}}

            <button class="btn btn-success">{{httpMethod}}</button> <code>{{basePath}}{{path}}</code>

            <h3 class="response">Response</h3>
            <div class="model" data-model="{{returnBaseType}}"><a href="">{{returnType}}</a></div>

            <h3 class="param">Parameters</h3>
            <ul>
                {{#allParams}}
                    <li class="parameter">
                        {{#isFormParam}}<span class="param-in">Form: </span>{{/isFormParam}}
                        {{#isQueryParam}}<span class="param-in">Query: </span>{{/isQueryParam}}
                        {{#isPathParam}}<span class="param-in">Path: </span>{{/isPathParam}}
                        {{#isHeaderParam}}<span class="param-in">Header: </span>{{/isHeaderParam}}
                        {{#isBodyParam}}<span class="param-in">Body: </span>{{/isBodyParam}}
                        <span class="param-name">{{baseName}}</span>
                        <span class="param-type">{{dataType}}{{#baseType}}({{baseType}}){{/baseType}}</span>
                        {{#optional}}<span class="param-optional-flag">(optional)</span>{{/optional}}
                        <p class="param-description">{{description}}</p>
                    </li>
                {{/allParams}}
            </ul>
        {{/operation}}
    {{/operations}}
</div>