.person-form {
    display: inline-block;
}

.person-form__field {
    margin-bottom: 10px;
}

.person-form__field:last-child {
    margin-bottom: 0;
}

.person-form__field label {
    margin-bottom: 5px;
    display: inline-block;
}

.person-form__control {
    border: solid 1px #cccccc;
    padding: 5px 10px;
}

.person-form__error {
    color: red;
    font-size: 14px;
    border-color: red;
}

.person-form__msg {
    text-align: center;
    margin-top: 5px;
}

.person-form__footer {
    text-align: right;
}

.person-form__footer input[type=submit] {
    margin-top: 10px;
    padding: 5px 10px;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    background: #0275d8;
    color: white;
}
