/*****************

Filename: layout.css (Default)
Purpose: Provides a basic structure and layout for each college. 
Notes:

Hacked for menu investigations

- Table of Contents -
* Navigation
* Sidebar boxes
* Content pages
* Tag Group styling

****************/

/* "Drop-down style navigation" aka Son of Suckerfish */


div#nav.dropdown, #nav.dropdown ul {
	padding: 0;
	margin: 0;
	list-style: none; 
	line-height: 1;
	z-index: 0;
}

div#nav.dropdown a {
	display: block;
	width: 11em;
	color: #f7f7f7;
	padding: 0.5em 1em;
	text-decoration: none;
}

div#nav.dropdown li:hover, div#nav.dropdown li.sfhover { background-color: #444; }


/*#nav.dropdown > ul > li, #nav.dropdown > ul > li > a { width: auto; padding: 0; }*/

div#nav.dropdown li {
	float: left;
	width: 13em;
	margin: 0;
	background-color: #000;
}



div#nav.dropdown li ul {
	position: absolute;
	width: 13em;
	left: -999em;
	padding: 0;
	-moz-box-shadow: 0px 0px 3px #444;
	-webkit-box-shadow: 0px 0px 3px #444;
}

div#nav.dropdown li:hover ul {
	left: auto;
	z-index: 5000;
}


div#nav.dropdown li ul ul {
	margin: -1.9em 0 0 13em;
}

/*2nd lvl nav */


div#nav.dropdown li:hover ul ul, div#nav.dropdown li.sfhover ul ul {
	left: -999em;	
}


div#nav.dropdown li:hover ul ul, div#nav.dropdown li.sfhover ul ul {
	left: -999em;
}

/* 3rd lvl nav*/

div#nav.dropdown li:hover ul ul, div#nav.dropdown li:hover ul ul ul, div#nav.dropdown li.sfhover ul ul, div#nav.dropdown li.sfhover ul ul ul {
	left: -999em;
}

div#nav.dropdown li:hover ul, div#nav.dropdown li li:hover ul, div#nav.dropdown li li li:hover ul, div#nav.dropdown li.sfhover ul, div#nav.dropdown li li.sfhover ul, #nav.dropdown li li li.sfhover ul {
	left: auto;
}

/* Alternative "vertical" style navigation */

div#nav.vertical > ul { border-top: 1px dotted #000; border-bottom: 1px dotted #000; margin: 30px 19px; }
	div#nav.vertical li { list-style: none; margin: 0; }
	div#nav.vertical ul ul { margin-bottom: 0; }
	div#nav.vertical > ul > li { border-bottom: 1px dotted #000; margin: 0; padding: 4px 0; }
	div#nav.vertical > ul > li:last-child { border: 0; }
	
	div#nav.vertical > ul a { font-size: 90%; color: #5D1668; text-decoration: none; padding: 0; display: block; }
		div#nav > ul a span.has_submenu { display: none; }
	div#nav.vertical > ul > li a:hover, 
	div#nav.vertical div li:hover a{ background-color: #444; color: #fff; }


/* End Navigation */

/* Start Sidebar Boxes */

div.box { margin: 0 0 1.07em 0; }
div.box ul, div.box ul li { margin: 0; padding: 0; }
div.box ul li { list-style: none; }

div.box > h3 { margin: 0; padding: 0; }
div.box > a.actionLink { margin-left: 10px; }

/* End Sidebar Boxes */

/* Start Content Pages */

div#content > div > h2:first-child { margin-top: 0; }

/* End Content Pages */

/* Start Taggroup Styling */

div.taggroup { margin: 0 1.5em 1.5em 0; padding: 0; float: left; width: 30%; }
div.taggroup ul, div.taggroup ul li { margin: 0; padding: 0; list-style: none; }
div.taggroup > ul > li { margin:0 15px 10px 0; width:225px; }
div.taggroup li li { background:transparent url(/s/img/bullet.png) no-repeat scroll 4px 8px; float:none; margin:0; padding:0 0 0px 16px; }


/* End Taggroup Styling */