/* Layout definitions */

div.container { width: 976px; border: 1px solid #DBD3C2; border-top-width: 0px; }

div#header { width: 976px; max-height: 209px; background-color: #12416C; position: relative; } /* JR: height amended from 164px (209px) */
body#Main div#header,
body#page1298 div#header,
body#page5493 div#header,
body#page5563 div#header,
body#page5561 div#header,
body#page1555 div#header,
body#page1558 div#header,
body#page5564 div#header,
body#page5562 div#header,
body#page1557 div#header,
body#page1586 div#header,
body#page1554 div#header,
body#page1595 div#header,
body#page5490 div#header,
body#page5491 div#header,
body#page5492 div#header,
body#page2018 div#header,
body#page1559 div#header { max-height: 464px; } /* JR: Amended from 419px/464px */


div#content_container { margin: 20px 0; position: relative; }
div#content { margin: 0 20px 0 20px; /*min-height: 865px;*/ float: left; width: auto; width: 540px; }
body#Main div#content { margin: 0 10px 0 41px; /*min-height: 865px;*/ float: left; width: auto; width: 735px; }


/* Sidebar */
div#sidebar { width: 180px;  margin: 0px 0px 0px 10px; float: left; }
	div#sidebar h3, div#sidebar_right h3 { margin: 0 0 5px; color: #ce1126; font-size: 15px; font-weight: bold; text-transform: uppercase; }

div#sidebar_right { float: left; width: 176px; margin: 0 0 0 10px; }

 /* ... but hide the RH sidebar on these pages */
 body#Main div#sidebar_right, body#ListPage div#sidebar_right, body#DetailPage div#sidebar_right, body#ContactLogin div#sidebar_right, body.internal-page div#sidebar_right { display: none; }

/* Sidebar nav styling */	
div#sidebar div#block216 div.taggroup {}
	div.taggroup > ul > li { margin: 0; }
	div#sidebar div#block216 div.taggroup h2 { display: block; font-size: 100%; border-bottom: 1px solid #DBD3C2; position: relative; background: transparent url(/s/img/list_item.gif) no-repeat 0.45em 0.73em; padding: 2px 16px 2px 21px; display: block; margin: 0; line-height: 19px; }
	div#sidebar div#block216 div.taggroup h2 a { display: block; text-transform: capitalize; padding: 0; }
	div#sidebar div#block216 a:link, div#sidebar div#block216 a:visited { color: #333; text-decoration: none;  }
	div#sidebar div#block216 a:hover { color: #125687; text-decoration: underline; }
	
	div#sidebar div#block216 div.taggroup li { padding: 0; background-image: none; position: relative; }
	div#sidebar div#block216 div.taggroup li li a { border-bottom: 1px solid #DBD3C2; position: relative; background: transparent url(/s/img/list_item.gif) no-repeat 0.45em 0.73em; padding: 2px 16px 2px 21px; display: block; }
		div#sidebar div#block216 div.taggroup li li a:hover { background-color: #FAFAFA; }
	
	div#sidebar div#block216 div.taggroup li li a { background: transparent url(/s/img/list_item_small.gif) no-repeat 0.45em 0.73em; }
	
	div#sidebar div#block216 div.taggroup li ul { margin-left: 20px; }
	
	div#block216 .hasChildren span.expander { cursor: pointer; height: 11px; width: 11px; display: block; position: absolute; top: 6px; right: 0; background: transparent url(/s/img/icon_plus.gif) no-repeat; }
		div#block216 .hasChildren span.expander:hover { background: transparent url(/s/img/icon_plus_hover.gif) no-repeat; }

div#sidebar div#block216 > div.taggroup div.taggroup div.taggroup  > ul
{ display: block; }

div#sidebar div#block216 > div.taggroup > ul li.parent_tag div.taggroup li.active_tag a { background-color: #FAFAFA; font-weight: bold;  }

/* Selective Hiding */
body#Main div#search, body#ContactLogin div#search, body#page1298 div#search, body#page5493 div#search { display: none; }
body#ContactLogin div#quicklinks { display: none; }
body#Main div#feature, body#ContactLogin div#feature, body#page1298 div#feature, body#page5493 div#feature { display: none; }

/* Sitewide advertising block */
div#sidebar div#block213 { }

/* Useful Links */
ul#useful_links { margin: 0; width: 176px; }
	ul#useful_links li { margin: 0 0 4px 0; list-style: none; padding: 0 0 4px 0; border-bottom: 1px solid #f7f7f7; position: relative; height: 40px; }
		ul#useful_links li:hover { border-color: #000; }
	ul#useful_links li img { position: absolute; left: 0;  }
	ul#useful_links li a { display: block; text-decoration: none; padding: 0 0 0 44px; font-size: 1.0em; text-transform: uppercase;}

/* Layout definitions for the main page and category home pages (no sidebar) */
body#page1554 div#content,
body#page1556 div#content,
	{ margin: 0 auto; width: 976px; }

body#page1554 div#sidebar,
body#page1556 div#sidebar,
	{ display: none; }	

/* For pages that have a side bar, we need to adjust the container sizes */

body#ListPage div#content, 
body.internal-page div#content
	{ margin: 0 10px 0 0; float: right; width: 735px;}

/* Custom Page Styling */
/* Front page */

body#Main div#welcome > h1 { margin-top: 0; }

/* Teasers */

div#content ul.teaser-list{list-style-type:none;font-size:1.09em;margin-top:2em;padding:0;margin-left: -10px; margin-top: -15px;}
div#content ul.teaser-list li{font-size:1em;float:left;width:19em;min-width:30%;max-width:45%;display:block;width:47%;min-height:8em;height:8em;margin:0 .8em;}
div#content ul.teaser-list div{clear:none;}
div#content ul.teaser-list h2{color: #ce1126; font-size: 18px; margin:0 0 .150em 0;position:relative;top:-0.126em;clear:none; text-transform: none;}
div#content ul.teaser-list h2 a{color: #ce1126; text-decoration:underline;}
div#content ul.teaser-list h2 a:hover{color: #ce1126; text-decoration:none;}
div#content ul.teaser-list h2 a:visited{color: #ce1126; text-decoration:none;}
div#content ul.teaser-list p{margin:0 0 .3em 6.625em;font-size:1em;}
div#content ul.teaser-list img{float:left;width:75px;height:75px;padding:1px;margin:0 .7em 0 0;}

/* Subject Boxes */

body#page1298 div#content > div > div > div.taggroup { width: 100%; outline: 0px solid red; position: relative; }
body#page5493 div#content > div > div > div.taggroup { width: 100%; outline: 0px solid red; position: relative; }
body#page5563 div#content > div > div > div.taggroup { width: 100%; outline: 0px solid red; position: relative; }
body#Main div#content > div > div.taggroup { width: 100%; outline: 0px solid red; position: relative; height: auto; margin: 10px; }

	
	/* Show top level tag */
	body#page1298 div#nav > div.taggroup > ul > li > h2 { display: block;  }
	body#page5493 div#nav > div.taggroup > ul > li > h2 { display: block;  }
	
	/* Hide top level tag */	
	div#nav > div.taggroup > ul > li > h2 { display: none; }
	
	div#nav > div.taggroup > ul > li,
	div#nav > div.taggroup > ul > li > div.taggroup { width: 100%; text-decoration: none; }
	
	/* Controls Number of Coumns */
	div#nav > div.taggroup > ul > li > div.taggroup > ul > li { width: 215px; margin: 0 30px 0px 0; border: 0px solid #dbd3c2; padding-left: 0px; position: static; outline: 0px solid red; float: left; list-style: none; background: none; }
	
	/*Headings*/
	div > div.taggroup > ul > li > div.taggroup > ul > li a:hover { text-decoration: underline; }

	div#nav > div.taggroup > ul > li.inactive_tag > a { text-decoration: none; }
	div#nav > div.taggroup > ul > li.inactive_tag > a:hover { text-decoration: underline; }


		/* Subject Box Headers */

		/* Level 1 */
		div#nav > div.taggroup > ul > li > h2 a{ display: block; margin: 0; margin-right: 10px; padding: 0px; font-size: 16px; font-weight: bold; color: #ce1126; text-decoration: underline; text-transform: uppercase;}
		
		div#nav > div.taggroup > ul > li > h2 a:hover{ text-decoration: none;}

		/* Level 2 */
		div#nav > div.taggroup > ul > li > div.taggroup > ul > li > a { display: block; margin: 0; margin-right: 10px; padding: 0px; font-weight: normal; font-size: 12px; text-decoration: underline; }
		
		div#nav > div.taggroup > ul > li > div.taggroup > ul > li > a:hover { text-decoration: none; }