package {{package}};

{{#imports}}import {{import}};
{{/imports}}

import com.nhl.link.rest.DataResponse;

import javax.ws.rs.*;
import javax.ws.rs.core.*;

public interface {{classname}}  {
{{#operations}}
{{#operation}}

    {{>returnTypes}} {{nickname}}({{#allParams}}{{>pathParamsImpl}}{{>headerParams}}{{>bodyParams}}{{>formParams}}{{/allParams}}UriInfo uriInfo);

{{/operation}}


}
{{/operations}}



