@charset "UTF-8";

/// Handles content blocks
///
/// @author Chintan Kotadia
///
/// @param {String} $class [grid | column | etc.,]
///   Specify you own class
///
/// @param {String} $media [small | tablet | desktop | custom]
///   Specify media screen
///
/// @param {String} $col-gap [10px] [Optional]
///   Specify gap between children
///
/// @example scss - Usage
///   ul {
///     @include blocks("&.grid", $media-tablet);
///   }
///
/// @example css - CSS Output
///   ul.grid {
///     display: block;
///     margin-left: -10px;
///     margin-right: -10px
///   }
///
///   ul.grid::after,ul.grid::before {
///     clear: both;
///     content: "";
///     display: table
///   }
///
///   ul.grid>li {
///     width: 100%;
///     display: block;
///     padding-left: 10px;
///     padding-right: 10px
///   }
///
///   @media only screen and (min-width: 992px) {
///     ul.grid>li {
///       float: left
///     }
///   }
///
///   @media only screen and (min-width: 992px) {
///     ul.grid.grid-1>li {
///       width: 100%
///     }
///
///     ul.grid.grid-2>li {
///       width: 50%
///     }
///
///     ul.grid.grid-3>li {
///       width: 33.33333%
///     }
///
///     ul.grid.grid-4>li {
///       width: 25%
///     }
///
///     ul.grid.grid-5>li {
///       width: 20%
///     }
///   }
///
/// @require {mixin} responsive
///
/// @name blocks
/// @group ish
///

@mixin blocks($clsss, $media, $display: "left", $col-gap: 10px) {
  #{$clsss} {
    ul {
      @if $display == "table" {
        display: table;
        width: 100%;
        margin: 0;
      } @else {
        display: block;
        margin-left: -#{$col-gap};
        margin-right: -#{$col-gap};
        @include clearfix;
      }
      >li {
        width: 100%;
        display: block;
        padding-left: #{$col-gap};
        padding-right: #{$col-gap};
        @include responsive($media) {
          @if $display == "left" or $display == "right" {
            float: left;
          }
          @else if $display == "table" {
            display: table-cell;
          } @else {
            display: $display;
          }
        }
      }
    }
    @include responsive($media) {
      @for $i from 1 through 5 {
        $width: 100/$i;
        &#{$clsss}-#{$i} {
          ul {
            >li {
              width: #{$width + "%"};
            }
          }
        }
      }
    }
  }
}
