//
//
// opacity.scss
//
// The opacity property in CSS specifies how transparent an element is.
//
// Copyright ish group (Australia) and part of ish onCourse.
// It is licensed to you under the Apache License, version 2.0



@mixin opacity($value) {
  $ie: $value*100;
  /* This works in IE 8 & 9 */
  /* ... but also 5, 6, 7 */
  filter: alpha(opacity=#{$ie}); // IE 5-7

  /* Modern Browsers */
  opacity: $value;
}