
@mixin _social-icon($iconName, $color) {
  &.#{$iconName} {
    border-color: $color !important;
    &::after {
      background-color: $color !important;
    }
    &:hover {
      color: $color !important;
    }
  }
}
