//
//
// mixins.scss
//
// Contains list of mixins
//
// Copyright ish group (Australia) and part of ish onCourse.
// It is licensed to you under the Apache License, version 2.0



@import "responsive";
@import "blocks";
@import "background-size";
@import "opacity";
@import "header-tag";
@import "arrow";
@import "responsive-image";
@import "theme";
@import "common";
@import "bootstrap";
@import "placeholder";
@import "arrow-icon";
@import "social-icon";
