.content, #checkout, #waitingListForm, #mailingListForm {
  fieldset {
    .Select {
      width: 133px;
      display: inline-block;
      vertical-align: middle;
    }
    .Select-control {
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      border-radius: 0px;
      height: 26px;

      span {
        display: block;
        vertical-align: middle;
        position: static;
        height: 26px;
        &.Select-arrow-zone {
          position: relative;
          display: table-cell;
          vertical-align: middle;
        }
        &.Select-arrow {
          vertical-align: middle;
          height: auto;
        }
      }
      .Select-input > input {
        border: 0 none;
        font-size: 14px;
        padding: 4px 0 6px;
      }
    }
    .Select-placeholder, .Select--single > .Select-control .Select-value, .Select-input {
      height: 26px;
      line-height: 26px;
      font-size: 11px;
    }
    .is-focused:not(.is-open) {
      > .Select-control {
        border-color: #ccc;
        box-shadow: none;
      }
    }
  }
}