//
//
// courses.scss
//
// Contains all the styles of courses contents
//
// This file is copyright ish group, Australia.
// It is licensed to you under the Apache License, version 2.0
// and is part of ish onCourse.
//
// Author: Chintan Kotadia
//

@include theme('c') {
	a {
		outline: none;
	}

	.content, .dialogBox, .nyroModalCont {
		h1, h2, h3, h4, h5, h6 {
			font-family: $fontFamilyOne;
			a, & {
				color: $hotpink;
			}
			a {
				&:hover {
					color: $deepblue;
				}
			}
		}
	}

	#ListPage.internal-page {
		#content {
			#courses-list {
				.courseItem {
					.courseItem-sub-wrapper, .classes, .full-classes-control, .waiting-list-title, .relatedCourses {
						display: none;
					}
					>img:first-child {
						max-width: 100%;
						@include responsive($media-small) {
							max-width: 200px;
						}
						@include responsive($media-tablet) {
							max-width: 267px;
						}
					}
				}
				.browse-tag-detail {
					position: relative;
					&.tag-image {
						* {
							display: none;
						}
						>h1 {
							display: block;
						}
						>p {
							a {
								display: block;
								img {
									display: block;
									width: 100%;
								}
								@include responsive($media-small) {
									margin-left: 0px;
									margin-right: 0px;
									width: auto;
									@include responsive-image();
									z-index: -1;
									max-width: 100%;
									height: auto;
									position: relative;
									img {
										max-width: 100%;
									}
								}
							}
						}
						h1 {
							color: #1F1F1F;
							font-size: 38px;
							line-height: 48px;
							font-weight: bold;
							margin-top: 20px;
							margin-bottom: 20px;
							@include responsive($media-small) {
								color: #fff;
								font-size: 42px;
								line-height: 52px;
								text-shadow: 0px 0px 10px rgba(0,0,0,0.5);
								position: absolute;
								bottom: 50px;
								left: 30px;
								margin-top: 0px;
								margin-bottom: 0px;
								padding-right: 20px;
								z-index: 2;
								font-weight: bold;
							}
						}
					}
					&.tag-details {
						>p>a>img, >h1 {
							display: none;
						}
					}
				}
			}
		}
	}
	.internal-page {
		&#ListPage, &#DetailsPage {
			.content {
				font-size: 16px;
			}
		}
	}
	.internal-page{
		&#ListPage, #ProductsListPage {
			.content .courseItem {
				border-top: 3px solid $steam;
			}
		}
		&#DetailsPage {
			.sidebar-dropdown, #sidebarLeft {
				display: none !important;
			}
			#contentContainer {
				position: relative;
				#content {
					width: 100%;
					.courseItem {
						.courseItem-sub-wrapper {
							@include responsive($media-tablet) {
								width: 70%;
							}
							.relatedCourses {
								.course-sub-title {
									border-bottom: 3px solid $steam;
									margin-bottom: 0;
									padding-bottom: 12px;
								}
								ul {
									margin-left: 0;
									li {
										margin-left: 0;
										border-bottom: 3px solid $steam;
										padding: 20px 0px;
										img {
											max-width: 100%;
											width: 100%;
											display: block;
											margin: 0 auto 20px;
											@include responsive($media-small) {
												float: left;
												margin-right: 15px;
												max-width: 200px;
											}
											@include responsive($media-tablet) {
												max-width: 267px;
											}
										}
									}
								}
							}
							.courseDescription {
								ul {
									list-style: none;
									margin-left: 11px;
									li {
										margin-left: 6px;
										position: relative;
										&::before {
											content: "■";
											position: relative;
											left: -15px;
											color: #CF053C;
											top: 2px;
											line-height: 1;
											top: -1px;
											margin-right: -8px;
										}
									}
								}
							}
						}
						.course-image-banner {
							position: relative;
							margin-bottom: 15px;
							margin-top: 20px;
							@include responsive($media-tablet) {
								position: initial;
							}
							.course-banner {
								position: relative;
								width: 100%;
								@include responsive($media-small) {
									width: 65.1%;
									height: 400px;
									overflow: hidden;
									&::after {
										position: absolute;
										width: 100%;
										height: 80%;
										z-index: 1;
										bottom: 0;
										left: 0;
										right: 0;
										background: -moz-linear-gradient(top,  rgba(252,252,252,0) 0%, rgba(252,252,252,0.01) 1%, rgba(0,0,0,0.8) 80%); // FF3.6-15
										background: -webkit-linear-gradient(top,  rgba(252,252,252,0) 0%,rgba(252,252,252,0.01) 1%,rgba(0,0,0,0.8) 80%); // Chrome10-25,Safari5.1-6
										background: linear-gradient(to bottom,  rgba(252,252,252,0) 0%,rgba(252,252,252,0.01) 1%,rgba(0,0,0,0.8) 80%); // W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+
										filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00fcfcfc', endColorstr='#cc000000',GradientType=0 ); // IE6-9
									}
								}

								@include responsive($media-tablet) {
									width: 76%;
									height: 510px;
								}
								.hero-image-banner {
									margin-left: -15px;
									margin-right: -15px;
									img {
										width: 100%;
									}
									@include responsive($media-small) {
										margin-left: 0px;
										margin-right: 0px;
										width: auto;
										@include responsive-image();
										z-index: -1;
										max-width: 935px;
									}
								}
								.page-title {
									color: $charcoal;
									font-size: 38px;
									line-height: 48px;
									font-weight: bold;
									margin-top: 20px;
									margin-bottom: 20px;
									@include responsive($media-small) {
										color: $white;
										font-size: 42px;
										line-height: 52px;
										text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
										position: absolute;
										bottom: 50px;
										left: 30px;
										margin-top: 0px;
										margin-bottom: 0px;
										padding-right: 20px;
										z-index: 2;
									}
								}
							}
							&.active {
								position: initial;
							}
							.course-details-actions-wrapper {
								.course-details-actions {
									@include transition(all 0.3s ease-in-out);
									@include responsive($media-tablet) {
										position: absolute;
										top: 20px;
										right: 10px;
										bottom: 0;
										background: #2E303D;
										color: #fff;
										width: 24%;
										z-index: 1;
										height: 510px;
									}
									>ul {
										width: 100%;
										@include responsive($media-small) {
											position: absolute;
											top: 0;
											right: 0;
											bottom: 0;
											background: #2E303D;
											color: #fff;
											width: 35%;
											height: 400px;
										}
										@include responsive($media-tablet) {
											position: initial;
											background: none;
											width: 100%;
											height: auto;
										}
										li, & {
											list-style: none;
											margin: 0;
										}
										li {
											a {
												display: block;
												font-family: $fontFamilyOne;
												font-size: 18px;
												color: $white;
												background: $gunmetal;
												padding: 20px;
												&:hover {
													color: $white;
													background: $hotpink;
												}
											}
										}
									}
									.addthis {
										float: left;
										margin-top: 35px;
										margin-bottom: 0;
										@include responsive($media-tablet) {
											width: auto;
											position: absolute;
											bottom: 0;
											left: 20px;
											padding-right: 20px;
											margin-bottom: 10px;
										}
										.addthis-title {
											margin-bottom: 6px;
										}
										.at-icon-wrapper, .at-icon {
											line-height: 36px !important;
											width: 36px !important;
											height: 36px !important;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}

	.classItem {
		padding: 15px 15px 15px 25px;
		@include responsive($media-small) {
			padding: 24px 245px 24px 38px;
		}
		.classAction {
			width: 100%;
			margin-top: 10px;
			@include responsive($media-small) {
				width: 203px;
				position: absolute;
				bottom: 20px;
				right: 24px;
				margin-top: 0px;
			}
			.enrolAction {
				border-radius: 0px;
				width: auto;
				padding: 18.5px 33px 24.5px;
				font-family: $fontFamilyOne;
				width: 100%;
				@include responsive($media-small) {
					width: 203px;
				}
				&:hover {
					background: $hotpink;
					border: 1px solid $hotpink;
				}
				&.disabled {
					padding: 21.5px 33px 21.5px;
					font-size: 14px;
					&:hover {
						background: darken($enrolActionDisabled, 5%);
						border: 1px solid $enrolActionDisabled;
					}
				}
			}
		}
		.price {
			font-family: $fontFamilyOne;
			font-size: 24px;
			color: $charcoal;
			font-weight: bold;
			text-align: left;
			.discount-price {
				display: none;
			}
			.gst {
				font-family: $fontFamilyOne;
				font-size: 16px;
				color: $charcoal;
				font-weight: bold;
			}
		}
		.class-item-info {
			font-size: 16px;
			width: 100%;
			a {
				border-bottom: 0px;
				&:hover {
					border-bottom: 1px dotted $turquoise !important;
					color: $turquoise;
				}
			}
			div {
				padding: 0px;
			}
			.date, .left .location {
				background: none;
				.date-time, a {
					border-bottom: 0px;
				}
			}
			.left {
				max-width: 220px;
				width: 100%;
				margin-bottom: 15px;
			}
			.right {
				margin-bottom: 15px;
			}
			.class-item-info-l {
				width: 100%;
				border: 0px;
				.date {
					.date-header {
						font-family: $fontFamilyOne;
						font-size: 22px;
						line-height: 30px;
						color: $charcoal;
						font-weight: bold;
						margin-bottom: 15px;
						display: block;
						border-bottom: 0px !important;
					}
				}
			}
			.class-item-info-r {
				width: 100%;
				padding: 0px;
				>div {
					display: inline-block;
				}
			}
		}
	}

	.internal-page .content .courseItem {
		.cicon {
			position: relative;
			padding-left: 24px;
			background: none;
			display: inline-block;
			vertical-align: top;
			&::after {
				content: "";
				position: absolute;
				left: 1px;
				top: -1px;
				@include transform(initial);
				z-index: 0;
				opacity: 1;
			}
			&.icon-location::after {
				background: url($imagePath + 'icons/icon-location.png');
				width: 15px;
				height: 21px;
			}
			&.icon-person::after {
				background: url($imagePath + 'icons/icon-person.png');
				width: 15px;
				height: 19px;
			}
			&.icon-sessions::after {
				background: url($imagePath + 'icons/icon-sessions.png');
				width: 13px;
				height: 17px;
			}
			&.icon-session-time::after {
				background: url($imagePath + 'icons/icon-session-time.png');
				width: 18px;
				height: 18px;
			}
		}

		.more {
			display: none;
		}
		.full-classes-control {
			display: none;
		}
		.full-classes {
			display: block !important;
		}
		.description {
			margin-bottom: 15px;
			&.courseShortDescription {
				font-weight: 300;
				line-height: 25px;
				max-height: 75px;
				&::after {
					bottom: 2px;
					height: 27px;
				}
			}
		}
		.course-view-details {
			margin-bottom: 22px;
			float: none;
			@include responsive($media-small) {
				float: right;
			}
			a {
				display: block;
				@include responsive($media-small) {
					display: inline-block;
				}
			}
		}

		h3.course-sub-title, .courseDescription h3 {
			color: $charcoal;
			@include clearfix;
		}

		h2 {
			font-size: 22px;
			line-height: 30px;
		}
		.waiting-list-title {
			text-align: left;
			padding: 25px;
			text-decoration: none;
			background: $steam;
			@include responsive($media-small) {
				padding: 30px 205px 30px 30px;
			}
			&:hover {
				background: $steam;
				a {
					color: $charcoal;
				}
			}
			a {
				color: $charcoal;
				&:hover {
					text-decoration: none;
					color: $charcoal;
				}
			}
			.actionLink {
				padding: 0;
				font-family: $fontFamilyOne;
				font-size: 18px;
				line-height: 26px;
			}
			.abtn.beta {
				padding: 12px 25px;
				color: $deepblue;
				text-align: center;
				margin-top: 20px;
				width: 100%;
				&:hover {
					color: $white;
				}
				@include responsive($media-small) {
					margin-top: 0px;
					position: absolute;
					right: 27px;
					top: 30px;
					width: 150px;
				}
			}
		}
	}
}