//
//
// sidebar.scss
//
// Contains all the styles of sidebar contents
//
// This file is copyright ish group, Australia.
// It is licensed to you under the Apache License, version 2.0
// and is part of ish onCourse.
//
// Author: Chintan Kotadia
//

@include theme('c') {
  #contentContainer {
    .sidebar-dropdown {
      display: block;
      @include responsive($media-tablet) {
        display: none;
      }
      a {
        display: block;
        padding: 12px 5px;
        font-family: $fontFamilyOne;
        font-size: 18px;
        color: $white;
        background: #11152B;
        margin-bottom: 20px;
        &.active {
          margin-bottom: 0px;
          &::before {
            @include transform(scale(1));
          }
        }
      }
    }
    .courses-menu {
      ul.courses-list {
        padding: 15px 8px;
        margin: 0px;
        display: none;
        @include responsive($media-tablet) {
          display: block !important;
          margin: 0 0 0 25px;
          padding: 15px 25px 15px 8px;
        }
        li {
          padding-left: 20px;
          >a {
            &:hover {
              color: $hotpink;
            }
          }
        }
        >ul {
          >li {
            background: #e8ecef;
            margin-bottom: 0px;
            padding-left: 0px;
            margin-right: 0px;
            @include responsive($media-tablet) {
              margin-right: -6px;
            }
            >a {
              background: #11152B;
              padding: 20px;
              font-family: $fontFamilyOne;
              font-weight: 400;
              font-size: 18px;
              color: $white;
              border-bottom: 0px;
              &:hover {
                color: $hotpink;
              }
            }
            ul {
              display: none;
            }
            >ul {
              >li {
                padding-left: 0px;
                >a {
                  background: $gunmetal;
                  font-family: $fontFamilyOne;
                  font-size: 18px;
                  color: $white;
                  padding: 14px 20px;
                  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
                }
              }
            }
            &:hover, .active {
              >a {
                color: $hotpink;
              }
              //border-right: 7px solid #f5a623;
            }
            &.hasChildren.parent_tag, &.hasChildren.active_tag {
              //border-right: 7px solid #f5a623;
              li.active_tag>a {
                color: $hotpink;
              }
            }
          }
          li.hasChildren.active_tag>ul {
            display: block;
          }
        }
      }
    }
  }
}