* { font-family: Helvetica, sans-serif;
font-size: 100%; }

div.floatleft { float: left; }
div.floatright { float: right; }

/*h1, h2, h3, h4, h5, h6 { font-family: Georgia; }*/

/* Links */

a:visited, a:active, a:link, a:hover { text-decoration: none; }

body { color: #000; margin: 0;  min-height: 1000px; background-color: #fff;}
div.container { margin-top: 200px; }

.strikethrough { text-decoration: line-through; color: #ccc; }

div#header, div#content_holder, div#footer { margin: auto; border: 0px solid red; }

div#header { position: relative; height: 108px; border-bottom: 1px solid #444; line-height: normal; margin-bottom: 20px; }
	div#header h1 {  border: 0px solid green; margin: 0; padding: 0; overflow: hidden; width: auto; float: left; font-size: 300%; text-shadow: 1px 1px 2px #eee;   }
	
	/* Search Form */
	div#header form { position: absolute; bottom: 10px; right: 0px; margin: 0; padding: 0; }
	div#header form input {  -moz-border-radius: 20px; -webkit-border-radius: 20px; }

/* Box definitions */ 
		div.box { border: 1px solid #eee; -moz-border-radius: 4px; background: #FCFCFC url(img/box_head_bg.png) repeat-x; padding: 5px; margin: 0 0 25px 0;-webkit-border-radius:5px;  }
			div.box > h3 { font-weight: 100;  font-size: 18px; height: 24px; color: #444; margin: 0px auto; }
			div.box > h3 span { font-family: "Helvetica", serif; }
			div.box button { margin: 0 auto; }
		
		div#shopping_cart > ul li { margin-left: 0; }
			
.box_border > div, .box_filled > div, .box_noborder > div { margin: 0 0 18px 0; overflow: hidden; }
.box_border > div, .box_filled > div { -moz-border-radius: 10px; -webkit-border-radius: 10px; border: 1px solid #444; padding: 0px; }

	/* Reset colours to avoid clashing */
	.box_filled > div { background-color: #ccc; }
	.box_filled > div p { color: #fff; }
	.box_filled > div h2, .box_filled > div h3 { color: #fff; }

div#content > div.box_filled > div, div#content > div.box_border > div { padding: 10px;}
div#content p { font-size: 110%; color: #444; }
div#content > div * p:last-child { margin-bottom: 0px; }

/* Header stylings */

div#content h2#pageTitle { margin: 0; font-family: "Helvetica", serif; font-weight: bold; font-size: 300%; }
div#content div > h3, div#content div > h4, div#content div > h5   { font-variant: small-caps; margin: 3px 0; }
div#content .box_filled div > h2:first-child { margin: 0px 0 3px 0; color: #fff; font: 36pt "Helvetica" bold; font-variant: small-caps; }

/* Horizontal rule */

div#content > hr { border: none 0; border-top: 1px solid #eee; width: 100%; height: 1px; }

/* Content */
div#content { padding: 0 10px; }
ul#checkout_steps { width: auto; margin: 0 auto; padding: 0; color: green; height: auto; display: block;}
ul#checkout_steps li { width: 20%; list-style: upper-roman; float: left; margin: 0; font-size: 140%; display: block; text-align: left; vertical-align: middle; border-left: 0px solid green; position: relative;  }
ul#checkout_steps li a { padding-left: 30px; display: block; color: #ccc; }
	ul#checkout_steps li.active_step, ul#checkout_steps li.active_step a { color: green; }
ul#checkout_steps li span { font-family: monaco; font-size: 300%; font-weight: bold; display: block; position: absolute; top: 14px; left: 0; width: auto; height: auto; }

div#mission_statement { width: 300px; border: 0px solid #eee; margin: 0 auto; float: right; margin: 0 0 20px 20px; padding: 4px; color: #999; -moz-border-radius: 4px; }
	div#content div#mission_statement h5 { margin: 0; color: #666; font-variant: normal; border-bottom: 1px solid #ccc;}


/* Footer */
div#footer { clear: both; }
div#footer p { font-size: 10px; }

/* Polypage Options */

div.pp_comments { width: 75%; padding: 10px; margin: 10px auto;  border: 1px dashed #CECE1F; background-color: #FFFFF6; }
body div#content div#login div.pp_comments > p { margin: 0; padding: 0; }

body div#pp_options {
	position: fixed;
	top: 0;
	left: 0;
	padding: 4px;
	background: #f0f0f0;
	border-left: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	opacity: 0.85;
	font-size: 11px;
	line-height: 1em;
}
body div#pp_options p {
  display: inline;
  color: #aaa;  
}
body div#pp_options ul {
  display: inline;
	margin: 0;
	padding: 0;
}
body div#pp_options li {
	display: inline;
	padding: 0 9px;
}
body div#pp_options li a {
	color: #999;
}
body div#pp_options li a.on {
	color: #000;
	background: #d4fb78;
}

/* ADMIN EDITOR STYLING */

div#admin_editor fieldset { border: none; margin: 0; padding: 0; }

div#admin_editor div.form_actions { text-align: right; }

div#admin_editor h2.page_divider { border-bottom: 1px solid #999; display: block; width: 30%; clear: both; position: relative; margin: 30px auto 0; text-align: center;}
	div#admin_editor h2.page_divider span { margin: 0 auto; display: inline-block; position: absolute; bottom: -10px; margin-left: 16%; background-color: #fff; padding: 0 10px; font-size: 18px; color: #999; }
div#admin_editor div.admin_subsection_side { float: right; width: 250px; background-color: #f7f7f7; padding: 5px; }
div#admin_editor div.admin_subsection { margin-top: 40px; }
	div#admin_editor div.admin_subsection h3 { border-bottom: 1px solid #eee; margin-bottom: 5px; }

div#admin_editor div#page_info { margin-top:0.2em; }
div#admin_editor input#page_title { font-size: 160%; width: 97%; border: 1px solid transparent; border-bottom: 1px solid #888888; }
	div#admin_editor input#page_title:hover { border: 1px solid #eee; }
	div#admin_editor input#page_title:focus { outline: 0; border-color: #888; background-color: #f7f7f7;  }

div#admin_editor span#imageSelectorLink a { border: 1px solid #ccc; display: block; width: auto; float: right; margin-top: -5px; margin-right: 3px; background-color: #ccc; color: #f7f7f7; padding: 2px 8px; -moz-border-radius: 0 0 8px 8px; }
	div#admin_editor span#imageSelectorLink a:hover { background-color: #444; color: #fff; cursor: pointer; }
div#admin_editor div#image_selector { border: 1px solid #eee; background-color: #f7f7f7; width: 75%; height: 250px; margin: 20px auto 0; padding: 10px; }
	div#admin_editor div#image_selector div#file_list { width: 50%; border-right: 1px solid #444; }
	
	
div#admin_editor div.add_url { border-top: 1px solid #444; width: 57%; padding: 10px 0 0 15px;  }
