$white: #ffffff;
$gray:  #bbbbbb;
$gray-dark: #656565;

$black: rgba(0, 0, 0, 0.87);

$main-blue: #343d46;
$main-green: #a3be8c;

$sidebar-color: rgb(243, 243, 243);

// Button colors
$danger: #EF5350;
$danger-hover: #E57373;
$danger-active: #F44336;

$primary: #4285F4;
$primary-hover: #5a95f5;
$primary-active: #0d5bdd;

$success: #66BB6A;
$success-hover: #81C784;
$success-active: #4CAF50;