$white: #ffffff;
$gray:  #bbbbbb;
$gray-dark: #656565;
$black: #111111;

$main-blue: #343d46;
$main-green: #a3be8c;

// Bootstrap colors
$danger: #d9534f;
$danger-hover: #c9302c;

$primary: #0275d8;
$primary-hover: #025aa5;

$success: #5cb85c;
$success-hover: #459D4A;