/**
*
* site.scss
*
* Styles fo CCE site.
*
* Layout, colors, fonts.
*
*/
/* todo: Dmitry. Refactor. Add logic */


/**
*
* Import default styles
*
*/
@import "base";


/**
*
* Common Colours
*
*/

/* Vars */
$red: #CE1126;
$blue: #12416C;
$yellow: #F5AF00;
$font-color: #000;
$link-color: #0D4064;


body {
    color:$font-color;
}

/* Links */
a:link, a:visited, a:active {
    color: $link-color;
    text-decoration: underline;
}

a:hover, a:active {
    color: $link-color;
    text-decoration: none;
}

/* Content headers color */
.content-container {
    h1, h2, h3, h4, h5, h6 {
        color: $red;
        text-transform:uppercase;
    }
}


/**
*
* Fonts
*
*/



/**
*
* Icons and buttons
*
*/

/* Icons
----------------------------*/

.ico-expand {
    display: inline-block;
    height: 11px;
    width: 11px;
    cursor: pointer;
    background:{
        image: url(""+$i+"/icon_plus.gif");
        repeat:no-repeat;
    }

    &:hover {
        background:{
            image: url(""+$i+"/icon_plus_hover.gif");
            repeat:no-repeat;
        }
    }
}






/**
*
* Main Layout
*
*/

/* Site wrapper */

body {
    padding: 0 0;
}

.site-wrapper {
    width: 976px;
    margin:0 auto;
    padding:7px 0 0 0;
}

.site-container {
    border: 1px solid #DBD3C2;
    border-top:0;
}

/* Header */

.site-header {
    position: relative;
    background: $blue;
}

/* Navigation */


.site-nav {
    position: relative;
    clear:both;
    background-color:$yellow;
    font-size:11px;

    > ul {
        padding:15px 0 0 10px;
        @include clearfix;
    }

    > ul > li {
        float:left;
        margin:0 2px 0 0;
        line-height:28px;
        padding:0;
        position:relative;
        background-color: #F9CF66;

        &:hover {
            background-color:#F6BB25;
        }
    }

    > ul > li > a {
        display:block;
        padding:0 11px;
        border: 1px solid #FDEBC5;
        border-bottom-width: 0;
        color: #232323;
        text-decoration:none;

        &:hover {
            text-decoration:none;
        }
    }

    /* Dropdown. Second level */
    li > ul {
        display:none;
        position:absolute;
        left:0;
        width:155px;
        background-color: #FDEEC7;
        z-index:2;
    }
    /* Show dropdown */
    li:hover ul {
        display:block;
    }
    /* Dropdown items */
    li ul > li {
        line-height:1;

        &:hover {
            background-color:#FBDC90;
        }

        > a {
            padding: 9px 12px;
            color: #232323;
            text-decoration:none;
            display:block;
        }
    }


}

/* Content */

.content-container {
    position: relative;
    margin: 20px 0;
    @include clearfix;
}


.content {
    min-height: 750px;
    width: 735px;
    margin: 0 0 0 41px;
    float: left;
}

.sidebar-left {
    float: left;
    width: 180px;
    padding: 0 0 0 10px;
}

.sidebar-right {
    display:none;
}


/* Footer */

.site-footer {
    position: relative;
    border-top: 2px solid #4D483C;
    margin: 0px 10px;
    padding: 15px 0;
}

.footer-container {
    @include clearfix;
}





/**
*
* Blocks Layout
*
*/



/* Header
------------------------------------*/

.site-logo {
    float: left;
    display: block;
    height: 80px;
    width: 200px;
    line-height: 500px;
    text-indent: -600px;
    overflow: hidden;
    background:{
        image: url(""+$i+"/common/university_sydney_logo.gif");
        repeat:no-repeat;
        color: $red;
    }
    padding: 0;
    margin:0 0 0 -20px;

    a {
        display:block;
        height: 80px;
        width: 200px;
    }
}

.site-title {
    margin: 0;
    position: absolute;
    font-size: 1.7em;
    right: 185px;
    top: 25px;

    a {
        display: block;
        font-weight: normal;
        color: white;
        text-transform: uppercase;
        padding: 0;
        margin-left: 20px;
        text-decoration: none;
    }
}

.header-toolbar {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 155px;
    background: $yellow;
    z-index: 10;
}

/* Search Box
-----------------------------------------------*/

.search-box {
    width: 250px;
    height: 50px;
    position: absolute;
    top: 80px;
    right: 155px;

    input[type="text"] {
        width: 175px;
        font-size:11px;
        font-family:inherit;
        padding:3px 4px 1px;
    }

    button[type="submit"] {
        display: inline-block;
        width: auto;
        background: $red;
        color: white;
        text-transform: uppercase;
        font-weight: bold;
        text-decoration: none;
        padding: 2px 5px 4px 5px;
        border: 0;
    }
}

/* Adv search */

.advanced-search-button {
    font-size:10px;
    a {
        color:#fff;
        text-decoration:none;
    }

}


/* Uni-wide navigation
----------------------------------------------*/

#nav-global {
    clear: both;
    margin: 0 8px 0;
    list-style: none;
    height:41px;

    li {
        display: inline-block;
        padding: 12px;
        margin: 0px;

          &.active {
              font-weight: bold;
              background: {
                image: url(""+$i+"/global_menu_active.png");
                repeat:no-repeat;
                position:center bottom;
              }

              a:hover {
                  text-decoration: none;
              }
        }

         a {
            color: #fff;
            text-transform: uppercase;
            font-size: 11px;
            text-decoration: none;
            display:block;
            padding:5px 0 4px;

              &:hover {
                text-decoration: underline;
              }
         }
    }


}


/* Header toolbox
-------------------------------------*/

.short-list {
    padding:10px;
}

.shortlistInfo {
    @include clearfix;
    line-height:19px;
    span {
        font-size: 55px;
        font-weight: bold;
        color: #133838;
        float: left;
        display: block;
        margin: 10px 5px 0 0;
    }
    p {
        overflow:hidden;
        color: #515151;
        text-transform: uppercase;
    }

}

.discount-block {
    padding:10px;

    a {
        color:#515151;
        text-decoration:none;
    }

    .title-block {
        font-weight:bold;
    }
}

/* Sidebar Courses
-------------------------------------*/

.sidebar-left {

    line-height:1.5;

    h3 {
        margin: 0 0 5px;
        color: $red;
        font-size: 15px;
        font-weight: bold;
        text-transform: uppercase;
    }

    .courses-list {
        li {
            display: block;
            position: relative;
            background: {
                image: url(""+$i+"/list_item.gif");
                repeat:no-repeat;
                position:4px 7px;
            }
            line-height: 19px;
        }

        a {
            display:block;
            padding: 2px 16px 2px 21px;
            color: #333;
            text-decoration: none;
            border-bottom: 1px solid #DBD3C2;

            &:hover {
                color: #125687;
                text-decoration: underline;
            }
        }

        /* Next level container */
        .courses-list-sub2 {
            display:none;
            margin:0 0 0 20px;
            li {
                background: {
                    image: url(""+$i+"/list_item_small.gif");
                    repeat:no-repeat;
                    position:4px 8px;
                }

                &:hover {
                    background-color: #FAFAFA;
                }
            }

            ul {
                display:none;
            }

        }

        .expander {
            display:block;
            position: absolute;
            top: 6px;
            right: 0;
        }

    }

}



/* Content courses
------------------------------------*/
.content {

    .courses-list {
        list-style:none;
        font-size:13px;
        margin:0;

        > li:first-child a {
            display:none;
        }

        ul {
            list-style:none;
            margin:0;
        }
    }

    .courses-list-sub {
        @include clearfix;
        > li {
            float: left;
            display: block;
            width: 335px;
            margin: 0 10px 30px 0;

            > a {
                color: $red;
                font-size: 18px;
                margin: 0 0 8px 0;
                display:inline-block;
            }

            ul {
                @include clearfix;
                li {
                    float:left;
                    margin:0 5px 5px 0;

                    a {
                        padding:0 5px 0 0;
                        border-right:1px solid $red;
                        display:inline-block;
                    }

                    &:last-child a {
                        border-right:0;
                    }


                    ul {
                        display:none;
                    }
                }


            }
        }
    }

}




/* Footer
----------------------------------------*/


.footer-logo {
    float:left;
}

.footer-info {
    float:right;
    font-size: 11px;
    color: #444;
    text-align: right;
}




/**
*
* Page Specific
*
*/



/* Courses page
-----------------------------------------*/


.classItem {

    a {
        color:#444;
        text-decoration:none;

        &:hover {
            color:$red;
            text-decoration:underline;
        }
    }

}


.classAction .enrolAction {
    background: $red;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    padding: 2px 5px 2px 5px;
    line-height:1.5;

    &:hover {
        color:#fff;
        background-color: #A90E1F;
        text-decoration:none !important;
    }
}




.taggroup-2405 ul {
    /*@include no-bullets;
    margin: 0;
	ul ul {
	    display: none;
	    }*/
}

/*---- Page Specific -----*/	 
/*.internal-page #content,
#DetailsPage #content {
    margin-right: 0px;
    width: 786px;
}
.internal-page #sidebarRight,
#DetailsPage #sidebarRight {
    display: none;
}*/

