@charset "UTF-8";
/*
Project css styles.
Common css rules.
*/

* {
    padding:0;
    margin:0;
}

img {
    border:0;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    line-height:1;
    background:#fff;
}

/* Layout */

.header {
    background:#000 url("../images/header-back.png") repeat-x left top;
    background-size:auto 100%;
    min-height:52px;
    padding:23px 185px 10px 23px;
    position:relative;
}

.logo {
    display:block;
    position:absolute;
    top:20px;
    right:24px;
    background:url("../images/logo.png") no-repeat left top;
    width:159px;
    height:40px;
}

.header-title {
    line-height:1;
    font-size:36px;
    color:#fff;
    font-weight:bold;
    text-shadow:0 2px 0 #000;
}

.process {
    background:#f2ffde;
    border-bottom: 5px solid #c3c4c1;
    padding:21px 23px 26px;
}

.page-title {
    color:#000000;
    font-size:20px;
    margin:0 0 20px 0;
}

.process-list {
    list-style:none;
    color:#404043;
    font-size:14px;
}

.process-list li {
    border-top:1px solid #c1ccb1;
    padding:9px 13px;
}

.process-list li > span {
    width:45%;
    max-width:300px;
    display:inline-block;
}

.process-total {
    background:#37a010;
    padding:14px 13px;
    color:#fff;
    font-size:18px;
    font-weight:bold;
}

.process-total > span {
    width: 45%;
    max-width: 300px;
    display: inline-block;
    font-size:14px;
    text-transform:uppercase;
}

.pay-form {
    padding:35px 23px;
}

.pay-form-line {
    margin:0 0 10px 0;
    font-size:15px;
}

.pay-form-line > span,
.pay-form-line > label {
    display:inline-block;
    margin-bottom:6px;
    vertical-align:middle;
}

.pay-form-line > label {
    margin:0 8px 0 0;
    font-weight:bold;
    text-align:right;
    width:18%;
}

.pay-form-line span > label {
    margin-right:20px;
}

-,.pay-form-line span > label {
    margin-right: 10px;
}

.pay-form-line label sup {
    color:#ff4200;
    vertical-align:text-top;
}

.pay-form-control {
    width:260px;
}

.pay-form-control .t-error-icon {
	display: none;
}

.pay-form-cardtype {
    width:360px;
}

.pay-form-cardtype input[type="radio"] {
	margin-right: 3px;
}

.pay-form-line input[type="text"] {
    width:250px;
    border:1px solid #7d858b;
    color:#231f20;
    font-family:inherit;
    font-size:inherit;
    font-weight:bold;
    height:32px;
    line-height:32px;
    padding:0 7px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing:border-box;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius:3px;

    -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.3), inset 0 3px 0 #ebebeb;
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3), inset 0 3px 0 #ebebeb;
    box-shadow:0 1px 5px rgba(0, 0, 0, 0.3), inset 0 3px 0 #ebebeb;
}

-,.pay-form-line input[type="text"] {
    width:236px;
}

.pay-form-line input[type="text"].small {
    width:115px;
}

.pay-form-line textarea {
    width: 250px;
    border: 1px solid #7d858b;
    color: #231f20;
    font-family: inherit;
    font-size: inherit;
    font-weight: bold;
    height: 150px;
    padding: 7px 7px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3), inset 0 3px 0 #ebebeb;
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3), inset 0 3px 0 #ebebeb;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3), inset 0 3px 0 #ebebeb;

}

.pay-form-line.error {
    color:#ff0000 !important;
}

.pay-form-line.error input {
    border-color: #ff0000;
    background-color:#ffe4c1;
    -moz-box-shadow: 0 0 5px #ffe4c1;
    -webkit-box-shadow: 0 0 5px #ffe4c1;
    box-shadow:0 0 5px #ffe4c1;
}


.submit-wrapper {
    text-align:center;
}

.btn {
    display:inline-block;
    text-decoration:none;
    border:1px solid #000;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius:3px;
    height:31px;
    padding:0 20px;
    background:#676767 url("../images/btn.png") repeat-x left bottom;
    color:#fff;
    text-shadow:0 -1px 1px #000;
    font-size:18px;
    font-weight:bold;
    cursor:pointer;
}

.btn:hover {
    background: #4db626 url("../images/btn-over.png") repeat-x left bottom;
}