@charset "UTF-8";
/**
 *  _base.scss
 *
 *  Application-wide SCSS file for all onCourse apps.
 *
 */



/**
*
* Common paths
*
*/
$i: /s/img;


/*
* Responsive design
*
* Set this variable to "on" within site.scss
*/
$responsive: "off" !default;


@import "reset";
@import "functions";
@import "common";
@import "layout";
@import "courses";
@import "widgets";
@import "product";
@import "cms";
@import "print";
@import "jquery-ui";


// responsive designs
@import "responsive-1-tiny-default";
@import "responsive-2-small-default";
@import "responsive-3-medium-default";



// common colours
$font-color: #444 !default;
$font-color-link: #607890 !default;
$font-color-hover: #036 !default;
$red: #ce1126 !default;
$blue: #12416c !default;
$white: #ffffff !default;
$black: #000000 !default;
$yellow: #f5af00 !default;