/**
 *  _common.scss
 *
 *  Common styles.
 *
 */


/* Common layout styles --------------------*/

html {
    height:100%;
}

body {
    /* Fit body to window */
    height:auto !important;
    height:100%;
    min-height:100%;

    font-size:12px;
    font-family: Arial, Helvetica, sans-serif;
    line-height:1;
}


::-webkit-input-placeholder {
	color: inherit;
}

:-moz-placeholder {
	color: inherit;
}

.content, .dialogBox, .nyroModalCont {
    /* Content Paragraph */

    line-height:1.5;

    p {
        line-height:1.5;
        margin-bottom:18px;
    }

    /* Content header */
    h1, h2, h3, h4, h5, h6 {
      margin-bottom: 18px;
      line-height: 1.5;
      font-weight: normal;
    }


    @for $i from 1 through 6 {
      h#{$i} {
        font-size: 22px - (2px * ($i - 1));
      }
    }

    ul {
        list-style:outside disc;
        margin-left:20px;
        margin-bottom: 18px;
    }

    ol {
        list-style:outside decimal;
        margin-left:20px;
        margin-bottom: 18px;
    }

    li {
        line-height:1.5;
    }

    strong, b {
        font-weight:bold;
    }

    em, i {
        font-style: italic;
    }

    table {
        margin-bottom: 18px;

        td, th {
            padding: 8px;
        }

        th {
            font-weight: bold;
        }
    }

    fieldset {
        margin: 0 0 18px 0;
        padding: 10px 20px 10px 0;
        border: 1px solid silver;
        @include border-radius(8px);

        > p,
        .form-details p {
            @include clearfix;

            > label {
                float:left;
            }

            > span {
                float:left;
                width:70%;
            }

        }
    }


    #paymentform {
        p > a {
            &.nyromodal {
                position: absolute;
                margin-left: 50%;
                z-index: 0;
                margin-top: 4px;
				left: 0;
            }
        }
    }

    fieldset,
    .payments {

        label {
            display: inline-block;
            text-align: right;
            max-width: 180px;
            width:26%;
            padding-right: 20px;
            vertical-align: middle;
            font-weight: bold;
        }

        .conditions label {
            display:block;
            width:auto;
            max-width:100%;
            text-align:left;
            margin-left:26%;
            padding-left:20px;
            font-weight:normal;
        }

        span {
            display: inline-block;
            vertical-align: top;
            position:relative;


            &.validate-text {
                position: absolute;
                z-index:1;
                font-size: 11px;
                margin-left:20px;
                max-width:220px;
                left: 120px;
                margin-left: 20px;
                top:0;

                .reason {
                    position:relative;
                    display:block;
                    padding: 3px;
                    background-color: #FEF0F0;
                    border: 1px solid #FCC5C5;
                    font-weight:bold;
                }

                .hint {
					background-color: #FDF6D6;
					border: 1px solid #F9E99C;
					font-weight:bold;
					position:relative;
                    display:block;
                    padding: 3px;
                }

                .reason-pointer {
					display: block;
					height: 15px;
					left: -12px;
					position: absolute;
					top: 2px;
					width: 12px;
					background: {
						image:url(""+$i+"/message-pointers.gif");
						position: right top;
						repeat: no-repeat;
					}
                }

                .hidden-text {
                    display:none; 
                }
            }
        }

        input {

            border:1px solid #ddd;
            font-size:11px;

            &[type="text"],
            &[type="password"] {
                padding:3px;
                background-color:whiteSmoke;
                width:120px;
            }

            &:hover {
                border-color: #aaaaaa;
            }

            &:focus {
                outline: none;
                border-color: #000;
            }

            &.t-error {
                font-style:normal;
                background-color: #FEF0F0;
            }

        }

        textarea {
            padding:3px;
			background-color:whiteSmoke;
			border:1px solid #ddd;
            font-size:11px;
            height:150px;
            width: 44%;
        }

        img.t-error-icon {
            display:none;
            vertical-align: text-top;
            position: relative;
            top: -10px;
            left: -14px;
        }

        .hint-pointer {
            display: block;
			height: 15px;
			left: -12px;
			position: absolute;
			top: 2px;
			width: 12px;
			background: {
				image:url(""+$i+"/message-pointers.gif");
				position: -13px top;
				repeat: no-repeat;
			}
        }

        .radio-list,
        .fieldset-intro {
            margin-left: 26%;
			font-weight: bold;
			padding-left: 20px;
			max-width: 180px;
        }

        .radio-list {
            position:relative;
            top:-37px;
            font-weight:normal;
        }



    }

    .form-controls {

        button,
        input[type="submit"],
        input[type="reset"] {
            border: 1px solid #d1d1d1;
            padding: 3px 10px;
            color: #000;
            cursor: pointer;
            @include gradient(#ffffff, #eeeeee, 100%, blank);
            @include border-radius(3px);

            &:active {
                @include gradient(#eeeeee, #ffffff, 100%, blank);
            }

            &:hover {
                border-color: #aaaaaa;
            }
        }

    }

    div.t-error {
		li {
			margin-left:20px !important;
		}
	}

}


/* Clear floats */
.clearboth {
    clear:both;
}

/* Table with borders on courses & details pages */

#ListPage, #DetailsPage {
	.content {
		table {
			td, th {
				border:1px solid gray;
			}
		}
	}
}


/* Notes & Messages ----------------------------*/


.class-note-important {
    clear:both;
	background-color: #F7F7F7;
	padding: 0 0 0 18px;
	&:hover {
		background-color: #eee;
	}
	&:before {
	    content: "Important Information: ";
	    color: #E18A1A;
	    font-weight: bold;
	    float: left;
	    margin-right: 6px;
	}
}


div.highlight {
	padding: 10px;
	background-color: #FDEFC9;
}


.note {
    margin-top:18px;
    color: #777;
    font-size: 11px;

    strong {
        color:#333333;
    }
    .alert  {
        background:transparent url(""+$i+"/alert.png") no-repeat scroll 0 0;
        padding-left: 18px;
    }
}

.message {
    background-color: #EEF6FF;
    border-color: #A3E0F0;
    color: #0066AA;
}

.error {
    background-color: #FEF0F0;
    border-color: #FCC5C5;
    color: #990000;

    ul {
        margin-top: 7px;
    }
}

.validation {
	> div {
		background-color: #FEF0F0;
		border:1px solid #FCC5C5;
		color: #990000;
		padding:4px 8px;
		@include border-radius(8px);
		margin-bottom:18px;
	}
	> ul {
		margin-left:35px;
	}
}



div.form-controls {
    margin:12px 0 12px 180px;
    padding:0 20px;
}

div.form-controls input#submitContact {
	padding: 2px 10px 3px 10px;
	margin: 0 0 0 5px;
}

div.form-controls a.cancel {
	border: 1px solid #D1D1D1;
	padding: 3px 10px;
	color: black;
	cursor: pointer;
	background: #EEE url("/s/img/blank.png") repeat-x;
	background: -moz-linear-gradient(top, white 0%, #EEE 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #EEE));
	background: -webkit-linear-gradient(top, white 0%, #EEE 100%);
	background: -o-linear-gradient(top, white 0%, #EEE 100%);
	background: -ms-linear-gradient(top, white 0%, #EEE 100%);
	background: linear-gradient(top, white 0%,#EEE 100%);
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	text-decoration: none;
}
div.form-controls a.cancel:hover {
	border-color: #AAA;
}



/* TODO: Dima. Refactor this */
div.message p {
    margin-bottom: 0px;
    color: #0066AA;
}
.error p, .validation p {
    margin: 0px;
    color: #990000;
}

div#form_error form {
	margin: 0;
}

div#form_error fieldset {
	border: 0px;
	padding: 0;
	margin-top: 10px;
	margin-bottom: 0px;
}

div#form_error fieldset label, div#form_error fieldset textarea {
	font-size: 140%;
	clear: both;
	width: 100%;
	border: 0px solid red;
	display: block;
	margin-bottom: 20px;
}

div#form_error fieldset textarea {
	width: 94%;
	height: 200px;
	border: 1px solid #888;
}

div#form_error fieldset label input {
	display: block;
}

div#form_error fieldset label input:focus, div#form_error fieldset textarea:focus {
	outline: 0px;
}

div#form_error fieldset a.button {
	float: right;
}

#content form fieldset label.error {
	float: none;
	padding: 3px 10px;
	width: auto;
	margin: 0px 0px 0px 7px;
	background-color: #8B0000;
	text-shadow: none;
	border: none;
	@include border-radius(4px);
	color: #fff;
	vertical-align: top;
	font-weight: normal;
	position: relative;
	
	&::after {
		content: '';
		position: absolute;
		border-style: solid;
		left: -8px;
		border-width: 8px 8px 8px 0;
		border-color: transparent #8B0000 transparent transparent;
		top: 4px;
	}
}