/**
 *  _courses.scss
 *
 *  Styling for all course and class information.
 *
 *
 */

/* Course item ------------------------*/



.internal-page .content .courseItem {
    margin:0 0 20px 0;


    h2 {
        color: #000 !important;
        font-weight:normal;
        font-size:16px;
        margin:0 0 2px 0;
        text-transform:none !important;
    }


    h4 {
        font-weight:bold;
        font-size:14px;
    }

     h1, h2, h3, h4, h5 {
         a {
            text-decoration:none;
            color: #444;
            color: inherit;

            &:hover {
                color: #A90E1F;
                text-decoration: underline;
            }
        }
     }

     p {
        margin-bottom:18px;
     }

    ul, ol {
        list-style-position:outside;
        margin:0 0 18px 18px;

        li {
            margin-left:10px;
        }
    }


    .description {
        color: #444;
        margin:0 0 10px 0;
    }

    .courseDescription {
        padding:18px 0 0 0;
    }

    .courseShortDescription {
        max-height:58px;
        overflow:hidden;
        margin:0 0 10px 0;
        position: relative;
    }


    .more {
        display:block;
        font-weight:normal;
        filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr='#00FFFFFF', EndColorStr='#FFFFFFFF');
        background:-moz-linear-gradient(left center, rgba(255, 255, 255, 0) 50%, #FFFFFF 95%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,rgba(255, 255, 255, 0)), color-stop(95%,#FFFFFF));
        background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 50%, #FFFFFF 95%);
        background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 50%, #FFFFFF 95%);
        background:linear-gradient(left center, rgba(255, 255, 255, 0) 50%, #FFFFFF 95%);
		position: absolute;
        bottom: 3px;
        width: 100%;
        right: 0;
		text-align: right;


        a {
            font-weight:bold;
            color: #444;
            text-decoration:none;

            &:hover {
                color: #A90E1F;
                text-decoration: underline;
            }
        }
    }

    .waiting-list-title {
        position:relative;
        a {
            color: #889;
            text-decoration:none;

            &:hover {
                color: #A90E1F;
                text-decoration: underline;
            }
        }
    }

    .qualification{
      color: #889;
      text-decoration: none
    }

    .classDescription {
        color: #444;
        margin:0 0 10px 0;
        position:relative;
        top:10px;

        h1,h2,h3,h4,h5 {
            color:#444 !important;
            text-transform:none;
            font-weight:bold;
            margin-bottom:18px;
        }

        @for $i from 1 through 5 {
		  h#{$i} {
			font-size: 20px - (2px * ($i - 1));
		  }
		}

    }


    .other-classes-control {
        text-align:right;
        font-size:11px;
        margin-bottom:0;
        a {
            display:inline-block;
            text-decoration:none;
            padding: 6px;
            padding-right: 20px;
            background: {
                image: url(""+$i+"/icon/go-down-18.png");
                position: right 4px;
                repeat: no-repeat;
            }
        }
    }
    
    .full-classes-control {
        text-align:right;
        font-size:11px;
        margin-bottom:0;
        a {
            display:inline-block;
            text-decoration:none;
            padding: 6px;
            padding-right: 20px;
            background: {
                image: url(""+$i+"/icon/go-down-18.png");
                position: right 4px;
                repeat: no-repeat;
            }
        }
    }
	
	.NRTLogo { 
		float: right;	
	}
	
	.course_modules {	
		background-color: #FEFEFE;
		border: 1px solid #E1E1E8;
		border-radius: 3px;
		margin: 7px 0;		
		@extend .description;
		
		>span {			
			padding: 5px;
			padding-left: 40px;
			border-bottom: 1px solid #E1E1E8;
			display: block;
			position: relative;
			background: url(""+$i+"/core/right_triangle.png") 15px center no-repeat;
			cursor: pointer;
		}
		
		>span.active {
			background: url(""+$i+"/core/bottom_triangle.png") 11px center no-repeat;
		}
		
		>ul {
			margin: 15px 0 0 23px !important; 
			padding: 0 0 10px 0;
			display: none;
			li{
				padding-left: 6px;
			}
		}
		
	}
	
}


.classItem {
    @include clearfix;
    position:relative;
    padding:5px;
    margin:0 0 5px 0;
    background-color: #fdfdf8;
    border:1px solid #eee;
    border-left:6px solid #eee;
    border-top:1px solid #eee;

    &:hover {
        border-color:gray;
    }

    p {
        margin-bottom:3px;
    }

    .dtend,
    .dtstart {
        text-transform: capitalize;
    }

    .classSessions {
        display:none;
    }


    /* Date, tutor, location */


    .class-item-info {
        @include clearfix;
        width:82%;
        float:left;


        div {
            line-height:1.5;
            padding:2px 0 2px 19px;
        }

        .class-item-info-l {
            float:left;
            width:40%;
            line-height:1;
            padding:0;
        }

        .class-item-info-r {
            @extend .class-item-info-l;
            float:right;
            width:60% !important;
        }

        .summary {
            display: none;
        }


        .date {
            line-height:1.8;
            background: {
                image: url(""+$i+"/icon/calendar.png");
                position: left top;
                repeat: no-repeat;
            }
        }

        .tutor {
            background: {
                image: url(""+$i+"/icon/person.png");
                position: left 4px;
                repeat: no-repeat;
            }

        }

        .location {
            background: {
                image: url(""+$i+"/icon/location.png");
                position: left top;
                repeat: no-repeat;
            }
        }

        .price {
			position: relative;
			margin: 0 0 0 -23px;
			white-space: nowrap;

			.discount-price {
				color:#999999;
			}

			.fee-disabled {
				text-decoration:line-through !important;
				color:gray !important;
			}

			.fee-discounted {
				color: #921;
				margin-left:5px;
			}

			acronym.discount-price {
				cursor:help;
			}
        }

    }

    .classAction {
        float:right;
        width:18%;
        text-align:right;
        font-size:11px;
        line-height:1.5;

        > div {
            margin-bottom:3px;
        }
    }

    /* Enrol button*/
    .enrolAction {
        display:inline-block;
        border: 0;
        margin:0 0 3px 0;

        &.disabled {
            background: #F9F9F9 !important;
            text-indent: 0 !important;
            text-align: center !important;
            border: 1px solid #CCC !important;
            color: #888 !important;
            font-size: 13px;
            cursor:default;
        }

        &.enrol-added-class {
            background-image:none !important;
            text-indent: 0 !important;
            text-transform:uppercase !important;
            text-decoration:none;
        }
    }


    .courseAddOrder {
        padding-right:15px;
        background: {
            image: url(""+$i+"/icon/add.png");
            position: right 4px;
            repeat: no-repeat;
        }
    }

    .courseEmail {
        padding-right:15px;
        background: {
            image: url(""+$i+"/icon/email.png");
            position: right 5px;
            repeat: no-repeat;
        }
    }

}




/* Class details title */


.class-details-title {
	@include clearfix;
	position: relative;
	min-height:40px;
	margin:0 0 5px 0;

	> h1 {
		margin:0 210px 0 0 !important;
	}
	> .print-page {
		position:absolute;
		top:0;
		right:0;
		padding: 6px 10px 6px 40px;
		text-align: right;
		color: brown;
		font-weight: bold;
		font-size:14px;
		border: 1px solid silver;
		background: {
            image: url(""+$i+"/icon/printer1.png");
            position: 4px 4px;
            repeat: no-repeat;
        }
        @include border-radius(10px);
	}
}




/* Show more courses -------------------------*/


.showMoreAction {
    background: {
        image: url(""+$i+"/icon/go-down.png");
        position: 5px center;
        repeat: no-repeat;
    }
    padding: 10px;
    padding-left: 50px;
    color: brown;
    font-weight: bold;
    font-size: 14px;
    line-height:1.5;
    margin:18px 0 28px 0;
    border: 1px solid silver;
    text-decoration:none !important;
    cursor:pointer;
    @include border-radius(10px);

    &:hover {
        background-color:#f0f0f0;
    }
}


/* Show more courses btn */

#showMore .message {
	text-align: center;
	background: #fff;
	border: 1px solid #ccc;
	padding: 5px 0;
	border-radius: 10px;
	background-image: url(""+$i+"/loading.gif");
	background-repeat: no-repeat;
	background-position: center center;
	height: 35px;
}

#showMore .showMoreAction {
	display: none;
	visibility: hidden;
	height: 0px;
}

a[id*="showMoreCourses"] {
    text-decoration:none !important; 
}