/**
 *  _enrol.scss
 *
 *  Enrolment styling.
 *
 *
 */
 


/* Payment page */


.payments {
    border: none;
    width: 100%;
    margin-bottom: 20px;

    br {
        display:none;
    }

    .left {
        float:left;
    }

    .right {
        float:right;
    }

    th {
        text-align:left;
        border:0 !important;
        font-weight:normal !important;
    }

    > thead > tr:first-child > th {
		color:#334455;
		font-size:18px;
		padding: 0;
		width: 100%;
		border: none;
		border-bottom:3px solid #CCCCCC;
		span {
			color:#AAAAAA;
			font-size:13px;
            vertical-align:middle;
		}
	}

	tbody td {
		border: none;
		border-bottom:1px solid #D6D6D6;
	}
	tbody td em {
		color:#888888;
		font-size:11px;
		font-style:normal;
		margin-left:25px;
	}
	div {
	    margin-bottom: 0;
	}
	tbody#totals tr {
		background:#F7F7F7;
		border-top:2px solid #D6D6D6;
	}
	tbody td.alignright {
	    text-align: right;
	    width: 90px;
		 span + span {
			color: #921;
			margin-left:5px;
		}
		.fee-disabled {
			text-decoration:line-through !important;
			color:gray !important;
		}

        span.collapse {
            display:none;
        }

	}

	tbody.totals td {
	    border-top:1px solid #D6D6D6;
	    font-weight: bold;
	}

    .collapse {
        display:none;
    }

    .add-concession {
        cursor:pointer;
        background:transparent url(/s/img/add.png) no-repeat scroll 3px 50%;
        padding:5px 0 5px 24px;
    }


	.concessionEditor {
		width:100%;
		font-weight:bold;
		th {
			font-size:13px;
		}
	}

	tbody form {
		label {
			display:block !important;
			width:auto !important;
			max-width:100% !important;
			text-align:left !important;
		}
	}

	input.concession-button {
		float:left;
		margin-left:30%;
		border: 1px solid #d1d1d1;
		padding: 3px 10px;
		color: #000;
		cursor: pointer;
		@include gradient(#ffffff, #eeeeee, 100%, blank);
		@include border-radius(3px);

		&:active {
			@include gradient(#eeeeee, #ffffff, 100%, blank);
		}

		&:hover {
			border-color: #aaaaaa;
		}
	}

	.cancelConcessionAdd {
		margin-left:26%;
        padding-left:20px;
		top: 4px;
		position: relative;
	}
}

span#addstudent, span#questionnaire {
	background:transparent url(/s/img/add.png) no-repeat scroll 3px 50%;
	margin:0 0 0 8px;
	padding:5px 0 5px 24px;
}

#addstudent-block.collapse {
	display:none;
}

#paymentform {
	.conditions {
		position: relative;
		top: -20px;
		left: 20%;
		padding-left:20px;
		width: 60%;
	}
	> div label {
		display: inline-block;
		text-align: right;
		max-width: 140px;
		width:26%;
		padding-right: 20px;
		vertical-align: middle;
		font-weight: bold;
	}
}

span.ended
{
	vertical-align: baseline;
}

/********************************************************************************************************************************/


.info-bar{
	color: #3A87AD;
	background-color: #D9EDF7;
	padding: 8px 14px 8px 14px;text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	border: 1px solid #BCE8F1;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin: 0 10px 25px 10px;
}

.payments{
	.message {
		color: #3A87AD;
		background-color: #D9EDF7;
		padding: 8px 14px 8px 14px;
		text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
		border: 1px solid #BCE8F1;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		margin: 0 10px 25px 10px;
	}
	
	.validation {
		color: #B94A48;
		background-color: #F2DEDE;
		border:1px solid #EED3D7;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
		padding: 8px 35px 8px 14px;
		margin: 0 10px 25px 10px;
	}
}

#checkout label.corporatePass-label {float: none;}
.error-msg {
	color: #B94A48;background-color: #F2DEDE;
	border:1px solid #EED3D7;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	padding: 8px 35px 8px 14px;
	margin: 0 10px 25px 10px;
}


