/**
 *  _layout.scss
 *
 *  Layout styles.
 *
 */





/* Courses list
----------------------------------------*/



/* Search terms -------------------------*/

.search-terms {
    @include clearfix;
    color: black;
    padding: 4px 0px 4px 30px;
    margin:0 0 6px 0;
    border: 1px solid transparent;
    min-height: 16px;
    line-height:1.6;
    background: {
        image: url(""+$i+"/search2.png");
        repeat:no-repeat;
        position: 7px center;
    }

    &:hover {
        border: 1px solid gray;
    }

    span.search-value {
        margin: 0;
    }

    img {
        margin-bottom: -4px;
    }

    /* Label */
    #search_query {
        width: 85%;
        float: left;
        line-height:1.7;

        > div, > span {
            display:inline-block;
        }

        .highlighter {
            background-color: transparent;
            border: 1px solid transparent;
        }

        .search-highlight {
            background-color: rgb(252,244,178); /*border:1px solid rgb(228,185,46);*/
        }

        .no-highlight {
            border: 1px solid transparent;
    
            &:hover {
                border: 1px solid rgb(228,185,46);
            }
        }

        .tag-crumb-title {
            color: green;
        }

    }

    .search-value {
        border: 1px solid transparent;
        padding: 2px 3px 2px 2px;

        img {
            display: inline;
            padding: 2px;
            border: 1px solid transparent;
            background-repeat: no-repeat;
            background-position: 2px 2px;
            margin-top: -6px;
        }

        .search-remove {
            margin-left: -8px;
            padding: 0;
            margin-right: -6px;
        }

        &:hover .search-remove {

            img {
                background: {
                    image: url(""+$i+"/x.gif");
                    repeat:no-repeat;
                    position: left top;
                }
            }

           &:hover img {
                border: 1px solid red;
                background-color: white;
                border-radius: 3px;
                -moz-border-radius: 3px;
                -webkit-border-radius: 3px;
            }

        }
    }



    /* Show map */
    #toggle-results-map {
        float: right;
        margin:0 7px 0 0;

        a {
            border: 1px solid transparent;
            padding: 2px;

            &:hover {
                border: 1px dotted silver;
            }
        }

        .toggle_locations {
            background: {
                image: url(""+$i+"/icon/location.png");
                repeat:no-repeat;
                position: left 2px;
            }
            padding-left: 16px;
        }
    }
}








/* Sites list
----------------------------------*/

.siteList {
    list-style:none !important;
    margin:0 !important;

	> li {
	    margin:0 0 18px 0;
	    padding:7px;
	    border:1px solid #eee;
	    @include border-radius(5px);

		h3 {
		    margin-bottom:10px;
			color:#000;
		    a {
		        color:inherit;
		        text-decoration: none;
		        &:hover {
		            text-decoration: underline;
		        }
		    }
			&:first-child {
				display: none;
			}
		}
	}
}

.sites-loc-wrapper {
	@include clearfix;

	.sites-map-link {
		float: left;
		width: 45%;
		a {
			padding-left: 18px;
		}
	}

	.class_location {
	    padding:2px 0 2px 18px;
	    
		background: {
			image: url(""+$i+"/icon/location.png");
			position: left top;
			repeat: no-repeat;
		}
	}

	.siteAddress {
		float: right;
		width: 45%;
		text-align: right;
		> span {
			display: block;
		}
		.street-address {
			margin: 0 0 3px 0;
			font-weight: bold;
		}
	}
}

/* Direction page
-----------------------------*/

.locationInfo {
	margin-bottom: 18px;
	.adr-site-name {
		margin-bottom: 5px;
		font-weight: bold;
	}
}

.directions-wrapper {
	margin-bottom: 18px;
}

.content {
	#mapStatic {
		display:none;
	}
}


/* Footer links */

#footer_links {
	@include clearfix;

	li {
		float:left;
		margin:0 0 0 10px;
	}
}

/* Addthis block */


.addthis {
    float:right;
	width: 105px;
}

.page-title {
    float:left;
}