/**
 *  _print.scss
 *
 *  Print stylesheets.
 *
 *
 */



@media print {
	* {
	    color: black !important;
	    width:auto !important;
		min-height:auto !important;
		max-height:auto !important;
		max-width: auto !important;
		min-width:auto !important;
		text-shadow: none !important;
		filter:none !important;
		-ms-filter: none !important;
		float:none !important;
		overflow:visible !important;
		padding:0 !important;
		margin:0 !important;
		position:static !important;
		font:sans-serif !important;
		font-size:inherit !important;
		-moz-border-radius:none !important;
		-webkit-border-radius:none !important;
		border-radius:none !important;
		border:none !important;
		text-align:left !important;
		background: transparent !important;
	}

	#content {

	    font-family: 'Times New Roman', Times, serif;
	    font-size:12pt;

		.highlight {
		    border-left:2px solid gray !important;
		    padding-left:5pt !important;
			margin-left:20pt !important;
			margin-right:20pt !important;
		}


		.session-table {
		    width:100% !important;
			td {
				padding:5pt !important;
			}
		}
		.courseItem {
		    padding-bottom:3pt !important;
			border-bottom:1px dashed #000000 !important;
			margin-bottom:1em !important;
			.description,
			.classItem {
				margin-left:10pt !important;
			}




		}



		.class-item-info {

        div {
            line-height:1.5;
        }

        .class-item-info-l, .class-item-info-r {
            float:left !important;
            width:35% !important;
            line-height:1 !important;
            padding-bottom:10pt !important;
        }

        .class-item-info-r {
            float:right !important;
            width:65% !important;
        }

        .summary {
            display: none  !important;
        }


        .date {
            line-height:1.8;
            background: {
                image: url(""+$i+"/icon/calendar.png");
                position: left top;
                repeat: no-repeat;
            }
        }

        .tutor {
            background: {
                image: url(""+$i+"/icon/person.png");
                position: left 4px;
                repeat: no-repeat;
            }

        }

        .location {
            background: {
                image: url(""+$i+"/icon/location.png");
                position: left top;
                repeat: no-repeat;
            }
        }

    }

		.class-more-descr,
		.courseShortDescription {
			height:auto !important;
			min-height:inherit !important;
			position:static !important;
		}

		ol, ul {
			margin-left:1.5em !important;
		}

		#mapStatic {
			display:none !important;
		}

	}


	h1 {
		font-size:1.5em !important;
	}

	h2 {
		font-size:1.3em !important;
	}

	h3 {
		font-size:1.1em !important;
	}


	h1, h2, h3, h4, h5, h6, p {
		margin-bottom: 0.6em !important;
	}

	p {
		margin-bottom: 0.8em !important;
	}

	h1, h2, h3, h4, h5, h6 {
		color:darkblue !important;
	}

	#header {
		h1 {
		    border-bottom:2px solid gray !important;
			padding-bottom:10pt !important;
		    color:darkgreen !important;
			font-size:1.7em !important;
			height:auto !important;
			a {
			    text-indent:0 !important;
				color:darkgreen !important;
			}
		}
	}

	#container a, #container a:visited {
		color: #444 !important;
		text-decoration: none;
	}

	h1 a, h2 a, h3 a, h4 a,
	h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited {
		color:darkblue !important;
	}

	pre, blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	thead {
		display: table-header-group;
	}

	tr, img {
		page-break-inside: avoid;
	}

	@page {
		margin: 0.5cm;
	}

	p, h2, h3 {
		orphans: 3;
		widows: 3;
	}

	h2, h3 {
		page-break-after: avoid
	}

	.header-toolbar,
	.site-nav,
	.sidebar-left,
	.sidebar-right,
	.center-banner,
	.site-footer,
	.dialogContainer,
	.search-terms,
	#showMoreCourses,
	.enrolAction,
	.waiting-list-title,
	.class-more,
	#fp_feed_container,
	#nav-global,
	#gmapCanvas,
	.classStatus,
	.print-page,
	.directions-wrapper,
	.bubbleInfo,
	.global-navi,
	#frontpage_slider,
	#frontpage_slider_pager,
	.more,
    .header-contacts,
    #link-grid,
    .header-block,
    #sidebar {
		display:none !important;
	}

}