/**
 *  _product.scss
 *
 *  Styling for product information.
 *
 *
 */

/* product item ------------------------*/

/* Product page style */
.producItem {
	.classItem {
		background-color: #fff;
		border: none;
		padding: 5px 5px 5px 0;

		&:hover .bubbleInfo {
			display: none;
		}

		.class-item-info {
			.class-item-info-l {
				width: auto;
        float: none;
        
				.info {
					padding-left: 0;
					padding-top: 0;
          
          ul {
            margin-left: 65px;
          }
					
					abbr, span, a {
						color: #000;
					}
					div.label {
						padding:0 3px 0 0;
						float: left;
						min-width: 57px;
						color: #808080;
						background: none;
						text-shadow: none;
						font-weight: normal;
					}
					
					div.label, div.label + div {
						line-height: 1.5;
					}
					
					div.label + div {
						color: #000;
            padding-left: 0;
            padding-top: 0;
					}
				}
			}
			.class-item-info-r {
				width: 55%;
			}
		}
		.dtend, .dtstart {
			text-transform: none;
		}
	}
  
  .classAction .enrolAction {
    background: #CE1126;
    color: #FFF;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    padding: 2px 5px 2px 5px;
    line-height: 1.5;
    font-size: 12px;
    
    &:hover {
      color: #FFF;
      background-color: #A90E1F;
      text-decoration: none !important;
    }
  }
}