/***
*
* _responsive-3-medium.scss
*
* Responsive CSS for tablet size devices in landscape
*
* From 768px to 979px width
*
*/

@media (min-width: 768px) and (max-width: 979px) {

	@if $responsive == on {

		body {
			padding: 0 20px;
		}
		
		.site-logo {
			margin: 0;
		}
		
		.site-wrapper {
			width: 711px;
			padding-left: 0;
			
			.center-banner {
				width: auto;
				
				#frontpage_slider {
					width: auto;
					height: 170px;
					
					img {
						height: auto;
					}
				}
			}
			
			.content {
				width: 460px;
				left: 230px;
				margin: 0 10px;
			}
		}
		
		.sidebar-left {
			right: 480px;
			width: 185px;
			padding: 30px 20px 0 20px;
		}
		
		.site-title {
			width: 158px;
			top: 11px;
		}
		
		.search-box {
			width: 207px;
			height: 40px;
			
			input[type="text"] {
				width: 145px;
			}
		}
		
		.search-terms #search_query {
			width: 45%;
		}
		
		.shortlistInfo p {
			width: 70px;
		}
		
		/*.classItem .class-item-info .class-item-info-l, .classItem .class-item-info .class-item-info-r {
			padding: 10px;
			display: block;
			width: auto !important;
			float: none;
		}
		
		.classItem .class-item-info, .classItem .classAction {
			float: none;
			width: auto;
		}
		
		.classItem .classAction {
			padding: 0 10px;
		}
		
		.bubbleInfo {
			left: -5px;
			top: -140px;
			
			.arrow {
				display: none;
			}
		}*/
	}
}