/***
*
* _responsive-1-tiny.scss
*
* Responsive CSS for mobile phone size devices in portrait
*
* Up to 520px width
*
*/


@media (max-width: 520px) {

	@if $responsive == on {
	
		body {
			padding: 0 20px;
			
			iframe [name="google_conversion_frame"] {
				width: 100%;
			}
		}
		
		.site-container {
			border: 0;
		}
		
		#nav-global {
			display: none;
		}
		
		.site-logo {
			width: auto;
			margin: 0;
			background-size: contain;
			
			a {
				width: auto;
			}
		}
		
		.site-wrapper {
			width: auto;
			
			.center-banner {
				width: auto;
				
				#frontpage_slider {
					display: none !important;
				}
			}
			
			.content {
				width: auto;
				left: 0;
				float: none;
				margin: 0 10px;
				
				.courses-list-sub>li ul li {
					float: none;
					width: auto;
				}
			}
		}
		
		.sidebar-left {
			right: 0;
			width: auto;
			float: none;
			padding: 30px 20px 0 20px;
			
			.taggroup-1979 {
				
				~ .title {
					display: none;
					
					~ .courses-list {
						display: none;
					}
				}
				
			}
			
			a[rel="nofollow"] {
				display: none;
			}
			
			#sidebar_slider {
				display: none;
			}
		}
		
		#search-button {
			margin-left: 0;
		}


		.search-box {
			right: 15px;
			height: 27px;
			width: 165px;
			bottom: 5px;
			
			form#search {
			
				input[type="text"] {
					width: 111px;
				}
			}
		}
		.site-title {
			right: 10px;
			top: 14px;
			width: 180px;
			display: none;
		}
		
		#search-field {
			width: 90%;
		}
		
		/**/
		.header-toolbar {
			display: none;
			position: relative;
			width: auto;
			margin: 15px 0 5px 0;
		}
		
		.shortListOrder {
			top: 77px;
			left: 10px;
			right: auto;
		}
		
		.short-list {
			width: 185px;
			display: inline-block;
		}
		
		.discount-block {
			width: 165px;
			display: inline-block;
			text-align: center;
		}
		
		.site-nav {
			display: none;
		}
		
		/*.site-nav {
			
			li {
				
				&:hover {
				
					ul {
						display: none;
					}
				}
				
				> ul {
					position: relative;
					width: auto;
				}
			}
			
			> ul {
				padding: 14px 11px 11px 11px;
			
				> li {
					float: none;
					
					i {
						display: block;
					}
				}
			}
		}*/
		
		#timeline-wrap {
			width: 90%;
			position: absolute;
			left: 0;
			right: 0;
			margin: 0 auto;
			
			#timeline {
				width: auto;
			}
		}
		
		.footer-logo {
			float: right;
			margin-top: 14px;
		}
		
		.acknowledgement {
			display: none;
		}
		
		.footer-info div {
			display: none;
		}
	}
}