/***
*
* _responsive-2-small.scss
*
* Responsive CSS for mobile phone size devices in landscape
* or for tablet size devices in portrait
*
* From 521px to 767px width
*
*/


@media (min-width: 521px) and (max-width: 767px) {

	@if $responsive == on {

		body {
			padding: 0 20px;
		}

		.site-wrapper {
			width: auto;
			
			.content {
				width: auto;
				left: 0;
			}
		}
		
		.site-logo {
			margin: 0;
		}
		
		.site-nav {
			
			li {
				
				&:hover {
				
					ul {
						display: none;
					}
				}
				
				> ul {
					position: relative;
					width: auto;
				}
			}
			
			> ul {
				padding: 14px 11px 11px 11px;
			
				> li {
					float: none;
					
					i {
						display: block;
					}
				}
			}
		}
		
		.site-container {
			
			.site-header {
				
				form#search {
					margin: 10px 0 0 10px;
				}
			}
			
			.sidebar-left {
				right: 0;
				width: auto;
				float: none;
				padding: 30px 20px 0 20px;
				clear: both;
			}
			
			.content {
				width: auto;
				margin: 0;
				padding: 0 20px;
			}
			
			.center-banner {
				width: auto;
				
				#frontpage_slider {
					width: auto;
					height: auto;
					
					img {
						height: auto;
					}
				}
			}
			
		}
		
		.header-toolbar {
			position: relative;
			width: auto;
			min-height: 85px;
		}
		
		.site-title {
			right: -10px;
			top: 12px;
			width: 170px;
		}
		
		.search-box {
			width: 238px;
			bottom: -6px;
			right: 10px;
		}
		
		.short-list, .discount-block {
			display: inline-block;
			width: 45%;
		}
		
		.discount-block {
			text-align: right;
		}
		
		.shortlistInfo p {
			width: 70px;
		}
		
		#timeline-wrap {
			width: 90%;
			position: absolute;
			left: 0;
			right: 0;
			margin: 0 auto;
			
			#timeline {
				width: auto;
			}
		}
		
		.search-terms #search_query {
			width: 45%;
		}
		
		.classItem .class-item-info .class-item-info-l {
			width: 46%;
		}
		
		.classItem .class-item-info .class-item-info-r {
			width: 53% !important;
		}
	}
}