/**
*
* theme1.scss
*
* Styles for Default site.
*
* Layout, colors, fonts.
*
*/




/**
*
* Common Colours
*
*/

/* Vars */

$general: #F3E5AB;
$second: #eee;

$font-color: #444;
$link-color: #36C;
$link-hover: #c33;



body {
    color:$font-color;
}

/* Links */
a:link, a:visited {
    color: $link-color;
    text-decoration: underline;
}

a:active, a:focus {
    color: $link-hover;
    text-decoration: underline;
}

a:hover {
	color: $link-hover;
}


/* Content headers color */
.content-container, .dialogBox {

    h1, h2, h3, h4, h5, h6 {
        color: $font-color;
    }

    h5, h6 {
        font-weight: bold;
    }

    blockquote {
        padding:0 12px;
        line-height:1.5;
        margin:18px 0;
        border-top: 1px solid $second;
        border-bottom: 1px solid $second;
        color: #666;
    }
}

hr {
    background:#ddd;
    color:#ddd;
    height:1px;
    border:0;
}

.sidebar-right,
.sidebar-left {
    line-height:1.5;

	h2, h3, h4, h5, h6 {
	    font-weight: bold;
	    font-size: 14px;
		margin: 0 0 15px 0;
		padding: 5px 8px;
		background: $general;
	}

	p {
		margin-bottom: 15px;
	}
}


/**
*
* Fonts
*
*/






/**
*
* Main Layout
*
*/

/* Site wrapper */


.site-container {
	width: 960px;
	margin: 0 auto;
}



/* Header */

.site-header {
    position: relative;
    padding: 15px 0 0 0;
}



/* Navigation */

.site-nav {
    clear: both;
    z-index: 6;
    position:relative;
	padding: 2px 0 0 0;
	border-top:1px solid $second;

    ul {
        @include clearfix;
        list-style: none;
        background: $second;
        padding: 0 15px;

        &:empty {
            visibility: hidden;
        }
    }

    > ul > li {
        z-index: 6;
        position: relative;
        margin:0 15px 0 0;
        padding: 15px;
        float:left;

        &:hover {
            background:#fff;
            > ul {
                display: block;
            }
        }

        > a {
            display: block;
            font-size: 12px;
            font-weight: bold;
            color:$font-color;
            text-transform:uppercase;
            text: {
                decoration: none;
            }

            &:hover {
                color:$font-color;
            }
        }

        ul {
            display: none;
            position: absolute;
            left: 0;
            margin: 5px 0 0 0;
            width: 160px;
            background: #fff;
            border-bottom: 1px solid $second;
            padding: 10px 20px;
            list-style: none;
            z-index:6;

            li {
                margin: 0 0 8px 0;
                line-height:1.2;

                > ul {
                    display: none;
                }
            }

            a {
                color:$link-color;
                text-decoration:none;

                &:hover {
                    color:$link-hover;
                }
            }


        }


    }
}





/* Content */


.content-container {
    position: relative;
    padding: 20px 0 25px 0;
    background: #fff;
    @include clearfix;
}


.content {
    width: 560px;
    float: left;
    position: relative;
    z-index: 0;

    .clear {
        clear: both;
    }
}

.sidebar-left {
    width: 200px;
    padding: 0 20px 0 0;
    float: left;
    display: block;
}

.sidebar-right {
    width: 160px;
    padding: 0 0 0 20px;
    float: right;
    display: block;
}


/* Footer */

.site-footer {
	position: relative;
    border-top: 1px solid $second;
    padding: 10px 0;
    color: #666;
    line-height: 1.3;
    text-align:center;
    font-size: 11px;
}

.footer-container {
    @include clearfix;
    margin: 0 0 10px 0;
}






/**
*
* Blocks Layout
*
*/



/* Header
------------------------------------*/

.header-hgroup {
	float: left;
	padding: 20px;
	background:$general;
	min-height: 115px;
	width: 690px;
}

.site-logo {
    font-size: 16px;
    color:$font-color;
    margin: 0 0 18px 0;
    a {
        color:$font-color;
        display: block;
        text-decoration: none;
    }
}

/* Logo */
.site-title {
    font-size: 32px;
	color:$font-color;
    a {
        color:$font-color;
        display: block;
		text-decoration: none;
    }
}


.header-toolbar {
    display: block;
    float: right;
    width: 217px;
    z-index:7;

    .short-list {
        width: 180px;
        z-index: 9;
        background-color: $general;
        border: 1px solid #FFFFFF;
        padding: 12px 12px 10px;
        margin:0 0 7px 0;


        h3 {
			display: none;
		}
		.closeButton {
			display: none;
		}
		ul {
			overflow: hidden;
			clear: both;
		}
    }

    .shortlistInfo {
		@include clearfix;
		min-height: 55px;
		line-height:19px;
		span {
			font-size: 55px;
			font-weight: bold;
			color: $font-color;
			float: left;
			display: block;
			margin: 10px 5px 0 0;
		}
		p {
			overflow:hidden;
		}

	}

    .discount-block {
		font-size: 11px;

		a {
			margin: 0 5px 0 0;
		}
    }

    .header-account {


    }

    .search-box {
        @include clearfix;

        [type="text"] {
            width:155px;
            vertical-align: top;
            font-size:11px;
            padding: 3px 0 3px 8px;
            color:#000;
            border: 1px solid #ccc;
            margin: 0;
        }


        [type="submit"] {
            vertical-align: top;
            width: 35px;
            height: 22px;
            padding: 0 2px;
            font-size:11px;
            color:#000;
            margin:0;
            vertical-align: middle;
        }

    }

    .advanced-search-button {
        padding:2px 0;
        > a {
            color: #000;
            font-size: 11px;
            background: none !important;
            > span {
                background: none !important;
                color: #000;
            }
        }
    }
}

@-moz-document url-prefix() {
	.search-box [type="text"] {
		padding-bottom:4px !important;
	}
}

#advanced_search {
	margin: 17px 0 0 0;
	top:auto;
}

#advanced_search_container {
	[type="submit"] {
		width: auto;
	}
}


.shortListOrder {
    display: none;
    position: absolute;
    background-color: #000;
    padding: 10px;
    margin:28px 0 0 0;
    z-index:10;
    width:175px;


    li {
        color: #fff;
        position: relative;
        padding: 0 15px 0 0;
        margin:0 0 10px 0;

        > div {
            display: none;
        }
    }

    a {
        color: #fff;
        text-decoration: none;
        display: block;
    }

    .deleteItem {
        font-size: 10px;
        color: #fff;
        text-indent: -9999px;
        width: 16px;
        height: 16px;
        background: transparent url(""+$i+"/b-cut.png") no-repeat scroll 3px 50%;
        position: absolute;
        right: 0;
        top:0;
        display:inline-block;

        &:hover {
            background-color: #990000;
            opacity: 0.9;
        }

        &.loading {
            background: transparent url(""+$i+"/icon/ajax-loader.gif") no-repeat left top;
        }

        a { /* Preload image */
            background: url(""+$i+"/icon/ajax-loader.gif") no-repeat -9999px -999px;
        }
    }

    a.shortlistLinkEnrol {
        margin: 10px 0 0 0;
        display: inline-block;
        background: #CE1126;
        color: #fff;
        text-transform: uppercase;
        font-weight: bold;
        text-decoration: none;
        padding: 4px 5px 4px 5px;

        &:hover {
            background-color: #A90E1F;
        }
    }

    .shortListOrderEnrol {
        text-align: right;
    }
}

.shortlistControls {
    display: block;
    @include clearfix;
    border-bottom:1px solid #000;
    margin:10px 3px 0 0;

    li {
        float: left;
        padding: 0 6px;
        line-height: 1.5;

        &:first-child:hover, &.active {
            background-color: #000;
            color: #fff;
            a {
                color: #fff;
            }
        }

        a {
            color: #515151;
            text-decoration: none;
        }
    }

    .shortlistActionShow,
    .shortlistActionHide {
         width: 79px;
    }

    .shortlistActionHide {
        display: none;
    }
}





/* Content courses list
----------------------------------------*/


.content {
	.courses-list {
		list-style: none;
		ul {
			list-style: none;
		}
		
	}
	.courses-list-sub2 {
		.courses-list-sub2 {
			display: none;
		}
	}
}





/* Footer
----------------------------------------*/


.footer-logo {
	float: right;
}

.footer-info {
    float: left;
    text-align: left;
    a {
        text-decoration: none;
    }
    img {
        vertical-align: middle;
    }
}



/**
*
* Page Specific
*
*/


/* Sub-pages layout
--------------------------------------*/






/* Courses
----------------------------------------*/



