/**
 *  _widgets.scss
 *
 *  Popups, dialogs, tooltips...
 *
 */



/* Courses Popup */

.classItem:hover .bubbleInfo {
    display:block;
}

    .bubbleInfo {
        display:none;
        position: absolute;
        z-index: 10;
        border-collapse: collapse;
        left:-245px;
        top: -20px;
        width:224px;
        padding:0 23px 0 0;
        font-family:Arial, Helvetica, sans-serif;


            .arrow {
                position:absolute;
                right:-23px;
                top:16px;
                width:23px;
                height:27px;
                background: {
                    image: url(""+$i+"/popup-arrow.png");
                    position: right top;
                    repeat: no-repeat;
                }
            }


            .tooltip_popup {
                position:relative;
                padding:20px 15px;
                background-color:#fff;
                border:1px solid #a2a2a2;
                @include border-radius(15px);
                @include box-shadow(-2px 3px 8px #666);
            }

            .bubble_top {
                margin-bottom:15px;
            }


        /*.tooltip_popup .bubble_top {
            background: {
                image: url(""+$i+"/bubble2_top_left.png");
                position: left top;
                repeat: no-repeat;
            }
            padding-top:27px;
            padding-bottom:0;
            margin:0;
            height:34px;
            overflow:hidden;
            border-collapse:collapse;
        }

        .tooltip_popup .bubble_middle {
            background: {
                image: url(""+$i+"/bubble2_middle_left.png");
                repeat: repeat-y;
            }
        }

        .tooltip_popup .bubble_bottom {
            background: {
                image: url(""+$i+"/bubble2_bottom_left.png");
                position: left top;
                repeat: no-repeat;
            }
            height:24px;
        }

        .tooltip_popup .bubble_content {
            padding-left:25px;
            padding-right:50px;
        }
*/
        .class-link, .course-link {
            background-repeat: no-repeat;
            padding-left:19px;
            background-position:0 4px;
            padding-top:3px;
        }

        .class-link {
            background: {
                image: url(""+$i+"/printer.png");
                position: left top;
                repeat: no-repeat;
            }
            margin:0 0 2px 0;
        }

        .course-link {
            background: {
                image: url(""+$i+"/icon/documentinfo.png");
                position: left 5px;
                repeat: no-repeat;
            }
            line-height:1.4;
        }

        .waiting-list .waiting-list-title a {
            line-height: 1;
        }

        .waitinglist-block {
            width:100%;
            overflow:auto;
        }

        /* Timing display */
        .timing-display {
            display:inline-block;
            font-weight:bold;
            border: 1px solid silver;
            padding:2px;
            margin-right: 3px;
            background-color:white;
        }

        .timing-yes {
            color:rgb(68,68,68);
        }

        .timing-no {
            color:silver;
        }

        .timing-display img {
            display:inline;
            width:16px;
            margin:0;
            margin-bottom:-5px;
        }

        .timing-daytime {
            background: {
                image: url(""+$i+"/sun6-faded.png");
                position: -1px top;
                repeat: no-repeat;
            }
            padding:0;
        }

        .timing-evening {
            background: {
                image: url(""+$i+"/moon6-faded.png");
                position: -1px top;
                repeat: no-repeat;
            }
            padding:0;
        }

        .timing-daytime-yes {
            background: {
                image: url(""+$i+"/sun6.png");
                position: left top;
                repeat: no-repeat;
            }
        }

        .timing-daytime-match {
            background: {
                image: url(""+$i+"/sun6-green.png");
                position: left top;
                repeat: no-repeat;
            }
        }

        .timing-daytime-fail {
            background: {
                image: url(""+$i+"/sun6-red.png");
                position: left top;
                repeat: no-repeat;
            }
        }

        .timing-evening-yes {
            background: {
                image: url(""+$i+"/moon6.png");
                position: left top;
                repeat: no-repeat;
            }
        }

        .timing-evening-match {
            background: {
                image: url(""+$i+"/moon6-green.png");
                position: left top;
                repeat: no-repeat;
            }
        }

        .timing-evening-fail {
            background: {
                image: url(""+$i+"/moon6-red.png");
                position: left top;
                repeat: no-repeat;
            }
        }

        .time-evening, .time-daytime {
            background-repeat:no-repeat;
            padding-left: 16px;
            margin-left:-6px;
        }

        .time-evening {
            background: {
                image: url(""+$i+"/moon6-faded.png");
                position: left top;
                repeat: no-repeat;
            }
        }

        .time-daytime {
            background: {
                image: url(""+$i+"/sun6-faded.png");
                position: left top;
                repeat: no-repeat;
            }
        }

        .timing-match {
            color: #0f6e00;
        }

        .timing-fail {
            color: #c53628;
        }

    }



/* Google map
---------------------------------------*/

#gmapCanvas {
    height: 300px;
    margin-bottom: 18px;
    width: 100%;
}

#sitesMap {
    visibility: hidden;
    height: 0px;
    overflow: hidden;
    position: relative;
    margin-bottom: 18px;
    $trans: height 200ms ease-in-out, visibility 200ms ease-in-out;
    @include transition($trans);
    &.show {
        visibility: visible;
        height: 300px;
    }
}



/**
 *
 *  Styling for nyryModal dialog boxes.
 *
 */

.nyroModalBg {
	position: fixed;
	overflow: hidden;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: #000;
	opacity: 0.7;
    z-index: 11;
}
.nmReposition {
	position: absolute;
}
.nyroModalCloseButton {
	top: -13px;
	right: -13px;
	width: 12px;
	height: 12px;
	text-indent: -9999em;
	background: url(""+$i+"/common/close.gif");
    z-index: 12;
}
.nyroModalTitle {
	top: -26px;
	left: 0;
	margin: 0;
    font-size: 1.1em;
    z-index: 12;
	color: #ddd;
    display: none;	
}
.nyroModalCont {
	position: absolute;
	border: 4px solid #777;
	margin: 25px;
	background: #fff;
    z-index: 12;
}
.nyroModalCont iframe {
	width: 600px;
	height: 500px;
}
.nyroModalError {
	border: 4px solid red;
	color: red;
	width: 250px;
	height: 250px;
}
.nyroModalError div {
	min-width: 0;
	min-height: 0;
	padding: 10px;
}
.nyroModalLink, .nyroModalDom, .nyroModalForm, .nyroModalFormFile {
	position: relative;
	padding: 10px;
	min-height: 250px;
	min-width: 250px;
	max-width: 1000px;
}
.nyroModalImage, .nyroModalSwf, .nyroModalIframe, .nyroModalIframeForm {
	position: relative;
	overflow: hidden;
}
.nyroModalHidden {
	left: -9999em;
	top: -9999em;
}
.nyroModalLoad {
	position: absolute;
	width: 100px;
	height: 100px;
	background: #fff url(""+$i+"/common/ajaxLoader.gif") no-repeat center;
	padding: 0;
}
.nyroModalPrev, .nyroModalNext {
	outline: none;
	position: absolute;
	top: 0;
	height: 60%;
	width: 150px;
	min-height: 50px;
	max-height: 300px;
	cursor: pointer;
	text-indent: -9999em;
	background: transparent url('data:image/gif;base64,AAAA') left 20% no-repeat;
}
.nyroModalImage .nyroModalPrev, .nyroModalImage .nyroModalNext {
	height: 100%;
	width: 40%;
	max-height: none;
}
.nyroModalPrev {
	left: 0;
}
.nyroModalPrev:hover {
	background-image: url(""+$i+"/common/prev.gif");
}
.nyroModalNext {
	right: 0;
	background-position: right 20%;
}
.nyroModalNext:hover {
	background-position: right 20%;
	background-image: url(""+$i+"/common/next.gif");
}

#popup-content {
    padding: 30px 54px;
    line-height:1.2;
    p {
        margin-bottom:10px;
    }
	.tutors_details {
		@include clearfix;
		
		ul.attachedImages, .tutor_pic {
			position: absolute;
			top: 40px;
			right: 65px;
			width: 55px;
			margin: 0 0 0 0;
			list-style: none;
			
			
			li img, img {
				box-shadow: 0 0 5px #333;
				padding: 2px;
				width: 55px;
			}
		}
	}
}





/* Timeline
------------------------------------- */

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 11;
    width: 100%;
    text-align: center;
    background-color: black;
}

#timeline-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -200px 0 0 -375px;
    padding: 10px;
    width: 750px;
    height: 400px;
    font-size: 90%;
    z-index: 12;
    background: white;
    border-right: 1px solid #888;
    border-bottom: 1px solid #888;
}

#timeline {
    width: 748px;
    height: 398px;
    background: #EEE;
    border: 1px solid #AAA;
}

.session-table {
    width: 95%;
	color: #333;

    td {
        padding: 5px;
    }
}

#timeline {
	background: #fff;
}

.session-table {
	font-size: 12px;
	margin: 10px 20px;
}

.sessions_in_timeline {
	padding: 0 19px 0;
}

.session-table a:link, .session-table a:visited {
	text-decoration: none;
	color: #125687;
	&:hover{
		text-decoration: underline;
	}
}

.session-table td {
	border-top: 1px solid #DDD;
	padding: 7px 0;
	text-align: left;
}

.session-table thead tr th {
	padding: 5px 8px;
	font-weight: bold;
	text-align: left;
}



@mixin dialogBox {
	background: rgba(255, 255, 255, 0.94);
	width: 250px;
	position: absolute;
	right: 100px;
	top: 100px;
	/*@include box-shadow(rgba(68, 68, 68, 0.3), 0px, 0px, 20px);*/
	/*@include border-radius(4px);*/
}


.confirmOrderDialog {
    display: none;
    width: 250px;
    position: absolute;
	right:150px;
	top: 100px;
	padding: 20px;
    background: #fff;
    border: 1px solid #444;
    z-index: 5;
    font-size: 14px;
    @include box-shadow(0px 0px 20px rgba(68, 68, 68, 0.3));
	@include border-radius(4px);

    div.closeButton {
        display: none;
    }

    div {
        margin-bottom: 3px;
    }

    .confirm-proseed .button {
        display: inline-block;
        padding: 5px 10px;
        color: #fff;
        background: #A90E1F;
        text-transform: uppercase;
        border: 0;
        text-decoration: none;
        font-size: 11px;
    }

    .classDate {
        font-size: 11px;
        color: #666;
    }

    .confirm-close-wrapper {
        border-top: 1px solid #444;
        padding: 10px 0 0 0;
        text-align: center;
        font-size: 16px;
    }
}


/* Search box (dropdown)*/




#search_box {
	h3 {
		display: none;
	}

	.show-advanced-search {
		span {
		    cursor:pointer !important;
		    padding:0 2px;
			&.adv_search_active {
				background-color: #000;
				background-color: rgba(0, 0, 0, 0.8);
				border:1px solid #fff;
				border-bottom:0;
			}
		}

	}

	#advanced_search_container {
		position: relative;
	}

	#advanced_search {
		display: none;
		background-color: #000;
		background-color: rgba(0, 0, 0, 0.8);
		width: 450px;
		padding: 15px;
		left:0;
		margin: 11px 0 0 -405px;
		position: absolute;
		z-index: -1;
		color: #fff;
		border:1px solid #fff;
	}

	.advanced-search-form {
		@include clearfix;

		> div {
			float: right;
			width: 45%;
			clear: right;
			text-align: left;
			margin-bottom:10px;
			margin-right:10px;
		}

		select, input {
			margin: 0;
		}
		input[type="text"] {
			width: 185px;
		}
		select {
			width: 196px;
		}

		#adv_search_keyword,
		#adv_search_tag,
		#adv_search_location {
			position: absolute;
			label {
				display: block;
				margin:0 0 3px;			
			}
		}

		#adv_search_time {
			margin-top:10px;
		}

		#adv_search_price label {
			display: block;
			margin:0 0 3px;
		}

		#adv_search_tag {
			margin-top: 51px;
		}

		#adv_search_location {
			margin-top: 97px;
		}

		#adv_search_submit {
			@include clearfix;
			padding-top:6px;
			button {
				float:right;
				cursor:pointer;
			}
			a {
			    cursor:pointer;
				display:block;
				float:left;
				font-size:11px;
				margin-top:6px;
				&:hover {
				    text-decoration:underline;
					color:#fff;
				}
			}
		}
	}



}



div#header form#cse-search-box {
	width: 250px;
	outline: 0px solid red;
	height: 50px;
	position: absolute;
	top: 90px;
	right: 135px;
}

div#header form#cse-search-box input#q {
	width: 175px;
}

form#cse-search-box input.find {
	display: inline-block;
	width: auto;
	background: #CE1126;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	text-decoration: none;
	padding: 2px 5px 4px 5px;
	border: 0;
}

form#cse-search-box input#find:hover {
	background-color: #A90E1F;
}

div#search_box #search .quicksearch:focus {
	outline: 0;
}

.show-advanced-search-slide {
	color: #A9BACA;
	font-size: 0.9em;
	cursor: pointer;
}

#advanced_search_slide label {
	width: auto;
}


/* Search Autocomplite
----------------------------------*/

.ui-autocomplete {
	background: #ffffff;
    width: 187px;
    padding:10px 0;
    font-size:11px;
    z-index:10 !important;
    @include box-shadow(0 1px 3px #444);
    a {
		text-decoration: none;
		display:block;
		padding:3px 15px;
		color: #323232 !important;
		cursor:pointer;

		&:hover {
			color: #000;
			text-decoration: none;
			background-color: #EEEEEE;
		}
	}
}


.quicksearch-wrap {
    position:absolute;
    margin:-15px 0 0 0;
    background: #ffffff;
    width: 187px;
    font-size:11px;
    z-index:10;
    display:none;
    @include box-shadow(0 1px 3px #444);

    > div {
        padding: 10px 0 1px;

        ul {
            margin:0 0 8px 0;
            padding-bottom:3px;
            max-height:400px;
            overflow:auto;

            &:last-child {
                border-bottom:none;
            }

            li:first-child {
                padding: 4px 10px;
                font-size:11px;
                text-align:right;
                font-weight:bold;
                background-color:darkgray;
                color:#fff !important;
                margin:0 0 3px 0;
            }

            li {
                line-height: 1.5;
            }
        }


        a {
            text-decoration: none;
            display:block;
            padding:3px 15px;
            color: #323232 !important;

            &:hover {
                color: #000;
                text-decoration: none;
                background-color: #EEEEEE;
            }
        }

        .quicksearch-all {
            display:block;
        }
    }

    &.show-quick-search {
        display:block;
    }
}


/* Tutor popup */


#popup-content {
	.tutors_classes {
		span {
			display:list-item;
			list-style:disc inside;
		}
	}
}


/* Date picker */


.datePicker {
	td {
		border:0 !important;
		padding:0 !important;
	}
	button {
		font-size:12px !important;
	}
}