// Overlay/content animations

@mixin keyframes-vex-fadein {
  @include vex-keyframes("vex-fadein") {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
}

@mixin keyframes-vex-fadeout {
  @include vex-keyframes("vex-fadeout") {
    0% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }
}

// Content animations

@mixin keyframes-vex-flyin {
  @include vex-keyframes("vex-flyin") {
    0% {
      opacity: 0;

      @include vex-transform(translateY(-40px));
    }

    100% {
      opacity: 1;

      @include vex-transform(translateY(0));
    }
  }
}

@mixin keyframes-vex-flyout {
  @include vex-keyframes("vex-flyout") {
    0% {
      opacity: 1;

      @include vex-transform(translateY(0));
    }

    100% {
      opacity: 0;

      @include vex-transform(translateY(-40px));
    }
  }
}

@mixin keyframes-vex-dropin {
  @include vex-keyframes("vex-dropin") {
    // We start at 0 first and, while hidden
    // move to -800px, where the animation
    // really begins. This was necessary because
    // otherwise, when starting the animation
    // at -800px, the browser scrolls up 800px
    // to try to display this object positioned
    // above the page.
    // https://github.com/HubSpot/vex/issues/21
    0% {
      @include vex-transform(translateY(0));

      opacity: 0;
    }

    1% {
      @include vex-transform(translateY(-800px));

      opacity: 0;
    }

    // Real animation begins here
    2% {
      @include vex-transform(translateY(-800px));

      opacity: 1;
    }

    100% {
      @include vex-transform(translateY(0));

      opacity: 1;
    }
  }
}

@mixin keyframes-vex-dropout {
  @include vex-keyframes("vex-dropout") {
    0% {
      @include vex-transform(translateY(0));
    }

    100% {
      @include vex-transform(translateY(-800px));
    }
  }
}

@mixin keyframes-vex-slideup {
  @include vex-keyframes("vex-slideup") {
    // We start at 0 first and, while hidden
    // move to -800px, where the animation
    // really begins. This was necessary because
    // otherwise, when starting the animation
    // at -800px, the browser scrolls up 800px
    // to try to display this object positioned
    // above the page.
    // https://github.com/HubSpot/vex/issues/21
    0% {
      @include vex-transform(translateY(0));

      opacity: 0;
    }

    1% {
      @include vex-transform(translateY(800px));

      opacity: 0;
    }

    // Real animation begins here
    2% {
      @include vex-transform(translateY(800px));

      opacity: 1;
    }

    100% {
      @include vex-transform(translateY(0));

      opacity: 1;
    }
  }
}

@mixin keyframes-vex-slidedown {
  @include vex-keyframes("vex-slidedown") {
    0% {
      @include vex-transform(translateY(0));
    }

    100% {
      @include vex-transform(translateY(800px));
    }
  }
}

@mixin keyframes-vex-flipin-horizontal {
  @include vex-keyframes("vex-flipin-horizontal") {
    0% {
      opacity: 0;

      @include vex-transform(rotateY(-90deg));
    }

    100% {
      opacity: 1;

      @include vex-transform(rotateY(0deg));
    }
  }
}

@mixin keyframes-vex-flipout-horizontal {
  @include vex-keyframes("vex-flipout-horizontal") {
    0% {
      opacity: 1;

      @include vex-transform(rotateY(0deg));
    }

    100% {
      opacity: 0;

      @include vex-transform(rotateY(90deg));
    }
  }
}

// Spinner animations

@mixin keyframes-vex-rotation {
  @include vex-keyframes("vex-rotation") {
    0% {
      @include vex-transform(rotate(0deg));
    }

    100% {
      @include vex-transform(rotate(359deg));
    }
  }
}

// Button animations

@mixin keyframes-vex-pulse {
  @include vex-keyframes("vex-pulse") {
    0% {
      @include box-shadow(inset 0 0 0 300px transparent);
    }

    70% {
      @include box-shadow(inset 0 0 0 300px rgba(255, 255, 255, 0.25));
    }

    100% {
      @include box-shadow(inset 0 0 0 300px transparent);
    }
  }
}
