<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" monitorInterval="30" packages="ish.oncourse.log4j.lookup">
    <Properties>
        <Property name="name">willow_checkout-api</Property>
    </Properties>
    <Appenders>
        <RollingFile name="FILE" fileName="${sys:logs.path}/${name}.log" filePattern="${sys:logs.path}/${name}.log.%i">
            <JsonLayout compact="true" eventEol="true">
                <KeyValuePair key="x-site-key" value="$${header:x-site-key}"/>
            </JsonLayout>
            <SizeBasedTriggeringPolicy size="10M"/>
            <DefaultRolloverStrategy/>
        </RollingFile>
        <RollingFile name="FILE_ERROR" fileName="${sys:logs.path}/${name}-error.log" filePattern="${sys:logs.path}/${name}-error.log.%i">
            <JsonLayout compact="true" eventEol="true">
                <KeyValuePair key="x-site-key" value="$${header:x-site-key}"/>
            </JsonLayout>
            <SizeBasedTriggeringPolicy size="10M"/>
            <DefaultRolloverStrategy/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="warn">
            <AppenderRef ref="FILE_ERROR" level="error"/>
            <AppenderRef ref="FILE" level="warn"/>
        </Root>
        <Logger name="ish.oncourse.util.log.LogAppInfo" level="info">
            <AppenderRef ref="FILE"/>
        </Logger>
        <Logger name="io.bootique.jetty.server.ServerLifecycleLogger" level="info">
            <AppenderRef ref="FILE"/>
        </Logger>
    </Loggers>
</Configuration>
