/**
*
* site.scss
*
* Styles fo SCC site.
*
* Layout, colors, fonts.
*
*/


/**
*
* Import default styles
*
*/
@import "base";


/**
*
* Common Colours
*
*/

/* Vars */
$red: #CE1126;
$blue: #12416C;
$yellow: #F5AF00;
$font-color: #444;
$link-color: #803789;


body {
    color:$font-color;
}

/* Links */
a:link, a:visited, a:active {
    color: $link-color;
    text-decoration: underline;
}

a:hover, a:active {
    color: $link-color;
    text-decoration: none;
}

/* Content headers color */
.content-container, .dialogBox {
    h1 {
        text-transform:uppercase;
    }
    h1, h2, h3 {
        color: $red;
    }

    h4, h5, h6 {
        color: #444;
    }

    blockquote {
        padding:0 12px;
        line-height:1.5;
        margin:18px 0;
        border-top: 1px solid #CCC;
        border-bottom: 1px solid #CCC;
        color: #666;
    }
}

hr {
    background:#ddd;
    color:#ddd;
    height:1px;
    border:0;
}

.main-page .content h1:first-of-type {
    display: none;
}


/**
*
* Fonts
*
*/

@font-face {
    font-family: 'MisoBold';
    src: url('/s/fonts/miso-bold.eot');
    src: url('/s/fonts/miso-bold.eot?#iefix') format('embedded-opentype'),
         url('/s/fonts/miso-bold.woff') format('woff'),
         url('/s/fonts/miso-bold.ttf') format('truetype'),
         url('/s/fonts/miso-bold.svg#MisoBold') format('svg');
    font-weight: normal;
    font-style: normal;
}





/**
*
* Main Layout
*
*/

/* Site wrapper */

body {
    text-rendering: optimizeLegibility;
}

.site-wrapper {
    @include gradient(#736564, #ededec, 550px, content-back);
}

/* Header */

.site-header {
    width: 920px;
    margin: 0 auto;
    position: relative;    
}

.header-wrapper {
    background: #ce1e44;
}


/* Navigation */

.site-nav {
    @include clearfix;
    margin: 20px 0 0 0;
    position:relative;
    z-index: 3;

    ul {
        list-style: none;
    }


    > ul > li {
        float: left;
        @include border-radius(7px 7px 0 0);
        margin-right: 5px;
        z-index: 4;

        &:hover {
            background: {
                color: #ef4056;
            }

            > ul {
                display: block;
            }
        }
        
        > a {
            display: block;
            font-size: 14px;
            line-height: 32px;
            height: 32px;
            color: #fff;
            padding: 0 25px;

            text: {
                decoration: none;
                transform: uppercase;
            }
        }

        ul {
            display: none;
            position: absolute;
            left: 0;
            top: 32px;
            list-style: none;
            width: 900px;
            padding: 0 2px 0 2px;
            z-index:4;
            background: {
                color: #ef4056;
            }

            li {
                display: inline-block;
                font-size: 11px;
                line-height: 1;
                margin: 0 7px 0 0;
            }

            a {
                display: block;
                padding: 7px 8px;
                line-height: 1;
                color: #754c24;
                text-decoration:none;
                text-transform: uppercase;

                &:hover {
                    color: #000;
                }
            }


        }


    }
}



/* Content */

.content-wrapper {
    background:{
        image: url(""+$i+"/content-shadow.png");
        repeat:repeat-x;
        position: left top;
    }
}

.content-container {
    position: relative;
    margin: 0 auto;
    width: 920px;
    padding: 40px 0 25px 0;
    @include clearfix;
}


.content {
    position: relative;
    z-index: 0;
    padding: 0;
    .clear {
        clear: both;
    }
}

.sidebar-left {
    display: none;
}

.sidebar-right {
    clear: both;
}


/* Footer */

.site-footer {
    width: 920px;
    position: relative;
    border-top: 2px solid #4D483C;
    margin: 0px auto;
    padding: 15px 0;
}

.footer-container {
    @include clearfix;
}




/**
*
* Blocks Layout
*
*/



/* Header
------------------------------------*/

.site-logo {
    display: none;
}

/* Logo */
.site-title {
    width: 220px;
    height: 105px;
    overflow: hidden;
    text-indent: -999px;
    padding:9px 0 0 0;

    a {
        display: block;
        width: 211px;
        height: 105px;
        background:{
            image: url(""+$i+"/logo-scwt.png");
            repeat:no-repeat;
            position: left top;
        }

    }

}


.header-toolbar {
    display: block;
    position: absolute;
    right:0;
    bottom:13px;
    width:214px;
    z-index:5;


    .short-list {
        display: none;
    }

    .discount-block {
        display: none;
    }

    .header-account {
        margin: 0 0 12px 0;
        font-size:14px;
        font-size:bold;
        text-align:right;

        a {
            color: #ffffff;
            text-decoration: underline;
        }
    }

    .search-box {
        @include clearfix;
        text-align:right;

        [type="text"] {
            width: 170px;
            vertical-align: top;
            padding: 3px 5px;
            font-size:11px;
            color:#c1c1c1;
            text-transform:uppercase;
            border: 0;
            margin: 0;
            @include border-radius(3px 0 0 3px);
            background: {
                color: #fff;
                vertical-align: middle;
            }
        }

        [type="submit"] {
            @include border-radius(0 3px 3px 0);
            vertical-align: top;
            height: 20px;
            padding: 0 2px;
            color:#fff;
            border:0;
            margin:0;
            background: {
                color: #00a3ef;
                vertical-align: middle;
            }
        }

    }
}


/* Newsfeed
-----------------------------------*/


#newsfeed_container {
	height: 340px;
	position: relative;

	h2 {
	    font-family: 'MisoBold', Calibri, Trebuchet MS, Helvetica, Arial, sans-serif;
        margin: 0;
        font-size: 21px;
        line-height: 1;
        color: #fff;
        background-color: #00b0dc;
        @include border-radius(0 0 8px 8px);
        display: inline-block;
        padding: 4px 32px 4px 14px;
        text-transform: uppercase;
        font-weight: bold;
    }

    #social {
        position: absolute;
        bottom: 0px;
        right: 0;
        border-top: 1px solid #f7f7f7;
        color: #ccc;
        padding: 4px 0 4px 14px;
        width: 226px;
        color: #999;
        text-transform: uppercase;
        text-align: left;

        a:hover {
            color: #444;
            opacity: 1;
        }

        a[href*="facebook.com"] {
            display: block;
            padding: 0px;
            min-width: 33px;
            height: 34px;
            display: inline-block;
            color: #999;
            opacity: 0.9;
            text-indent: -9999px;
            text-transform: capitalize;
            background:{
                color: transparent;
                image: url(""+$i+"/social/facebook_32.png");
                repeat:no-repeat;
                position: left 3px;
            }
        }

        a[href*="twitter.com"] {
            display: block;
            padding: 0px;
            height: 34px;
            min-width: 33px;
            display: inline-block;
            text-indent: -9999px;
            color: #999;
            opacity: 0.9;
            text-transform: capitalize;
            background:{
                color: transparent;
                image: url(""+$i+"/social/twitter_32.png");
                repeat:no-repeat;
                position: left 3px;
            }
        }


    }


}

#newsfeed {
    height: 266px;
    overflow: hidden;
    padding: 4px 10px 0px 14px;
    width: 220px;
    clear: both;
    font-size: 11px;

    ul,  li {
        margin: 0;
    }

    > ul > li {
        color: #444;
        margin-bottom: 5px;
    }

    > ul > li > a:first-child:hover {
        color: #940F1F;
    }

    > ul > li > a span.time {
        display: block;
        font-size: 11px;
        color: #ccc;
    }

    > ul > li > a span.time:hover:after {
        content: "\BB \ ";
        margin-left: 4px;
    }
}






/* Content Slides
------------------------------------------*/

/* Slides */
.image_banners {
    width: 673px;
    height: 340px;
    float: left;
}

.side_panel {
    width: 240px;
    float: right;
    background-color: #fff;
    @include border-radius(0 40px 0 0);
}







/* Categories
------------------------------------------*/

#category_navigation {
    padding: 20px 0 20px 0;

    ul {
        margin: 0;
        list-style: none;
    }

    ul li {
        display: inline-block;
        background-color: #6d6060;
        width: 132px;
        height: 45px;
        list-style: none;
        margin-right: 3px;
        text-align: left;
        @include border-radius(4px 4px 4px 12px);
        @include transition(background-color 300ms ease-out);

        &:hover {
            background-color: #a99f9d;
        }

        + li + li+ li + li+ li {
            width: 240px;
            height: 45px;
            margin: 0 0 0 7px;
            text-align: center;
            @include border-radius(4px);
            padding: 0;
            margin:0;
        }

        a {
            color: #fff;
            display: block;
            line-height: 1;
            padding-left: 13px;
            padding-top: 7px;
            height: 100%;
            text: {
                transform: uppercase;
                decoration: none;
            }
            font: {
                size: 12px;
                weight: bold;
            }
        }


    }
}


/* Spotlights
-----------------------------------------*/

.content {
    .left_panel {
        float: left;
        width: 219px;
        margin-right: 8px;
        position: relative;
        color: #fff;
        font-family: 'MisoBold', Calibri, Trebuchet MS, Helvetica, Arial, sans-serif;

        .panel_heading {
            padding: 18px 0 0 0;
            @include border-radius(16px 16px 16px 53px);
            min-height: 95px;
            background-color: #cd1543;
        }

        &:nth-child(3) {
            margin-right: 0;
        }

        img {
            position: absolute;
            left: 4px;
            top: 4px;
        }

        h4 {
            font-size: 22px;
            line-height: 21px;
            text-transform: uppercase;

            a {
                color: white;
                display: block;
                padding: 0px 10px 0px 110px;
                text-decoration: none;
            }
        }

        .panel_title {
            font-size: 12px;
            text-transform: lowercase;
            margin-bottom: 4px;
            padding-left: 110px;

        }

        > h5, > p {
            font-size: 12px;
            padding: 0 5px;
        }


    }


    .right_panel .panel_heading,
    .left_panel .panel_heading {
        @include transition(background-color 300ms ease-out);

        &:hover h4 a {
            color: rgba(68, 68, 68, 0.95);
            @include transition(color 300ms ease-out);
        }
    }

    .right_panel {
        float: right;
        width: 239px;
        margin-right: 0px;
        position: relative;

        .panel_heading {
            @include border-radius(16px 16px 53px 16px);
            background-color: #cd1543;
            padding: 18px 0 0 0;
            min-height: 95px;
        }

        h4 {
            color: #fff;
            font-family: 'MisoBold', Calibri, Trebuchet MS, Helvetica, Arial, sans-serif;
            font-size: 22px;
            line-height: 21px;
            text-transform: uppercase;

            a {
                color: #fff;
                display: block;
                padding: 0px 110px 0px 10px;
                text-decoration: none;
            }
        }

        .panel_title {
            font-size: 12px;
            text-transform: lowercase;
            margin-bottom: 4px;
            color: #fff;
            padding-left: 10px;
           
        }

        img {
            position: absolute;
            right: 4px;
            top: 4px;
        }


        > h5, > p {
            font-size: 12px;
            padding: 0 5px;
        }

    }

}


.content .courses-list {
  display: none;
}





/* Footer Courses
------------------------------------------*/

.sidebar-right {

    .courses-list {
        list-style: none;
        
        > li:first-child {
            display: none;
        }
    }

    .courses-list-sub {
        list-style:none;
        @include clearfix;

        > li {
            float: left;
            width: 185px;
            margin-right:40px;
            min-height: 300px;

            > a {
                display: block;
                border-bottom: 1px solid #6f5f5e;
                margin: 0 0 12px 0;
                padding: 0 0 14px 0;
                color: #00b0db;
                text-decoration:none;
                text-transform: uppercase;
                line-height: 1.2;
                font: {
                    size:12px;
                    weight:bold;
                }

            }

            ul li {
                margin: 0 0 7px 0;
            }

            ul a {
                text-decoration: none;
                color: #333333;
                line-height: 1.2;
            }
        }
    }
}



/* Footer
----------------------------------------*/


.footer-logo {
    float:left;
}

.footer-info {
    float:right;
    font-size: 11px;
    color: #444;
    text-align: right;
}



/**
*
* Page Specific
*
*/


/* Sub-pages layout
--------------------------------------*/

.internal-page {
    .content {
        width: 559px;
        float: left;
        background-color: #fff;
        padding: 23px 60px 23px 65px;
        @include border-radius(50px 0 0 0);
    }

    .sidebar-right {
        float: right;
        width: 236px;
        min-height: 500px;
        background-color: #ef4056;
        clear: none;
        @include border-radius(0 50px 0 0);

        .courses-list-sub {
            > li {
                float: none;
                margin: 0;
                min-height: 0;
                width: auto;

                padding:0 0 6px 0;

                &:first-child a {
                    @include border-radius(0 50px 0 0); 
                }

                > a {
                    display: block;
                    background-color: #b9b3b2;
                    padding: 15px 19px;
                    margin: 0;
                    border: 0;
                    color: #ffffff;
                }

                ul {
                    display: none;
                    padding: 14px 24px;

                    a {
                        &:hover {
                            color: #fff;
                            text-decoration: underline;
                        }
                    }
                }
            }



        }

    }
}


/* Courses page
-----------------------------------------*/



