/* Header */
#header h1 { background: transparent url(/s/img/scc_logo.png) 20% 30% no-repeat; }
#header h1:hover { background-color: #B1076C; }

#Main #content { background: transparent url(noimg) repeat; }

#search_box, #search_panel_advanced { background: #AF036B; }
#search_box:hover, #search_panel_advanced:hover { background-color: #A50365; }

/* Footer fixes */

#footer .vcard div.adr div { display: inline; zoom: 1; }

/* Placing rounded corners using images as a background - boo! Applying to both ie7 & 8*/ 

div.side_panel { background: transparent url(/s/img/ie_only/sidebar_bg.png) top right no-repeat !important; }
#category_navigation ul li { background: #de0488 url(/s/img/ie_only/list_item_bg.png) no-repeat !important; float: left !important; }

	#category_navigation ul li:nth-child(1):hover { background: #ffcd92 url(/s/img/ie_only/list_item_bg.png) no-repeat !important; }
	#category_navigation ul li:nth-child(2):hover { background: #a6acc4 url(/s/img/ie_only/list_item_bg.png) no-repeat !important; }
	#category_navigation ul li:nth-child(3):hover { background: #ade5fa url(/s/img/ie_only/list_item_bg.png) no-repeat !important; }
	#category_navigation ul li:nth-child(4):hover { background: #dde5a6 url(/s/img/ie_only/list_item_bg.png) no-repeat !important; }
	#category_navigation ul li:nth-child(5):hover { background: #b9bddb url(/s/img/ie_only/list_item_bg.png) no-repeat !important; }
	
#category_navigation ul { zoom: 1; position: relative; }
#category_navigation ul li:last-child { background: #de0488 url(/s/img/ie_only/list_item_right_bg.png) no-repeat !important; width: 240px;  position: absolute; right: 0; }
#category_navigation ul li:last-child:hover { background: #f8dfe2 url(/s/img/ie_only/list_item_right_bg.png) no-repeat !important; }


div.panel_heading { background: transparent url(/s/img/ie_only/panel_left.png) top right no-repeat !important; }
div.right_panel div.panel_heading { background: #a97b82 url(/s/img/ie_only/panel_right.png) top right no-repeat !important; }
div.panel_heading.arts { background-color: #ff9c25 !important; }
div.panel_heading.business { background-color: #4d5989 !important; }
div.panel_heading.languages { background-color: #5bcbf5 !important; }
div.panel_heading.lifestyle { background-color: #bccc4e !important; }
div.panel_heading.sport { background-color: #737bb7 !important; }

	div.panel_heading.arts:hover { background-color: #ffcd92 !important; }
	div.panel_heading.business:hover { background-color: #a6acc4 !important; }
	div.panel_heading.languages:hover { background-color: #ade5fa !important; }
	div.panel_heading.lifestyle:hover { background-color: #dde5a6 !important; }
	div.panel_heading.sport:hover { background-color: #b9bddb !important; }
	div.panel_heading.general:hover { background-color: #ddcacd !important; }
	
	div.panel_heading:hover h4 a,
	div.panel_heading h4 a:hover { color: #444; }

/* Sidebar dropdown */

div#block315 > div.taggroup > ul > li > h2 { background-image: url(/s/img/ie_only/list_item_bg.png); }
	div#block315 > div.taggroup > ul > li > h2 a:hover { color: #444; }

