/* Header */

#category_navigation ul li a { letter-spacing: 0; font-size: 1.6em; }
#category_navigation ul li:hover a { color: #444; }

body#TutorClasses #login_box h3,
body#StudentEnrolments #login_box h3,
body#ContactMain #login_box h3, 
#category_navigation ul li, #newsfeed_container h2 { display: inline; float: left; zoom: 1;}


/* inline block fix for sidebar headers */
#subcategory_nav > .taggroup > ul > li > h2 { zoom: 1; display: inline; }
#Main div.image_banners div {  }

div#shortlist div#info span { line-height: normal; border:0px solid red; padding:0; margin: 0; font-size: 2.8em;}

div.advanced-search-button-slide, a.show-advanced-search-slide { clear: both; position: static; zoom: 1; display: block;}
a.show-advanced-search-slide { }
#search { position: relative; zoom: 1;}
#search a.linkselectLink { bottom: 4px;  }
#search a.linkselectLink:hover { background-color: #f7f7f7; }
#search #suburb-autocomplete:focus { color: #444; }

#category_navigation ul li:last-child { margin-left: 10px; width: 235px; float: right; }

div#nav.dropdown > ul ul { border: 1px solid #ccc; }

div#wrap div#content div.new_course_item div.class_details div.bubbleInfo,
div#content_container div#content div.new_course_item div.class_details div.bubbleInfo  
 { position: relative; z-index: 8001; }
 
div#content_container div#content div.new_course_item,
div#content_container div#content div.new_course_item div.class_details
 { z-index: 1; position: static; }
 
