/* Page specific CSS for Sydney Community College */

/* General Content Pages */

body.internal-page .webnodePage { background: url(/s/img/pagename_bg.png) no-repeat; position: relative; }
body.internal-page h2.webnodename { background: #BF9298; height: 29px; min-width: 200px; padding: 13px 12px 7px 0; margin: 0; font-family: MisoBold, Helvetica, Arial, sans-serif; text-transform: uppercase; color: #fff; font-size: 2em; position: absolute; top: 27px; left: 90px; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; overflow: hidden; font-weight: normal; }

body.internal-page .webnodePage > .webnodecontent { padding-top: 100px; }

/* All headings for content pages */
body.internal-page div#course_detail > h2,
body.internal-page div#course_detail > h3,
body.internal-page div.webnodecontent > h2,
body.internal-page div.webnodecontent > h3 { font-family: MisoBold, Calibri, Trebuchet MS, Helvetica, Arial, sans-serif; color: #78303b; font-size: 1.8em; }
body.internal-page div#course_detail > h4,
body.internal-page div.webnodecontent > h4 { font-size: 1.1em; } 
body.internal-page div#course_detail > h5,
body.internal-page div.webnodecontent > h5 { font-size: 1em; } 

/* Home page */

#Main #sidebar { display: none; }
#Main #content { width: 100%; background: transparent; padding: 0; }

#Main #category_navigation { clear: both; }

#Main div#content_container > div#content > div#welcome > div.taggroup { width: 100%; margin: 17px 0; border-top: 1px solid #eee; border-bottom: 1px solid #eee; padding-bottom: 0.5em; }
	#Main div#content_container > div#content > div#welcome > div.taggroup > ul > li { width: 20%; float: left; margin: 0; }	
	#Main div#content_container > div#content > div#welcome > div.taggroup > ul:after {content: "."; display: block; height: 0; clear: both; visibility: hidden; zoom: 1; }
	#Main div#content_container > div#content > div#welcome > div.taggroup > ul > li a { color: #999; font-size: 0.9em; }
		#Main div#content_container > div#content > div#welcome > div.taggroup > ul > li a:hover { color: #000; }
		 
		#Main div#content_container > div#content > div#welcome > div.taggroup > ul > li > h2 { font-family: MisoBold, Helvetica, Arial, sans-serif; text-transform: uppercase; margin-top: 0.5em; }
			#Main div#content_container > div#content > div#welcome > div.taggroup > ul > li > h2 a { padding: 0; }
			#Main div#content_container > div#content > div#welcome > div.taggroup > ul > li#t213 > h2 a { color: #ff9c25; } /*.arts*/
			#Main div#content_container > div#content > div#welcome > div.taggroup > ul > li#t233 > h2 a { color: #4d5989; } /*.business*/
			#Main div#content_container > div#content > div#welcome > div.taggroup > ul > li#t242 > h2 a { color: #5bcbf5; } /*.languages*/
			#Main div#content_container > div#content > div#welcome > div.taggroup > ul > li#t226 > h2 a { color: #bccc4e; } /*.lifestyle*/
			#Main div#content_container > div#content > div#welcome > div.taggroup > ul > li#t249 > h2 a { color: #737bb7; } /*.sport*/
			
			/* Hover-over effect */
			
			#Main div#content_container > div#content > div#welcome > div.taggroup > ul > li#t213:hover {  background-image: -moz-linear-gradient(top, #fff5e9, #fff); /* FF3.6 */
  background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #fff),color-stop(1, #fff5e9)); /* Saf4+, Chrome */
            filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5e9', endColorstr='#ffffff'); /* IE6,IE7 */
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5e9', endColorstr='#ffffff')"; /* IE8 */ }
        
        	#Main div#content_container > div#content > div#welcome > div.taggroup > ul > li#t233:hover {  background-image: -moz-linear-gradient(top, #edeef3, #fff); /* FF3.6 */
  background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #fff),color-stop(1, #edeef3)); /* Saf4+, Chrome */
            filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#edeef3', endColorstr='#ffffff'); /* IE6,IE7 */
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#edeef3', endColorstr='#ffffff')"; /* IE8 */ }
        

        	#Main div#content_container > div#content > div#welcome > div.taggroup > ul > li#t226:hover {  background-image: -moz-linear-gradient(top, #f8faed, #fff); /* FF3.6 */
  background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #fff),color-stop(1, #f8faed)); /* Saf4+, Chrome */
            filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8faed', endColorstr='#ffffff'); /* IE6,IE7 */
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8faed', endColorstr='#ffffff')"; /* IE8 */ }


        	#Main div#content_container > div#content > div#welcome > div.taggroup > ul > li#t249:hover {  background-image: -moz-linear-gradient(top, #f1f2f8, #fff); /* FF3.6 */
  background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #fff),color-stop(1, #f1f2f8)); /* Saf4+, Chrome */
            filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1f2f8', endColorstr='#ffffff'); /* IE6,IE7 */
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1f2f8', endColorstr='#ffffff')"; /* IE8 */ }

        	#Main div#content_container > div#content > div#welcome > div.taggroup > ul > li#t242:hover {  background-image: -moz-linear-gradient(top, #f9fdff, #fff); /* FF3.6 */
  background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #fff),color-stop(1, #f9fdff)); /* Saf4+, Chrome */
            filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9fdff', endColorstr='#ffffff'); /* IE6,IE7 */
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9fdff', endColorstr='#ffffff')"; /* IE8 */ }        
			
		#Main div#content_container > div#content > div#welcome > div.taggroup > ul > li#t245 { display: none; } /* Hide "Other courses" */
		
	#Main div#content_container > div#content > div#welcome > div.taggroup > ul > li > div.taggroup { width: 100%; padding: 0; margin: 0; }
		#Main div#content_container > div#content > div#welcome > div.taggroup > ul > li > div.taggroup > ul,
		#Main div#content_container > div#content > div#welcome > div.taggroup > ul > li > div.taggroup > ul > li,
		#Main div#content_container > div#content > div#welcome > div.taggroup > ul > li > div.taggroup > ul > li > div.taggroup > ul,
		#Main div#content_container > div#content > div#welcome > div.taggroup > ul > li > div.taggroup > ul > li > div.taggroup, 
		#Main div#content_container > div#content > div#welcome > div.taggroup > ul > li > div.taggroup > ul > li > div.taggroup > ul > li { width: 100%; padding: 0; margin: 0; background: none;  }
		
/* Article */

@font-face {
	font-family: 'MuseoSans500';
	src: url('/s/fonts/MuseoSans_500.otf') format('opentype');
}


body#page3615 #sidebar { display: none; }		
body#page3615 #content { width: 100%; }
body#page3615 #content .webnodecontent { /*--webkit-column-count: 2; -webkit-column-width: 250px; -webkit-column-gap: 40px; -webkit-column-rule: 1px solid #ddccb5;*/ font-family: MuseoSans500, Helvetica, sans-serif; font-size: 1.1em; color: #444; }
body#page3615 #content .webnodecontent > div { margin-top: 1.5em; }
body#page3615 #content .webnodecontent div.first p:first-child { font-size: 1.2em; font-weight: bold; color: #000 !important; }
body#page3615 #content .webnodecontent div.first > p { margin-right: 20px;}


body#page3615 #content .webnodecontent div.last { background: #fff url() bottom right no-repeat; }
body#page3615 #content .webnodecontent div.last a { display: block; width: 80%; }
.pullquote {
    width: 250px;
    float: right;
    margin: 5px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style: italic;
    font-size: 1.4em;
}

/* Landing Page styling */

/* All landing pages */
div#image_banners { float: left; width: 673px; overflow: hidden; border: 1px solid red; }
#subcategory_nav > .taggroup { width: 100%; }
#subcategory_nav > .taggroup > ul > li { height: auto; }
#subcategory_nav > .taggroup > ul > li > .taggroup { width: 100%; margin: 0; float: none; }
#subcategory_nav > .taggroup > ul > li li { background: none; margin: 0; padding: 0; clear: both; width: auto !important; }
#subcategory_nav > .taggroup > ul > li > h2 { margin: 0 0 10px 0; font-family: MisoBold, Helvetica, Arial, sans-serif; font-size: 1.6em; -webkit-border-bottom-left-radius: 8px; -webkit-border-bottom-right-radius: 8px; -moz-border-radius-bottomleft: 8px; -moz-border-radius-bottomright: 8px; border-bottom-left-radius: 8px; border-bottom-right-radius: 8px; display: inline-block; padding: 4px 32px 4px 10px; text-transform: uppercase; font-weight: 100;background-color: #444; }
	#subcategory_nav > .taggroup > ul > li > h2 > a { color: #fff; cursor: text; }

#subcategory_nav > .taggroup > ul > li li { margin: 0 0 6px 10px; }
#subcategory_nav > .taggroup > ul > li .taggroup > ul > li > a { display: block; padding: 0; color: #78303b; font-size: 1.1em; }
	#subcategory_nav > .taggroup > ul > li .taggroup > ul > li > a:hover { color: #940F1F; }

#subcategory_nav > .taggroup > ul > li li:before { display: block; width: 10px; border: 0px solid red; float: left; margin-right: 10px; content: ">"; font-weight: bold; font-size: 1.6em; }

/* Arts page */
body#page5026 #content { padding: 0; width: 100%; background-color: transparent; -webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px; }
body#page5026 #sidebar { display: none; }
body#page5026 .webnodePage { background: none; }
	body#page5026 .webnodename { display: none; }
	body#page5026 .webnodecontent { padding-top: 0; }
body#page5026 #subcategory_nav > .taggroup > ul > li > h2 { background-color: #ff9c25; }

body#page5026 #subcategory_nav > .taggroup > ul > li li:before { color: #ff9c25; }

body#page5026 #category_navigation > ul > li:nth-child(1) { background-color: #ffcd92;  }
body#page5026 #category_navigation > ul > li:nth-child(1) a { 
		-webkit-transition: color;
		-webkit-transition-timing-function: ease-out;
		-webkit-transition-duration: 200ms;
		
		-moz-transition: color;
		-moz-transition-timing-function: ease-out;
		-moz-transition-duration: 200ms;
		
		-o-transition: color;
		-o-transition-timing-function: ease-out;
		-o-transition-duration: 200ms;
}

body#page5026 div.left_panel > h5 { }

body#page5026 #t670 { display: none; }

/* Business page */
body#page5027 #content { padding: 0; width: 100%; background-color: transparent; -webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px; }
body#page5027 #sidebar { display: none; }
body#page5027 .webnodePage { background: none; }
	body#page5027 .webnodename { display: none; }
	body#page5027 .webnodecontent { padding-top: 0; }
body#page5027 #subcategory_nav > .taggroup > ul > li > h2 { background-color: #4d5989; }

body#page5027 #subcategory_nav > .taggroup > ul > li li:before { color: #4d5989; }

body#page5027 #category_navigation > ul > li:nth-child(2) { background-color: #a6acc4;  }
body#page5027 #category_navigation > ul > li:nth-child(2) a { 
		-webkit-transition: color;
		-webkit-transition-timing-function: ease-out;
		-webkit-transition-duration: 200ms;
		
		-moz-transition: color;
		-moz-transition-timing-function: ease-out;
		-moz-transition-duration: 200ms;
		
		-o-transition: color;
		-o-transition-timing-function: ease-out;
		-o-transition-duration: 200ms;
}

body#page5027 #t661 { display: none; }

/* Languages page */
body#page5028 #content { padding: 0; width: 100%; background-color: transparent; -webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px; }
body#page5028 #sidebar { display: none; }
body#page5028 .webnodePage { background: none; }
	body#page5028 .webnodename { display: none; }
	body#page5028 .webnodecontent { padding-top: 0; }
body#page5028 #subcategory_nav > .taggroup > ul > li > h2 { background-color: #5bcbf5; }

body#page5028 #subcategory_nav > .taggroup > ul > li li:before { color: #5bcbf5; }

body#page5028 #category_navigation > ul > li:nth-child(3) { background-color: #ade5fa;  }
body#page5028 #category_navigation > ul > li:nth-child(3) a { 
		-webkit-transition: color;
		-webkit-transition-timing-function: ease-out;
		-webkit-transition-duration: 200ms;
		
		-moz-transition: color;
		-moz-transition-timing-function: ease-out;
		-moz-transition-duration: 200ms;
		
		-o-transition: color;
		-o-transition-timing-function: ease-out;
		-o-transition-duration: 200ms;
}

body#page5028 #t681 { display: none; }

/* Lifestyle page */
body#page5029 #content { padding: 0; width: 100%; background-color: transparent; -webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px; }
body#page5029 #sidebar { display: none; }
body#page5029 .webnodePage { background: none; }
	body#page5029 .webnodename { display: none; }
	body#page5029 .webnodecontent { padding-top: 0; }
body#page5029 #subcategory_nav > .taggroup > ul > li > h2 { background-color: #bccc4e; }

body#page5029 #subcategory_nav > .taggroup > ul > li li:before { color: #bccc4e; }

body#page5029 #category_navigation > ul > li:nth-child(4) { background-color: #dde5a6;  }
body#page5029 #category_navigation > ul > li:nth-child(4) a { 
		-webkit-transition: color;
		-webkit-transition-timing-function: ease-out;
		-webkit-transition-duration: 200ms;
		
		-moz-transition: color;
		-moz-transition-timing-function: ease-out;
		-moz-transition-duration: 200ms;
		
		-o-transition: color;
		-o-transition-timing-function: ease-out;
		-o-transition-duration: 200ms;
}

body#page5029 #t693 { display: none; }

/* Sport page */
body#page5030 #content { padding: 0; width: 100%; background-color: transparent; -webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px; }
body#page5030 #sidebar { display: none; }
body#page5030 .webnodePage { background: none; }
	body#page5030 .webnodename { display: none; }
	body#page5030 .webnodecontent { padding-top: 0; }
body#page5030 #subcategory_nav > .taggroup > ul > li > h2 { background-color: #737bb7; }

body#page5030 #subcategory_nav > .taggroup > ul > li li:before { color: #737bb7; }

body#page5030 #category_navigation > ul > li:nth-child(5) { background-color: #b9bddb;  }
body#page5030 #category_navigation > ul > li:nth-child(5) a { 
		-webkit-transition: color;
		-webkit-transition-timing-function: ease-out;
		-webkit-transition-duration: 200ms;
		
		-moz-transition: color;
		-moz-transition-timing-function: ease-out;
		-moz-transition-duration: 200ms;
		
		-o-transition: color;
		-o-transition-timing-function: ease-out;
		-o-transition-duration: 200ms;
}

body#page5030 #t701 { display: none; }

/* Sidebar course navigation */
div#block322 { padding: 10px; }
div#block322 p { display: none;  }
div#block322 > div.taggroup, div#block322 > div.taggroup div.taggroup { width: 100%; float: none; margin: 0;  }
div#block322 > div.taggroup li { margin: 0; padding: 0; background: none; }
	
	/* top level tags */
div#block322 > div.taggroup > ul > li { padding-bottom: 5px; }
div#block322 > div.taggroup > ul > li > h2 { margin: 0 0 6px 0; background-color: #78303b; width: 132px; height: 31px; margin-right: 3px; text-align: left; -webkit-border-radius: 4px; -webkit-border-bottom-left-radius: 12px; -moz-border-radius: 4px; -moz-border-radius-bottomleft: 12px; border-radius: 4px; border-bottom-left-radius: 12px; font-size: 1em; 	-webkit-transition: background-color;
	-webkit-transition-timing-function: ease-out;
	-webkit-transition-duration: 300ms;
	-moz-transition: background-color;
	-moz-transition-timing-function: ease-out;
	-moz-transition-duration: 300ms;
	-o-transition: background-color;
	-o-transition-timing-function: ease-out;
	-o-transition-duration: 300ms; }

div#block322 > div.taggroup > ul > li > h2 > a { text-transform: uppercase; color: #fff; font-weight: 100; letter-spacing: 0em; text-shadow: 0 0 1px rgba(203,20,42,0.1); display: block; font-family: MisoBold, Helvetica, Arial, sans-serif; font-size: 1.8em; padding-left: 30px; padding-top: 4px; color: #fff; }

div#block322 > div.taggroup > ul > li#t213 > h2 a { background-image: url(/s/img/course_nav_arts.png); background-repeat: no-repeat; background-position: 2px 2px; }
div#block322 > div.taggroup > ul > li#t233 > h2 a { background-image: url(/s/img/course_nav_business.png); background-repeat: no-repeat; background-position: 2px 2px; }
div#block322 > div.taggroup > ul > li#t242 > h2 a { background-image: url(/s/img/course_nav_languages.png); background-repeat: no-repeat; background-position: 2px 2px; }
div#block322 > div.taggroup > ul > li#t226 > h2 a { background-image: url(/s/img/course_nav_lifestyle.png); background-repeat: no-repeat; background-position: 2px 2px; }
div#block322 > div.taggroup > ul > li#t249 > h2 a { background-image: url(/s/img/course_nav_sport.png); background-repeat: no-repeat; background-position: 2px 2px; }

div#block322 > div.taggroup > ul > li#t213.parent_tag > h2,
div#block322 > div.taggroup > ul > li#t213 > h2:hover  { background-color: #ffcd92; }
div#block322 > div.taggroup > ul > li#t233.parent_tag > h2:hover,
div#block322 > div.taggroup > ul > li#t233 > h2:hover { background-color: #a6acc4; }
div#block322 > div.taggroup > ul > li#t242.parent_tag > h2:hover,
div#block322 > div.taggroup > ul > li#t242 > h2:hover { background-color: #ade5fa; }
div#block322 > div.taggroup > ul > li#t226.parent_tag > h2:hover, 
div#block322 > div.taggroup > ul > li#t226 > h2:hover { background-color: #dde5a6; }
div#block322 > div.taggroup > ul > li#t249.parent_tag > h2:hover,
div#block322 > div.taggroup > ul > li#t249 > h2:hover { background-color: #b9bddb; }

div#block322 > div.taggroup > ul > li > h2 a:hover { color: rgb(68,68,68); color: rgba(68,68,68,0.5); }
div#block322 > div.taggroup > ul > li h2:hover {
	background-color: #f8dfe2;		
}

	/* show active category */
div#block322 > .taggroup > ul > li.active_tag > div.taggroup { display: block !important; }

div#block322 > .taggroup > ul > li li.active_tag:before { color: #444; }
div#block322 > .taggroup > ul > li li.active_tag { background-color: #f1eaeb; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; }

	/* link styling */
div#block322 > .taggroup > ul > li .taggroup > ul > li { margin: 0px 0px 6px 0px; width: 220px; }
div#block322 > .taggroup > ul > li .taggroup > ul > li > a { display: block; padding: 0; color: #78303b; font-size: 1.1em; }
div#block322 > .taggroup > ul > li .taggroup > ul > li > a:hover { color: #4b1a22; }

div#block322 > .taggroup > ul > li li:before { display: block; width: 10px; border: 0px solid red; float: left; margin: 0 10px 0 5px; content: ">"; font-weight: bold; font-size: 1.6em; color: #eee; }

	/* more redundant css styling */


	/* hide sub, sub categories */
div#block322 > .taggroup > ul > li .taggroup > ul > li div.taggroup { display: none; }	

/* Logged-in state styling - MyAccount */
/* Hide the log-in box everywhere... */
body.internal-page #login_box { display: none; }

/* ...except on these pages */

body#WaitingListEditor #login_box, body#ContactMain #login_box, body#StudentEnrolments #login_box, body#TutorClasses #login_box { display: block;  }
body#ContactMain #region_right, body#StudentEnrolments #region_right, body#TutorClasses #region_right { display: none; }


/* Styling login box */
body#WaitingListEditor #login_box h3, 
body#TutorClasses #login_box h3,
body#StudentEnrolments #login_box h3,
body#ContactMain #login_box h3 { margin: 0 0 10px 0; font-family: MisoBold, Calibri, Trebuchet MS, Helvetica, Arial, sans-serif; font-size: 1.6em; color: #fff; background-color: #78303b; -webkit-border-bottom-left-radius: 8px; -webkit-border-bottom-right-radius: 8px; -moz-border-radius-bottomleft: 8px; -moz-border-radius-bottomright: 8px; border-bottom-left-radius: 8px; border-bottom-right-radius: 8px; display: inline-block; padding: 4px 32px 4px 10px; text-transform: uppercase; font-weight: 100; }

body#WaitingListEditor #login_box ul.menu, 
body#TutorClasses #login_box ul.menu,
body#StudentEnrolments #login_box ul.menu,
body#ContactMain #login_box ul.menu { padding: 0 0 0 10px; }
body#WaitingListEditor #login_box ul.menu li:before, 
body#StudentEnrolments #login_box ul.menu li:before,
body#TutorClasses #login_box ul.menu li:before,
body#ContactMain #login_box ul.menu li:before { display: block; width: 10px; border: 0px solid red; float: left; margin: 0 10px 0 5px; content: ">"; font-weight: bold; font-size: 1.6em; color: #eee;  }

body#WaitingListEditor #login_box ul.menu li,
body#StudentEnrolments #login_box ul.menu li,
body#TutorClasses #login_box ul.menu li,
body#ContactMain #login_box ul.menu li { font-size: 1.1em; color: #78303b; margin: 0px 0px 6px 0px; width: 220px; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; }
body#WaitingListEditor #login_box ul.menu li a,
body#StudentEnrolments #login_box ul.menu li a,
body#TutorClasses #login_box ul.menu li a,
body#ContactMain #login_box ul.menu li a { color: #78303b; }
	body#WaitingListEditor #login_box ul.menu li a:hover,
	body#StudentEnrolments #login_box ul.menu li a:hover,
	body#TutorClasses #login_box ul.menu li a:hover,
	body#ContactMain #login_box ul.menu li a:hover { color: #940F1F; }


	/* Greeting */
	body#WaitingListEditor #login_box ul.menu li:nth-child(1):before,
	body#StudentEnrolments #login_box ul.menu li:nth-child(1):before,
	body#TutorClasses #login_box ul.menu li:nth-child(1):before,
	body#ContactMain #login_box ul.menu li:nth-child(1):before { display: none; }
	
	body#WaitingListEditor #login_box ul.menu li:nth-child(1),
	body#StudentEnrolments #login_box ul.menu li:nth-child(1),
	body#TutorClasses #login_box ul.menu li:nth-child(1),
	body#ContactMain #login_box ul.menu li:nth-child(1) { font-size: 1.3; color: #999; border-bottom: 1px solid #999; -webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px; }


	/* Highlighting active areas */
	body#TutorClasses #login_box ul.menu li:nth-child(4):before { color: #444; }
	body#TutorClasses #login_box ul.menu li:nth-child(4) { background-color: #f1eaeb; }
	
	body#StudentEnrolments #login_box ul.menu li:nth-child(3):before { color: #444; }
	body#StudentEnrolments #login_box ul.menu li:nth-child(3) { background-color: #f1eaeb; }

	body#ContactMain #login_box ul.menu li:nth-child(2):before { color: #444; }
	body#ContactMain #login_box ul.menu li:nth-child(2) { background-color: #f1eaeb; }	

	body#WaitingListEditor #login_box ul.menu li:nth-child(4):before { color: #444; }
	body#WaitingListEditor #login_box ul.menu li:nth-child(4) { background-color: #f1eaeb; }

/* Portal page stylings */
body#TutorClasses div#content { position: relative; }
p.tutor-calendar { position: absolute; top: 14px; right: 15px; background-color: rgb(247,247,247); background: rgba(247,247,247,0.96); border: 1px solid #eee; padding: 8px 12px; color: #999; }
p.tutor-calendar:hover { border-color: #999; }
	p.tutor-calendar > a.calendarSubscribe { margin: 0; padding: 0; color: #737ab0; }
	p.tutor-calendar > a.calendarSubscribe:hover { color: #444; }
	
body#TutorClasses div#content h3 { margin-top: 0; color: #999; border-bottom: 1px solid #999;  }

body#TutorCourseClassDetail div#content h2  { margin: 0;  font-size: 1.8em;  }
body#TutorCourseClassDetail div#content h2 span { font-size: 1em; font-family: MisoBold, Calibri, 'Trebuchet MS', Helvetica, Arial, sans-serif; }
	body#TutorCourseClassDetail div#content h2 span a { color: #78303b; }

body#TutorClasses div#courselist h4,
body#StudentEnrolments div#content h2, 
body#ContactMain div#content h2 { margin: 0; color: #78303b; font-family: MisoBold, Calibri, 'Trebuchet MS', Helvetica, Arial, sans-serif; font-size: 1.8em; }


/* Footer adjustments for landing pages */
body#page5026 div#footer,
body#page5027 div#footer,
body#page5028 div#footer,
body#page5029 div#footer,
body#page5030 div#footer { margin-top: 17px; border-top: 1px solid #eee; }

/* Tutor/course spotlight styling */

body#page3630 div.webnodecontent > p, body#page5117 div.webnodecontent > p,
body#page3628 div.webnodecontent > p, body#page5118 div.webnodecontent > p { width: 400px; float: right; }
body#page3630 div.left_panel + p, body#page5117 div.left_panel + p,
body#page3628 div.left_panel + p, body#page5118 div.left_panel + p { border: 0px solid red; margin: 0; padding: 0; }

body#page3628 div.webnodecontent > p, body#page5117 div.webnodecontent > p { width: 400px; float: right; }
body#page3628 div.left_panel + p, body#page5118 div.left_panel + p { border: 0px solid red; margin: 0; padding: 0; }

hr.half_width { width: 50%; margin: auto; background-color: #f7f7f7; }