@charset "UTF-8";

/// Handles slider's settings.
///
/// Slider wrapper margin and used for defining gap at the bottom.
///
/// @example scss - Usage
///  .bx-wrapper {
///    margin: $sliderWrapperMargin;
///  }
///
/// @example css - CSS Output
///  .bx-wrapper {
///    margin: 0 auto 60px;
///  }
///
/// @type String
/// @group ish
///

$sliderLoaderImage: $images-bxslider+'/bx_loader.gif' !default;

$sliderWrapperMargin: 0 auto 60px !default;
$sliderPagerPositionBottom: -30px !default;
$sliderPagerAlignment: center !default;
$sliderPagerColor: #666 !default;
$sliderPagerPadding: 20px 0 0 0 !default;

$sliderPagerItemBackground: #666 !default;
$sliderPagerItemWidth: 10px !default;
$sliderPagerItemHeight: 10px !default;
$sliderPagerItemMargin: 0 5px !default;
$sliderPagerItemBorderRadius: 5px !default;
$sliderPagerItemBorder: 0 !default;
$sliderPagerItemActiveBackground: #000 !default;

$sliderPagerControlBackground: $images-bxslider+'/controls.png' !default;

$sliderPagerControlPrevLeftPosition: 10px !default;
$sliderPagerControlPrevBGPosition: 0 0 !default;
$sliderPagerControlPrevBGPositionHover: 0 0 !default;

$sliderPagerControlNextRightPosition: 10px !default;
$sliderPagerControlNextBGPosition: -43px 0 !default;
$sliderPagerControlNextBGPositionHover: -43px 0 !default;

$sliderPagerControlPrevLeftPositionInverse: 10px !default;
$sliderPagerControlPrevBGPositionInverse: 0 -34px !default;
$sliderPagerControlPrevBGPositionHoverInverse: 0 -34px !default;

$sliderPagerControlNextRightPositionInverse: 10px !default;
$sliderPagerControlNextBGPositionInverse: -24px -33px !default;
$sliderPagerControlNextBGPositionHoverInverse: -24px -33px !default;

$sliderControlPositionTop: 50% !default;
$sliderControlMarginTop: -16px !default;
$sliderControlWidth: 32px !default;
$sliderControlHeight: 32px !default;
$sliderControlOpacity: 0.75 !default;

$sliderControlStartBackgroundPosition: -86px -11px !default;
$sliderControlStartBackgroundPositionHover: -86px 0 !default;

$sliderControlStopBackgroundPosition: -86px -44px !default;
$sliderControlStopBackgroundPositionHover: -86px -33px !default;

$sliderCaptionBackground: #666 !default;
$sliderCaptionBackgroundRgba: rgba(80, 80, 80, 0.75) !default;
$sliderCaptionTextColor: #fff !default;
$sliderCaptionTextSize: .85em !default;
$sliderCaptionTextPadding: 10px !default;

//
// Below settings used in themes
//
$home-slider-height-mobile-small: 200px !default;
$home-slider-height-mobile: 300px !default;
$home-slider-height: 531px !default;

$homeSliderContainerPosition: relative !default;
$homeSliderContainerPositionTop: 16.3% !default;
$homeSliderContainerPositionTopMediaTablet: 129px !default;

$homeSliderContainerContentBackground: $black !default;
$homeSliderContainerContentBackgroundrgba: rgba(0,0,0,0.54) !default;
$homeSliderContainerContentColor: #fff !default;
$homeSliderContainerContentWidth: 85% !default;
$homeSliderContainerContentPadding: 10px 20px !default;
$homeSliderContainerContentWidthMediaSmall: 90% !default;
$homeSliderContainerContentPaddingMediaSmall: 29px 35px 31px !default;
$homeSliderContainerContentWidthMediaDesktop: 822px !default;

$homeSliderContainerHeadLineFontSize: 20px !default;
$homeSliderContainerHeadLineLetterSpacing: -0.5px !default;
$homeSliderContainerHeadLineFontWeight: bold !default;

$homeSliderContainerHeadLineFontSizeMediaSmall: 25px !default;
$homeSliderContainerHeadLineLetterSpacingMediaSmall: -1px !default;

$homeSliderContainerHeadLineFontSizeMediaTablet: 74px !default;
$homeSliderContainerHeadLineLetterSpacingMediaTablet: -4.7px !default;

$homeSliderContainerHeadLineFontSizeMediaDesktop: 74px !default;

$homeSliderContainerDescriptionFontSize: 12px !default;
$homeSliderContainerDescriptionPaddingTop: 2px !default;
$homeSliderContainerDescriptionFontSizeMediaSmall: 15px !default;
$homeSliderContainerDescriptionFontSizeMediaTablet: 37px !default;
$homeSliderContainerDescriptionFontSizeMediaDesktop: 37px !default;
