//
//
// courses.scss
//
// Contains courses's settings used in different scss files
//
// Copyright ish group (Australia) and part of ish onCourse.
// It is licensed to you under the Apache License, version 2.0
//

//
//
// Following settings are handles courses font style
//

// Courses font family default is body font family
$coursesFontFamily: $bodyFontFamily !default;
// Courses details font family default is body font family
$coursesDetailsFontFamily: $bodyFontFamily !default;
// Normal font family used for bubble info on course page
$normalFontFamily: $bodyFontFamily !default;

$classActionTextAlign: right !default;
$classActionFontSize: 11px !default;
$classActionLineHeight: 1.5 !default;

//
//
// Following all the settings handles Enrol button style
//

// Enrol button text hover color
$enrolActionHoverTextColor: $white !default;
// Enrol button font family
$enrolActionFontFamily: $bodyFontFamily !default;
$enrolActionDisplay: inline-block !default;
$enrolActionFontWeight: bold !default;
$enrolActionTextDecoration: none !default;
$enrolActionWidthSmall: 100% !default;
$enrolActionMinWidth: 110px !default;
// Enrol button background color, default set to site primary color
$enrolActionBackground: $primaryColor !default;
// Enrol button background hover color, default set to site secondary color
$enrolActionHoverBackground: $secondaryColor !default;
// Enrol button border color on mouse hover
$enrolActionHoverBorderColor: #CCC !default;

$enrolActionPadding: 10px 5px !default;
$enrolActionMargin: 5px 0 0 !default;

// Enrol button font size
$enrolActionFontSize: 14px !default;
// Enrol button text color
$enrolActionColor: $white !default;
// Enrol button text case (capitalize, lowercase, uppercase, or initial)
$enrolActionTextTransform: uppercase !default;
// Enrol button top and bottom height
$enrolActionLineHeight: 12px !default;
$enrolActionTextAlign: center !default;
// Enrol button border
$enrolActionBorder: 1px solid $primaryColor !default;

$enrolActionBorderRadiusSmall: 4px !default;
$enrolActionBorderRadius: 5px 5px 5px 13px !default;
$enrolActionWidth: 110px !default;

// Enrol button background color when it is disabled
$enrolActionDisabled: #F9F9F9 !default;
$enrolActionDisabledBackgroundHover: #F9F9F9 !default;
// Enrol button border color when it is disabled
$enrolActionDisabledBorderColor: #CCC !default;
// Enrol button text color when it is disabled
$enrolActionDisabledTextColor: #888 !default;
$enrolActionDisabledTextColorHover: darken($enrolActionDisabledTextColor, 5%) !default;

$enrolActionDisabledBorder: 1px solid $enrolActionDisabledBorderColor !default;
$enrolActionDisabledBorderHover: 1px solid $enrolActionDisabledBorderColor !default;

$enrolActionAddedBackground: $secondaryColor !default;
$enrolActionAddedBackgroundHover: $secondaryColor !default;

$enrolActionAddedBorder: 1px solid $enrolActionHoverBorderColor !default;
$enrolActionAddedBorderHover: 1px solid $enrolActionHoverBorderColor !default;

$enrolActionAddedColor: $enrolActionColor !default;
$enrolActionAddedColorHover: $enrolActionColor !default;



//
//
// Following settings are handles courses waiting list style
//

// Waiting list default background
$waitingListTitleBG: #eee !default;
// Waiting list font size
$waitingListTitleFontSize: 14px !default;
// Waiting list top position
$waitingListTitleMarginTop: 15px !default;
// Waiting list alignment default is center (left, center, right)
$waitingListTitleAlign: center !default;
$waitingListStrongTextColor: $primaryColor !default;
// Waiting list changed background on mouse hover
$waitingListTitleHoverBG: $anchorHoverColor !default;
$waitingListTextHoverColor: $white !default;
// Waiting list link title color
$waitingListTitleAnchorColor: #889 !default;
// Waiting list link added white spaces (top, right, bottom, left)
$waitingListTitleAnchorPadding: 10px 5px !default;
// Waiting list link title color on hover
$waitingListTitleAnchorHoverColor: #A90E1F !default;

//
//
// Following settings are handles courses waiting list join button style
//

// Waiting list join button background default taken primary color
$coursesJoinButtonBackground: $primaryColor !default;
// Waiting list join button mouse hover background default taken primary color
$coursesJoinButtonHoverBackground: $primaryColor !default;
// Waiting list join button displaying center on block
$coursesJoinButtonDisplay: inline-block !default;
// Waiting list join button min width
$coursesJoinButtonMinWidth: 60px !default;
// Waiting list join button default white space
$coursesJoinButtonPadding: 5px !default;
// Waiting list join button font size
$coursesJoinButtonFontSize: 14px !default;
// Waiting list join button text color
$coursesJoinButtonColor: $white !default;
// Waiting list join button changed text color on mouse hover
$coursesJoinButtonHoverColor: $white !default;
//Showing other classes image arrow
$showOtherClassesImage: "/s/img/arrow-down.png" !default;
//Showing full classes image arrow
$showFullClassesImage: "/s/img/arrow-down.png" !default;
// Waiting list join button top and bottom text height
$coursesJoinButtonLineHeight: 12px !default;
$coursesJoinButtonFontWeight: 300 !default;
$coursesJoinButtonTextAlign: center !default;
// Waiting list join button curved
$coursesJoinButtonBorderRadius: 5px !default;

$customTutorList: false !default;

//
//
// Following settings are handles courses content font style
//

// Course content text size
$coursesContentFontSize: 13px !default;

//
//
// Following settings are handles courses items style
//

$courseItemBorderTop: 2px dotted $primaryColor !default;
$courseItemPaddingTop: 20px !default;

// Courses short description rows
$coursesDescriptionRows: 5 !default;
// Courses short description text height
$coursesDescriptionLineHeight: 19px !default;

// Course item header font size
$coursesPageTitleFontSize: 28px !default;
$coursesPageTitleFontWeight: normal !default;

$coursesHeaderItemFontSize: 28px !default;

$coursesHeaderItemTextColor: $primaryColor !default;
$coursesHeaderItemTextColorHover: $secondaryColor !default;
// Adjust courses thumbnail max width
$coursesThumbnailWidth: 120px !default;
// Course description text color
$courseDescriptionTextColor: #252525 !default;
// Course description block bottom margin
$courseDescriptionMargin: 0 0 35px 0 !default;
// Course description's first image to displayed on left side of page
$courseDescriptionFirstImageFloat: left !default;
// Course description's first image position
$courseDescriptionFirstImageMargin: 0px 15px 15px 0px !default;

$courseShortDescriptionContent: "" !default;

// Courses list item position (inside, outside)
$courseItemListStylePosition: outside !default;
// Courses list item bottom, left margin
$courseItemListMargin: 0 0 18px 18px !default;
// Courses list item childred's left margin
$courseItemListChildMarginLeft: 10px !default;

// Courses item class description text color
$courseItemClassDescriptionColor: #444 !default;
// Courses item class description block margin
$courseItemClassDescriptionMargin: 0 0 10px 0 !default;
// Courses item class description headr text color (h1, h2, h3, h4, h5)
$courseItemClassDescriptionHeaderColor: #444 !important !default;

//
//
// Following settings are handles courses module style
//

// Courses module background color
$courseModuleBackgroundColor: #FEFEFE !default;
// Courses module border
$courseModuleBorder: 1px solid #E1E1E8 !default;
// Courses module curved
$courseModuleBorderRadius: 3px !default;
// Courses module top bottom position
$courseModuleMargin: 7px 0 !default;
// Courses module inside block's bottom border
$courseModuleSpanBottomBorder: 1px solid #E1E1E8 !default;
// Courses module inside block's background
$courseModuleSpanBackground: url("/s/img/core/right_triangle.png") 15px center no-repeat !default;
// Courses module inside block's background on active or mouse hover
$courseModuleSpanActiveBackground: url("/s/img/core/bottom_triangle.png") 11px center no-repeat !default;
// Courses module list margin
$courseModuleListMargin: 15px 0 0 18px !default;
// Courses module list spaces left bottom
$courseModuleListPadding: 0 0 10px 6px !default;
// Courses module child list left space
$courseModuleListChildPaddingLeft: 6px !default;

$courseMoreDisplay: block !default;
$courseMoreFontWeight: normal !default;
$courseMorePosition: absolute !default;
$courseMorePositionBottom: 0px !default;
$courseMorePositionRight: 0 !default;
$courseMoreWidth: 100% !default;
$courseMoreTextAlign: right !default;
$courseMoreZIndex: 2 !default;

$courseMoreLinkColor: $secondaryColor !default;
$courseMoreLinkHoverColor: $primaryColor !default;
$courseMoreLinkFontWeight: bold !default;
$courseMoreLinkTextDecoration: none !default;
$courseMoreLinkTextDecorationHover: underline !default;

//
//
// Following settings are handles class items style
//

$classItemInfoFontSize: 13px !default;

$classItemPadding: 10px 15px !default;
// Courses class item background color
$classItemBackgroundColor: $white !default;

$classItemMargin: 0 0 20px !default;
// Courses class item border color
$classItemBorderColor: #eee !default;
// Courses class item border
$classItemBorder: 1px solid $classItemBorderColor !default;
// Courses class item left border
$classItemBorderLeft: 6px solid $classItemBorderColor !default;
// Courses class item changed border color on mouse hover
$classItemBorderHoverColor: $primaryColor !default;
$classItemLinkColor: #4D4D4D !default;
$classItemLinkHoverColor: $primaryColor!default;

$classItemInfoLeftBorderRight: 1px solid #eee !default;

//
// Following settings are handles confirmed checkout popup style
//

$confirmOrderDialogDisplay: none !default;
$confirmOrderDialogWidth: 250px !default;
$confirmOrderDialogPosition: absolute !default;
$confirmOrderDialogPositionRight: 150px !default;
$confirmOrderDialogPositionTop: 100px !default;
$confirmOrderDialogPositionLeft: 50% !default;
$confirmOrderDialogMarginLeft: -125px !default;
$confirmOrderDialogPadding: 20px !default;
$confirmOrderDialogBackground: $white !default;
$confirmOrderDialogBorder: 1px solid #444 !default;
$confirmOrderDialogZIndex: 5 !default;
$confirmOrderDialogFontSize: 14px !default;
$confirmOrderDialogBoxShadow: 0px 0px 20px rgba(68, 68, 68, 0.3) !default;
$confirmOrderDialogBorderRadius: 4px !default;
$confirmOrderDialogTextAlign: left !default;

$confirmOrderDialogCloseButtonDisplay: none !default;

$confirmOrderDialogDivsMarginBottom: 3px !default;
$confirmedMessageFontSize: 16px !default;

$confirmOrderProceedTextAlign: center !default;

$confirmedProceedDisplay: inline-block !default;
$confirmedProceedPadding: 5px 10px !default;
// Confirmed to checkout popup's background
$confirmedProceedBackground: #A90E1F !default;
$confirmedProceedBackgroundHover: #A90E1F !default;
// Confirmed to checkout popup's text color
$confirmedProceedColor: $white !default;
$confirmedProceedColorHover: $white !default;
$confirmedProceedTextTransform: uppercase !default;
$confirmedProceedBorder: 0 !default;
$confirmedProceedBorderHover: 0 !default;
$confirmedProceedBorderRadius: 0 !default;
$confirmedProceedTextDecoration: none !default;
// Confirmed to checkout popup's text size
$confirmedProceedFontSize: 11px !default;
$confirmedProceedFontWeight: 700 !default;
$confirmedProceedMargin: 0 !default;

$confirmedClassDateFontSize: 11px !default;
$confirmedClassDateColor: #666 !default;

$confirmedCloseWrapperBorderTop: 1px solid #444 !default;
$confirmedCloseWrapperPadding: 10px 0 0 0 !default;
$confirmedCloseWrapperTextAlign: center !default;
$confirmedCloseWrapperFontSize: 16px !default;

$confirmedCloseButtonColor: $classItemLinkColor !default;
$confirmedCloseButtonColorHover: $classItemLinkHoverColor !default;

//
//
// Following settings support courses bubbleinfo
//

$coursesBubbleInfoDisplay: block !default;
$coursesBubbleInfoFontFamily: $normalFontFamily !default;
$coursesBubbleInfoFontSize: 12px !default;
$coursesBubbleInfoWidth: 256px !default;
$coursesBubbleInfoBorderCollapse: collapse !default;
$coursesBubbleInfoPadding: 0 23px 0 0 !default;
$coursesBubbleInfoPosition: absolute !default;
$coursesBubbleInfoPositionTop: -20px !default;
$coursesBubbleInfoZIndex: 10 !default;

$coursesBubbleInfoArrowPositionTop: 16px !default;
$coursesBubbleInfoArrowWidth: 23px !default;
$coursesBubbleInfoArrowHeight: 27px !default;
$coursesBubbleInfoArrowBackgroundPosition: right top !default;
$coursesBubbleInfoArrowBackgroundRepeat: no-repeat !default;

$coursesBubbleInfoPositionLeft: -260px;
$coursesBubbleInfoPositionRight: auto;
$coursesBubbleInfoArrowPositionRight: -23px;
$coursesBubbleInfoArrowPositionLeft: auto;
$coursesBubbleInfoArrowImage: "/s/img/popup-arrow.png";

@if $sidebarRight == "on" and $sidebarLeft == "" {
  $coursesBubbleInfoPositionLeft: auto;
  $coursesBubbleInfoPositionRight: -280px;

  $coursesBubbleInfoArrowPositionLeft: -23px;
  $coursesBubbleInfoArrowPositionRight: auto;
  $coursesBubbleInfoArrowImage: "/s/img/popup-arrow-r.png";
}

$coursesClassItemDateImage: $imagePath + "icon/calendar.png" !default;
$coursesClassItemDateDisplay: inline-block !default;
$coursesClassItemTimeDisplay: inline-block !default;
$coursesClassItemSessionDisplay: inline-block !default;

$coursesClassItemDateTimeBorderBottom: 1px dotted !default;

$coursesClassItemTutorDisplay: block !default;
$coursesClassItemTutorImage: "/s/img/icon/person.png" !default;
$coursesClassItemTutorImageWidth: 14px !default;
$coursesClassItemTutorImageHeight: 13px !default;

$coursesClassItemLocationDisplay: block !default;
$coursesClassItemLocationImage: "/s/img/icon/location.png" !default;
$coursesClassItemLocationImageWidth: 14px !default;
$coursesClassItemLocationImageHeight: 22px !default;

$coursesClassItemPriceDisplay: block !default;
$coursesClassItemFeeDiscountColor: $primaryColor !default;

$coursesRelatedItemsLinkHoverColor: $primaryColor !default;


$sessionTableWidth: 100% !default;
$sessionTableFontSize: 12px !default;
$sessionTablePadding: 10px 20px !default;
$sessionTableColor: #333 !default;
$sessionTableBorderCollapse: separate !default;
$sessionTableBorderSpacing: 0 !default;
$sessionTableHeaderPadding: 5px 8px !default;
$sessionTableHeaderFontWeight: bold !default;
$sessionTableHeaderTextAlign: left !default;
$sessionTableCellPadding: 5px !default;
$sessionTableCellBorderTop: 1px solid #DDD !default;
$sessionTableCellPadding: 7px 0 !default;
$sessionTableCellTextAlign: left !default;

$coursesSessionTableLinkColor: $primaryColor !default;
$coursesSessionTableLinkHoverColor: #444 !default;


$classDetailsTitleMedia: $media-small !default;
$classDetailsTitlePaddingRightMedia: 195px !default;
$classDetailsPrintPagePosition: relative !default;
$classDetailsPrintPagePositionTop: 0 !default;
$classDetailsPrintPagePositionLeft: 0 !default;
$classDetailsPrintPagePadding: 6px 10px 6px 40px !default;
$classDetailsPrintPageTextAlign: center !default;
$classDetailsPrintPageColor: brown !default;
$classDetailsPrintPageFontWeight: bold !default;
$classDetailsPrintPageFontSize: 14px !default;
$classDetailsPrintPageBorder: 1px solid silver !default;
$classDetailsPrintPageBackground: url("/s/img/icon/printer1.png") 4px 4px no-repeat !default;
$classDetailsPrintPageBorderRadius: 10px !default;
$classDetailsPrintPageMargin: 0 auto 15px !default;
$classDetailsPrintPageDisplay: block !default;
$classDetailsPrintPageWidth: 196px !default;
$classDetailsPrintPageWidthMedia: auto !default;
$classDetailsPrintPagePositionMedia: absolute !default;
$classDetailsPrintPagePositionTopMedia: 0 !default;
$classDetailsPrintPagePositionRightMedia: 0 !default;
$classDetailsPrintPagePositionLeftMedia: auto !default;

$classDetailsTitleMinHeight: 40px !default;
$classDetailsTitleMargin: 0 0 5px 0 !default;


// Course testimonials
$courseTestimonialsEnable: true !default;
$courseTestimonialsBlock: ".internal-page .content .courseItem .courseTestimonials" !default;

$courseTestimonialsBxSliderEnable: true !default;
$courseTestimonialsFlexSliderEnable: false !default;

$courseTestimonialsBackgroundColor: #d8dbdd !default;
$courseTestimonialsColor: #000 !default;
$courseTestimonialsFontSize: 16px !default;
$courseTestimonialsFontWeight: 100 !default;
$courseTestimonialsLineHeight: 1.3 !default;
$courseTestimonialsPadding: 37px 40px 43px !default;
$courseTestimonialsPosition: relative !default;
$courseTestimonialsTextAlign: center !default;
$courseTestimonialsMarginTop: 60px !default;
$courseTestimonialsMarginBottom: 20px !default;
$courseTestimonialsWidth: 100% !default;

$courseTestimonialsFontSizeMediaTablet: 20px !default;

$courseTestimonialsBeforeContent: "" !default;
$courseTestimonialsBeforeBackground: #fff !default;
$courseTestimonialsBeforeWidth: 92% !default;
$courseTestimonialsBeforePositionBottom: 0 !default;
$courseTestimonialsBeforePositionLeft: 0 !default;
$courseTestimonialsBeforePositionRight: 0 !default;
$courseTestimonialsBeforeMargin: 0 auto !default;
$courseTestimonialsBeforeHeight: 15px !default;

$courseTestimonialsAfterArrowPosition: "top" !default;
$courseTestimonialsAfterArrowWidth: 15px !default;
$courseTestimonialsAfterArrowColor: $courseTestimonialsBackgroundColor !default;

$courseTestimonialsAfterBottom: 0 !default;
$courseTestimonialsAfterPositionLeft: 50% !default;
$courseTestimonialsAfterMarginLeft: -16px !default;

$courseTestimonialsTitleColor: #000 !default;
$courseTestimonialsTitleFontSize: 25px !default;
$courseTestimonialsTitleFontWeight: bold !default;
$courseTestimonialsTitleLetterSpacing: -0.025em !default;
$courseTestimonialsTitleMarginBottom: 19px !default;

$courseTestimonialsTitleMediaTablet: 30px !default;

$courseTestimonialsSliderWrapperMarginBottom: 30px !default;
$courseTestimonialsSliderPagerDisplay: none !default;

$courseTestimonialsSliderArrowBackgroundColor: $primaryColor !default;
$courseTestimonialsSliderArrowBackground: transparent url('data:image/svg+xml;utf8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%20%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%2022%2015%22%20enable-background%3D%22new%200%200%2022%2015%22%20xml%3Aspace%3D%22preserve%22%3E%3Cg%3E%20%3Cpath%20fill%3D%22'+ encode-color($courseTestimonialsSliderArrowBackgroundColor) +'%22%20d%3D%22M7.6%2C0.1c0.4%2C0%2C0.8%2C0.1%2C1.1%2C0.4c0.6%2C0.6%2C0.6%2C1.5%2C0%2C2.1L3.8%2C7.5l4.9%2C4.9c0.6%2C0.6%2C0.6%2C1.5%2C0%2C2.1%20s-1.5%2C0.6-2.1%2C0l-6-6C0%2C7.9%2C0%2C7%2C0.6%2C6.4l6-6C6.8%2C0.2%2C7.2%2C0.1%2C7.6%2C0.1L7.6%2C0.1z%22/%3E%20%3C/g%3E%20%3Cg%3E%20%3Cpath%20fill%3D%22'+ encode-color($courseTestimonialsSliderArrowBackgroundColor) +'%22%20d%3D%22M14.5%2C14.9c-0.4%2C0-0.8-0.1-1.1-0.4c-0.6-0.6-0.6-1.5%2C0-2.1l4.9-4.9l-4.9-4.9c-0.6-0.6-0.6-1.5%2C0-2.1%20s1.5-0.6%2C2.1%2C0l6%2C6c0.6%2C0.6%2C0.6%2C1.5%2C0%2C2.1l-6%2C6C15.3%2C14.8%2C14.9%2C14.9%2C14.5%2C14.9L14.5%2C14.9z%22/%3E%20%3C/g%3E%20%3C/svg%3E') no-repeat !default;

$courseTestimonialsSliderArrowBackgroundSize: 24px !default;
$courseTestimonialsSliderArrowWidth: 11px !default;
$courseTestimonialsSliderArrowHeight: 17px !default;

$courseTestimonialsSliderArrowPosition: -20px !default;
$courseTestimonialsSliderArrowRightBackgroundPosition: -13px !default;


$courseTestimonialsRatingEnable: false !default;

$courseTestimonialsRatingIconContent: "";
$courseTestimonialsRatingIconDisplay: inline-block;
$courseTestimonialsRatingIconBackground: transparent url("/s/img/icons/icon-rating.png") 0 0 no-repeat;
$courseTestimonialsRatingIconWidth: 20px;
$courseTestimonialsRatingIconHeight: 20px;
$courseTestimonialsRatingIconBackgroundPosition: -21px 0;
$courseTestimonialsRatingIconBackgroundPositionChecked: 1px 0;
