//
//
// default-settings.scss
//
// Contains all the settings used in different scss files
//
// Copyright ish group (Australia) and part of ish onCourse.
// It is licensed to you under the Apache License, version 2.0


//
// Contains bootstrap settings
//
@import "bootstrap";

//
// Contains main style settings
//
@import "default";

//
// Contains main style settings
//
@import "main";

//
// Contains sidebar style settings
//
@import "sidebar";

//
// Contains layouts style settings
//
@import "layouts";

//
// Contains mixed style settings
//
@import "other";

//
// Contains inputs and button elements style settings
//
@import "elements";

//
// Contains slider style settings
//
@import "bxslider";

//
// Contains body style settings
//
@import "body";

//
// Contains courses style settings
//
@import "courses";

//
// Contains courses menu tree style settings
//
@import "courses-menu";

//
// Contains courses list tree style settings
//
@import "courses-list";

//
// Contains footer style settings
//
@import "footer";

//
// Contains header style settings
//
@import "header";

//
// Contains header tag (h1, h2, ..., h6) style settings
//
@import "header-tag";

//
// Contains navigation style settings
//
@import "navigation";

//
// Contains search/advanced search style settings
//
@import "search";

//
// Contains faceted search style settings
//
@import "faceted-search";

//
// Contains selected shortlist of courses style settings
//
@import "shortlist";

//
// Contains enrol/checkout style settings
//
@import "enrol";

//
// Contains social icons style settings
//
@import "social-icons";
