/*
 * Copyright ish group pty ltd. All rights reserved. http://www.ish.com.au
 * No copying or use of this code is allowed without permission in writing from ish.
 */
 
body.cms_loggedin { margin: 0 0 60px 0; }

#cms_nav { position: fixed; width: 100%; height: 50px; bottom: 0px; font-size: 140%; z-index: 9000; background: #444; background: rgba(0,0,0,0.9); }

#cms_actions { float: left; }
#cms_links { float: right; }
#cms_nav a { color: #eee !important; }
#cms_nav a:hover { color: green;}

#cms_actions, #cms_links, #cms_actions li, #cms_links li { margin: 0 0 10px 0; padding: 6px; list-style: none; display: inline-block; }

#cms_pageinfo { background: rgba(0,0,0,0.9); position: fixed; bottom: 100px; left: 10px; padding: 10px 100px 10px 10px; color: #fff; }
#cms_pageinfo dl, #cms_pageinfo dd { padding: 0; margin: 0; }

.cms_pagename { font-size: 1.6em; }
.cms_pagestate { color: orange; }
.cms_pagemodified { font-size: 0.8em; color: #999; }

#cms_pageinfo a { display: block; position: absolute; right: 10px; bottom: 8px; color: red; text-decoration: none; }
#cms_pageinfo .noteditable { display: none; }

#cms_editor { position: fixed; width: 800px; height: 475px; left: 200px; top: 40px; background: rgba(0,0,0,0.9); color: #fff; padding: 20px 20px 60px 20px; }
#cms_editor form { height: 100%; position: relative; }
#cms_editor textarea { height: 390px; width: 100%; }

.cms_editor_tabs { height: 100%; }
.cms_editor_tabs_1 { position: relative; }

.cms_form_actions { text-align: right; }


/* Layout / Content Editor styling */	
div.region { border: 1px dashed #eee;  height: 600px; position: relative; z-index: 1;}	
div.region { }
div.region div.edit_region_link  { position: absolute; top: 0; right: 0; padding: 12px; background: #939595; color: #fff; display: none; cursor: pointer; }
div.region:hover { border: 1px solid #939595; }
div.region:hover div.edit_region_link { display: block; }





