@media (max-width: 1200px) {

  .container {
    max-width: 100%;
  }
	
	.student-list {
  
    h5 {
      font-size: 17px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    
    > li .attendance {
      min-height: 88px;
     }
	}

	.email-field {
		max-width: 100%;
		text-overflow: initial;
	}
	
	.student-list > li .avatar {
		text-align: right;
	}
	
	.student-detail .list-inline li:nth-child(2){
		display: none;
	}
	
	.resources-content, .result-content {
		.result-list li span {
			width: 70%;
		}
	}
	
	/* Header and tabs */
	.nav-tabs.header-tabs {
		float: none;
	}
  
  .page-header h1 {
    float: none;
    > a {
      width: auto;
    }
  }

	.nav-tabs.header-tabs {
		/*border-bottom: 1px solid $heading-border-color;*/
    border-bottom: none;
		margin-bottom: 20px;
	}
	
	.page-header {
		margin-top: 58px;
	}
}
