div.location-details {
  div.location-name {}

  div.location-address {
    div.location-street {
    }
    div.location-suburb {
      float: left;
      margin-right: 5px;
    }
    div.location-state {
      float: left;
      margin-right: 5px;
    }
    div.location-postcode {
      float: left;
      margin-right: 5px;
    }
  }
}