.main-nav {
	margin-bottom: 0;
	padding: 0 0 0 15px;
	display: inline-block;
	
	li {
		display: inline-block;
		padding: 20px 15px;
		position: relative;
		
		&:first-child {
			padding-left: 0;
		}
		
		a {
			color: #6b6969;
			vertical-align: middle;
			position: relative;
			i {
				vertical-align: top;
				display: inline-block;
				width: 22px;
				height: 22px;
				text-align: center;
				position: relative;
				background: url(../img/logo-sprite.png) no-repeat;
				margin-right: 10px;
				
				&.icon-timetable {
					background-position: -14px -17px;
				}
				
				&.icon-resources {
					background-position: -56px -17px;
				}
				
				&.icon-results {
					background-position: -96px -17px;
				}
				
				&.icon-profile {
					background-position: -139px -17px;
				}
				
				&.icon-subscribe {
					background-position: -184px -17px;
				}
				
				&.icon-history {
					background-position: -226px -17px;
				}
        
        small {
          bottom: -3px;
          right: -5px;
          left: auto;
        }
        
			}
			
			&:hover {
				color: $red-color;
				text-decoration: none;
				
				i {	
					background-position-y: -74px;
				}
			}
      
      small {
        background: $menu-notification-badge;
        position: absolute;
        bottom: -7px;
        left: 15px;
        height: 14px;
        width: 14px;
        display: inline-block;
        border-radius: 50%;
        text-align: center;
        color: $white;
        font-size: 9px;
        padding: 1px 0;
			}
		}
		
		&.active {
			
			a {
				color: $red-color;
				
				i {	
					background-position-y: -74px;
				}
			}
			
			&:after {
				content: "";
				display: block;
				border-top: 10px solid rgba(0, 0, 0, 0);
				border-bottom: 10px solid #FFF;
				border-left: 10px solid rgba(0, 0, 0, 0);
				border-right: 10px solid rgba(0, 0, 0, 0);
				position: absolute;
				bottom: 0;
				left: 50%;
				margin-left: -3px;
			}
		}
	}
}
.header-nav {
	button.navbar-toggle {
		border-color: #333;
		margin-right: 0;
		background: #333;
		padding: 7px 6px;
		margin-bottom: 0;
		
		.icon-bar {
			background: $white;
		}
	}
}

.navbar {

	.header-top {
		background: $dark-brown;
	}
	
	.header-nav {
		background: $top-nav-bg;
		
		.btn-approval {
			float: right;
			margin-top: 9px;
			font-size: 14px;
		}
		
		.badge {
			background: $approval-btn-badge;
			margin-left: 7px;
		}
	}
	
	.logged {
		padding: 18px;
		position: relative;
		float: right;
		color: $white;
		cursor: pointer;
		
		.caret {
			border-top-color: $white;
			margin-left: 10px;
		}

		.change-user {
			display: inherit;
			
			&.open .dropdown-toggle {
				-webkit-box-shadow: none;
				box-shadow: none;
			}
			
			ul.dropdown-menu {
				background: #FEFBE8;
				display: none;
			}
			
			button.btn {
				background: transparent;
				border: 0;
				color: #D4952E;
				text-transform: none;
				font-size: 11px;
				font-weight: 400;
				padding-right: 0;
			    position: absolute;
			    right: 0;
				display: none;
				// float: right;

				.caret {
					border-top-color: #D4952E;
					margin-left: 7px;
				}
			}
		}
		
		> ul {
			position: absolute;
			background: $header-dropdown-bg;
			top: 100%;
			left: 0;
			width: 100%;
			display: none;
			@include border-radius(0 0 10px 10px);
			z-index: 9;
			
			> li {
				border-top: 1px solid #69524A;
				
				&:first-child {
					border-top: none;
				}
				
				> a {
					padding: 10px 20px;
					display: block;
					color: $white;
					
					&:hover {
						text-decoration: none;
					}
				}
				
				/*> span {
					float: left;
					margin-top: 10px;
					border-right: 1px solid $white;
					padding-right: 15px;
					padding-left: 15px;
					position: relative;
				}
				
				span.badge {
					float: none;
					margin: 0 0 0 10px;
					padding: 3px 12px;
					border: 0;
					background: $body-bg;
					color: $dark-brown;
				}*/
			}
		}
		
		&:hover,
		&.navbar-collapse.in {
			background: $header-dropdown-bg;

			.change-user {

				button.btn {
					display: block;
				}

				&.open {
					> ul {
						display: block;
						top: 20px;
					}	
				}
			}

			> ul {
				display: block;
			}
		}

		&:hover{

			> .caret {
				opacity: .1;
			}
		}

		&.navbar-collapse.in{
			> strong {
				float: left;
			}
			> .caret {
				float: left; // only for iPhone
				visibility: hidden;
			}

			.change-user {
				float: right;
			}
		}

		&.collapsing {
			background: $header-dropdown-bg;
			> strong,
			> .caret {
				display: none;
			}
		}
		
		i {
			margin: 2px 5px 0 0;
			float: left;
		}


		
		.btn.logout {
			margin-left: 5px;
			color: $white;
			padding: 8px 12px;
			font-size: 13px;
			
			&:hover {
				text-decoration: none;
			}
		}
	}
}