/* Normalize Heading tags Ends */

#class-details > div.course-detail > div > em {
  font-style: italic;
}

#finance-history {

    tr > td {
        border-top: 1px solid $border-color;
        a {
            color: #333333;
        }
    }

    tr:nth-child(odd) > td {
        background: $history-row-odd;
    }

    tr:nth-child(even) > td {
        background: $history-row-even;
    }

}

#enrolments-history, #applications-history > ul {
  border-bottom: 1px solid $border-color;

  li {
    padding: 9px 20px 3px 20px;
    border-top: 1px solid $border-color;

    small, label {
      margin-left: 3px;
    }

    &:nth-child(odd) {
      background: $history-row-odd;
    }

    &:nth-child(even) {
      background: $history-row-even;
    }
  }

}

#wrap .main-container {
    &.col-lg-12.col-sm-12, &.login-container {
        width: 100%;
    }
}

.page-header {
    border-bottom-color: $heading-border-color;
    margin: 60px 0 30px;
    padding-bottom: 0;
    position: relative;
    &.navbar {
        margin-bottom: 30px;
    }

    h1 {
        margin: 9px 0 0 0;
        /*float: left;*/
    padding-bottom: 5px;
        > a {
            white-space: normal;
            width: auto;
            overflow: hidden;
            display: inline-block;
            text-overflow: ellipsis;
            vertical-align: middle;
            font-size: 90%;
            padding-right: 10px;
        }

        span {
            vertical-align: middle;
            display: inline-block;
        }
    }

    .label {
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        font-weight: normal;
        margin-left: 15px;
        font-size: 1.1rem;
        margin-top: 15px;

        &:hover {
            color: $white;
        }

    &.pull-right {
      margin-top: 15px;
    }
    }

    button.hide-map {
        margin: 11px 11px 0 0;
    }

    h4 small {
        color: $dark-brown;
        font-family: Arial;
        font-size: 1.2rem;
        display: inline-block;
    }

    .badge {
        vertical-align: top;
    }

    .tooltip-inner {
        max-width: 285px;

        ul {
            margin-bottom: 5px;
        }
    }
}

.profile-container .page-header h1 > a {
  width: auto;
}

.slide-content {
    padding: 0 30px;
    p {
        margin-bottom: 2px;
    }
}

.session-content {
    position: relative;

    [id*='session-'] {
        position: absolute;
        top: -38px;
        right: 32px;
        cursor: pointer;
        z-index: 1;
        display: none;

        &:after {
            content: "";
            display: block;
            background: $white;
            width: 25px;
            height: 25px;
            position: absolute;
            left: -5px;
            top: -5px;
            z-index: -1;
            border: 1px solid $session-nav-bg;
            @include border-radius(3px);
        }
    }

    > div {
        overflow: hidden;
        padding: 0;
        margin-right: -15px;
        margin-left: -15px;

        section > div {
            padding: 0 15px;

            > ul {
                margin: 0;
                background: $single-session;
                padding: 10px;
                position: relative;
                border-radius: 7px;

                &.current {
                    background: $session-active;
                }

                li h6 {
                    margin-top: 0;
                }

                .review-btn-container {
                    margin-top: 10px;
                }
            }
        }
    }

    section {
        position: relative;
    }

    #session-prev {
        right: 3px;
        left: auto;
    }
}

#venue {
    height: 280px;
    width: 100%;
    margin-top: 25px;
    margin-bottom: 10px;
}

.map-conetnt {
    display: none;
}

.session-wrapper {
    padding-right: 0px;
    .page-header {
        margin-bottom: 0px;
    }
}

.class-roll-content {
    padding-left: 0px;
  margin-bottom: 35px;

    .page-header {
        margin-bottom: 0px;
    margin-top: 30px;
    }

    .info-text {
        display: none;
    }
}

.session-list-content {
    min-height: 288px;
    max-height: 288px;
    overflow: hidden;
}


.session-info {
    a {
        color: #333;
        .icon-arrow-down {
            border-top-color: #333;
        }
    }
}

.student-list {

    h5 {
        margin: 5px 0 7px 2px;
        font-size: 14px;
        @include responsive($media-xsmall) {
            font-size: 1.7rem;
        }
    }

    > li {
        position: relative;
        padding: 0;
        @include responsive($media-small) {
            padding: 0 15px;
        }

        &:last-child {
            .student-detail {
                border-bottom: 0;
            }
        }

        .attendance-content {
            display: none;
        }

        .attendance {
            position: relative;
            padding-left: 0;
            margin: 5px 0 0 0;
            -webkit-transition: all .2s linear;
            -moz-transition: all .2s linear;
            transition: all .2s linear;
            left: -20px;
            opacity: 0;

            &.act {
                opacity: 1;
        left: 0;
            }
        }

        &.active {
            .attendance {
                background: $highlight-color;
                display: block;
            }
        }

        .student-detail {
            border-bottom: 1px solid $border-color;
            padding: 12px 0 12px;

            > div.attendance-content {
                overflow: hidden;
            }
            .mark-buttons {
                margin-top: 2px;
                @include responsive($media-small) {
                    margin-top: 8px;
                }
            }
            .percents-of-attendance {
                margin-top: 2px;
                @include responsive($media-small) {
                    margin-top: 15px;
                }
            }
            .student-card-action-wrapper {
                .mark-buttons {
                    .btn-group a {
                        padding: 4px 7px;
                        font-size: 12px;
                        @include responsive($media-small) {
                            padding: 6px 12px;
                            font-size: 14px;
                        }
                    }
                }
                .tick-cross-wrapper {
                    padding-left: 0px;
                    @include responsive($media-small) {
                        padding-right: 0px;
                        padding-left: 15px;
                    }
                }
                .add-rem-collapse {
                    margin-top: 2px;
                    img.mark-img {
                        width: 30px;
                    }
                }
            }
        }
    }

    ul.list-inline {
        margin-left: -3px;
        margin-bottom: 2px;
    }

    .avatar {
        margin-right: 10px;
        width: 65px;
        @include responsive($media-small) {
            width: 50px;
        }
        img {
            max-width: 100%;
            height: auto;
        }
    }

    .attendance {
        padding-right: 0;
    }
}

.form-title {
    margin-top: 0;
}

/* login page */

.login-form {
    max-width: 400px;
    padding: 19px 29px 29px;
    margin: 35px auto 20px;
    border: 1px solid $loginbox-border-color;
    background: $well-bg;
    @include border-radius(5px);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);

    .login-option {
        label {
            float: left;
            margin-bottom: 0;
            font-weight: normal;
        }
    }

    fieldset {
        position: relative;
    }

    .forget-pwd {
        padding-top: 0;
        float: left;

        input {
        	background: transparent;
            border: none;
            color: #f48824;
            font-weight: normal;
            text-transform: inherit;
            font-size: 13px;

            &:hover {
            	color: #c8706b;
            	text-decoration: underline;
            	background: none;
            }
        }

    }

    .alert-info {
        margin: 25px 0 0 0;
    }

    .company-login {
        display: none;
    }
}

/* Sidebar */

/*.sidebar.affix {
    position: static;
    padding: 21px 24px;
    background: $sidebar-bg;
    @include border-radius(7px);
    top: 120px;
}*/


/* First level of nav */
.sidenav {
    margin-top: 10px;
    padding-top: 0;
    text-shadow: 0 1px 0 #D7EFFA;
    background: none;
    border-radius: 5px;

    li ul {
        margin-top: 10px;
    }

    .show-all-courses {
        text-align: center;
        width: 100%;
    }

    .expanded {

        .applications-content, .classes-content {
            border-bottom: 1px solid $border-color;
        }
    }

    .badge {
        font-family: arial;
        background: $dark-brown;
        margin-left: 7px;
    }
}

.icon-arrow-down {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #c8706b;
    float: left;
    margin-top: 7px;
    margin-right: 5px;
}

.icon-arrow-up {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #c8706b;
    float: left;
    margin-top: 7px;
    margin-right: 5px;
}

.icon-arrow-up {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #c8706b;
    float: left;
    margin-top: 7px;
    margin-right: 5px;
}


/* All levels of nav */
.sidebar {

    margin-bottom: 20px;

    .sidebar {
        margin-bottom: 0;
        margin-top: 60px;
        position: static;
        padding: 21px 24px;
        background: $sidebar-bg;
        @include border-radius(7px);
        top: 120px;
    }

    .navbar-collapse {
        max-height: none;
        padding: 0;
    }

    .nav > {
        li > a {
            display: block;
            color: $red-color;
            padding: 0px 20px 3px 5px;
            border-bottom: 1px solid $sidebar-border-color;
            font-size: 1.8rem;
            font-weight: 700;
            text-shadow: none;
            font-family: $heading-font;

            &:hover, &:focus {
                text-decoration: none;
                background-color: transparent;
            }
        }

        .active a, .active:hover a, .active:focus > a {
            font-weight: bold;
            color: $red-color;
            background-color: transparent;
            border-right: none;
        }
    }

    .nav .nav {
        display: none;
        margin-bottom: 8px;

        > li > a {
            padding-top: 3px;
            padding-bottom: 3px;
            padding-left: 30px;
            font-size: 90%;
        }
    }


  .applications-content, .classes-content {
        overflow: auto;

        > li {
            padding-left: 5px;

            p:first-child {
                margin: 0;
            }

            ul {
                margin-top: 0;
            }
        }

        h4 {
            color: #333;
        }

        label {
            margin-top: 3px;
            font-weight: normal;

            > span:after {
                content: "";
                display: block;
                clear: both;
                visibility: hidden;
                width: 100%;
                height: 0;
            }
        }

        .label {
            text-shadow: none;
        }

        span.rating {
            line-height: 18px;
            display: inline-block;
            vertical-align: top;
            margin-left: 5px;
        }
    }
}

.show-all-sessions {
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 700;
    color: #69524a;

    .icon-arrow-down {
        float: none;
        vertical-align: middle;
        margin-left: 5px;
        margin-left: 0;
        margin-top: 0;
        display: inline-block;
        border-top: 5px solid #C6AAA0;
    }
}

.rate-class {
    display: inline-block;
    margin: 12px 0 0 10px;
}

.applications-content, .classes-content {
    label {
        margin: 0;
        font-weight: normal;
    }

  li {
    span {
      color: $small-text-color;
    }
  }
}

#approvalForm input#accept {
    margin-bottom: 35px;
}


.nav-tabs.header-tabs {
    margin-top: 5px;
    float: none;
    border: 1px solid #E6D4CE;
    margin-bottom: 5px;
    border-radius: 4px;
    position: relative;
    padding: 1px;

    @include responsive($media-small) {
        border: 0 none;
        border-radius: 0px;
        padding: 0px;
    }

    @include responsive($media-desktop) {
        float: right;
        border-bottom: 1px solid #E6D4CE;
        margin-bottom: -1px;
    }

    .toggle-tabs {
        display: block;
        cursor: pointer;
        position: absolute;
        top: 21px;
        right: 15px;
        z-index: 10;
        @include responsive($media-small) {
            display: none;
        }
        &:hover + li {
            background: $tabs-text-hover-color;
        }
    }

    &:after {
        @include responsive($media-small) {
            position: absolute;
            content: "";
            display: block;
            border-bottom: 1px solid $heading-border-color;
            width: 100%;
            left: 0;
            top: 55px;
            z-index: -1;
        }
    }

    > li {
        float: none;
        margin-bottom: 0;
        display: none;
        @include responsive($media-small) {
            float: right;
            margin-bottom: -1px;
            display: block;
        }

        &.active {
            display: block;
            > a {
                background-color: $body-bg;
                color: #5b574e;

                &, &:hover, &:focus {
                    border: 0 none;
                    @include responsive($media-small) {
                        border: 1px solid $border-color;
                        border-bottom-color: $body-bg;
                    }
                }

                &:hover, &:focus {
                    background-color: $body-bg;
                    border-color: $border-color;
                    border-bottom-color: $body-bg;
                }
            }
        }

        > a {
            border-radius: 4px;
            @include responsive($media-small) {
                border-radius: 4px 4px 0 0;
            }
        }

        a {
            color: $tabs-text-color;
            font-size: 1.4rem;
            padding: 17px 15px;
            margin-right: 0;
            border: 0 none;
            @include responsive($media-small) {
                margin-right: 2px;
                border: 1px solid transparent;
            }

            &:hover, &:focus {
                background: $tabs-text-hover-color;
                @include responsive($media-small) {

                }
            }
        }
    }
}


.arrow-content::before {
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #c8706b;
    float: left;
    content: "";
    position: relative;
    top: 3px;
    margin-right: 5px;
}

strong.link-color {
  color: #f48824;
}

.sidebar-collapse{

    &::after {
        content:"";
        display: block;
        clear: both;
        margin: 0;
    }

    .navbar-toggle {
        background: #69524A;
        margin-bottom: 0;

        .icon-bar {
            background: #e9b049;
        }
    }

}

.email-field {
    max-width: 144px;
    overflow: hidden;
    vertical-align: top;
    text-overflow: ellipsis;
}

/* Sidebar Ends */

.slider-frame {
    position: relative;
    display: block;
    float: left;
    width: 100px;
    height: 20px;
    background-color: rgb(246, 249, 251);
    -moz-border-radius: 50px;
    border-radius: 50px;
    -webkit-box-shadow: inset 0px 0px 4px 0 rgba(0, 0, 0, 0.25);
    -moz-box-shadow: inset 0px 0px 4px 0 rgba(0, 0, 0, 0.25);
    box-shadow: inset 0px 0px 4px 0 rgba(0, 0, 0, 0.25);

    input[type="checkbox"] {
        display: none;
    }
}

.slider-button {
    display: block;
    width: 80px;
    height: 20px;
    line-height: 27px;
    background: #EDF2F7;
    -moz-border-radius: 50px;
    border-radius: 50px;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    color: #000;
    font-family:sans-serif;
    font-size:11px;
    font-weight:bold !important;
    text-align: center;
    cursor: pointer;
    -webkit-box-shadow: inset 0px 0px 4px 0 rgba(0, 0, 0, 0.25);
    -moz-box-shadow: inset 0px 0px 4px 0 rgba(0, 0, 0, 0.25);
    box-shadow: inset 0px 0px 4px 0 rgba(0, 0, 0, 0.25);
    line-height: 20px;

    &.on {
        margin-left: 19px;
        background: #bad1e5;
    }
}

.single-class {
    padding: 10px 0;
    border-bottom: 1px solid $black;
    margin-bottom: 10px;

    h4 {
        margin-top: 0;

        a:hover {
            text-decoration: none;
        }
    }
}

.date-content {
    background: url(../img/date-bg-2.png) center no-repeat;
    height: 50px;
    text-align: center;

    p {
        font-weight: bold;
        margin: 14px 0px 0px 0px;
        font-size: 2rem;
        line-height: 20px;
    }

    small {
        line-height: 10px;
        display: block;
        text-transform: uppercase;
    }
}

.next-session-info {

    .date-content {
        margin-top: 24px;
    }
    > div + div {
        padding: 22px 10px 22px 0;
    }
}

.past-sessions {
    text-align: center;
    background: #E4DCD1;
    padding: 5px;
    color: $dark-brown;
    display: block;

    &:hover {
        text-decoration: none;
        color: $dark-brown;
    }
}

.more-session {
    display: none;
}


.pills-tab {
    margin-bottom: 20px;
}

.waiting-list {
    margin: 10px 0;

    a:hover {
        text-decoration: none;
    }

    .single-waiting {
        padding: 10px 0;
        border-bottom: 1px solid $black;

        .move-to-trash {
            a {
                color:#000;
            }
        }
    }
}

.class-detail {
    position: relative;
    min-height: 60px;
    height: 60px;
    overflow: hidden;

    span.text-faded {
        @include background-image(linear-gradient(left top, rgba(255,255,255,0), $body-bg));
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        text-align: right;
        width: 100%;
        min-height: 17px;
    }
    >h2 {
        line-height: 1.23;
    }
    >h3 {
        line-height: 1.35;
    }

    ol {
        list-style-type: decimal;
        margin-left: 14px;
    }
}

.rating-class-details label {
    min-width: 70px;
    font-weight: normal;
}

.profile-options {
    background: transparent;
    border: none;
}

.navbar-inverse .navbar-toggle, .navbar-header .navbar-toggle {
    background: #333;
    color: $white;
}

.navbar-header .navbar-toggle {
    padding: 6px 10px;
    margin-top: 10px;
}

.back-to-dashboard {
  display: none;

  a {
    color: $primary-btn-hover;
  }

  .vertical-stick {
    color: rgba(255, 255, 255, 0.3);
    margin: 0 5px;
  }
}

.navbar-header:hover .back-to-dashboard {
  display: inline-block;
}

/* student resources */

.resources-content, .result-content {
    > li {
        margin-bottom: 25px;
        padding-bottom: 20px;
        border-bottom: 1px solid $border-color;

        &:last-child {
            border-bottom: 0;
        }

        > p {
            margin: 0 0 25px;
        }

        > h4 {
            margin-bottom: 0;
        }

        .alert {
            margin-top: 10px;
            background: $highlight-color;
            border-color: $border-color;
            color: #333;
        }
    }

    .resources-list, .result-list {
        margin-top: 20px;
        border: 1px solid $border-color;

        li {
            padding: 15px 20px;

            span.label {
                margin-left: 10px;
            }

            &:nth-child(odd) {
                background: #faf5e0;
            }

            &:nth-child(even) {
                background: #f0ead4;
            }

            h6 {
                font-size: 1.4rem;
            }
        }
    }

  .resources-list {
    li a + span {
      vertical-align: middle;
      margin-left: 3px
    }
  }

    .result-list {
        li.row {
          margin-left: 0px;
          margin-right: 0px;
        }
        li span {
            width: 50%;
        }
    }
}

.tooltip-info {
    cursor: default;

    + .tooltip .tooltip-inner {
        max-width: 250px;
    }
}

.info-text {
    background: $cal_highlight-color;
    padding: 5px 10px;
    color: #3d2518;
    position: relative;

    .btn-xs {
        vertical-align: baseline;
        margin-left: 5px;
        padding: 3px 7px;
    }

    &.fixed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }

}

/* Profile page */

.nav-tabs > li {
    &.active {
        > a {
            background-color: $highlight-color;
            border-color: $highlight-color;

            &:hover, &:focus {
                background-color: $highlight-color;
                border-color: $highlight-color;
            }
        }
    }
}

/* Classes page */

.session-list-content {
  min-height: 0;
  max-height: 100%;
}

#class-reviews {
  background-color: $highlight-color;
  padding: 20px;
  border-radius: 10px;
  margin: 20px 0 20px 0;
  position: relative;
  border: 1px solid $class-reviews-border;
  display: none;
}

.arrow-top {
  border-left: 20px solid rgba(0, 0, 0, 0);
  border-right: 20px solid rgba(0, 0, 0, 0);
  border-bottom: 20px solid $class-reviews-border;
  position: absolute;
  top: -20px;
  left: 115px;
  height: 0;
  width: 0;
  z-index: 2;

  &:after {
    border-left: 20px solid rgba(0, 0, 0, 0);
    border-right: 20px solid rgba(0, 0, 0, 0);
    border-bottom: 20px solid $highlight-color;
    content: "";
    position: absolute;
    top: 1px;
    left: 50%;
    margin-left: -20px;
    height: 0;
    width: 0;
    z-index: 1;
  }
}

.rate-inline {
  display: inline-block;
  margin: 0px 0 0 10px;
  position: relative;
  top: -2px;
}

.no-border {
  border: 0;
}

.class-roll-content {
  padding-left: 15px;
}

.session-wrapper {
  position: relative;
  padding-right: 15px;
  h4 {
    float: none !important;
    @include responsive($media-xsmall) {
        float: left !important;
    }
  }
}

.student-list > li {
  border-bottom: 1px solid $class-reviews-border;

  .student-detail {
    border-bottom: none;
  }
}

#timetable-session-up {
  position: absolute;
  left: 0;
  top: 99px;
  padding: 0;
  z-index: 99;
  background: none;
}

.session-list > li {
  border-bottom: 0;
}

#timetable-session-down {
  position: absolute;
  top: 99px;
  right: 0;
  padding: 0;
  z-index: 99;
  background: none;
}

.ui-tooltip {
  position: absolute;
  z-index: 1030;
  display: block;
  font-size: 1.2rem;
  line-height: 1.4;
}
//css for jquery-ui helper class
.ui-helper-hidden-accessible {
  display: none;
}

.session-schedule {
  left: 50px;
}

.session-content {
  margin: 0;
  @include responsive($media-xsmall) {
    border: 1px solid $gray-border;
  }

  button {
    right: 10px;
  }

  div {
    margin: 0;
  }
}

.percents-of-attendance {
  font-size: 1.6rem;
}

.mark-img {
  height: 40px;
  cursor: pointer;
}

.new-nav-icon-text {
  display: block;
  position: relative;
  margin-left: 32px;
  margin-right: 10px;
  @include responsive($media-small) {
    margin-left: 36px;
    margin-right: 0px;
  }
}

.new-nav-icon {
  height: 30px;
  position: absolute;
  display: block;
  margin-top: -5px;
}

.note-icon {
  height: 15px;
}

.past-course, .actual-course, .future-course {
  border: 1px solid white;
}

.past-course {

  .session-icon {
    color: $dark-green-mark;
  }

   a {
    color: $session-icon;
  }

  span {
    color: $past-course-text-color;
  }

  button {
    background-color: $dark-green-mark;
    border-color: $dark-green-mark;
  }
}

.actual-course.past-course-diff, .future-course.past-course-diff {
  background-color: $past-course-diff-bg;
}

.failed-course.past-course-diff,  {
  background-color: #DD4848;
}

.past-course-diff {
  background-color: $green-mark;

  span {
    font-weight: bold;
  }

  a {
    color: white;
  }
}

.past-course.past-course-diff span {
  color: white;
}

.session-icon {
  background-color: $past-course-diff-bg;
  height: 40px;
  display: inline-block;
  width: 40px;
  vertical-align: top;
}

ul.nav-menu {
  margin-bottom: 0;
  &.main-nav {
    text-align: center;
    padding: 10px;
    @include responsive($media-small) {
        text-align: left;
        padding: 0 0 0 15px;
    }
  }

  li {
    max-height: 60px;
    display: inline-block;
  }
}

.without-border {
  border: none !important;
}

.info small {
  font-style: italic;
}

.service-name {
  color: $link-color;
}

.btn-outcomes {
  border: 1px solid $gray-border;
  color: $red-color;
  display: block;
  margin-top: 40px;
  padding: 10px 20px;

  span {
    display: inline-block;
  }

  small {
    color: $small-text-color;
  }
}

.btn-outcomes:hover {
  text-decoration: none;
}

li.active .btn-outcomes {
  background-color: $red-color;
}

li.active .btn-outcomes h4,
li.active .btn-outcomes small {
  color: white;
}

#mark-by-outcome, #mark-by-student, #module-outcome-content, #enrolment-outcome-content {

  li{
    padding: 12px 0;
    border-bottom: 1px solid $gray-border;
  }

  .absent-with-reason {
    li {
      border-bottom: none;

       button {
        background-color: transparent;
        border: none;
      }
    }
  }
}

.mark-by-caption {
  font-size: 1.8rem;
  padding: 30px 0 5px 0;
  margin-bottom: 20px;
  border-bottom: 1px solid $gray-border;

  a {
    color: $calendar-link-color;

    span {
      color: $link-color;
      font-size: 1.6rem;
    }
  }
}

[id^=class-description], .class-description-class {
  display: none;

  table.class-desc-section {
    margin: 25px 0;

    img {
      height: 30px;
      display: inline-block;
    }

    div {
      display: inline-block;
    }

    td {
      padding: 15px 10px 0 10px;
    }

    tr:last-child td {
      padding-bottom: 20px;
    }
  }
}
.class-description-class {
    display: none;

  td {
    font-size: 14px;
  }

  .glyphicon {
    font-size: 2rem;
    padding-left: 10px;
  }
}

.actual-roll-desc {
  background-color: $actual-roll-desc-bg;
}

.past-roll-desc {
  background-color: $green-mark;
  color: white;
}

.mark-checkbox-div {
  display: none;
}

.attendance-actions {
    .nav-menu.abcent-menu {
        li {
            &.active {
                a {
                    color: $red-color;
                }
            }
        }
    }
    .absent-with-reason {
        .tab-pane.active {
            &::before {
                content: "";
                position: absolute;
                border-bottom: 12px solid $sidebar-bg;
                border-left: 12px solid transparent;
                border-right: 12px solid transparent;
                right: 0;
                top: -40px;
            }
            &.absent-reason::before {
                right: 65px;
            }
            &.absent-partial::before {
                right: -23px;
            }
        }
    }
}

.absent-with-reason {
  background: $sidebar-bg;
  padding: 30px;
  margin: 20px 0;

  textarea {
    width: 100%;
    border: none;
    border-radius: 6px;
    margin: 15px 0;
  }

  .form-control {
    border: 1px solid transparent;
    top: 1px;
  }

  .input-group-addon {
    border: none;
    border-left: 1px solid $input-group-addon-border;
    background: white;
    color: $input-group-addon-color;
    font-size: 2.2rem;
  }
  > button {
    margin-right: 5px;
  }
}

ul.abcent-menu {
  text-align: right;

  li {
    min-height: auto;
  }
}

.full-percents {
  color: $green-mark;
}

.half-percents {
  color: $link-hover-color;
}

.mimimum-percents {
  color: $red-color;
}

.loading {
  margin: 30px 0;

  img {
    width: 40px;
  }
}

.sync-to-device {
  color: #B4B4B4;
  font-weight: bold;
  cursor: pointer;
}

.sync-to-device .glyphicon-cloud-download {
  font-size: 2.4rem;
}

.marker {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: inline-block;
  left: 0;
}

.completed-marker   { background-color: $completed-marker; }
.in-progress-marker { background-color: $in-progress-marker; }
.future-marker      { background-color: $future-marker; }

.your-classes-list {
  li {
    position: relative;
    padding-left: 23px;
    color: $small-text-color;

    a {
      color: black;
    }
  }
}

.your-classes-list,  .classes-list {
    .class-colour-0 {
        background-color: #1abc9c;
    }
    .class-colour-1 {
       background-color: #ff6656;
    }
    .class-colour-2 {
       background-color: #3498db;
    }
    .class-colour-3 {
       background-color: #f4ac00;
    }
    .class-colour-4 {
       background-color: #f24788;
    }
    .class-colour-5 {
       background-color: #969991;
    }
    .class-colour-6 {
       background-color: #83c961;
    }
    .class-colour-7 {
       background-color: #16c1c8;
    }
    .class-colour-8 {
      background-color: #9258aa;
    }
    .class-colour-9 {
       background-color: #57718c;
    }
}

#accordion {
  margin-bottom: 50px;

  .team-date-of-classes {
    margin-top: 10px;
    border-top: 1px solid rgba(128, 128, 128, 0.29);
    margin-bottom: 10px;

    .week-day-of-class {
      padding-top: 20px;
    }

    ul {
      padding-top: 20px;
    }
  }
}

.month-name {
  padding: 30px;
  font-size: 1.5rem;
  color: $month-name-color;
}

.this-month-name {
  color: black;
}

.date-of-classes {
  .week-day-of-class {
    color: $small-text-color;
  }

  .day-of-class {
    font-size: 4.2rem;
  }
}

.class-card {
  color: white;
  padding: 20px;
  border-radius: 7px;
  margin: 10px 0;

  .point-marker {
    cursor: pointer;
  }

  .class-title {
    font-size: 2rem;
    margin-bottom: 10px;
  }

  .class-location {
    .glyphicon-map-marker {
      color: black;
    }
  }

  .class-description {
    margin-top: 20px;
    position: relative;

    a {
      color: white;
    }

    ul {
      margin-bottom: 0;

      li:first-child {
        margin-bottom: 20px;
      }
    }
  }
}


.bottom-right {position: absolute; right: 0; bottom: 0;}

.squaredThree {
  width: 17px;
  margin-right: 10px;
  transform: translateY(22%);
  position: relative;
  display: inline-block;
  bottom: 3px;
  label {
    width: 17px;
    height: 17px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
    border: 2px solid $input-group-addon-border;
    border-radius: 4px;
    &:after {
      content: '\2714';
      width: 17px;
      height: 17px;
      position: absolute;
      top: -2px;
      left: -2px;
      color: white;
      padding: 0 25%;
      background: $green-mark;
      border-radius: 4px;
      opacity: 0;
    }
    &:hover::after {
      opacity: 0.5;
    }
  }
  input[type=checkbox] {
    visibility: hidden;
    &:checked + label:after {
      opacity: 1;
    }
  }
}

.marking {
  font-weight: bold;
  color: $small-text-color;
  font-size: 1.2rem;
  display: inline;
}

.competent-marking { color: $green-mark;}
.not-yet-competent-marking { color: $primary-btn; }
.withdrawn-marking { color: $withdrawn-marker;}

#mark-by-outcome, #mark-by-student {
  .marking-list {
    cursor: pointer;

    .glyphicon {
      margin: 0 15px 0 5px;
      padding-top: 5px;
    }

    li {
      display: inline-block;
      border: transparent;
    }
  }
}

.caption-classes {
  margin-top: 25px;
  float: left;

  li {
    position: absolute;
    display: block;
  }

  li.active{
    display: none;
  }
}

.classes-content li .glyphicon-chevron-up {
  color: $primary-btn;
}

#all-timetables, #my-timetables {
  left: -20px;
}

.month-section {
  hr {
    margin-top: 10px;
  }
}

.warning-text {
  margin: 10px 0;
}

.warning-msg {
  color: red;
}

.absent-with-reason-mark, .partially-attended-mark {
  position: absolute;
  margin: auto;
  left: auto;
  right: -7px;
  z-index: 6;
  width: 80px;
  height: 34px;
  border-radius: 3px;
  font-size: 1rem;
  padding: 3px;
  text-align: center;
  @include responsive($media-small) {
    left: 0;
    right: 0;
  }
}

.main-nav {
  .glyphicon {
    font-size: 2rem;
    margin: 0 5px;
    top: 5px;
  }
}

.student-panel {
  li{
    padding-top: 15px;
  }
}

.class-raiting {
  display: inline-block;
  margin: 15px 0 0 15px;
}

.student-session-content {
  .glyphicon {
    padding: 10px;
    font-size: 2rem;
  }

  .glyphicon-ok {
    background-color: $green-mark;
    color: $dark-green-mark;
  }

  .glyphicon-remove {
    background-color: $low-percents-mark;
    color: $dark-red-mark;
  }

  .glyphicon-th-list {
    background-color: $past-course-diff-bg;
    color: $dashboard-doc-icon-color;
  }

  .past-course {
    a {
      color: $link-color;
    }
  }

  .session-date {
    font-weight: bold;
  }
}

.current-attendance {
  float: left !important;
  margin-top: 5px;
  margin-bottom: 15px;
  @include responsive($media-xsmall) {
    margin-top: 15px;
    margin-bottom: 0px;
    float: right !important;
  }
}

.class-roll-section {
    width: 91%;
    float: left;
}

.close-section {
    width: 9%;
}
