/* Normalize Heading tags Begins */
h1, .h1 {
	font-size: 32px;
	line-height: 1.2;
}

h2, .h2 {
	font-size: 28px;
}

h3, .h3 {
	font-size: 26px;
}

h4, .h4 {
	font-size: 22px;
}

h5, .h5 {
	font-size: 19px;
}

h6, .h6 {
	font-size: 16px;
}
