//Variables
$border-color: #E6D4CE;
$red-color: #991111;
$body-bg: #FFFFFF;
/*$primary-btn: #95beae;*/
$primary-btn: #fbb619;
$primary-btn-hover: #F7AC00;
$primary-btn-hover-border: #FBB619;
$highlight-color: #e8e6ca;
$cal_highlight-color: #fff0b2;
$link-color: #f48824;
$link-hover-color: #c8706b;
$heading-border-color: #E6D4CE;
$dark-brown: #69524a;
$primary-label-hover: #F7AC00;
$primary-label-hover-border: #BB8200;
$white: #ffffff;
$black: #cccccc;
$body-font: 'Droid Sans';
$heading-font: 'PT Serif';
$sidebar-bg: #F0EAD4;
$top-nav-bg: #F0EAD4;
$well-bg: #F0EAD4;
$sidebar-border-color: #D9C4BC;
$loginbox-border-color: #D9C4BC;
$single-session: #F0EAD4;
$session-nav-bg: #F0EAD4;
$session-active: #fff0b2;
$input-field-border: #F1EBD3;
$input-field-focus-border: #F3E4A5;
$history-row-odd: #FAF5E0;
$history-row-even: #F0EAD4;
$menu-notification-badge: #fbb619;
$approval-btn-badge: #fbc345;
$header-dropdown-bg: #442E26;
$header-dropdown-list-separator: #69524A;
$tabs-text-color: #9c9c9c;
$tabs-text-hover-color: #e8e6ca;
/*USI Variables*/
$progress-step-bg: #dcd6bf;
$progress-step-color: darken($progress-step-bg, 35%);

$progress-step-bg-active: #fcce65;
$progress-step-color-active: darken($progress-step-bg-active, 35%);

$progress-step-bg-finished: #c3d6b3;
$progress-step-color-finished: darken($progress-step-bg-finished, 35%);


$tooltip-arrow: #5BC0DE;
$coral-tooltip-arrow: #B94A48;

$session-icon: #85B20D;
$green-mark: #85B20D;

$dark-green-mark: #587608;
$actual-roll-desc-bg: #FFF0B2;
$class-reviews-border: #D8AC85;
$calendar-custom-header: #FCF8EA;
$calendar-custom-header-nav: #495468;
$calendar-custom-content-reveal: #ef4f69;
$calendar-fc-content-after: #b02c42;

$completed-marker: #1ABC9C;
$in-progress-marker: #FF6656;
$future-marker: #3498DB;
$withdrawn-marker: #D82020;

// gray-colors
$timepicki-arrows: #e7e7e7;
$calendar-gray-bg: #e7e7e7;
$gray-border: #e7e7e7;

$input-group-addon-color: #C7C7C7;

$calendar-fc-date-color: #D9D9D9;
$input-group-addon-border: #D9D9D9;

$small-text-color: #999999;
$past-course-diff-bg: #ECECEC;
$past-course-text-color: #B8B8B8;
$calendar-custom-header-color: #b7bbc2;
$calendar-text-color: #777777;
$calendar-link-color: #333333;
$month-name-color: #AEAEAE;

$dashboard-doc-icon-color: #BFBFBF;
$dasboard-resources-border: #EDEDED;

//dashboard
$dashboard-bg: #F5F0DF;
$attendance-green-mark: #8DBC0E;
$resources-head-bg: #ED295C;
$blue-line: #62ADE0;
$middle-percents-mark: #F78B00;
$low-percents-mark: #DD4848;
$dark-orange-mark: #D55F00;
$dark-red-mark: #A11B1B;


@import url(https://fonts.googleapis.com/css?family=Yantramanav:100,300);
$certFontFamilyOne: 'Yantramanav', sans-serif;

$xsmall-screen: 550px;
$tablet-portrait: 600px;
$small-screen: 768px;
$tablet-screen: 980px;
$tablet-landscape: 1025px;
$desktop-screen: 1200px;

$media-xsmall: 'xsmall';
$media-small: 'small';
$media-tablet: 'tablet';
$media-desktop: 'desktop';
$media-custom: 'custom';