div.change-user {
  display: inherit;
}

div.change-user button.btn, div.change-user.open .dropdown-toggle.btn-default {
  background: transparent;
  border: 0;
  color: #D4952E;
  font-size: 11px;
  text-transform: none;
}


div.change-user .dropdown-menu
{
  background: #FEFBE8;
  right: 0;
  left: auto;
  top: 20px;
}

div.change-user > button.btn > span.caret {
  border-top-color: #D4952E;
  margin-left: 1px;
}





