div#home { z-index: 1; }
ul.quicksearch { display: none; }

div#sidebar {
	position: relative;
	z-index: 1;
}

ul.quicksearch { display: none; }

div.advanced-search-button { clear: both; }

div#advanced-search { position: relative; border:1px solid pink; width: 550px;  }
div.sidebar { z-index: 1; border: 0px solid red; }
li.login, ul.menu, div#login_box { z-index: -5; border: 0px solid green; position: relative; }
div#advanced-search table { width: auto; zoom: 1; }
div#advanced-search table td { width: auto; }