<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Field Configuration</title>
    <!-- Latest compiled and minified CSS -->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">-->

    <link rel="stylesheet" media="screen, print"
          href="https://template-a.oncourse.cc/s/stylesheets/css/site.css?v=r12472"></link>
</head>

<body id="ListPage" class="internal-page">
<div class="page-overlay element-overlay"></div>
<section class="site-wrapper">
    <section id="container" class="site-container">
        <section id="contentContainer" class="container content-container">
            <div data-sku="portc1-2" data-classid="5037347" class="clearfix classItem classCommenced"
                 itemscope="itemscope"
                 itemtype="http://schema.org/EducationEvent">
                <div class="row">
                    <div class="col-xs-24 summary" itemprop="name">Portal Curse</div>
                    <div class="col-xs-24 col-md-17 class-item-info">
                        <div class="col-xs-24 col-sm-12 class-item-info-l">
                            <div class="row">
                                <div class="col-xs-24 date">
                                    <a class="timeline date-time session-date"
                                       href="https://template-b.oncourse.cc/Timeline/sessions?ids=5037347" rel="session"
                                       timezone="10">
                                        <span content="2011-08-01" class="dtstart hide" itemprop="startDate">
                                            2011-08-01
                                        </span>

                                        <abbr class="dtstart">
                                            Mon 01 Aug 2011
                                        </abbr>

                                        -
                                        <meta content="P9Y1M2DT1H0M0.000S" itemprop="duration"></meta>
                                        <span content="2020-09-03" class="dtend hide" itemprop="endDate">
                                                2020-09-03
                                            </span>

                                        <abbr class="dtend">
                                            Thu 03 Sep 2020
                                        </abbr>


                                    </a>
                                    <br/>
                                    <a rel="session" class="timeline date-time session-time"
                                       href="https://template-b.oncourse.cc/Timeline/sessions?ids=5037347"
                                       timezone="10">
                                        <abbr class="dtstart">
                                            8pm
                                        </abbr> -
                                        <abbr class="dtend">
                                            9pm
                                        </abbr>
                                        (first session)
                                    </a>
                                    <br/>
                                    <a rel="session" class="timeline session-item"
                                       href="https://template-b.oncourse.cc/Timeline/sessions?ids=5037347"
                                       timezone="10">21 sessions, 21 hours total</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-24 col-sm-12 class-item-info-r">
                            <div class="row">
                                <div class="col-xs-24 location">
                                    <i class="event-location-icon"></i>
                                    <a content="https://template-b.oncourse.cc/site/388" onclick="zoomMapForSite(388);"
                                       class="tooltip"
                                       title="Show venue details" href="#"> <!-- itemprop="mainEntityOfPage"  -->


                                        <span> <!-- itemprop="name" content="room.site.name" -->
          TAS 1
        </span>

                                        <!-- <span itemprop="address" itemscope="itemscope" itemtype="http://schema.org/PostalAddress">
                                    <meta itemprop="streetAddress" content="room.site.name"/>
                                  </span> -->


                                    </a>
                                </div>
                                <span itemtype="http://schema.org/Place" itemscope="itemscope" itemprop="location">
                                    <meta content="TAS 1" itemprop="name"></meta>
                                    <span itemtype="http://schema.org/PostalAddress" itemscope="itemscope"
                                          itemprop="address">
                                        <meta itemprop="streetAddress"></meta>
                                        <meta content="Hobart" itemprop="addressLocality"></meta>
                                        <meta content="TAS" itemprop="addressRegion"></meta>
                                        <meta content="7000" itemprop="postalCode"></meta>
                                    </span>
                                </span>
                                <div class="col-xs-24 tutor">
                                    <i class="event-tutor-icon"></i>
                                    <span itemtype="http://schema.org/Person" itemscope="itemscope"
                                          itemprop="performer">
                                                <meta itemprop="mainEntityOfPage"
                                                      content="https://template-b.oncourse.cc/tutor/22"/>
                                                <a title="View tutor profile"
                                                   href="https://template-b.oncourse.cc/tutor/22"
                                                   class="nyromodal">
                                                    <span itemprop="name">Frodo Baggins</span>
                                                </a>
                                    </span>
                                </div>
                                <span itemtype="http://schema.org/Offer" itemscope="itemscope" itemprop="offers">
                                    <div data-cid="fees" data-prop-id="10000" id="react-fees-component"></div>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-24 col-md-7">
                        <div
                                data-prop-id="5037347"
                                data-prop-code="2"
                                data-prop-is-payment-gateway-enabled="true"
                                data-prop-is-cancelled="false"
                                data-prop-is-finished="false"
                                data-prop-is-allow-by-application="false"
                                data-prop-has-available-places="true"
                                data-prop-available-enrolment-places="59"

                                data-prop-course-id="5004714"
                                data-prop-course-name="Portal Curse"
                                data-prop-course-code="portc1"
                                data-cid="enrol-button" class="reactjs-component"></div>
                    </div>
                </div>
            </div>
            <script src="/assets/dynamic.js?v=6"></script>
            <link href="https://template-a.oncourse.cc/enrol/css/enrol.css" type="text/css" rel="stylesheet"></link>
        </section>
    </section>
</section>
</body>
</html>
