/**
*
* footer.scss
*
* Contains all the styles of footer contents
*
* This file is copyright ish group, Australia.
* It is licensed to you under the Apache License, version 2.0
* and is part of ish onCourse.
*
* Author: Chintan Kotadia
*/

.timetable-wrapper {
  footer {
    background: $footer-background;
    padding: 15px 0px;
    .footer-logo {
      width: 100%;
      text-align: right;
    }
  }
}