/**
*
* layout.scss
*
* Contains all the styles of different contents
*
* This file is copyright ish group, Australia.
* It is licensed to you under the Apache License, version 2.0
* and is part of ish onCourse.
*
* Author: Chintan Kotadia
*/

body {
  margin: 0;
  padding: 0;
}

.timetable-wrapper {
  background: $base-background-color;
  color: $base-text-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-weight: $base-font-weight;

  *, *::after, *::before {
    @include _prefixer(box-sizing, border-box);
  }

  * {
    @include _prefixer(backface-visibility, hidden);
  }

  h2, h3 {
    font-family: $font-family-2;
    font-weight: 100;
    line-height: 1.5;
    color: #303030;
    margin: 0 0 18px 0;
    padding: 0;
  }

  h2 {
    font-size: 30px;
    @include responsive($media-xsmall) {
      font-size: 35px;
    }
  }
  h3 {
    font-size: 18.33px;
    @include responsive($media-xsmall) {
      font-size: 23.33px;
    }
  }

  a {
    text-decoration: none;
    color: #303030;
    &:hover {
      color: darken(#303030, 10%);
    }
  }

  .clearfix {
    &::before, &::after {
      display: table;
      content: "";
      clear: both;
    }
  }

  .container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 1440px;
    margin: 0 auto;
    @extend .clearfix;
  }

  .col-left, .col-right {
    padding-left: 15px;
    padding-right: 15px;
    @include responsive($media-xsmall) {
      float: left;
    }
  }

  .col-left {
    @include responsive($media-xsmall) {
      width: 72%;
    }
  }

  .col-right {
    text-align: left;
    @include responsive($media-xsmall) {
      width: 28%;
      text-align: right;
    }
  }

  .col-row {
    padding: 9.5px 0;
  }

  .courses-today {
    padding: 36px 0;
    h3 {
      font-family: $font-family-1;
      margin-bottom: 3px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .col-row {
      &:nth-of-type(odd) {
        background: #fbf9f0;
      }
      &.course-commenced {
        h3, .course-time {
          &, a {
            color: #8c2121;
          }
          a:hover {
            color: darken(#8c2121, 10%);
          }
        }
      }
      .col-right {
        padding-top: 8px;
        .course-time {
          margin-bottom: 3px;
        }
      }
      .code-author {
        .course-code, .course-author {
          margin-right: 8px;
        }
        .course-code {
          &, a {
            color: #9b9b9b;
          }
          a:hover {
            color: darken(#9b9b9b, 10%);
          }
        }
        .course-author a {
          color: #2a2a2a;
          &:hover {
            color: darken(#2a2a2a, 10%);
          }
        }
      }
    }
  }

  .text-right {
    text-align: right;
  }

  .text-center {
    text-align: center;
  }
}