/**
*
* settings.scss
*
* Contains all settings
*
* This file is copyright ish group, Australia.
* It is licensed to you under the Apache License, version 2.0
* and is part of ish onCourse.
*
* Author: Chintan Kotadia
*/

@import 'https://fonts.googleapis.com/css?family=Merriweather:300italic,300,400|Port+Lligat+Slab';

$black: #000;
$white: #fff;

$font-family-1: 'Merriweather', serif;
$font-family-2: 'Port Lligat Slab', serif;

// Our variables
$base-font-family: $font-family-1;
$base-font-size:   16px;
$base-font-weight: 100;
$base-line-height: 1.5;
$base-background-color: $white;
$base-text-color: #434343;

$xsmall-screen: 544px;
$small-screen: 768px;
$tablet-screen: 992px;
$desktop-screen: 1200px;

$media-xsmall: 'xsmall';
$media-small: 'small';
$media-tablet: 'tablet';
$media-desktop: 'desktop';

$header-background: #434343;

$footer-background: transparent;