//
//
// footer-b.scss
//
// Contains all settings used for footer content for theme "b"
//
// This file is copyright ish group, Australia.
// It is licensed to you under the Apache License, version 2.0
// and is part of ish onCourse.
//
// Author: Chintan Kotadia
//

$footerBG-b: #0a3a4a no-repeat center top !default;
$footerTextColor-b: $white !default;
$footerAddressTextColor-b: #8ca3ab !default;

@if $footer-theme == "b" {
  $footerBG: $footerBG-b;
  $footerTextColor: $footerTextColor-b;
  $footerAddressTextColor: $footerAddressTextColor-b;
}
