//
//
// footer-c.scss
//
// Contains all settings used for footer content for theme "c"
//
// This file is copyright ish group, Australia.
// It is licensed to you under the Apache License, version 2.0
// and is part of ish onCourse.
//
// Author: Chintan Kotadia
//

$footerBG-c: $gunmetal !default;
$footerTextColor-c: $white !default;
$footerFontSize-c: 14px !default;
$footerLineHeight-c: 26px !default;
$footerPadding-c: 0 !default;
$footerContainerMargin-c: 0px !default;

@if $footer-theme == "c" {
  $footerBG: $footerBG-c;
  $footerTextColor: $footerTextColor-c;
  $footerFontSize: $footerFontSize-c;
  $footerLineHeight: $footerLineHeight-c;
  $footerPadding: $footerPadding-c;
  $footerContainerMargin: $footerContainerMargin-c;
}