//
//
// footer-a.scss
//
// Contains all settings used for footer content for theme "a"
//
// This file is copyright ish group, Australia.
// It is licensed to you under the Apache License, version 2.0
// and is part of ish onCourse.
//
// Author: Chintan Kotadia
//

$footerTitleColor: !default;
$footerAnchorColor: !default;
$footerAnchorHoverColor: !default;

@if $footer-theme == "a" {
  $footerBG: #252d30;
  $footerTextColor: #8ca3ab;
  $footerAddressTextColor: $secondaryColor;

  $footerTitleColor: $white;
  $footerAnchorColor: #8ca3ab;
  $footerAnchorHoverColor: $white;
}
