//
//
// footer-c.scss
//
// Contains all settings used for footer content for theme "c"
//
// Copyright ish group (Australia) and part of ish onCourse.
// It is licensed to you under the Apache License, version 2.0



$footerBG-c: #0a3a4a no-repeat center top !default;
$footerTextColor-c: $white !default;
$footerAddressTextColor-c: #8ca3ab !default;

@if $footer-theme == "c" {
  $footerBG: $footerBG-c;
  $footerTextColor: $footerTextColor-c;
  $footerAddressTextColor: $footerAddressTextColor-c;
}
