//
//
// other.scss
//
// Contains other variables used in different scss files
//
// Copyright ish group (Australia) and part of ish onCourse.
// It is licensed to you under the Apache License, version 2.0



// Content container */
$contentContainerMarginTop: 60px !default;

// Default link color
$anchorColor: #5a6c7a !default;
// Default link color on mouse over
$anchorHoverColor: #2a6496 !default;