<?xml version="1.0"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	metadata-complete="true" version="2.5">

	<display-name>oncourse-cms</display-name>

	<context-param>
		<param-name>tapestry.app-package</param-name>
		<param-value>ish.oncourse.cms</param-value>
	</context-param>
	
	<context-param>
		<param-name>applicationName</param-name>
		<param-value>cms</param-value>
	</context-param>

	<filter>
		<filter-name>app</filter-name>
		<filter-class>org.apache.tapestry5.TapestryFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>app</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<welcome-file-list>
		<welcome-file>/</welcome-file>
	</welcome-file-list>
	
	<listener>
  		<listener-class>ish.oncourse.listeners.TheLeakPreventionListener</listener-class>
  	</listener>

</web-app>