name: Release
on:
  push:
    tags:
      - 'v*'

jobs:

  release:
    runs-on: ubuntu-latest
    steps:
      - name: Get tag
        id: tag
        uses: dawidd6/action-get-tag@v1
        with:
          strip_v: true

      - uses: actions/checkout@v2

      - name: Set up JDK
        uses: actions/setup-java@v2
        with:
          distribution: 'temurin'
          java-version: 11

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Cache
        uses: actions/cache@v2
        with:
          path: |
            **/node_modules
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: 11-node-${{ hashFiles('**/yarn.lock') }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: 11-

      - name: Build artifacts
        run: ./gradlew clean server:distZip -x server:test -x client-html:test -PreleaseVersion=${{steps.tag.outputs.tag}}

      - name: Release
        uses: ncipollo/release-action@v1
        with:
          artifacts: "server/build/distributions/onCourseServer-*.zip,server/build/distributions/onCourseServer-*.sha256"
          body: "See release notes here https://www.ish.com.au/onCourse/doc/release-notes/${{steps.tag.outputs.tag}}/release-notes.html"
          token: ${{ secrets.GITHUB_TOKEN }}
