name: Server test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-20.04
#    strategy:
#      matrix:
#        java: [11, 15]

    services:
      mysql:
       image: mysql:8.0
       env:
         MYSQL_ALLOW_EMPTY_PASSWORD: yes
         MYSQL_DATABASE: angelTest_trunk
       ports:
         - 3306
       options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3

    name: Java ${{ matrix.java }} server test

    steps:
    - name: Set locale
      run: |
        sudo locale-gen en_AU.UTF-8
        sudo update-locale LC_ALL=en_AU.UTF-8
        echo locale
    - name: Setup timezone
      uses: zcong1993/setup-timezone@v1.1.1
      with:
        timezone: "Australia/Sydney"
    - uses: actions/checkout@v2

    - name: Set up JDK
      uses: actions/setup-java@v1
      with:
#        java-version: ${{ matrix.java }}
        java-version: 11

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    - name: Cache
      uses: actions/cache@v2
      with:
        path: |
          **/node_modules
          ~/.gradle/caches
          ~/.gradle/wrapper
        key: ${{ runner.os }}-node-${{ hashFiles('**/node_modules') }}-gradle-${{ hashFiles('**/*.gradle*') }}

    - name: Run tests
      run: ./gradlew server:test -PdbUrl=jdbc:mariadb://127.0.0.1:${{ job.services.mysql.ports[3306] }}/angelTest_trunk?user=root --stacktrace
