name: Unit test
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:

  junit:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [ 11 ]
        
    services:
      mysql:
        image: mysql:8.0
        env:
          MYSQL_ALLOW_EMPTY_PASSWORD: yes
          MYSQL_DATABASE: plugins_test
        ports:
          - 3306
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3

    steps:
      - uses: actions/checkout@v2

      - id: skip_check
        uses: fkirc/skip-duplicate-actions@v3.4.0
        with:
          cancel_others: 'true'
          skip_after_successful_duplicate: 'true'
          paths_ignore: '["customers/**"]'

      - name: Setup timezone
        uses: zcong1993/setup-timezone@v1.1.1
        with:
          timezone: "Australia/Sydney"

      - name: Set up JDK
        uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-version: ${{ matrix.java }}

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Cache
        uses: actions/cache@v2
        with:
          path: |
            **/node_modules
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ matrix.java }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: ${{ matrix.java }}-

      - name: Unit tests
        if: ${{ steps.skip_check.outputs.should_skip != 'true' }}
        run: ./gradlew plugins:test -PdbUrl=jdbc:mariadb://127.0.0.1:${{ job.services.mysql.ports[3306] }}/plugins_test --stacktrace -Duser.language=en -Duser.country=AU
