@charset "UTF-8";
/*
Project css styles.
Common css rules.
-------------------------------------------------------------*/
/* CSS Reset */
html {
  padding: 0;
  margin: 0; }

body {
  padding: 0;
  margin: 0; }

/* ClearFix */
.clearFix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* html .clearFix {
  zoom: 1; }

* + html .clearFix {
  zoom: 1; }

#cmsWapper {
  background: #fff;
  font: 12px/1 Arial, Helvetica, sans-serif !important;
  color: #000;
  /* Common styles. Framework.
  
  --------------------------- */ }
  #cmsWapper div, #cmsWapper dl, #cmsWapper dt, #cmsWapper dd, #cmsWapper ul, #cmsWapper ol, #cmsWapper li, #cmsWapper h1, #cmsWapper h2, #cmsWapper h3, #cmsWapper h4, #cmsWapper h5, #cmsWapper h6, #cmsWapper pre, #cmsWapper code, #cmsWapper form, #cmsWapper fieldset, #cmsWapper legend, #cmsWapper input, #cmsWapper textarea, #cmsWapper p, #cmsWapper blockquote, #cmsWapper th, #cmsWapper td {
    margin: 0;
    padding: 0;
    float: none;
    position: static;
    width: auto;
    height: auto;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    line-height: 1; }
  #cmsWapper table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 0;
    margin: 0;
    float: none;
    position: static;
    width: auto;
    height: auto; }
  #cmsWapper table td {
    vertical-align: top;
    padding: 0;
    border: 0;
    float: none;
    position: static; }
  #cmsWapper img, #cmsWapper fieldset {
    border: 0;
    float: none;
    position: static; }
  #cmsWapper address, #cmsWapper caption, #cmsWapper cite, #cmsWapper code, #cmsWapper dfn, #cmsWapper th, #cmsWapper var {
    font-style: normal;
    font-weight: normal;
    float: none;
    position: static;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    border-top: 0; }
  #cmsWapper caption, #cmsWapper th {
    text-align: left;
    float: none;
    position: static; }
  #cmsWapper q:before, #cmsWapper q:after {
    content: ''; }
  #cmsWapper abbr, #cmsWapper acronym {
    border: 0;
    font-variant: normal; }
  #cmsWapper sup {
    vertical-align: text-top; }
  #cmsWapper sub {
    vertical-align: text-bottom; }
  #cmsWapper input, #cmsWapper textarea, #cmsWapper select, #cmsWapper button {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    float: none;
    position: static;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    border-top: 0; }
  #cmsWapper article, #cmsWapper aside, #cmsWapper details, #cmsWapper figcaption, #cmsWapper figure, #cmsWapper footer, #cmsWapper header, #cmsWapper hgroup, #cmsWapper menu, #cmsWapper nav, #cmsWapper section {
    display: block;
    padding: 0;
    margin: 0;
    float: none;
    position: static;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    border-top: 0; }
  #cmsWapper a, #cmsWapper em, #cmsWapper strong, #cmsWapper i, #cmsWapper b, #cmsWapper u, #cmsWapper label, #cmsWapper button {
    display: inline;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    font-size: inherit;
    float: none;
    position: static;
    width: auto;
    height: auto;
    padding: 0;
    margin: 0;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    border-top: 0; }
  #cmsWapper p {
    margin: 0; }
  #cmsWapper a {
    color: #000;
    text-decoration: underline; }
    #cmsWapper a:hover {
      text-decoration: none;
      color: black; }
    #cmsWapper a:active {
      text-decoration: none;
      color: black; }
    #cmsWapper a:focus {
      text-decoration: none;
      color: black; }
  #cmsWapper .clear {
    clear: both;
    float: none; }
  #cmsWapper .clearLeft {
    clear: left; }
  #cmsWapper .clearRight {
    clear: right; }
  #cmsWapper .block {
    display: block; }
  #cmsWapper .alignRight {
    text-align: right; }
  #cmsWapper .alignCenter {
    text-align: center; }
  #cmsWapper .centerImg {
    display: block;
    margin: 0 auto; }
  #cmsWapper .floatRight {
    float: right; }
  #cmsWapper .floatLeft {
    float: left; }
  #cmsWapper :focus {
    outline: 0; }
  #cmsWapper fieldset legend {
    display: none; }
